USE [DBS_DAILY]
GO
/****** Object:  StoredProcedure [dbo].[PR_DAILY_ETL_02_CUSTOMER]    Script Date: 8/6/2019 10:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PR_DAILY_ETL_02_CUSTOMER]
AS 

BEGIN

DECLARE @TODATE VARCHAR(8) , @TOMONTH VARCHAR(8) 
DECLARE @LASTMONTH VARCHAR(8)
DECLARE @FROMDATE VARCHAR(8)

SET @TODATE    = (SELECT RPTDATE FROM DBS_REF.DBO.RPTDATE )
SET @TOMONTH = LEFT(@TODATE,6)
SET @FROMDATE  = (SELECT CONVERT(VARCHAR(8),DATEADD(MM,DATEDIFF(MM,0,@TODATE),0),112)) 
SET @LASTMONTH = (SELECT CONVERT(VARCHAR(8),DATEADD(MS,-3,DATEADD(MM,0,DATEADD(MM,DATEDIFF(MM,0,@TODATE),0))),112)) 

PRINT '1. BANG CUSTOMER'
EXEC('
IF EXISTS (SELECT * FROM DBS_dAILY.DBO.SYSOBJECTS WHERE NAME = ''CUSTOMER_'+@TODATE+''')
	DROP TABLE [CUSTOMER_'+@TODATE+']
	')

EXEC('
	CREATE TABLE [CUSTOMER_'+@TODATE+'](
		[RECID] [VARCHAR](20) NOT NULL,
		[CUS_NAME] [NVARCHAR](255) NULL,
		[SECTOR] [VARCHAR](10) NULL,
		[INDUSTRY] [VARCHAR](10) NULL,
		[LEGAL_ID] [VARCHAR](20) NULL,
		[ADDRESS] [VARCHAR](255) NULL,
		PER_ADDR_STREET [VARCHAR](360) NULL,
		PER_ADDR_TOWN [VARCHAR](360) NULL,
		[COMPANY_BOOK] [VARCHAR](20) NULL,
		[BIRTH_INCORP_DATE] [DATE] NULL,
		[PROVINCE_CITY] [VARCHAR](35) NULL,
		[NATIONALITY] [VARCHAR](35) NULL,
		[VPB_GENDER] [VARCHAR](10) NULL,
		[EMAIL_ADDR] [VARCHAR](50) NULL,
		[MARITAL_STAT] [VARCHAR](10) NULL,
		[EDUCATION] [VARCHAR](35) NULL,
		[VPB_JOB_TITLE] [VARCHAR](35) NULL,
		[SEGMENT] [VARCHAR](16) NULL,
		[DAO] [VARCHAR](10) NULL,
		[CUS_OPEN_DATE] [DATE] NULL,
		[VPB_INDUSTRY] [VARCHAR](20) NULL,
		[DOC_ISSUE_DATE] [VARCHAR](10) NULL,
		[DOC_ISSUE_PLACE] [VARCHAR](200) NULL,
		[VIP_CODE] [VARCHAR](25) NULL,
		[CUST_TYPE] [NUMERIC](15, 0) NULL,
		[VPB_SERVICE] [VARCHAR](50) NULL,
		[VPB_CHANNEL] [VARCHAR](50) NULL,
		[BI_CHANNEL] [VARCHAR](20) NULL,
		[DIVISION] [VARCHAR](10) NULL,
		[PB_DAO] [VARCHAR](20) NULL,
		[TCSIGN_DATE] [VARCHAR](10) NULL,
		[DAO_RM] [VARCHAR](8) NULL,
		[PRIORITY_BRANCH] [VARCHAR](50) NULL,
		GOLD_CUS INT , 
		PROMOTION_PRG VARCHAR(20), 
		CONSTRAINT [PK_CUSTOMER_RECID_'+@TODATE+'] PRIMARY KEY CLUSTERED 	([RECID] ASC)
		)
')

EXEC('
	INSERT INTO [CUSTOMER_'+@TODATE+']
	SELECT 
		RECID,CUS_NAME,SECTOR,INDUSTRY,LEGAL_ID,ADDRESS, PER_ADDR_STREET, PER_ADDR_TOWN, COMPANY_BOOK,
		CONVERT(DATE,BIRTH_INCORP_DATE) BIRTH_INCORP_DATE, PROVINCE_CITY,NATIONALITY , 
		VPB_GENDER,	EMAIL_ADDR,MARITAL_STAT,EDUCATION,VPB_JOB_TITLE,SEGMENT,
		DAO,CONVERT(DATE,CUS_OPEN_DATE) CUS_OPEN_DATE,VPB_INDUSTRY,DOC_ISSUE_DATE,
		DOC_ISSUE_PLACE,VIP_CODE,CUST_TYPE, VPB_SERVICE, VPB_CHANNEL, BI_CHANNEL, 
		DIVISION ,PB_DAO, TCSIGN_DATE, DAO_RM	,PRIORITY_BRANCH , null, PROMOTION_PRG
	FROM [DATA].[DBO].[CUSTOMER]
	')

EXEC ('
	UPDATE A
	SET GOLD_CUS = 1 
	FROM CUSTOMER_'+@TODATE+' A 
	WHERE VIP_CODE IN (''Gold'',''Gold-Special'',''Gold-Fee'', ''diamond'', ''AF-Private'', ''AF-Preferred'', ''AF-Pre'',''AF-Special'') 
		AND TCSIGN_DATE IS NOT NULL
	')

exec('
	ALTER TABLE [CUSTOMER_'+@TODATE+']
	ADD AGE INT ,MOBILE VARCHAR(50), VPB_STAFF INT, PAYROLL_CUS INT
	')

exec('
	PRINT ''UPDATE AGE, MOBILE, I2B_MOVILE, I2B_EMAIL FOR CUSTOMER''
	UPDATE [CUSTOMER_'+@TODATE+']
		SET AGE = YEAR(GETDATE()) - YEAR(BIRTH_INCORP_DATE)

	UPDATE A 
		SET MOBILE = replace(replace(B.CONTACT_NUM , ''.'',''''),'' '','''')
	FROM [CUSTOMER_'+@TODATE+'] A 
	INNER JOIN DATA.DBO.CUSTOMER_CONTACT b ON A.RECID = B.RECID
		WHERE B.CONTACT_TYPE LIKE ''%Mobile%'' --(15791 row(s) affected)
') 

EXEC('
	DROP TABLE IF EXISTS #STAFF, #PAYROLL

	-------VPB STAFF
	SELECT DISTINCT CIF
	INTO #STAFF
	FROM DATA.DBO.DPTB_MASTER
	WHERE PRODUCT_NAME = ''1. CURRENT ACCOUNT''
		AND CATEGORY = ''1006''

	-------PAYROLL
	SELECT DISTINCT CIF
	INTO #PAYROLL
	FROM DATA.DBO.DPTB_MASTER
	WHERE PRODUCT_NAME = ''1. CURRENT ACCOUNT''
		AND (CATEGORY = ''1015''
			OR PAYROLL_TYPE IS NOT NULL
			OR PAYROLL_DATE IS NOT NULL )

	UPDATE A 
	SET A.VPB_STAFF = CASE WHEN B.CIF IS NOT NULL THEN 1 ELSE NULL END, 
		A.PAYROLL_CUS = CASE WHEN C.CIF IS NOT NULL THEN 1 ELSE NULL END
	FROM DBS_DAILY.DBO.CUSTOMER_'+@TODATE+' A 
	LEFT JOIN #STAFF B ON A.RECID = B.CIF 
	LEFT JOIN #PAYROLL C ON A.RECID = C.CIF 
	') 

EXEC('
	CREATE NONCLUSTERED INDEX [IDX_CUSTOMER_OPD_'+@TODATE+'] 
		ON [CUSTOMER_'+@TODATE+'] ([CUS_OPEN_DATE] ASC)
	
	CREATE NONCLUSTERED INDEX [IDX_CUSTOMER_ID_'+@TODATE+'] 
		ON [CUSTOMER_'+@TODATE+'] ([CUS_NAME] ASC)

	CREATE NONCLUSTERED INDEX [IDX_CUSTOMER_LGID_'+@TODATE+'] 
		ON [CUSTOMER_'+@TODATE+'] ([LEGAL_ID] ASC)
') 
END 
GO
