USE [DBS_DAILY]
GO
/****** Object:  StoredProcedure [dbo].[PR_DAILY_ETL_03_LIMIT_ORG]    Script Date: 8/6/2019 10:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PR_DAILY_ETL_03_LIMIT_ORG]
AS 

BEGIN

DECLARE @TODATE DATE , @MAXDATE_LIMIT DATE, @MAXDATE_T24CRD DATE 
---set @todate = '20170921'
SET @TODATE    = (SELECT RPTDATE FROM DBS_REF.DBO.RPTDATE )
SET @MAXDATE_LIMIT = (SELECT MAX(BUSINESS_DATE) FROM DATA.DBO.TBL_LIMIT_ORG )
SET @MAXDATE_T24CRD = (SELECT MAX(BUSINESS_DATE) FROM DATA.DBO.T24CRD_OD )
---------------------------------------------------------------------------------------------
--2. BANG LIMIT_ORG

PRINT '2. BANG LIMIT_ORG'
EXEC
('
DELETE FROM DATA.DBO.TBL_LIMIT_ORG 
WHERE BUSINESS_DATE > '''+@MAXDATE_LIMIT+''' AND BUSINESS_DATE <= '''+@TODATE+'''
')

EXEC
('
INSERT INTO DATA.DBO.TBL_LIMIT_ORG
SELECT BUSINESS_DATE,ID,ACCOUNT,LIABILITY_NUMBER,INTERNAL_AMOUNT,APPROVAL_DATE,ONLINE_LIMIT_DATE,EXPIRY_DATE,LIMIT_PRODUCT,
		MAXIMUM_UNSECURED,MAXIMUM_SECURED,COLLATERAL_CODE, INPUTTER
		--FROM OPENQUERY(M16, ''SELECT * FROM ##temp '')
		from m16.VPB_WHR2.dbo.TBL_LIMIT_ORG
		---FROM M74.STAGING.dbo.LIMIT_ORG_LIVE
		---from M74.STAGING.dbo.DLYTB_LIMIT_ORG
		WHERE BUSINESS_DATE > '''+@MAXDATE_LIMIT+''' 
			AND BUSINESS_DATE <= '''+@TODATE+'''
			AND LIMIT_PRODUCT IN (''8600'')
			----AND ACCOUNT IS NOT NULL 
			AND ((MAXIMUM_SECURED IS NULL OR MAXIMUM_SECURED = CONVERT(VARCHAR,0))
				OR COLLATERAL_CODE = ''720'')
')

EXEC
('
DELETE FROM DATA.DBO.T24CRD_OD WHERE BUSINESS_DATE > '''+@MAXDATE_T24CRD+''' AND BUSINESS_DATE <= '''+@TODATE+'''
')
exec('
INSERT INTO DATA.DBO.T24CRD_OD
	   ([BUSINESS_DATE],[SECTOR],[CUSTOMER_ID],[DRAW_PART_REPAY_ACCT],[CONTRACT_NO],[VALUE_DATE],[COLLATERAL_VALUE],[VPB_LN_PR],[CUS_SEGMENT],[BRANCH_CODE],[LDPD_AMT],
	   [PR_AMT],[IN_AMT],[PE_AMT],[PS_AMT],[STATUS],[DAO],[RATE_CHARGE_DATE_LAST],[PRIN_REPAY_ACCT],[INT_REPAY_ACCT],[CURRENCY],[NO_OVD_DAYS],[CT_UUDAI_VAY],[RATE],
	   LIMIT_REFERENCE, TXN_ID, OVERDRAFT_TYPE, OVERDRAFT_ACCOUNT, CATEGORY)

SELECT [BUSINESS_DATE],[SECTOR],[CUSTOMER_ID],[DRAW_PART_REPAY_ACCT],[CONTRACT_NO],[VALUE_DATE],[COLLATERAL_VALUE],[VPB_LN_PR],[CUS_SEGMENT],[BRANCH_CODE],[LDPD_AMT],
	   [PR_AMT],[IN_AMT],[PE_AMT],[PS_AMT],[STATUS],[DAO],[RATE_CHARGE_DATE_LAST],[PRIN_REPAY_ACCT],[INT_REPAY_ACCT],[CURRENCY],[NO_OVD_DAYS],[CT_UUDAI_VAY],[RATE],
	   LIMIT_REFERENCE, TXN_ID, OVERDRAFT_TYPE, OVERDRAFT_ACCOUNT, CATEGORY
	FROM M16.VPB_WHR2.DBO.T24CRD 	
	----from m74.staging.dbo.dlytb_t24crd			
			WHERE BUSINESS_DATE > '''+@MAXDATE_T24CRD+''' AND BUSINESS_DATE <= '''+@TODATE+'''
			AND CONTRACT_NO LIKE ''PDPD%''	
				ORDER BY BUSINESS_DATE

	UPDATE A 
	SET LIMIT_ID =  CUSTOMER_ID + ''.00'' + TXN_ID
	FROM DATA.DBO.T24CRD_OD  A 
	WHERE BUSINESS_DATE > '''+@MAXDATE_T24CRD+''' AND BUSINESS_DATE <= '''+@TODATE+'''
		AND TXN_ID IS NOT NULL 

	SELECT DISTINCT CONTRACT_NO, LIMIT_ID, TXN_ID 
	INTO #TEMP 
	FROM DATA.DBO.T24CRD_OD 
	WHERE LIMIT_ID IS NOT NULL 

	UPDATE A 
	SET A.TXN_ID = B.TXN_ID , 
		A.LIMIT_ID  = B.LIMIT_ID 
	FROM DATA.DBO.T24CRD_OD  A 
		INNER JOIN #TEMP B ON A.CONTRACT_NO = B.CONTRACT_NO 
	WHERE A.LIMIT_ID IS NULL 
		AND BUSINESS_DATE > '''+@MAXDATE_T24CRD+''' AND BUSINESS_DATE <= '''+@TODATE+'''

')

EXEC('
	DELETE FROM DBS_SUMMARY.DBO.[UNSEC_OD_LIMIT_STATUS] 
	WHERE BUSINESS_DATE = '''+@TODATE+''' ;

	WITH CIF AS 
	(
		SELECT ROW_NUMBER() OVER (PARTITION BY LIABILITY_NUMBER ORDER BY TYPE ASC) ROWID, * 
		FROM
			   (
			   SELECT LIABILITY_NUMBER,1 TYPE, MAX(ONLINE_LIMIT_DATE) REGIST_DATE, MAX(EXPIRY_DATE) EXPIRY_DATE
				FROM DATA.DBO.TBL_LIMIT_ORG
					WHERE BUSINESS_DATE = '''+@TODATE+'''
					AND ACCOUNT IS NOT NULL 
					AND (MAXIMUM_SECURED IS NULL OR MAXIMUM_SECURED = CONVERT(VARCHAR,0))
							GROUP BY LIABILITY_NUMBER --(13821 ROW(S) AFFECTED)
			   UNION ALL
			   SELECT CUSTOMER_ID,2 TYPE, MAX(VALUE_DATE) VALUE_DATE, NULL
					  FROM DATA.DBO.T24CRD_OD
							 WHERE BUSINESS_DATE = '''+@TODATE+'''
								   GROUP BY CUSTOMER_ID
			   ) A 
	) 

	INSERT INTO DBS_SUMMARY.DBO.[UNSEC_OD_LIMIT_STATUS] 
	SELECT CAST( '''+@TODATE+''' AS DATE) AS BUSINESS_DATE, A.* 
	FROM CIF  A 
')



END 
GO
