USE [DBS_DAILY]
GO
/****** Object:  StoredProcedure [dbo].[PR_DAILY_ETL_03_OVD_HISTORY]    Script Date: 8/6/2019 10:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PR_DAILY_ETL_03_OVD_HISTORY] AS 
BEGIN 

DECLARE @TODATE VARCHAR(8) = (SELECT RPTDATE FROM DBS_REF.DBO.RPTDATE ) 
DECLARE @LOAN_OVD DATE = (SELECT MAX(BUSINESS_DATE) FROM DATA.DBO.LOAN_OVD)
DECLARE @CC_OVD   DATE  = (SELECT MAX(BUSINESS_DATE) FROM DATA.DBO.CC_OVD)

--======================================================================================================================================
-- LOAN_OVD
----> CHẠY HÀNG NGÀY VÀ PHẢI ĐỦ CÁC BUSINESS_DATE

EXEC
('
PRINT ''LOAN_OVD''
	INSERT INTO DATA.DBO.LOAN_OVD
	SELECT  BUSINESS_DATE, CUSTOMER_ID, CONTRACT_NO, CONVERT(INT, NO_OVD_DAYS), [STATUS], PR_AMT, IN_AMT, ISNULL(PR_AMT,0) + ISNULL(IN_AMT,0)
		FROM M16.VPB_WHR2.DBO.T24CRD
	WHERE BUSINESS_DATE > '''+@LOAN_OVD+'''
		AND BUSINESS_DATE <= '''+@TODATE+'''
		AND CUS_SEGMENT = ''KHCN'' 
		AND LDPD_AMT > 0
		AND (CONVERT(FLOAT,NO_OVD_DAYS) >= 1 or  ([STATUS] IS NOT NULL AND [STATUS] <> ''CUR''))
		ORDER BY BUSINESS_DATE --(423619 row(s) affected)
') 

--======================================================================================================================================
-- CC_OVD
----> CHẠY HÀNG NGÀY VÀ PHẢI ĐỦ CÁC BUSINESS_DATE

EXEC
('
PRINT ''CC_OVD''

INSERT INTO DATA.DBO.CC_OVD
	SELECT BUSINESS_DATE, ACNT_CONTRACT_ID, ACNT_CONTRACT_OID, CONTRACT_NUMBER, CERT_ID, T24_CIF, OVD_DAYS, OVD, OVD30, OVD60, OVD90
	FROM DATA.DBO.CARD_LIVE
	WHERE BUSINESS_DATE > '''+@CC_OVD+'''
		AND BUSINESS_DATE <= '''+@TODATE+'''
		AND (BI_CHANNEL <> ''OTHER'' OR COMPANY = ''VN0010348'')
		AND CARD_TYPE LIKE ''%CREDIT%''
		AND OVD_DAYS IS NOT NULL
			ORDER BY BUSINESS_DATE --(192085 row(s) affected) 
') 

--======================================================================================================================================
-- TEMP TABLE FOR OVD_SUMMARY

---- 1. LOAN
--1.1 - OVD SUMMARY - LAY OVD LON NHAT THEO CUSTOMER - NGAY BAO CAO 
EXEC
('
	DROP TABLE IF EXISTS ##LOAN_CUR
	SELECT 
		CUSTOMER_ID CIF, NO_OVD_DAYS OVD_DAYS, CONTRACT_NO ACCTNO, OVD_AMT, BUSINESS_DATE
	INTO ##LOAN_CUR
	FROM
		(SELECT ROW_NUMBER() OVER (PARTITION BY CUSTOMER_ID ORDER BY NO_OVD_DAYS DESC, OVD_AMT DESC) ROWID, *
		FROM DATA.dbo.LOAN_OVD 
		WHERE BUSINESS_DATE = '''+@TODATE+'''
		and NO_OVD_DAYS > 10
		) A 
	WHERE ROWID = 1
')

--1.2 - OVD SUMMARY - LAY OVD LON NHAT THEO CUSTOMER - TRONG VONG 12 THANG GAN NHAT 
EXEC
('
	DROP TABLE IF EXISTS ##LOAN_LAST12M
	SELECT 
		CUSTOMER_ID CIF, NO_OVD_DAYS OVD_DAYS, CONTRACT_NO ACCTNO, OVD_AMT, BUSINESS_DATE
	INTO ##LOAN_LAST12M
	FROM
		(SELECT ROW_NUMBER() OVER (PARTITION BY CUSTOMER_ID ORDER BY NO_OVD_DAYS DESC,OVD_AMT DESC) ROWID, *
		FROM DATA.dbo.LOAN_OVD 
		WHERE BUSINESS_DATE BETWEEN DATEADD(MONTH,-12,convert(date,'''+@TODATE+''')) and convert(date,'''+@TODATE+''')
		and NO_OVD_DAYS > 10
		) A 
	WHERE ROWID = 1
')

--1.3 - OVD SUMMARY - LAY OVD LON NHAT THEO CUSTOMER - TRONG VONG 24 THANG GAN NHAT 
EXEC
('
	DROP TABLE IF EXISTS ##LOAN_LAST24M
	SELECT 
		CUSTOMER_ID CIF, NO_OVD_DAYS OVD_DAYS, CONTRACT_NO ACCTNO, OVD_AMT, BUSINESS_DATE
	INTO ##LOAN_LAST24M
	FROM
		(SELECT ROW_NUMBER() OVER (PARTITION BY CUSTOMER_ID ORDER BY NO_OVD_DAYS DESC,OVD_AMT DESC) ROWID, *
		FROM DATA.dbo.LOAN_OVD 
		WHERE BUSINESS_DATE BETWEEN DATEADD(MONTH,-24,convert(date,'''+@TODATE+''')) and convert(date,'''+@TODATE+''')
		and NO_OVD_DAYS > 10
		) A 
	WHERE ROWID = 1
')

--1.4 - OVD SUMMARY - LAY OVD LON NHAT THEO CUSTOMER - TRONG VONG 36 THANG GAN NHAT 
EXEC
('
	DROP TABLE IF EXISTS ##LOAN_LAST36M
	SELECT 
		CUSTOMER_ID CIF, NO_OVD_DAYS OVD_DAYS, CONTRACT_NO ACCTNO, OVD_AMT, BUSINESS_DATE
	INTO ##LOAN_LAST36M
	FROM
		(SELECT ROW_NUMBER() OVER (PARTITION BY CUSTOMER_ID ORDER BY NO_OVD_DAYS DESC,OVD_AMT DESC) ROWID, *
		FROM DATA.dbo.LOAN_OVD 
		WHERE BUSINESS_DATE BETWEEN DATEADD(MONTH,-36,convert(date,'''+@TODATE+''')) and convert(date,'''+@TODATE+''')
		and NO_OVD_DAYS > 10
		) A 
	WHERE ROWID = 1
')
/**/
---- 2. CC
--2.1 - OVD SUMMARY - LAY OVD LON NHAT THEO CUSTOMER - NGAY BAO CAO 

EXEC
('
	DROP TABLE IF EXISTS ##CC_CUR
	SELECT 
		T24_CIF,
		OVD_DAYS,
		CONTRACT_NUMBER,
		(CASE WHEN ISNULL(OVD90,0) <> 0 THEN OVD90	
			WHEN ISNULL(OVD60,0) <> 0 THEN OVD60	
			WHEN ISNULL(OVD30,0) <> 0 THEN OVD30	
			WHEN ISNULL(OVD,0) <> 0 THEN OVD
			ELSE NULL
		END) OVD_AMT,
		BUSINESS_DATE
	INTO ##CC_CUR
	FROM 
		(SELECT ROW_NUMBER() OVER (PARTITION BY T24_CIF ORDER BY OVD_DAYS DESC, (CASE WHEN ISNULL(OVD90,0) <> 0 THEN OVD90	
																					WHEN ISNULL(OVD60,0) <> 0 THEN OVD60	
																					WHEN ISNULL(OVD30,0) <> 0 THEN OVD30	
																					WHEN ISNULL(OVD,0) <> 0 THEN OVD
																					ELSE NULL
																					END)) ROWID,*
		FROM DATA.DBO.CC_OVD
		WHERE BUSINESS_DATE = '''+@TODATE+'''
			and (ISNULL(OVD,0) <> 0 OR ISNULL(OVD30,0) <> 0 OR ISNULL(OVD60,0) <> 0 OR ISNULL(OVD90,0) <> 0)
			and T24_CIF IS NOT NULL
			AND OVD_DAYS > 10
		) A 
	WHERE ROWID = 1
')

--2.2 - OVD SUMMARY - LAY OVD LON NHAT THEO CUSTOMER - TRONG VONG 12 THANG GAN NHAT 

EXEC
('
	DROP TABLE IF EXISTS ##CC_L12M
	SELECT 
		T24_CIF,
		OVD_DAYS,
		CONTRACT_NUMBER,
		(CASE WHEN ISNULL(OVD90,0) <> 0 THEN OVD90	
			WHEN ISNULL(OVD60,0) <> 0 THEN OVD60	
			WHEN ISNULL(OVD30,0) <> 0 THEN OVD30	
			WHEN ISNULL(OVD,0) <> 0 THEN OVD
			ELSE NULL
		END) OVD_AMT,
		BUSINESS_DATE
	INTO ##CC_L12M
	FROM 
		(SELECT ROW_NUMBER() OVER (PARTITION BY T24_CIF ORDER BY OVD_DAYS DESC, (CASE WHEN ISNULL(OVD90,0) <> 0 THEN OVD90	
																					WHEN ISNULL(OVD60,0) <> 0 THEN OVD60	
																					WHEN ISNULL(OVD30,0) <> 0 THEN OVD30	
																					WHEN ISNULL(OVD,0) <> 0 THEN OVD
																					ELSE NULL
																					END)) ROWID,*
		FROM DATA.DBO.CC_OVD
		WHERE (ISNULL(OVD,0) <> 0 OR ISNULL(OVD30,0) <> 0 OR ISNULL(OVD60,0) <> 0 OR ISNULL(OVD90,0) <> 0)
			and T24_CIF IS NOT NULL
			AND OVD_DAYS > 10
			AND BUSINESS_DATE BETWEEN DATEADD(MONTH,-12,convert(date,'''+@TODATE+''')) and convert(date,'''+@TODATE+''')
		) A 
	WHERE ROWID = 1
')


--2.3 - OVD SUMMARY - LAY OVD LON NHAT THEO CUSTOMER - TRONG VONG 24 THANG GAN NHAT 

EXEC
('
	DROP TABLE IF EXISTS ##CC_L24M
	SELECT 
		T24_CIF,
		OVD_DAYS,
		CONTRACT_NUMBER, 
		(CASE WHEN ISNULL(OVD90,0) <> 0 THEN OVD90	
			WHEN ISNULL(OVD60,0) <> 0 THEN OVD60	
			WHEN ISNULL(OVD30,0) <> 0 THEN OVD30	
			WHEN ISNULL(OVD,0) <> 0 THEN OVD
			ELSE NULL
		END) OVD_AMT,
		BUSINESS_DATE
	INTO ##CC_L24M
	FROM 
		(SELECT ROW_NUMBER() OVER (PARTITION BY T24_CIF ORDER BY OVD_DAYS DESC, (CASE WHEN ISNULL(OVD90,0) <> 0 THEN OVD90	
																					WHEN ISNULL(OVD60,0) <> 0 THEN OVD60	
																					WHEN ISNULL(OVD30,0) <> 0 THEN OVD30	
																					WHEN ISNULL(OVD,0) <> 0 THEN OVD
																					ELSE NULL
																					END)) ROWID,*
		FROM DATA.DBO.CC_OVD
		WHERE (ISNULL(OVD,0) <> 0 OR ISNULL(OVD30,0) <> 0 OR ISNULL(OVD60,0) <> 0 OR ISNULL(OVD90,0) <> 0)
			and T24_CIF IS NOT NULL
			AND OVD_DAYS > 10
			AND BUSINESS_DATE BETWEEN DATEADD(MONTH,-24,convert(date,'''+@TODATE+''')) and convert(date,'''+@TODATE+''')
		) A 
	WHERE ROWID = 1
')


--2.4 - OVD SUMMARY - LAY OVD LON NHAT THEO CUSTOMER - TRONG VONG 24 THANG GAN NHAT 

EXEC
('
	DROP TABLE IF EXISTS ##CC_L36M
	SELECT 
		T24_CIF,
		OVD_DAYS,
		CONTRACT_NUMBER, 
		(CASE WHEN ISNULL(OVD90,0) <> 0 THEN OVD90	
			WHEN ISNULL(OVD60,0) <> 0 THEN OVD60	
			WHEN ISNULL(OVD30,0) <> 0 THEN OVD30	
			WHEN ISNULL(OVD,0) <> 0 THEN OVD
			ELSE NULL
		END) OVD_AMT,
		BUSINESS_DATE
	INTO ##CC_L36M
	FROM 
		(SELECT ROW_NUMBER() OVER (PARTITION BY T24_CIF ORDER BY OVD_DAYS DESC, (CASE WHEN ISNULL(OVD90,0) <> 0 THEN OVD90	
																					WHEN ISNULL(OVD60,0) <> 0 THEN OVD60	
																					WHEN ISNULL(OVD30,0) <> 0 THEN OVD30	
																					WHEN ISNULL(OVD,0) <> 0 THEN OVD
																					ELSE NULL
																					END)) ROWID,*
		FROM DATA.DBO.CC_OVD
		WHERE (ISNULL(OVD,0) <> 0 OR ISNULL(OVD30,0) <> 0 OR ISNULL(OVD60,0) <> 0 OR ISNULL(OVD90,0) <> 0)
			and T24_CIF IS NOT NULL
			AND OVD_DAYS > 10
			AND BUSINESS_DATE BETWEEN DATEADD(MONTH,-36,convert(date,'''+@TODATE+''')) and convert(date,'''+@TODATE+''')
		) A 
	WHERE ROWID = 1
')


----DROP TABLE IF EXISTS DBS_SUMMARY.DBO.CUSTOMER_OVD_HISTORY

TRUNCATE TABLE DBS_SUMMARY.DBO.CUSTOMER_OVD_HISTORY 

EXEC('
INSERT INTO DBS_SUMMARY.DBO.CUSTOMER_OVD_HISTORY 
select
	CAST('''+@TODATE+''' AS DATE) AS BUSINESS_DATE, 
	COALESCE(A.CIF, B.CIF, C.CIF, D.CIF) AS CIF , 
	A.OVD_DAYS AS OVD_DAYS_CUR, 
	A.OVD_AMT AS OVD_AMT_CUR,  
	A.ACCTNO AS ACCTNO_CUR, 
	B.OVD_DAYS AS OVD_DAYS_12M, 
	B.OVD_AMT AS OVD_AMT_12M, 
	B.ACCTNO AS ACCTNO_12M, 
	B.BUSINESS_dATE AS LAST_OVD_DATE_12M, 
	c.OVD_DAYS AS OVD_DAYS_24M, 
	c.OVD_AMT AS OVD_AMT_24M, 
	c.ACCTNO AS ACCTNO_24M, 
	c.BUSINESS_dATE AS LAST_OVD_DATE_24M, 
	D.OVD_DAYS AS OVD_DAYS_36M, 
	D.OVD_AMT AS OVD_AMT_36M, 
	d.ACCTNO AS ACCTNO_36M, 
	d.BUSINESS_dATE AS LAST_OVD_DATE_36M,
	''LOAN''
from ##LOAN_CUR  A
FULL JOIN ##LOAN_LAST12M B ON A.CIF = B.CIF 
FULL JOIN ##LOAN_LAST24M C ON B.CIF = c.CIF 
FULL JOIN ##LOAN_LAST36M d ON C.CIF = d.CIF


INSERT INTO DBS_SUMMARY.DBO.CUSTOMER_OVD_HISTORY 
select
	CAST('''+@TODATE+''' AS DATE) AS BUSINESS_DATE, 
	COALESCE(A.T24_CIF, B.T24_CIF, C.T24_CIF, D.T24_CIF) AS CIF , 
	A.OVD_DAYS AS OVD_DAYS_CUR, 
	A.OVD_AMT AS OVD_AMT_CUR,  
	A.CONTRACT_NUMBER , 
	B.OVD_DAYS AS OVD_DAYS_12M, 
	B.OVD_AMT AS OVD_AMT_12M, 
	B.CONTRACT_NUMBER , 
	B.BUSINESS_dATE AS LAST_OVD_DATE_12M, 
	c.OVD_DAYS AS OVD_DAYS_24M, 
	c.OVD_AMT AS OVD_AMT_24M, 
	c.CONTRACT_NUMBER , 
	c.BUSINESS_dATE AS LAST_OVD_DATE_24M, 
	D.OVD_DAYS AS OVD_DAYS_36M, 
	D.OVD_AMT AS OVD_AMT_36M, 
	d.CONTRACT_NUMBER AS CONTRACT_NUMBER_36M, 
	d.BUSINESS_dATE AS LAST_OVD_DATE_36M,
	''CARD'' AS PRODUCT_GROUP 
from ##CC_CUR  A
FULL JOIN ##CC_L12M B ON A.T24_CIF = B.T24_CIF 
FULL JOIN ##CC_L24M C ON B.T24_CIF = c.T24_CIF 
FULL JOIN ##CC_L36M d ON C.T24_CIF = d.T24_CIF

') 



END 

GO
