USE [DBS_DAILY]
GO
/****** Object:  StoredProcedure [dbo].[PR_DAILY_ETL_04_BAL_DPMAST]    Script Date: 8/6/2019 10:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PR_DAILY_ETL_04_BAL_DPMAST]
AS 

BEGIN 
DECLARE @TODATE VARCHAR(8)
DECLARE @FROMDATE VARCHAR(8)
DECLARE @LASTDATE VARCHAR(8)

SET @TODATE    =  (SELECT RPTDATE FROM DBS_REF.DBO.RPTDATE )
SET @FROMDATE  = (SELECT CONVERT(VARCHAR(8),DATEADD(mm,DATEDIFF(mm,0,@TODATE),0),112)) 
SET @LASTDATE = (SELECT CONVERT(VARCHAR(8),DATEADD(D, -1, @FROMDATE), 112)) 

-- I. BANG BALANCE

EXEC('
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME = ''BALANCE_'+@TODATE+''')
	DROP TABLE [BALANCE_'+@TODATE+']
	')
EXEC('
	CREATE TABLE [BALANCE_'+@TODATE+'](
		[BUSINESS_DATE] [date] NULL,
		[APP] [nvarchar](10) NULL,
		[PRODUCT_NAME] [nvarchar](100) NULL,
		[BRANCH_CODE] [nvarchar](20) NULL,
		[ACCTNO] [nvarchar](20) NOT NULL,
		[CIF] [nvarchar](20) NULL,
		[CUSTOMER_NAME] [nvarchar](150) NULL,
		[CATEGORY] [nvarchar](20) NULL,
		[CCY] [nvarchar](5) NULL,
		[PRODUCT_CODE] [nvarchar](50) NULL,
		[CUS_OPEN_DATE] [datetime] NULL,
		[ISSUE_DATE] [datetime] NULL,
		[OPENNING_DATE] [datetime] NULL,
		[MATDT] [datetime] NULL,
		[RATE] [float] NULL,
		[DAO] [nvarchar](20) NULL,
		[BAL_QD] [numeric](18, 2) NULL,
		[BI_CHANNEL] [nvarchar](50) NULL,
		[BI_SEGMENT] [varchar](5) NULL,
		[SEGMENT] [varchar](5) NULL,
		[F] [nvarchar](5) NULL,
		[IS_BIG_LOAN] [bit] NULL,
		[TERM] [nvarchar](5) NULL,
		[NO_OVD_DAYS] [nvarchar](10) NULL,
		[OVERDRAFT_TYPE] [nvarchar](100) NULL,
		[LIMIT_AMT] [float] NULL,
		[PRODUCT_DETAIL] [nvarchar](40) NULL,
		[INTRODUCER] [nvarchar](50) NULL,
		[SALE_CODE] [nvarchar](10) NULL,
		[NOTE] [nvarchar](200) NULL,
		[BI_TENOR] [INT] NULL,
		SAN_PHAM NUMERIC(8,2), 
		I2B VARCHAR(5), 
		LIMIT_REFERENCE VARCHAR(30),
		SERVICE_CHANNEL VARCHAR(50) NULL, 
		CONSTRAINT [PK_BALANCE_ACCTNO_'+@TODATE+'] PRIMARY KEY CLUSTERED ([ACCTNO] ASC)
	) 
')

EXEC ('
PRINT ''BANG BALANCE''

	INSERT INTO BALANCE_'+@TODATE+'	
	SELECT 
		BUSINESS_DATE,APP,PRODUCT_NAME,BRANCH_CODE,ACCTNO,CIF,
		CUSTOMER_NAME,CATEGORY,CCY,PRODUCT_CODE, 
		CUS_OPEN_DATE,ISSUE_DATE,OPENNING_DATE,MATDT,RATE,
		DAO,BAL_QD,BI_CHANNEL,BI_SEGMENT,SEGMENT,F,IS_BIG_LOAN,TERM,
		NO_OVD_DAYS,OVERDRAFT_TYPE,LIMIT_AMT,PRODUCT_DETAIL,INTRODUCER,SALE_CODE,NOTE, 0,
		SAN_PHAM, I2B, LIMIT_REFERENCE, NULL
	FROM DATA.DBO.BALANCE_LIVE
	WHERE (APP = ''DEPOSIT'' 					
			AND (F IS NULL or BI_SEGMENT =''SME'')	
			AND PRODUCT_NAME LIKE ''2%''
			AND CCY <> ''XAU'')		
		OR
			(APP = ''LOAN'' 
			--AND (IS_BIG_LOAN IS NULL OR IS_BIG_LOAN = 0)
			AND (PRODUCT_NAME LIKE ''%OVER%'' OR PRODUCT_NAME LIKE ''%UPL%'' OR PRODUCT_NAME = ''7. Passbook Loan''))

	UPDATE BALANCE_'+@TODATE+'
	SET BI_TENOR = (CASE WHEN DATEDIFF(DAY,OPENNING_DATE, MATDT) <= 10 THEN 0.25
            WHEN DATEDIFF(DAY,OPENNING_DATE, MATDT) BETWEEN 11 AND 17 THEN 0.5
            WHEN DATEDIFF(DAY,OPENNING_DATE, MATDT) BETWEEN 18 AND 27 THEN 0.75
				ELSE ROUND(DATEDIFF(DAY,OPENNING_DATE, MATDT)/30.5,0) END)
	WHERE APP =''DEPOSIT''
	')

PRINT 'UPDATE PRODUCT DETAIL CHO BANG BALANCE ' ----ANHTN67 THEM VAO 20180424

EXEC('
	UPDATE  A 
	SET A.PRODUCT_DETAIL = B.PRODUCT_DETAIL 
	FROM BALANCE_'+@TODATE+' A 
	INNER JOIN 
		(SELECt ACCTNO , PRODUCT_DETAIL
		FROM DATA.DBO.TD_ONLINE_MISSING_DAILY
		)  B ON A.ACCTNO = B.ACCTNO 
	')

PRINT 'UPDATE PRODUCT LINE CHO BANG BALANCE ' ----ANHTN67 THEM VAO 20180210

EXEC('
	ALTER TABLE BALANCE_'+@TODATE+' 
	ADD DBS_CHANNEL VARCHAR(50) 
') 

-- I. BANG DPTB

PRINT '8. BANG DPTB_MASTER'

EXEC('
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME = ''DPTB_MASTER'')
	DROP TABLE [DPTB_MASTER]
	')
EXEC('
	CREATE TABLE [dbo].[DPTB_MASTER](	
		ID VARCHAR(20) NOT NULL, 
		[PRODUCT_NAME] [nvarchar](100) NULL,
		[BRANCH_CODE] [varchar](20) NULL,
		[ACCTNO] [varchar](20) NOT NULL,
		[CIF] [varchar](20) NULL,		
		[CUS_NAME] nvarchar(max), 
		CUST_TYPE VARCHAR(10) NULL, 
		[CATEGORY] [varchar](20) NULL,
		[CCY] [varchar](5) NULL,
		[PRODUCT_CODE] [varchar](50) NULL,
		[CUS_OPEN_DATE] [datetime] NULL,
		[ISSUE_DATE] [datetime] NULL,
		[OPENNING_DATE] [datetime] NULL,
		[MATDT] [datetime] NULL,
		[WITHDRAW_DATE] [date] NULL,
		[ROLLOVER_DATE] [date] NULL,
		[RATE] [float] NULL,
		[DAO] [varchar](20) NULL,
		[BI_CHANNEL] [varchar](50) NULL,
		[BI_SEGMENT] [varchar](10) NULL,
		[SEGMENT] [varchar](13) NULL,
		[ORIGINAL_BAL] [float] NULL,
		[BAL_QD] [float] NULL,
		AVERAGE_BAL [float] NULL,
		[TERM] [varchar](6) NULL,
		[SALE_CODE] [varchar](10) NULL,
		[PRODUCT_DETAIL] [varchar](40) NULL,
		[INTRODUCER] [varchar](50) NULL,
		[IS_CLOSE] [int] NULL,
		[F] [varchar](5) NULL,
		[I2B] [varchar](2) NULL,
		SAN_PHAM NUMERIC(8,2),  
		[BI_TENOR] [float] NULL,
		DBS_CHANNEL VARCHAR(50) NULL,
		SERVICE_CHANNEL VARCHAR(50) NULL, 
		[PLATFORM] [varchar](50) NULL,
		MAT_INSTRUCTION varchar(200), 
	CONSTRAINT [PK_DPTB_MASTER] PRIMARY KEY CLUSTERED (ACCTNO ASC)
)
')

EXEC ('
	-- 3. DPTB_MASTER
	INSERT INTO DPTB_MASTER(
		ID, PRODUCT_NAME,BRANCH_CODE,ACCTNO,CIF,CUS_NAME,CATEGORY,CCY,PRODUCT_CODE,	
		CUS_OPEN_DATE,ISSUE_DATE,OPENNING_DATE,MATDT,WITHDRAW_DATE,ROLLOVER_DATE,
		RATE,DAO,	BI_CHANNEL,BI_SEGMENT, SEGMENT,ORIGINAL_BAL,BAL_QD,TERM,SALE_CODE,
		PRODUCT_DETAIL,INTRODUCER,IS_CLOSE,F , I2B, SAN_PHAM, SERVICE_CHANNEL, CUST_TYPE, MAT_INSTRUCTION
		)
	SELECT 
		ID,PRODUCT_NAME,BRANCH_CODE,ACCTNO,CIF,CUSTOMER_NAME,CATEGORY,CCY,PRODUCT_CODE,
		CUS_OPEN_DATE,ISSUE_DATE,OPENNING_DATE,MATDT,WITHDRAW_DATE,ROLLOVER_DATE,RATE,DAO,
		BI_CHANNEL,BI_SEGMENT, SEGMENT,ORIGINAL_BAL,BAL_QD,TERM,SALE_CODE,PRODUCT_DETAIL,
		INTRODUCER,IS_CLOSE,F , I2B, SAN_PHAM, SERVICE_CHANNEL, CUST_TYPE, MAT_INSTRUCTION
	FROM DATA.DBO.DPTB_MASTER
		WHERE F IS NULL
		AND PRODUCT_NAME LIKE ''2%''	

	UPDATE DPTB_MASTER
		SET BI_TENOR = 0

	UPDATE DPTB_MASTER
	SET BI_TENOR = (CASE WHEN DATEDIFF(DAY,OPENNING_DATE, MATDT) <= 10 THEN 0.25
						WHEN DATEDIFF(DAY,OPENNING_DATE, MATDT) BETWEEN 11 AND 17 THEN 0.5
						WHEN DATEDIFF(DAY,OPENNING_DATE, MATDT) BETWEEN 18 AND 27 THEN 0.75
					ELSE ROUND(DATEDIFF(DAY,OPENNING_DATE, MATDT)/30.5,0) END)
	')

PRINT 'UPDATE PRODUCT DETAIL CHO BANG DPTB_MASTER ' ----ANHTN67 THEM VAO 20180210

EXEC('
	UPDATE  A 
	SET A.PRODUCT_DETAIL = B.PRODUCT_DETAIL 
	FROM DPTB_MASTER A 
	INNER JOIN 
		(SELECt ACCTNO , PRODUCT_DETAIL
		FROM DATA.DBO.TD_ONLINE_MISSING_DAILY
		)  B ON A.ACCTNO = B.ACCTNO 
	')

PRINT 'UPDATE PRODUCT LINE CHO BANG DPTB_MASTER ' ----ANHTN67 THEM VAO 20180210
exec('
	UPDATE DPTB_MASTER
	SET DBS_CHANNEL = (CASE WHEN BRANCH_CODE = ''VN0010348'' THEN ''TIMO''
							WHEN BRANCH_CODE <> ''VN0010348'' AND CATEGORY IN (''21017'',''21018 '') AND I2B = ''D'' THEN ''DF''
							WHEN CATEGORY = ''6603'' AND PRODUCT_CODE = ''TD6008'' AND ISSUE_DATE >= ''20190112'' THEN ''DF''
							WHEN BI_CHANNEL <> ''OTHER'' AND BRANCH_CODE <> ''VN0010348'' AND PRODUCT_DETAIL LIKE ''%ONLINE%'' THEN ''ONLINE RB''
							WHEN BI_CHANNEL <> ''OTHER'' AND BRANCH_CODE <> ''VN0010348'' AND (PRODUCT_DETAIL NOT LIKE ''%ONLINE%'' OR PRODUCT_DETAIL IS NULL) THEN ''OFFLINE RB''
							WHEN BI_SEGMENT = ''SME''    AND PRODUCT_CODE = ''TD6014'' THEN ''ONLINE SME''
							WHEN BI_SEGMENT = ''SME''    AND (PRODUCT_CODE <> ''TD6014'' OR PRODUCT_CODE IS NULL) THEN ''OFFLINE SME''
					 ELSE NULL END) 
	WHERE PRODUCT_NAME LIKE ''2%''

') 
EXEC('
	UPDATE A
	SET A.DBS_CHANNEL = ''ONLINE FE''
	from DPTB_MASTER A 
	where BRANCH_CODE = ''VN0010260''
		AND CCY <> ''XAU''        
		AND DBS_CHANNEL IS NULL 
		AND ((CATEGORY = ''6603'' AND PRODUCT_CODE = ''TD6018'') 
						OR ( CATEGORY IN (''21017'',''21018'') AND I2B = ''D'')
						OR ( CATEGORY IN (''21017'',''21018'') AND I2B = ''Y'')
						OR ( CATEGORY = ''6603'' AND PRODUCT_CODE = ''TD1079'')
						OR ( CATEGORY = ''6604'' AND PRODUCT_CODE IN (''TD6004'',''TD6005'',''TD6006'',''TD6007''))
						OR ( CATEGORY = ''6603'' AND PRODUCT_CODE IN (''TD6013'',''TD6001'',''TD6002'',''TD6003'')))

	UPDATE A
	SET A.DBS_CHANNEL = ''OFFLINE FE''
	from DPTB_MASTER  A 
	where  CCY <> ''XAU''        
        AND BRANCH_CODE = ''VN0010260''
        AND DBS_CHANNEL IS NULL 

') 
PRINT 'UPDATE AVERAGE_BAL'
EXEC('
	UPDATE A 
	SET A.AVERAGE_BAL = B.AVERAGE_BAL 
	FROM DPTB_MASTER A 
		LEFT JOIN DATA.dbo.MONTHLY_LCY B ON A.ACCTNO = B.ACCTNO 
	WHERE b.APP = ''DEPOSIT''
	') 
PRINT 'UPDATE DBS_CHANNEL CHO BALANCE'
exec('
	UPDATE a
	SET a.DBS_CHANNEL = b.DBS_CHANNEL, 
		A.SERVICE_CHANNEL = B.SERVICE_CHANNEL
	from DBS_dAILY.DBO.BALANCE_'+@todate+' a 
		inner join DPTB_MASTER B ON A.ACCTNO = B.ACCTNO 

	') 

-------REBUILD INDEX AFTER INSERT

EXEC('
	ALTER INDEX [PK_BALANCE_ACCTNO_'+@TODATE+'] ON BALANCE_'+@TODATE+' REBUILD
	')
EXEC('
	ALTER INDEX PK_DPTB_MASTER ON DPTB_MASTER REBUILD
')

EXEC('
	CREATE NONCLUSTERED INDEX [IDX_BALANCE_CIFID_'+@TODATE+'] 
		ON BALANCE_'+@TODATE+' ([CIF] ASC)

	CREATE NONCLUSTERED INDEX [IDX_BALANCE_DATE_'+@TODATE+'] 
		ON BALANCE_'+@TODATE+' ( [ISSUE_DATE]  ASC)
	')
END 
GO
