USE [DBS_DAILY]
GO
/****** Object:  StoredProcedure [dbo].[PR_DAILY_ETL_05_CARD]    Script Date: 8/6/2019 10:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PR_DAILY_ETL_05_CARD]
AS 
BEGIN 

DECLARE @TODATE VARCHAR(8),
	 @FROMDATE VARCHAR(8),
	 @LASTMONTH VARCHAR(8),
	 @LATEST_MONTH VARCHAR(8)

----SET @TODATE  = '20170921' 
SET @TODATE    = (SELECT RPTDATE FROM DBS_REF.DBO.RPTDATE )
SET @FROMDATE  = (SELECT CONVERT(VARCHAR(8),DATEADD(mm,DATEDIFF(mm,0,@TODATE),0),112)) 
SET @LASTMONTH = (SELECT CONVERT(VARCHAR(8),DATEADD(ms,-3,DATEADD(mm,0,DATEADD(mm,DATEDIFF(mm,0,@TODATE),0))),112)) 
-------------------------------------------------------------------------------------------------

/*
EDIT LOG

TRANGTQ2 - 20180404 - BỎ DỮ LIỆU FINNONE KHỎI BẢNG CARD_REJECTED
*/

-- 10. BANG CARD

PRINT '10. BANG CARD'
EXEC('
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME = ''CARD_'+@TODATE+''')
	DROP TABLE [CARD_'+@TODATE+']
	')

EXEC('
	CREATE TABLE [CARD_'+@TODATE+'](
		[BUSINESS_DATE] [date] NULL,
		[ACNT_CONTRACT_ID] [numeric](18, 0) NOT NULL,
		[ACNT_CONTRACT_OID] [numeric](18, 0) NULL,
		[CONTRACT_AMND_DATE] [datetime] NULL,
		[CARD_AMND_DATE] [datetime] NULL,
		[COMPANY] [varchar](64) NULL,
		[PRODUCT_GROUP] [varchar](128) NULL,
		[CONTRACT_DATE_OPEN] [date] NULL,
		[CONTRACT_TYPE] [varchar](128) NULL,
		[CONTRACT_STATUS] [varchar](64) NULL,
		[ACCOUNT_LIMIT] [numeric](23, 5) NULL,
		[CONTRACT_NUMBER] [varchar](32) NULL,
		[CARD_NUMBER] [varchar](32) NULL,
		[CARD_STATUS] [varchar](64) NULL,
		[CARD_LIMIT] [numeric](23, 5) NULL,
		[CARD_DATE_OPEN] [date] NULL,
		[ORG_DATE_EXPIRE] [varchar](6) NULL,
		[ACTUAL_DATE_EXPIRE] [date] NULL,
		[CARD_TYPE] [varchar](128) NULL,
		[ISSUED_TYPE] [varchar](128) NULL,
		[PRODUCTION_STATUS] [varchar](64) NULL,
		[SOURCE_ID] [varchar](128) NULL,
		[SOURCE_INFO] [varchar](128) NULL,
		[T24_ACCT_NO] [varchar](32) NULL,
		[UNLOCK_DATE] [date] NULL,
		[BAD_DEBT_DATE] [date] NULL,
		[CERT_ID] [varchar](32) NULL,
		[T24_MAIN_AC] [varchar](60) NULL,
		[T24_AC_LIST] [varchar](60) NULL,
		[T24_DAO] [varchar](60) NULL,
		[BALANCE] [float] NULL,
		[T24_CIF] [varchar](60) NULL,
		[CUSTOMER_NAME] [varchar](150) NULL,
		[BALANCE_BK] [float] NULL,
		[BI_PRODUCT_TYPE] [varchar](50) NULL,
		[BI_PRODUCT_GROUP] [varchar](50) NULL,
		[DIVISION] [varchar](50) NULL,
		[BI_CHANNEL] [varchar](20) NULL,
		LOS_CHANNEL VARCHAR(20) NULL,
		[OVD] [numeric](23, 5) NULL,
		[OVD30] [numeric](23, 5) NULL,
		[OVD60] [numeric](23, 5) NULL,
		[OVD90] [numeric](23, 5) NULL,
		[OVD_DAYS] [int] NULL,
		[OVD_LEVEL] [varchar](20) NULL,
		[BADDEBT_DATE] [date] NULL,
		[OVD_DATE] [date] NULL,
		[CONTRACT_CIF] [varchar](12) NULL,
		[SALE_CODE] [varchar](10) NULL,
		[BI_SOURCE_CODE] [varchar](100) NULL,
		[APP_ID_C] [nvarchar](50) NULL,
		[CAMPAIGN] [varchar](20) NULL,
		[BI_SEGMENT] [varchar](5) NULL,
		[PRINCIPAL] [numeric](18, 0) NULL,
		[INTEREST] [numeric](18, 0) NULL,
		[FEE] [numeric](18, 0) NULL,
		[CREDIT_TYPE] [varchar](20) NULL,
		[BI_CARD_TYPE] [varchar](200) NULL,
		[DEBT_GROUP] [varchar](5) NULL,
		AUTO_LOS INT NULL,
		PA_LEAD INT NULL, 
	CONSTRAINT [PK_CARD_'+@TODATE+'] PRIMARY KEY CLUSTERED 	([ACNT_CONTRACT_ID] ASC)	
	)
')

EXEC('
INSERT INTO CARD_'+@TODATE+'
SELECT 
	[BUSINESS_DATE],[ACNT_CONTRACT_ID],[ACNT_CONTRACT_OID],[CONTRACT_AMND_DATE],[CARD_AMND_DATE],[COMPANY],[PRODUCT_GROUP],[CONTRACT_DATE_OPEN]
      ,[CONTRACT_TYPE],[CONTRACT_STATUS],[ACCOUNT_LIMIT],[CONTRACT_NUMBER],[CARD_NUMBER],[CARD_STATUS],[CARD_LIMIT],[CARD_DATE_OPEN],[ORG_DATE_EXPIRE]
      ,[ACTUAL_DATE_EXPIRE],[CARD_TYPE],[ISSUED_TYPE],[PRODUCTION_STATUS],[SOURCE_ID],[SOURCE_INFO],[T24_ACCT_NO],[UNLOCK_DATE],[BAD_DEBT_DATE]
      ,[CERT_ID],[T24_MAIN_AC],[T24_AC_LIST],[T24_DAO],[BALANCE],[T24_CIF],[CUSTOMER_NAME] ,[BALANCE_BK],[BI_PRODUCT_TYPE],[BI_PRODUCT_GROUP]
      ,[DIVISION],[BI_CHANNEL],NULL, [OVD],[OVD30],[OVD60],[OVD90],[OVD_DAYS],[OVD_LEVEL] ,[BADDEBT_DATE],[OVD_DATE],[CONTRACT_CIF],[SALE_CODE],[BI_SOURCE_CODE]
      ,[APP_ID_C],[CAMPAIGN],[BI_SEGMENT],[PRINCIPAL],[INTEREST],[FEE],[CREDIT_TYPE], null , null, null , NULL
    FROM DATA.DBO.CARD_LIVE
        WHERE (BI_CHANNEL <> ''OTHER'' OR CARD_TYPE LIKE ''%SME%'' OR CARD_TYPE LIKE ''%CORPORATE%'' OR COMPANY = ''VN0010348'')
            AND BI_PRODUCT_GROUP = ''01.CREDIT CARD''
 ')

print 'update bi card type' 
EXEC('
---- UPDATE LAI BI_CARD_TYPE VOI BANG CHOT THANG TRUOC (TRANGTQ2 - 20180416)
	UPDATE A
	SET A.BI_CARD_TYPE = B.BI_CARD_TYPE
	FROM CARD_'+@TODATE+' A
		INNER JOIN DBS_MONTHLY.DBO.CARD_HIS_'+@LASTMONTH+' B
			ON A.ACNT_CONTRACT_ID = B.ACNT_CONTRACT_ID
	where B.bi_card_type in (''ONLINE CARD'', ''TIMO CARD'', ''DIGITAL CARD'')

	
	SELECT SZDISPLAYAPPLICATIONNO 
	into #temp 
	FROM DATA.dbo.LOS_INFORMATION B
	WHERE B.BI_CHANNEL = ''DBS''
		AND B.PRODUCT_GROUP_NAME LIKE ''%CREDIT%CARD%''
		AND PROMOTION_CODE LIKE ''VP%STAFF''

	UPDATE A 
    SET BI_CARD_TYPE = CASE WHEN COMPANY LIKE ''%VN0010348%'' THEN ''TIMO CARD'' 
							WHEN COMPANY LIKE ''%VN0010005%'' THEN ''DIGITAL CARD''
                            WHEN (((SOURCE_INFO LIKE ''%SOR13%'' 
										OR SOURCE_INFO LIKE ''%SOR14%''
										OR SOURCE_INFO LIKE ''%CCTDD%''
										OR SOURCE_INFO LIKE ''%CCCSD%''
										OR SOURCE_INFO LIKE ''%CCSED%''
										OR SOURCE_INFO LIKE ''%CCPLD%''
										OR SOURCE_INFO LIKE ''%CCPRD%''
										OR SOURCE_INFO LIKE ''%CCTD10D%''
										OR SOURCE_INFO LIKE ''%CCCS10D%''
										OR SOURCE_INFO LIKE ''%CCSE10D%''
										OR SOURCE_INFO LIKE ''%CCPL10D%''
										OR SOURCE_INFO LIKE ''%CCPR10D%''
										OR SOURCE_INFO LIKE ''%CCCSUTD%''
										OR SOURCE_INFO LIKE ''%CCTDUTD%'')
									OR EXISTS (SELECT SZDISPLAYAPPLICATIONNO FROM #temp b where A.APP_ID_C = B.[SZDISPLAYAPPLICATIONNO]))
								AND (SOURCE_INFO NOT LIKE ''%SOR13PE%'' 
									AND SOURCE_INFO NOT LIKE ''%SOR14PE%'' 
									AND SOURCE_INFO NOT LIKE ''%SOR15PE%'')) THEN ''ONLINE CARD''                                                
                            WHEN ((BI_CHANNEL <> ''OTHER'') AND LEFT(CARD_NUMBER,6) IN (''520399'',''523975'',''524394'',''518966'')) THEN ''RETAIL CARD''
                        ELSE ''OTHERS'' END
        FROM CARD_'+@TODATE+' A
		WHERE BI_CARD_TYPE IS NULL 
	')
EXEC('
--UPDATE DIGITAL CARD - OFFLINE (ANHNT67 BO SUNG 20180209 - TRANG SUA LAI DIEU KIEN UPDATE 20180417 - UPDATE LAI 20180713)
 
	UPDATE A 
    SET BI_CARD_TYPE = ''DIGITAL CARD''
	FROM CARD_'+@TODATE+' A
		inner join
			(SELECT DISTINCT ACNT_CONTRACT_ID
			FROM data.DBO.DIGITAL_CARD_LEADS_RECHECK
			WHERE CARD_TYPE NOT LIKE ''%SME%''
				AND CARD_TYPE NOT LIKE ''%CORPORATE%''
				AND DF = ''DF-OFFLINE'' 
				AND CARD_DATE_OPEN BETWEEN '''+@FROMDATE+''' AND '''+@TODATE+'''
			) B on A.ACNT_CONTRACT_ID = B.ACNT_CONTRACT_ID
	WHERE BI_PRODUCT_GROUP = ''01.CREDIT CARD''
		AND BI_CARD_TYPE = ''RETAIL CARD''

/*
	update A 
	SET BI_CARD_TYPE = ''ONLINE CARD''
	FROM CARD_'+@TODATE+' A 
	WHERE EXISTS (SELECT 1
				FROM TRANGTQ2.DBS_ADHOC.DBO.CROSSCHECK_CC_20180626  B 
				WHERE FLAG = 1 
				AND BI_CARD_TYPE <> ''ONLINE CARD''
				AND A.ACNT_CONTRACT_ID = B.ACNT_CONTRACT_ID ) 
*/
')

-------------UPDATE DIGITAL CARD BY DF MOBILE APP ----ANHNT67 20190301 

EXEC('
	UPDATE A 
	SET A.LOS_CHANNEL = B.BI_CHANNEL 	
	FROM CARD_'+@TODATE+' a 
		inner JOIN DATA.DBO.LOS_INFORMATION B  ON A.APP_ID_C = B.SZDISPLAYAPPLICATIONNO
	WHERE CONVERT(VARCHAR,CARD_DATE_OPEN,112) <= '''+@TODATE+'''	
	') 

EXEC('
	UPDATE A 
	SET A.BI_CARD_TYPE = ''DIGITAL CARD'' 
	FROM CARD_'+@TODATE+' a 
	WHERE A.COMPANY NOT LIKE ''%VN0010005%''
		AND A.LOS_CHANNEL = ''DIGITAL''
		AND CARD_DATE_OPEN <= '''+@TODATE+'''	
		AND CARD_DATE_OPEN >= ''20190101''
	') 

----UPDATE NGOAI LE 70 THE PRE-EMBOSSED CUA RETAIL - ANHNT67 - 20190312
EXEC('
	UPDATE A 
	SET BI_CARD_TYPE = ''RETAIL CARD'' 
	FROM CARD_'+@TODATE+' A 
	WHERE EXISTS (SELECT 1 FROM DBS_REF.DBO.RETAIL_PREEMBOSSED_CARD_BACKDATE B 
				WHERE A.ACNT_CONTRACT_ID = B.ACNT_CONTRACT_ID) 

') 
------UPDATE DEBT GROUP
EXEC('
print ''update DEBT GROUP'' 
	UPDATE CARD_'+@TODATE+'
	SET DEBT_GROUP = (CASE WHEN ISNULL(OVD_DAYS,0)<=10 THEN ''B1''
						WHEN ISNULL(OVD_DAYS,0)>10 AND OVD_DAYS<=90 THEN ''B2''
						WHEN ISNULL(OVD_DAYS,0)>90 AND OVD_DAYS<=180 THEN ''B3''
						WHEN ISNULL(OVD_DAYS,0)>180 AND OVD_DAYS<=360 THEN ''B4''
						WHEN ISNULL(OVD_DAYS,0)>360 THEN ''B5'' 
					END)

')

EXEC('
ALTER TABLE CARD_'+@TODATE+'
       ADD PROMOTION_CODE VARCHAR(50)
	')

EXEC('
	UPDATE CARD_'+@TODATE+'
    SET PROMOTION_CODE = CASE WHEN SOURCE_INFO LIKE ''%CCCSUTD%'' THEN ''CCCSUTD''					----Update thêm
							WHEN SOURCE_INFO LIKE ''%CCTDUTD%'' THEN ''CCTDUTD''					----Update thêm
							WHEN SOURCE_INFO LIKE ''%TIMO1%'' THEN ''TIMO1''						----Lấy thêm từ code cũ
							WHEN SOURCE_INFO LIKE ''%XSTEPUP%'' THEN ''XSTEPUP''
							WHEN SOURCE_INFO LIKE ''%XPAYROLL%'' THEN ''XPAYROLL''
							WHEN SOURCE_INFO LIKE ''%XLADY%'' THEN ''XLADY''
							WHEN SOURCE_INFO LIKE ''%X1VTPE%'' THEN ''X1VTPE''
							WHEN SOURCE_INFO LIKE ''%X1VT%'' THEN ''X1VT''	
							WHEN SOURCE_INFO LIKE ''%X1VP%'' THEN ''X1VP''
							WHEN SOURCE_INFO LIKE ''%X1VLPE%'' THEN ''X1VLPE''
							WHEN SOURCE_INFO LIKE ''%X1VL%'' THEN ''X1VL''
							WHEN SOURCE_INFO LIKE ''%X1VCPE%'' THEN ''X1VCPE''
							WHEN SOURCE_INFO LIKE ''%X1VC%'' THEN ''X1VC''
							WHEN SOURCE_INFO LIKE ''%X1CT%'' THEN ''X1CT''
							WHEN SOURCE_INFO LIKE ''%X1CR%'' THEN ''X1CR''
							WHEN SOURCE_INFO LIKE ''%X1CL%'' THEN ''X1CL''
							WHEN SOURCE_INFO LIKE ''%X1CC%'' THEN ''X1CC''
							WHEN SOURCE_INFO LIKE ''%X_STEPUP%'' THEN ''X_STEPUP''
							WHEN SOURCE_INFO LIKE ''%X_PAYROLL%'' THEN ''X_PAYROLL''
							WHEN SOURCE_INFO LIKE ''%VPBank_Gold_Club%'' THEN ''VPBank_Gold_Club''
							WHEN SOURCE_INFO LIKE ''%VPB_Gold_Club%'' THEN ''VPB_Gold_Club''
							WHEN SOURCE_INFO LIKE ''%VP_Staff%'' THEN ''VP_Staff''
							WHEN SOURCE_INFO LIKE ''%STEPUP_STAFF%'' THEN ''STEPUP_STAFF''
							WHEN SOURCE_INFO LIKE ''%SOR9%'' THEN ''SOR9''
							WHEN SOURCE_INFO LIKE ''%SOR8%'' THEN ''SOR8''
							WHEN SOURCE_INFO LIKE ''%SOR7%'' THEN ''SOR7''
							WHEN SOURCE_INFO LIKE ''%SOR3%'' THEN ''SOR3''
							WHEN SOURCE_INFO LIKE ''%SOR20%'' THEN ''SOR20''
							WHEN SOURCE_INFO LIKE ''%SOR2%'' THEN ''SOR2''
							WHEN SOURCE_INFO LIKE ''%SOR18%'' THEN ''SOR18''
							WHEN SOURCE_INFO LIKE ''%SOR14%'' THEN ''SOR14''
							WHEN SOURCE_INFO LIKE ''%SOR13%'' THEN ''SOR13''
							WHEN SOURCE_INFO LIKE ''%SOR12%'' THEN ''SOR12''
							WHEN SOURCE_INFO LIKE ''%SOR11%'' THEN ''SOR11''
							WHEN SOURCE_INFO LIKE ''%SOR10%'' THEN ''SOR10''
							WHEN SOURCE_INFO LIKE ''%LADY_VPB%'' THEN ''LADY_VPB''
							WHEN SOURCE_INFO LIKE ''%ROSS_SELL%'' THEN ''ROSS_SELL''
							WHEN SOURCE_INFO LIKE ''%CROSS SELL%'' THEN ''CROSS''
							WHEN SOURCE_INFO LIKE ''%COCB11%'' THEN ''COCB11''
							WHEN SOURCE_INFO LIKE ''%COCA24%'' THEN ''COCA24''
							WHEN SOURCE_INFO LIKE ''%COCA18%'' THEN ''COCA18''
							WHEN SOURCE_INFO LIKE ''%COCB24%'' THEN ''COCB24''
							WHEN SOURCE_INFO LIKE ''%AC CROSS SELL%'' THEN ''AC CROSS SELL''
							WHEN SOURCE_INFO LIKE ''%AC VP STAFF%'' THEN ''AC VP STAFF''
							WHEN SOURCE_INFO LIKE ''%VP STAFF%%'' THEN ''VP STAFF''
							WHEN SOURCE_INFO LIKE ''%AC X STEPUP%'' THEN ''AC X STEPUP''
							WHEN SOURCE_INFO LIKE ''%AC STEPUP STAFF%'' THEN ''AC STEPUP STAFF''
							WHEN SOURCE_INFO LIKE ''%X STEPUP%'' THEN ''X STEPUP''
							WHEN SOURCE_INFO LIKE ''%STEPUP STAFF%'' THEN ''STEPUP STAFF''
							WHEN SOURCE_INFO LIKE ''%LADY VPB%'' THEN ''LADY VPB''
							WHEN SOURCE_INFO LIKE ''%AC LADY VPB%'' THEN ''AC LADY VPB''
							WHEN SOURCE_INFO LIKE ''%GOLD CLUB%'' THEN ''GOLD CLUB''
							WHEN SOURCE_INFO LIKE ''%GoldClub%'' THEN ''GoldClub''
							WHEN SOURCE_INFO LIKE ''%SUPP%'' THEN ''SUPP''
							WHEN SOURCE_INFO LIKE ''%AC VPB%'' THEN ''AC VPB''
							WHEN SOURCE_INFO LIKE ''%VPB%'' AND SOURCE_INFO NOT LIKE ''%VPB.SERVICE%'' THEN ''VPB''
							WHEN SOURCE_INFO LIKE ''%AC STEPUP VPB%'' THEN ''AC STEPUP VPB''
							WHEN SOURCE_INFO LIKE ''%STEPUP VPB%'' THEN ''STEPUP VPB''
							WHEN SOURCE_INFO LIKE ''%VPB GOLD CLUB%'' THEN ''VPB GOLD CLUB''
							WHEN SOURCE_INFO LIKE ''%VPBANK GOLD CLUB%'' THEN ''VPBANK GOLD CLUB''
							WHEN SOURCE_INFO LIKE ''%XSTEPUP%'' THEN ''XSTEPUP''
							WHEN SOURCE_INFO LIKE ''%UTCASA%'' THEN ''UTCASA''
							WHEN SOURCE_INFO LIKE ''%UTTD%'' THEN ''UTTD''
							WHEN SOURCE_INFO LIKE ''%UTVNA%'' THEN ''UTVNA''
							WHEN SOURCE_INFO LIKE ''%UTUT%'' THEN ''UTUT''
							WHEN SOURCE_INFO LIKE ''%UTPR%'' THEN ''UTPR''
							WHEN SOURCE_INFO LIKE ''%UTCASA_CC%'' THEN ''UTCASA_CC''
							WHEN SOURCE_INFO LIKE ''%UTTD_CC%'' THEN ''UTTD_CC''
							WHEN SOURCE_INFO LIKE ''%UTVNA_CC%'' THEN ''UTVNA_CC''
							WHEN SOURCE_INFO LIKE ''%UTUT_CC%'' THEN ''UTUT_CC''
							WHEN SOURCE_INFO LIKE ''%UTPR_CC%'' THEN ''UTPR_CC''
							WHEN SOURCE_INFO LIKE ''%X1VCPE%'' THEN ''X1VCPE''
							WHEN SOURCE_INFO LIKE ''%X1VLPE%'' THEN ''X1VLPE''
							WHEN SOURCE_INFO LIKE ''%X1VTPE%'' THEN ''X1VTPE''
							WHEN SOURCE_INFO LIKE ''%SOR8PE%'' THEN ''SOR8PE''
							WHEN SOURCE_INFO LIKE ''%SOR9PE%'' THEN ''SOR9PE''
							WHEN SOURCE_INFO LIKE ''%SOR10PE%'' THEN ''SOR10PE''
							WHEN SOURCE_INFO LIKE ''%SOR2PE%'' THEN ''SOR2PE''
							WHEN SOURCE_INFO LIKE ''%SOR13PE%'' THEN ''SOR13PE''
							WHEN SOURCE_INFO LIKE ''%SOR14PE%'' THEN ''SOR14PE''
							WHEN SOURCE_INFO LIKE ''%UTCASAPE%'' THEN ''UTCASAPE''
							WHEN SOURCE_INFO LIKE ''%UTPRPE%'' THEN ''UTPRPE''
							WHEN SOURCE_INFO LIKE ''%UTTDPE%'' THEN ''UTTDPE''
							WHEN SOURCE_INFO LIKE ''%SOR11PE%'' THEN ''SOR11PE''
							WHEN SOURCE_INFO LIKE ''%SOR12PE%'' THEN ''SOR12PE''
							WHEN SOURCE_INFO LIKE ''%HOPNHATCC%'' THEN ''HOPNHATCC''
							WHEN SOURCE_INFO LIKE ''%HOPNHAT_CC%'' THEN ''HOPNHAT_CC''
							WHEN SOURCE_INFO LIKE ''%CCTD%'' THEN ''CCTD''
							WHEN SOURCE_INFO LIKE ''%CCCS%'' THEN ''CCCS''
							WHEN SOURCE_INFO LIKE ''%CCSE%'' THEN ''CCSE''
							WHEN SOURCE_INFO LIKE ''%CCPL%'' THEN ''CCPL''
							WHEN SOURCE_INFO LIKE ''%CCPR%'' THEN ''CCPR''
							WHEN SOURCE_INFO LIKE ''%CCTDD%'' THEN ''CCTDD''
							WHEN SOURCE_INFO LIKE ''%CCCSD%'' THEN ''CCCSD''
							WHEN SOURCE_INFO LIKE ''%CCSED%'' THEN ''CCSED''
							WHEN SOURCE_INFO LIKE ''%CCPLD%'' THEN ''CCPLD''
							WHEN SOURCE_INFO LIKE ''%CCPRD%'' THEN ''CCPRD''
							WHEN SOURCE_INFO LIKE ''%CCTD10%'' THEN ''CCTD10''
							WHEN SOURCE_INFO LIKE ''%CCCS10%'' THEN ''CCCS10''
							WHEN SOURCE_INFO LIKE ''%CCSE10%'' THEN ''CCSE10''
							WHEN SOURCE_INFO LIKE ''%CCPL10%'' THEN ''CCPL10''
							WHEN SOURCE_INFO LIKE ''%CCPR10%'' THEN ''CCPR10''
							WHEN SOURCE_INFO LIKE ''%CCTD10D%'' THEN ''CCTD10D''
							WHEN SOURCE_INFO LIKE ''%CCCS10D%'' THEN ''CCCS10D''
							WHEN SOURCE_INFO LIKE ''%CCSE10D%'' THEN ''CCSE10D''
							WHEN SOURCE_INFO LIKE ''%CCPL10D%'' THEN ''CCPL10D''
							WHEN SOURCE_INFO LIKE ''%CCPR10D%'' THEN ''CCPR10D''
							WHEN SOURCE_INFO LIKE ''%CCCSUT%'' THEN ''CCCSUT''
							WHEN SOURCE_INFO LIKE ''%CCTDUT%'' THEN ''CCTDUT''
							WHEN SOURCE_INFO LIKE ''%CCTDPE%'' THEN ''CCTDPE''
							WHEN SOURCE_INFO LIKE ''%CCCSPE%'' THEN ''CCCSPE''
							WHEN SOURCE_INFO LIKE ''%CCSEPE%'' THEN ''CCSEPE''
							WHEN SOURCE_INFO LIKE ''%CCPLPE%'' THEN ''CCPLPE''
							WHEN SOURCE_INFO LIKE ''%CCPRPE%'' THEN ''CCPRPE''
							WHEN SOURCE_INFO LIKE ''%CCTD10PE%'' THEN ''CCTD10PE''
							WHEN SOURCE_INFO LIKE ''%CCCS10PE%'' THEN ''CCCS10PE''
							WHEN SOURCE_INFO LIKE ''%CCSE10PE%'' THEN ''CCSE10PE''
							WHEN SOURCE_INFO LIKE ''%CCPL10PE%'' THEN ''CCPL10PE''
							WHEN SOURCE_INFO LIKE ''%CCPR10PE%'' THEN ''CCPR10PE''
							WHEN SOURCE_INFO LIKE ''%CCCSUTPE%'' THEN ''CCCSUTPE''
							WHEN SOURCE_INFO LIKE ''%CCTDUTPE%'' THEN ''CCTDUTPE''
							WHEN SOURCE_INFO LIKE ''%AFPreferred%'' THEN ''AFPreferred''
							WHEN SOURCE_INFO LIKE ''%AFPrivate%'' THEN ''AFPrivate''
							WHEN SOURCE_INFO LIKE ''%AFSpecial%'' THEN ''AFSpecial''
							WHEN SOURCE_INFO LIKE ''%AFVNA%'' THEN ''AFVNA''
							WHEN SOURCE_INFO LIKE ''%VPSTAFF%'' THEN ''VPSTAFF''
							WHEN SOURCE_INFO LIKE ''%VP_Staff_AUTO%'' THEN ''VP_Staff_AUTO''
							WHEN SOURCE_INFO LIKE ''%AFPreferredM0%'' THEN ''AFPreferredM0''
							WHEN SOURCE_INFO LIKE ''%AFPreferredM3%'' THEN ''AFPreferredM3''
							WHEN SOURCE_INFO LIKE ''%AFPrivateM0%'' THEN ''AFPrivateM0''
							WHEN SOURCE_INFO LIKE ''%AFPrivateM3%'' THEN ''AFPrivateM3''
							WHEN SOURCE_INFO LIKE ''%VPB OUT%'' THEN ''VPB OUT''
							WHEN SOURCE_INFO LIKE ''%DEAURA%'' THEN ''DEAURA''
							WHEN SOURCE_INFO LIKE ''%DEAURA_CC%'' THEN ''DEAURA_CC''
						ELSE NULL END
	') 
----------ADD AUTO_LOS 

exec('
	UPDATE a 
	SET AUTO_LOS = 1
	FROM CARD_'+@TODATE+' A
	WHERE EXISTS (SELECT [SZDISPLAYAPPLICATIONNO] FROM DATA.dbo.LOS_INFORMATION B
					WHERE B.BI_CHANNEL = ''DBS''
						AND B.PRODUCT_GROUP_NAME LIKE ''%CREDIT%CARD%''
						AND A.APP_ID_C = B.[SZDISPLAYAPPLICATIONNO]
						AND (PROMOTION_CODE IN (''CCCSD'', ''CCSED'', ''CCPRD'', ''CCPLD'', ''CCTDD'', 
												''CCCS10D'', ''CCSE10D'', ''CCPR10D'', ''CCPL10D'', ''CCTD10D'', 
												''CCCSUTD'', ''CCTDUTD'')
								OR PROMOTION_CODE LIKE ''VP%STAFF''))
')

---------------UPDATE PA/NONPA 
PRINT ('UPDATE PA/NONPA ') 
EXEC
('
ALTER TABLE DBS_DAILY.DBO.CARD_'+@TODATE+'
	ADD NTB_ETB VARCHAR(10), PA_NONPA VARCHAR(10)
')

EXEC
('
	UPDATE DBS_DAILY.DBO.CARD_'+@TODATE+'
	SET PA_NONPA = (CASE WHEN (SOURCE_INFO LIKE ''%CCCSUTD%''						----Update thêm
				OR SOURCE_INFO LIKE ''%CCTDUTD%''									----Update thêm
				OR SOURCE_INFO LIKE ''%XSTEPUP%''
				OR SOURCE_INFO LIKE ''%XPAYROLL%''
				OR SOURCE_INFO LIKE ''%XLADY%''
				OR SOURCE_INFO LIKE ''%X1VTPE%''
				OR SOURCE_INFO LIKE ''%X1VT%''		
				OR SOURCE_INFO LIKE ''%X1VP%''
				OR SOURCE_INFO LIKE ''%X1VLPE%''
				OR SOURCE_INFO LIKE ''%X1VL%''
				OR SOURCE_INFO LIKE ''%X1VCPE%''
				OR SOURCE_INFO LIKE ''%X1VC%''
				OR SOURCE_INFO LIKE ''%X1CT%''
				OR SOURCE_INFO LIKE ''%X1CR%''
				OR SOURCE_INFO LIKE ''%X1CL%''
				OR SOURCE_INFO LIKE ''%X1CC%''
				OR SOURCE_INFO LIKE ''%X_STEPUP%''
				OR SOURCE_INFO LIKE ''%X_PAYROLL%''
				OR SOURCE_INFO LIKE ''%VPBank_Gold_Club%''
				OR SOURCE_INFO LIKE ''%VPB_Gold_Club%''
				OR SOURCE_INFO LIKE ''%VP_Staff%''
				OR SOURCE_INFO LIKE ''%STEPUP_STAFF%''
				OR SOURCE_INFO LIKE ''%SOR9%''
				OR SOURCE_INFO LIKE ''%SOR8%''
				OR SOURCE_INFO LIKE ''%SOR7%''
				OR SOURCE_INFO LIKE ''%SOR3%''
				OR SOURCE_INFO LIKE ''%SOR20%''
				OR SOURCE_INFO LIKE ''%SOR2%''
				OR SOURCE_INFO LIKE ''%SOR18%''
				OR SOURCE_INFO LIKE ''%SOR14%''
				OR SOURCE_INFO LIKE ''%SOR13%''
				OR SOURCE_INFO LIKE ''%SOR12%''
				OR SOURCE_INFO LIKE ''%SOR11%''
				OR SOURCE_INFO LIKE ''%SOR10%''
				OR SOURCE_INFO LIKE ''%LADY_VPB%''
				OR SOURCE_INFO LIKE ''%ROSS_SELL%''
				OR SOURCE_INFO LIKE ''%CROSS SELL%''
				OR SOURCE_INFO LIKE ''%COCB11%''
				OR SOURCE_INFO LIKE ''%COCA24%''
				OR SOURCE_INFO LIKE ''%COCA18%''
				OR SOURCE_INFO LIKE ''%COCB24%''
				OR SOURCE_INFO LIKE ''%AC CROSS SELL%''
				OR SOURCE_INFO LIKE ''%AC VP STAFF%''
				OR SOURCE_INFO LIKE ''%VP STAFF%%''
				OR SOURCE_INFO LIKE ''%AC X STEPUP%''
				OR SOURCE_INFO LIKE ''%AC STEPUP STAFF%''
				OR SOURCE_INFO LIKE ''%X STEPUP%''
				OR SOURCE_INFO LIKE ''%STEPUP STAFF%''
				OR SOURCE_INFO LIKE ''%LADY VPB%''
				OR SOURCE_INFO LIKE ''%AC LADY VPB%''
				OR SOURCE_INFO LIKE ''%GOLD CLUB%''
				OR SOURCE_INFO LIKE ''%GoldClub%''
				OR SOURCE_INFO LIKE ''%SUPP%''
				OR SOURCE_INFO LIKE ''%AC VPB%''
				OR (SOURCE_INFO LIKE ''%VPB%'' AND SOURCE_INFO NOT LIKE ''%VPB.SERVICE%'')			--cần review rule chặt hơn
				OR SOURCE_INFO LIKE ''%AC STEPUP VPB%''
				OR SOURCE_INFO LIKE ''%STEPUP VPB%''
				OR SOURCE_INFO LIKE ''%VPB GOLD CLUB%''
				OR SOURCE_INFO LIKE ''%VPBANK GOLD CLUB%''
				OR SOURCE_INFO LIKE ''%XSTEPUP%''
				OR SOURCE_INFO LIKE ''%UTCASA%''
				OR SOURCE_INFO LIKE ''%UTTD%''
				OR SOURCE_INFO LIKE ''%UTVNA%''
				OR SOURCE_INFO LIKE ''%UTUT%''
				OR SOURCE_INFO LIKE ''%UTPR%''
				OR SOURCE_INFO LIKE ''%UTCASA_CC%''
				OR SOURCE_INFO LIKE ''%UTTD_CC%''
				OR SOURCE_INFO LIKE ''%UTVNA_CC%''
				OR SOURCE_INFO LIKE ''%UTUT_CC%''
				OR SOURCE_INFO LIKE ''%UTPR_CC%''
				OR SOURCE_INFO LIKE ''%X1VCPE%''
				OR SOURCE_INFO LIKE ''%X1VLPE%''
				OR SOURCE_INFO LIKE ''%X1VTPE%''
				OR SOURCE_INFO LIKE ''%SOR8PE%''
				OR SOURCE_INFO LIKE ''%SOR9PE%''
				OR SOURCE_INFO LIKE ''%SOR10PE%''
				OR SOURCE_INFO LIKE ''%SOR2PE%''
				OR SOURCE_INFO LIKE ''%SOR13PE%''
				OR SOURCE_INFO LIKE ''%SOR14PE%''
				OR SOURCE_INFO LIKE ''%UTCASAPE%''
				OR SOURCE_INFO LIKE ''%UTPRPE%''
				OR SOURCE_INFO LIKE ''%UTTDPE%''
				OR SOURCE_INFO LIKE ''%SOR11PE%''
				OR SOURCE_INFO LIKE ''%SOR12PE%''
				OR SOURCE_INFO LIKE ''%HOPNHATCC%''
				OR SOURCE_INFO LIKE ''%HOPNHAT_CC%''
				OR SOURCE_INFO LIKE ''%CCTD%''
				OR SOURCE_INFO LIKE ''%CCCS%''
				OR SOURCE_INFO LIKE ''%CCSE%''
				OR SOURCE_INFO LIKE ''%CCPL%''
				OR SOURCE_INFO LIKE ''%CCPR%''
				OR SOURCE_INFO LIKE ''%CCTDD%''
				OR SOURCE_INFO LIKE ''%CCCSD%''
				OR SOURCE_INFO LIKE ''%CCSED%''
				OR SOURCE_INFO LIKE ''%CCPLD%''
				OR SOURCE_INFO LIKE ''%CCPRD%''
				OR SOURCE_INFO LIKE ''%CCTD10%''
				OR SOURCE_INFO LIKE ''%CCCS10%''
				OR SOURCE_INFO LIKE ''%CCSE10%''
				OR SOURCE_INFO LIKE ''%CCPL10%''
				OR SOURCE_INFO LIKE ''%CCPR10%''
				OR SOURCE_INFO LIKE ''%CCTD10D%''
				OR SOURCE_INFO LIKE ''%CCCS10D%''
				OR SOURCE_INFO LIKE ''%CCSE10D%''
				OR SOURCE_INFO LIKE ''%CCPL10D%''
				OR SOURCE_INFO LIKE ''%CCPR10D%''
				OR SOURCE_INFO LIKE ''%CCCSUT%''
				OR SOURCE_INFO LIKE ''%CCTDUT%''
				OR SOURCE_INFO LIKE ''%CCTDPE%''
				OR SOURCE_INFO LIKE ''%CCCSPE%''
				OR SOURCE_INFO LIKE ''%CCSEPE%''
				OR SOURCE_INFO LIKE ''%CCPLPE%''
				OR SOURCE_INFO LIKE ''%CCPRPE%''
				OR SOURCE_INFO LIKE ''%CCTD10PE%''
				OR SOURCE_INFO LIKE ''%CCCS10PE%''
				OR SOURCE_INFO LIKE ''%CCSE10PE%''
				OR SOURCE_INFO LIKE ''%CCPL10PE%''
				OR SOURCE_INFO LIKE ''%CCPR10PE%''
				OR SOURCE_INFO LIKE ''%CCCSUTPE%''
				OR SOURCE_INFO LIKE ''%CCTDUTPE%''
				OR SOURCE_INFO LIKE ''%AFPreferred%''
				OR SOURCE_INFO LIKE ''%AFPrivate%''
				OR SOURCE_INFO LIKE ''%AFSpecial%''
				OR SOURCE_INFO LIKE ''%AFVNA%''
				OR SOURCE_INFO LIKE ''%VPSTAFF%''
				OR SOURCE_INFO LIKE ''%VP_Staff_AUTO%''
				OR SOURCE_INFO LIKE ''%AFPreferredM0%''
				OR SOURCE_INFO LIKE ''%AFPreferredM3%''
				OR SOURCE_INFO LIKE ''%AFPrivateM0%''
				OR SOURCE_INFO LIKE ''%AFPrivateM3%''
				OR SOURCE_INFO LIKE ''%VPB OUT%''
				OR SOURCE_INFO LIKE ''%DEAURA%''
				OR SOURCE_INFO LIKE ''%DEAURA_CC%'') THEN ''PA''
			ELSE ''NON-PA'' END)
		WHERE BI_CARD_TYPE IS NOT NULL
			AND BI_CARD_TYPE <> ''OTHERS''

	UPDATE DBS_DAILY.DBO.CARD_'+@TODATE+'
	SET PA_NONPA = ''PA''
	FROM DBS_DAILY.DBO.CARD_'+@TODATE+' A
	WHERE AUTO_LOS = 1
		AND EXISTS (SELECT SZDISPLAYAPPLICATIONNO 
					FROM DATA.dbo.LOS_INFORMATION B
					WHERE A.APP_ID_C = B.[SZDISPLAYAPPLICATIONNO]
						AND B.BI_CHANNEL = ''DBS''
						AND B.PRODUCT_GROUP_NAME LIKE ''%CREDIT%CARD%''
						AND B.PROMOTION_CODE LIKE ''%VP%STAFF%'')
')


EXEC
('
UPDATE DBS_DAILY.DBO.CARD_'+@TODATE+'
	SET NTB_ETB = (CASE WHEN (PA_NONPA = ''PA''
				OR SOURCE_INFO LIKE ''%X2SXC%''
				OR SOURCE_INFO LIKE ''%X2SX%''
				OR SOURCE_INFO LIKE ''%X2SMC%''
				OR SOURCE_INFO LIKE ''%X2SM%''
				OR SOURCE_INFO LIKE ''%X2SIC%''
				OR SOURCE_INFO LIKE ''%X2SI%''
				OR SOURCE_INFO LIKE ''%X2SGC%''
				OR SOURCE_INFO LIKE ''%X2SG%''
				OR SOURCE_INFO LIKE ''%X2SCC%''
				OR SOURCE_INFO LIKE ''%X2SC%''
				OR SOURCE_INFO LIKE ''%X2SBC%''
				OR SOURCE_INFO LIKE ''%X2SB%''
				OR SOURCE_INFO LIKE ''%X2SAC%''
				OR SOURCE_INFO LIKE ''%X2SA%''
				OR SOURCE_INFO LIKE ''%PAYROLL_E%''
				OR SOURCE_INFO LIKE ''%PAYROLL_D%''
				OR SOURCE_INFO LIKE ''%PAYROLL_C%''
				OR SOURCE_INFO LIKE ''%PAYROLL_B%''
				OR SOURCE_INFO LIKE ''%PAYROLL_A%''
				OR SOURCE_INFO LIKE ''%PAYROLL%''
				OR SOURCE_INFO LIKE ''%COCB20%''
				OR SOURCE_INFO LIKE ''%PAYROLL A%''
				OR SOURCE_INFO LIKE ''%PAYROLL B%''
				OR SOURCE_INFO LIKE ''%PAYROLL C%''
				OR SOURCE_INFO LIKE ''%PAYROLL D%''
				OR SOURCE_INFO LIKE ''%PAYROLL E%''
				OR SOURCE_INFO LIKE ''%HOUSEOWN1%''
				OR SOURCE_INFO LIKE ''%HOUSEOWN2B%''
				OR SOURCE_INFO LIKE ''%HOUSEOWN1CC%''
				OR SOURCE_INFO LIKE ''%HOUSEOWN2BCC%''
				OR SOURCE_INFO LIKE ''%UTDACL%''
				OR SOURCE_INFO LIKE ''%UTDACL_CC%''
				OR SOURCE_INFO LIKE ''%VMG%''
				OR SOURCE_INFO LIKE ''%PayrollE%''
				OR SOURCE_INFO LIKE ''%PayrollD%''
				OR SOURCE_INFO LIKE ''%PayrollB%''
				OR SOURCE_INFO LIKE ''%VMGN%''
				OR SOURCE_INFO LIKE ''%VMGN_CC%''
				OR SOURCE_INFO LIKE ''%AFSVNA%''
				OR SOURCE_INFO LIKE ''%AFSC%'') THEN ''ETB''
			ELSE ''NTB'' END)
		WHERE BI_CARD_TYPE IN (''ONLINE CARD'',''DIGITAL CARD'',''RETAIL CARD'')

	UPDATE DBS_DAILY.DBO.CARD_'+@TODATE+'
	SET NTB_ETB = ''NTB''
		WHERE BI_CARD_TYPE = ''TIMO CARD''
')


EXEC('
	CREATE NONCLUSTERED INDEX [IDX_CARD_ID_'+@TODATE+'] 
		ON CARD_'+@TODATE+' (	[T24_ACCT_NO] ASC,	[CARD_NUMBER] ASC) 

	CREATE NONCLUSTERED INDEX [IDX_CARD_CIF_'+@TODATE+'] 
		ON CARD_'+@TODATE+' (	[T24_CIF]  ASC)

	CREATE NONCLUSTERED INDEX [IDX_CARD_DT_'+@TODATE+'] 
		ON CARD_'+@TODATE+' (CARD_DATE_OPEN ASC)
	') 

/*
EXEC('
	DELETE FROM DATA.DBO.CARD_OK_DEACTIVE WHERE YEARMONTH = CONVERT(VARCHAR(6), '''+@TODATE+''', 112) 

	INSERT INTO DATA.DBO.CARD_OK_DEACTIVE
	SELECT 
		LEFT('''+@TODATE+''', 6),ACNT_CONTRACT_ID,CARD_STATUS,UNLOCK_DATE,PRODUCTION_STATUS
	FROM DBS_DAILY.DBO.CARD_'+@TODATE+'
	WHERE BI_PRODUCT_GROUP = ''01.CREDIT CARD''
		AND CARD_STATUS IN (''Card OK'',''Card De-active'') 
	') 
*/
-------------------------------------------------------------------------------------------------
-- 10. BANG CARD_REJECTED

PRINT '11. BANG CARD_REJECTED'
EXEC('
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME = ''CARD_REJECTED_'+@TODATE+''')
	DROP TABLE [CARD_REJECTED_'+@TODATE+']
	')

EXEC
('
	SELECT 
		'''+@TODATE+''' BUSINESS_DATE,
		SZDOCUMENTNO LEGAL_ID,NULL CUST_ID_N,
		SZDISPLAYAPPLICATIONNO APP_ID_C,PROMOTION_CODE BI_SOURCE,CREATION_DAY CREATION_DATE,
		SUB_PRODUCT BI_PRODUCTNAME,BI_APPSSTATUS,APPROVED_AMOUNT LAA_APP_APPR_AMTFIN_N, 
		APP_REJ_CAN_DAY APP_REJ_DATE,NULL REASON_CODE,rejected_cancel_des REASON_DESCRIPTION,
		NULL REASON_DESCRIPTION_SUB,NULL REASON_DETAIL,NULL BI_SEGMENT,BI_LOGIN_ID BI_BRANCH_ID
	INTO CARD_REJECTED_'+@TODATE+'
	FROM DATA.DBO.LOS_INFORMATION
	WHERE BI_APPSSTATUS = ''REJECTED''
		AND (PROMOTION_CODE LIKE ''%SOR13%''
			OR PROMOTION_CODE LIKE ''%SOR14%'' 
			OR PROMOTION_CODE LIKE ''%SOR15%''
			OR (BI_CHANNEL = ''DBS''
				AND (PROMOTION_CODE LIKE ''%CCTDD%''
					OR PROMOTION_CODE LIKE ''%CCCSD%''
					OR PROMOTION_CODE LIKE ''%CCSED%''
					OR PROMOTION_CODE LIKE ''%CCPLD%''
					OR PROMOTION_CODE LIKE ''%CCPRD%''
					OR PROMOTION_CODE LIKE ''%CCTD10D%''
					OR PROMOTION_CODE LIKE ''%CCCS10D%''
					OR PROMOTION_CODE LIKE ''%CCSE10D%''
					OR PROMOTION_CODE LIKE ''%CCPL10D%''
					OR PROMOTION_CODE LIKE ''%CCPR10D%''
					OR PROMOTION_CODE LIKE ''VP%STAFF''
					OR PROMOTION_CODE LIKE ''%CCCSUTD%''
					OR PROMOTION_CODE LIKE ''%CCTDUTD%''
					)
				)
			OR BI_LOGIN_ID = ''VN0010005''
			OR BI_LOGIN_ID = ''VN0010348'')

ALTER TABLE CARD_REJECTED_'+@TODATE+'
ADD AUTO_LOS INT NULL 
')


EXEC
('
ALTER TABLE CARD_REJECTED_'+@TODATE+'
	ADD CUSTOMER_NAME VARCHAR(1000), T24_CIF VARCHAR(100),BRANCH_NAME VARCHAR(1000), BI_CARD_TYPE VARCHAR(50)
')


EXEC
('
	UPDATE CARD_REJECTED_'+@TODATE+'
      SET CUSTOMER_NAME = B.CUS_NAME,
          T24_CIF = B.RECID
	FROM CARD_REJECTED_'+@TODATE+' A
		inner join (select LEGAL_ID ,CUS_NAME, RECID from CUSTOMER_'+@TODATE+' ) B
                     on A.LEGAL_ID = B.LEGAL_ID
 
	UPDATE A
    SET BRANCH_NAME = B.BRANCH_NAME
	FROM CARD_REJECTED_'+@TODATE+' A
		INNER JOIN DATA.DBO.BRANCH_CODE B ON A.BI_BRANCH_ID = B.BRANCH_ID
 
	UPDATE A
    SET BI_CARD_TYPE = CASE WHEN BI_BRANCH_ID LIKE ''%VN0010348%'' THEN ''TIMO CARD''
                            WHEN (BI_SOURCE LIKE ''%SOR13%'' 
                                    OR BI_SOURCE LIKE ''%SOR14%'' 
                                    OR BI_SOURCE LIKE ''%SOR15%''
                                    OR BI_SOURCE LIKE ''%CCTDD%''
                                    OR BI_SOURCE LIKE ''%CCCSD%''
                                    OR BI_SOURCE LIKE ''%CCSED%''
                                    OR BI_SOURCE LIKE ''%CCPLD%''
                                    OR BI_SOURCE LIKE ''%CCPRD%''
                                    OR BI_SOURCE LIKE ''%CCTD10D%''
                                    OR BI_SOURCE LIKE ''%CCCS10D%''
                                    OR BI_SOURCE LIKE ''%CCSE10D%''
                                    OR BI_SOURCE LIKE ''%CCPL10D%''
                                    OR BI_SOURCE LIKE ''%CCPR10D%''
									OR BI_SOURCE LIKE ''%CCCSUTD%''
                                    OR BI_SOURCE LIKE ''%CCTDUTD%''
									OR EXISTS (SELECT SZDISPLAYAPPLICATIONNO FROM DATA.dbo.LOS_INFORMATION B
													WHERE B.BI_CHANNEL = ''DBS''
														AND B.PRODUCT_GROUP_NAME LIKE ''%CREDIT%CARD%''
														AND A.APP_ID_C = B.[SZDISPLAYAPPLICATIONNO]
														AND PROMOTION_CODE LIKE ''VP%STAFF''
												)
									) 
									THEN ''ONLINE CARD''
                            WHEN BI_BRANCH_ID LIKE ''%VN0010005%'' THEN ''DIGITAL CARD''
                        ELSE ''OTHERS'' END
	FROM CARD_REJECTED_'+@TODATE+' A               
')
 
EXEC('
	ALTER INDEX PK_CARD_'+@TODATE+' ON CARD_'+@TODATE+' REBUILD
	')
print 'update auto los' 

exec('
UPDATE a 
	SET AUTO_LOS = CASE WHEN EXISTS (SELECT [SZDISPLAYAPPLICATIONNO] FROM DATA.dbo.LOS_INFORMATION B
									WHERE B.BI_CHANNEL = ''DBS''
											AND B.PRODUCT_GROUP_NAME LIKE ''%CREDIT%CARD%''
											AND A.APP_ID_C = B.[SZDISPLAYAPPLICATIONNO]
											AND (PROMOTION_CODE IN (''CCCSD'', ''CCSED'', ''CCPRD'', ''CCPLD'', ''CCTDD'', 
																	''CCCS10D'', ''CCSE10D'', ''CCPR10D'', ''CCPL10D'', ''CCTD10D'',
																	''CCCSUTD'', ''CCTDUTD'')
													OR PROMOTION_CODE LIKE ''VP%STAFF'')
									)	THEN 1
					ELSE NULL	END
		FROM DBS_dAILY.DBO.CARD_REJECTED_'+@todate+' A
	')

-- 10. BANG CARD VPBPLUS 

PRINT '10. BANG CARD'
EXEC('
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME = ''CARD_VPBPLUS_'+@TODATE+''')
	DROP TABLE [CARD_VPBPLUS_'+@TODATE+']
	')

EXEC('
	CREATE TABLE [CARD_VPBPLUS_'+@TODATE+'](
		[BUSINESS_DATE] [date] NULL,
		[ACNT_CONTRACT_ID] [numeric](18, 0) NOT NULL,
		[ACNT_CONTRACT_OID] [numeric](18, 0) NULL,
		[CONTRACT_AMND_DATE] [datetime] NULL,
		[CARD_AMND_DATE] [datetime] NULL,
		[COMPANY] [varchar](64) NULL,
		[PRODUCT_GROUP] [varchar](128) NULL,
		[CONTRACT_DATE_OPEN] [date] NULL,
		[CONTRACT_TYPE] [varchar](128) NULL,
		[CONTRACT_STATUS] [varchar](64) NULL,
		[ACCOUNT_LIMIT] [numeric](23, 5) NULL,
		[CONTRACT_NUMBER] [varchar](32) NULL,
		[CARD_NUMBER] [varchar](32) NULL,
		[CARD_STATUS] [varchar](64) NULL,
		[CARD_LIMIT] [numeric](23, 5) NULL,
		[CARD_DATE_OPEN] [date] NULL,
		[ORG_DATE_EXPIRE] [varchar](6) NULL,
		[ACTUAL_DATE_EXPIRE] [date] NULL,
		[CARD_TYPE] [varchar](128) NULL,
		[ISSUED_TYPE] [varchar](128) NULL,
		[PRODUCTION_STATUS] [varchar](64) NULL,
		[SOURCE_ID] [varchar](128) NULL,
		[SOURCE_INFO] [varchar](128) NULL,
		[T24_ACCT_NO] [varchar](32) NULL,
		[UNLOCK_DATE] [date] NULL,
		[BAD_DEBT_DATE] [date] NULL,
		[CERT_ID] [varchar](32) NULL,
		[T24_MAIN_AC] [varchar](60) NULL,
		[T24_AC_LIST] [varchar](60) NULL,
		[T24_DAO] [varchar](60) NULL,
		[BALANCE] [float] NULL,
		[T24_CIF] [varchar](60) NULL,
		[CUSTOMER_NAME] [varchar](150) NULL,
		[BALANCE_BK] [float] NULL,
		[BI_PRODUCT_TYPE] [varchar](50) NULL,
		[BI_PRODUCT_GROUP] [varchar](50) NULL,
		[DIVISION] [varchar](50) NULL,
		[BI_CHANNEL] [varchar](20) NULL,
		[OVD] [numeric](23, 5) NULL,
		[OVD30] [numeric](23, 5) NULL,
		[OVD60] [numeric](23, 5) NULL,
		[OVD90] [numeric](23, 5) NULL,
		[OVD_DAYS] [int] NULL,
		[OVD_LEVEL] [varchar](20) NULL,
		[BADDEBT_DATE] [date] NULL,
		[OVD_DATE] [date] NULL,
		[CONTRACT_CIF] [varchar](12) NULL,
		[SALE_CODE] [varchar](10) NULL,
		[BI_SOURCE_CODE] [varchar](100) NULL,
		[APP_ID_C] [nvarchar](50) NULL,
		[CAMPAIGN] [varchar](20) NULL,
		[BI_SEGMENT] [varchar](5) NULL,
		[PRINCIPAL] [numeric](18, 0) NULL,
		[INTEREST] [numeric](18, 0) NULL,
		[FEE] [numeric](18, 0) NULL,
		[CREDIT_TYPE] [varchar](20) NULL,
		[BI_CARD_TYPE] [varchar](200) NULL,
		[DEBT_GROUP] [varchar](5) NULL,
	CONSTRAINT [PK_CARD_VPBPLUS_'+@TODATE+'] PRIMARY KEY CLUSTERED 	([ACNT_CONTRACT_ID] ASC)	
	)
')

EXEC('
INSERT INTO CARD_VPBPLUS_'+@TODATE+'
SELECT 
	[BUSINESS_DATE],[ACNT_CONTRACT_ID],[ACNT_CONTRACT_OID],[CONTRACT_AMND_DATE],[CARD_AMND_DATE],[COMPANY],[PRODUCT_GROUP],[CONTRACT_DATE_OPEN]
      ,[CONTRACT_TYPE],[CONTRACT_STATUS],[ACCOUNT_LIMIT],[CONTRACT_NUMBER],[CARD_NUMBER],[CARD_STATUS],[CARD_LIMIT],[CARD_DATE_OPEN],[ORG_DATE_EXPIRE]
      ,[ACTUAL_DATE_EXPIRE],[CARD_TYPE],[ISSUED_TYPE],[PRODUCTION_STATUS],[SOURCE_ID],[SOURCE_INFO],[T24_ACCT_NO],[UNLOCK_DATE],[BAD_DEBT_DATE]
      ,[CERT_ID],[T24_MAIN_AC],[T24_AC_LIST],[T24_DAO],[BALANCE],[T24_CIF],[CUSTOMER_NAME] ,[BALANCE_BK],[BI_PRODUCT_TYPE],[BI_PRODUCT_GROUP]
      ,[DIVISION],[BI_CHANNEL],[OVD],[OVD30],[OVD60],[OVD90],[OVD_DAYS],[OVD_LEVEL] ,[BADDEBT_DATE],[OVD_DATE],[CONTRACT_CIF],[SALE_CODE],[BI_SOURCE_CODE]
      ,[APP_ID_C],[CAMPAIGN],[BI_SEGMENT],[PRINCIPAL],[INTEREST],[FEE],[CREDIT_TYPE], null , null 
    FROM DATA.DBO.CARD_LIVE A 
	WHERE card_type like ''vpb plus%''
		AND CARD_DATE_OPEN <= '''+@TODATE+'''
 ')


END 

GO
