USE [DBS_DAILY]
GO
/****** Object:  StoredProcedure [dbo].[PR_DAILY_ETL_09_MOCA_TRANSACTION]    Script Date: 8/6/2019 10:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PR_DAILY_ETL_09_MOCA_TRANSACTION]
AS 

BEGIN
DECLARE @TODATE VARCHAR(8)
DECLARE	@FROMDATE		VARCHAR(8)
DECLARE	@LASTMONTH		VARCHAR(8)

---SET @TODATE = '20170921'
SET @TODATE    = (SELECT RPTDATE FROM DBS_REF.DBO.RPTDATE )
---SET @FROMDATE  = (SELECT CONVERT(VARCHAR(8),MAX(TRANS_DATE),112) FROM DBS_dAILY.DBO.MOCA_TRANSACTION)
SET @FROMDATE  = (SELECT CONVERT(VARCHAR(8),DATEADD(MM,DATEDIFF(MM,0,@TODATE),0),112)) 
SET @LASTMONTH     = CONVERT(VARCHAR(8),DATEADD(MS,-3,DATEADD(MM,0,DATEADD(MM,DATEDIFF(MM,0,@TODATE),0))),112) 

------------------------------------------------------------------------------------------------
-- 00. KIEM TRA XEM DA CO BANG MOCA_TRANSACTION VA MOCA_USERS CHUA

EXEC('
IF EXISTS (SELECT * FROM DBS_dAILY.DBO.SYSOBJECTS WHERE NAME = ''MOCA_TRANSACTION_'+@TODATE+''')
	DROP TABLE [DBS_dAILY].[DBO].[MOCA_TRANSACTION_'+@TODATE+']
	')

EXEC('
IF EXISTS (SELECT * FROM DBS_dAILY.DBO.SYSOBJECTS WHERE NAME = ''MOCA_TRANSACTION'')
	DROP TABLE DBS_dAILY.DBO.MOCA_TRANSACTION
	')

EXEC('
IF EXISTS (SELECT * FROM DBS_dAILY.DBO.SYSOBJECTS WHERE NAME = ''MOCA_USERS_'+@TODATE+''')
	DROP TABLE [DBS_dAILY].[DBO].[MOCA_USERS_'+@TODATE+']
	')


-- 01. LAY BANG CARD_LIVE FULL

exec(' DROP TABLE IF EXISTS ##CARD ') 

EXEC
('	
	SELECT ACNT_CONTRACT_ID,CARD_STATUS,CARD_TYPE,CONTRACT_STATUS,T24_CIF,BI_CHANNEL,BI_SEGMENT
	INTO ##CARD
	FROM [DATA].[DBO].[CARD_LIVE]
	WHERE CARD_DATE_OPEN <= '''+@TODATE+'''	
			--WHERE YEARMONTH = CONVERT(VARCHAR(6),'''+@TODATE+''',112)			
')

---- 02. LAY BANG TBL_W4_DOC_F1 -> NHO THAY TRANS_DATE

/*
SELECT * INTO M108.BICDATA_HIS.DBO.daily_W4_DOC_F1 FROM OPENQUERY(M16,'SELECT * FROM ##TBL_W4_DOC_F1')


EXEC
('
DROP TABLE M108.BICDATA_HIS.DBO.daily_W4_DOC_F1 
SELECT ID,RET_REF_NUMBER,IS_AUTHORIZATION,POSTING_DATE,POSTING_STATUS,MERCHANT_ID,REQUEST_CATEGORY,RETURN_CODE,SERVICE_CLASS,SETTL_AMOUNT,
	   SETTL_CURR,SIC_CODE,SIC_NAME,SOURCE_CHANNEL,TARGET_CHANNEL,TARGET_ID,TARGET_NUMBER,TRANS_AMOUNT,TRANS_CITY,TRANS_CONDITION,TRANS_COUNTRY,
	   TRANS_CURR,TRANS_DATE,TRANS_DETAILS,TRANS_TYPE,SOURCE_CODE,SOURCE_NUMBER
	INTO M108.BICDATA_HIS.DBO.daily_W4_DOC_F1 
FROM m16.VPB_WHR2.DBO.TBL_W4_DOC_F1
	WHERE POSTING_STATUS = 'POSTED'
	AND (SOURCE_CHANNEL = 'OUR POS' or MERCHANT_ID  IN ('000000060155207','000000070111737')) 
	AND ((IS_AUTHORIZATION = 'FIN' 
				AND RETURN_CODE = 'SUCCESSFULLY COMPLETED')
		OR
				(SERVICE_CLASS = 'BALANCE INQUIRY' 
				AND IS_AUTHORIZATION = 'PREAUTH'))
')
*/

-- 03. LAY BANG MOCA TRANSACTION

EXEC('
SELECT * INTO DBS_dAILY.DBO.MOCA_TRANSACTION_'+@TODATE+'
	from DBS_MONTHLY.DBO.MOCA_TRANSACTION_'+@LASTMONTH+'

INSERT INTO DBS_dAILY.DBO.MOCA_TRANSACTION_'+@TODATE+'
SELECT *
	FROM 
	(
	SELECT ''GD TAI CHINH'' APP,A.ID,RET_REF_NUMBER,IS_AUTHORIZATION,POSTING_DATE,POSTING_STATUS,MERCHANT_ID,REQUEST_CATEGORY,RETURN_CODE,
	SERVICE_CLASS,SETTL_AMOUNT,SETTL_CURR,SIC_CODE,SIC_NAME,SOURCE_CHANNEL,TARGET_CHANNEL,TARGET_ID,TARGET_NUMBER,TRANS_AMOUNT,TRANS_CITY,
	TRANS_CONDITION,TRANS_COUNTRY,TRANS_CURR,TRANS_DATE,TRANS_DETAILS,TRANS_TYPE,SOURCE_CODE,CARD_STATUS,CARD_TYPE,CONTRACT_STATUS,T24_CIF,
	BI_CHANNEL,BI_SEGMENT,SOURCE_NUMBER , AMND_date 
		FROM M108.BICDATA_HIS.DBO.daily_W4_DOC_F1 A, ##CARD B
				WHERE A.TARGET_ID = B.ACNT_CONTRACT_ID
					AND IS_AUTHORIZATION = ''FIN'' 
					AND POSTING_STATUS = ''POSTED'' 
					AND RETURN_CODE = ''SUCCESSFULLY COMPLETED''
					AND SOURCE_CHANNEL = ''OUR POS''
					AND exists (select 1 from DBS_REF.dbo.Moca_source_number b where a.source_number = b.source_number )
					AND AMND_DATE >= '''+@FROMDATE+'''
					AND AMND_DATE <= dateadd(d, 1, '''+@TODATE+''')
	UNION ALL
	SELECT 
		''GD PHI TAI CHINH'' APP,A.ID,RET_REF_NUMBER,IS_AUTHORIZATION,POSTING_DATE,POSTING_STATUS,MERCHANT_ID,REQUEST_CATEGORY,RETURN_CODE,
		SERVICE_CLASS,SETTL_AMOUNT,SETTL_CURR,SIC_CODE,SIC_NAME,SOURCE_CHANNEL,TARGET_CHANNEL,TARGET_ID,TARGET_NUMBER,TRANS_AMOUNT,TRANS_CITY,TRANS_CONDITION,TRANS_COUNTRY,
		TRANS_CURR,TRANS_DATE,TRANS_DETAILS,TRANS_TYPE,SOURCE_CODE,CARD_STATUS,CARD_TYPE,CONTRACT_STATUS,T24_CIF,BI_CHANNEL,BI_SEGMENT,SOURCE_NUMBER, AMND_date
	FROM M108.BICDATA_HIS.DBO.daily_W4_DOC_F1 A, ##CARD B
			WHERE A.TARGET_ID = B.ACNT_CONTRACT_ID
				AND SERVICE_CLASS = ''BALANCE INQUIRY''
				AND IS_AUTHORIZATION = ''PREAUTH''
				AND POSTING_STATUS = ''POSTED''				
				AND SOURCE_CHANNEL = ''OUR POS''
				AND exists (select 1 from DBS_REF.dbo.Moca_source_number b where a.source_number = b.source_number )
				AND AMND_DATE >= '''+@FROMDATE+'''
				AND AMND_DATE <= dateadd(d, 1, '''+@TODATE+''')
	
	UNION ALL 
       SELECT 
			''GD THE QUOC TE'' APP,A.ID,RET_REF_NUMBER,IS_AUTHORIZATION,POSTING_DATE,POSTING_STATUS,MERCHANT_ID,REQUEST_CATEGORY,
			RETURN_CODE,SERVICE_CLASS,SETTL_AMOUNT,SETTL_CURR,SIC_CODE,SIC_NAME,SOURCE_CHANNEL,TARGET_CHANNEL,TARGET_ID,TARGET_NUMBER,
			TRANS_AMOUNT,TRANS_CITY,TRANS_CONDITION,TRANS_COUNTRY,TRANS_CURR,TRANS_DATE,TRANS_DETAILS,TRANS_TYPE,SOURCE_CODE,CARD_STATUS,
			CARD_TYPE,CONTRACT_STATUS,T24_CIF,BI_CHANNEL,BI_SEGMENT,SOURCE_NUMBER  , AMND_date     
		FROM M108.BICDATA_HIS.DBO.daily_W4_DOC_F1 A, ##CARD B
		WHERE A.TARGET_ID = B.ACNT_CONTRACT_ID
            AND MERCHANT_ID  IN (''000000060155207'',''000000070111737'')
            AND IS_AUTHORIZATION = ''FIN'' 
            AND POSTING_STATUS = ''POSTED''
            AND RETURN_CODE = ''Successfully completed''
			AND AMND_DATE >= '''+@FROMDATE+'''
			AND AMND_DATE <= dateadd(d, 1, '''+@TODATE+''')
	) A

	')
PRINT 'UPDATE BI_SEGMENT'
EXEC('
	UPDATE a
	SET A.BI_SEGMENT = CASE WHEN B.COMPANY_BOOK  = ''VN0010344'' THEN ''HH'' ELSE ''KHCN'' END	
	FROM [DBS_dAILY].[DBO].[MOCA_TRANSACTION_'+@TODATE+']  A 
		LEFT JOIN [CUSTOMER_'+@TODATE+']  B ON A.T24_CIF = B.RECID 
	WHERE A.BI_SEGMENT = ''RB''
	')

EXEC('
	UPDATE [DBS_dAILY].[DBO].[MOCA_TRANSACTION_'+@TODATE+'] 
	SET BI_SEGMENT = ''SMEs''		
		WHERE BI_SEGMENT = ''SME''
	')

EXEC('
	SELECT APP,ID,RET_REF_NUMBER,IS_AUTHORIZATION,POSTING_DATE,POSTING_STATUS,MERCHANT_ID,REQUEST_CATEGORY,RETURN_CODE,SERVICE_CLASS,SETTL_AMOUNT,SETTL_CURR,
	SIC_CODE,SIC_NAME,SOURCE_CHANNEL,TARGET_CHANNEL,TARGET_ID,TARGET_NUMBER,TRANS_AMOUNT,TRANS_CITY,TRANS_CONDITION,TRANS_COUNTRY,TRANS_CURR,
	CONVERT(DATE, AMND_date) FIRST_TRANS_DATE,TRANS_DETAILS,TRANS_TYPE,SOURCE_CODE,CARD_STATUS,CARD_TYPE,CONTRACT_STATUS,T24_CIF,BI_CHANNEL,BI_SEGMENT,SOURCE_NUMBER 
		INTO DBS_dAILY.DBO.MOCA_USERS_'+@TODATE+'
	FROM (SELECT ROW_NUMBER() OVER (PARTITION BY T24_CIF ORDER BY AMND_date) ROWID,*
				FROM DBS_dAILY.DBO.MOCA_TRANSACTION_'+@TODATE+'
				WHERE CARD_STATUS = ''CARD OK''
				AND CONTRACT_STATUS = ''ACCOUNT OK''
				AND BI_SEGMENT IN (''KHCN'',''SMEs'')
				AND CONVERT(VARCHAR,AMND_DATE,112) <= '''+@TODATE+''') A
	WHERE ROWID = 1 
		AND T24_CIF IS NOT NULL
	')

EXEC('
	CREATE NONCLUSTERED INDEX [IDX_IDCARD_'+@TODATE+'] ON DBS_dAILY.DBO.MOCA_TRANSACTION_'+@TODATE+'
	(TARGET_ID ASC,	[T24_CIF] ASC)

	CREATE NONCLUSTERED INDEX [IDX_TXNDATE_'+@TODATE+'] ON DBS_dAILY.DBO.MOCA_TRANSACTION_'+@TODATE+'
	(AMND_DATE ASC)

') 

drop table ##card 

end 

GO
