USE [DBS_DAILY]
GO
/****** Object:  StoredProcedure [dbo].[PR_DAILY_ETL_12_I2B_TRANS]    Script Date: 8/6/2019 10:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PR_DAILY_ETL_12_I2B_TRANS]
AS 
BEGIN 


DECLARE @TODATE VARCHAR(8)
DECLARE	@FROMDATE		VARCHAR(8)

---SET @TODATE = '20170923' 
SET @TODATE    = (SELECT RPTDATE FROM DBS_REF.DBO.RPTDATE )
----SET @FROMDATE  = CONVERT(VARCHAR(8), DATEADD(D, -15, @TODATE), 112)
SET @FROMDATE = LEFT(@TODATE, 6) + '01'

-------------------------------------- EBANKING TOTAL TRANSACTION -----------------------------------
---- 0. KIEM TRA XEM DA CO BANG EBANKING_TRANSACTION

EXEC('	
	DROP TABLE IF EXISTS DATA.DBO.EBANKING_i2B_TRANSACTION 
	SELECT
		[SOURCE]
      ,[TRANS_TYPE]
      ,[CHANNEL]
      ,[MERCHANT_USED]
      ,[TXN_STATUS]
      ,[BANK_STATUS]
      ,[CUSTOMERID]
      ,[CIF]
      ,[FROM_AC]
      ,[TO_AC]
      ,[SYS_ID]
      ,[TRANS_CODE]
      ,[TXN_AMT]
      ,[TXN_FEE]
      ,[RES_CODE]
      ,[PROCESS_CODE]
      ,[BANK_XID]
      ,[VALUE_DATE]
      ,[FINAL_STATUS]
      ,[RANK_TIME]
      ,[TRANS_TYPE_GROUP]
      ,[INPUT_DATE]
      ,[BI_CHANNEL]
      ,[SEGMENT]
      ,[COMPANY_BOOK]
      ,[TXN_MEMO]
      ,[PROVIDER_CODE]
      ,[SERVICE_CODE] 
	INTO DATA.DBO.EBANKING_i2B_TRANSACTION 
	FROM M108.BICDATA_HIS.DBO.DAILY_EBANKING_i2B_TRANSACTION
	WHERE VALUE_DATE BETWEEN '''+@FROMDATE+''' AND '''+@TODATE+'''
	')


--9. TIẾT KIỆM ONLINE --
PRINT 'TIET KIEM ONLINE'
EXEC('
	INSERT INTO DATA.DBO.EBANKING_i2B_TRANSACTION  
		(SOURCE,TRANS_TYPE_GROUP ,TRANS_TYPE,CHANNEL,MERCHANT_USED,TXN_STATUS,BANK_STATUS,CIF,SYS_ID,
		TRANS_CODE,TXN_AMT,TXN_FEE,RES_CODE,PROCESS_CODE,BANK_XID,VALUE_DATE,BI_CHANNEL,SEGMENT, FINAL_STATUS )
	SELECT 
		''DP_MAST'' SOURCE, ''SAVING ONLINE'', ''SAVING ONLINE'' TRANS_TYPE,''I2B'' CHANNEL,''UNKNOWN'' MERCHANT_USED,
		NULL TXN_STATUS,NULL BANK_STATUS,CIF,ACCTNO,ACCTNO,BAL_QD,0 TXN_FEE,NULL,NULL,NULL,CONVERT(DATE,ISSUE_DATE),
		BI_CHANNEL,BI_SEGMENT , ''SUCCESSFUL''
	FROM DBS_dAILY.DBO.DPTB_MASTER
	where dbs_channel in (''ONLINE RB'',''ONLINE SME'',''TIMO'',''OFFLINE FE'') 
		AND ISSUE_DATE >=  '''+@FROMDATE+''' AND ISSUE_DATE < DATEADD(D,1,'''+@TODATE+''') 
	')

--10. TẤT TOÁN TIẾT KIỆM ONLINE --
PRINT 'TAT TOAN TIET KIEM ONLINE'	
EXEC('
	INSERT INTO DATA.DBO.EBANKING_i2B_TRANSACTION 
		(SOURCE,TRANS_TYPE_GROUP , TRANS_TYPE,CHANNEL,MERCHANT_USED,TXN_STATUS,BANK_STATUS,CIF,SYS_ID,TRANS_CODE,TXN_AMT,TXN_FEE,
		RES_CODE,PROCESS_CODE,BANK_XID,VALUE_DATE,BI_CHANNEL,SEGMENT , FINAL_STATUS )
	SELECT ''DP_MAST'' SOURCE,''CLOSING SAVING ONLINE'', ''CLOSING SAVING ONLINE'' TRANS_TYPE,''I2B'' CHANNEL,''UNKNOWN'' MERCHANT_USED,NULL TXN_STATUS,
		NULL BANK_STATUS,CIF,ACCTNO,ACCTNO,BAL_QD,0 TXN_FEE,NULL,NULL,NULL,CONVERT(DATE,WITHDRAW_DATE),BI_CHANNEL,BI_SEGMENT , ''SUCCESSFUL''
	FROM DBS_dAILY.DBO.DPTB_MASTER
	where dbs_channel in (''ONLINE RB'',''ONLINE SME'',''TIMO'',''OFFLINE FE'') 
			AND WITHDRAW_DATE >=  '''+@FROMDATE+''' AND WITHDRAW_dATE < DATEADD(D,1,'''+@TODATE+''') 
	')


-- 12. MOCA

PRINT 'INSERT MOCA'
EXEC('
	INSERT INTO DATA.DBO.EBANKING_i2B_TRANSACTION 
		(SOURCE,TRANS_TYPE_GROUP ,TRANS_TYPE,CHANNEL,MERCHANT_USED,TXN_STATUS,BANK_STATUS,CIF,SYS_ID,TRANS_CODE,TXN_AMT,TXN_FEE,RES_CODE,PROCESS_CODE,BANK_XID,
		VALUE_DATE,INPUT_DATE,BI_CHANNEL,SEGMENT , FINAL_STATUS   )
	SELECT ''TBL_W4_DOC_F1'' SOURCE,''BILLING'' , ''BILLING'',''MOCA'' [CHANNEL],TRANS_DETAILS MERCHANT_USED,IS_AUTHORIZATION,
			POSTING_STATUS,T24_CIF,ID,RET_REF_NUMBER,SETTL_AMOUNT,0 TXN_FEE,NULL RES_CODE,NULL PROCESS_CODE,RET_REF_NUMBER,
			CONVERT(DATE,AMND_DATE),AMND_DATE,BI_CHANNEL,BI_SEGMENT , ''SUCCESSFUL''
	FROM  DBS_dAILY.DBO.MOCA_TRANSACTION_'+@TODATE+' AS T1
			WHERE T1.AMND_DATE BETWEEN '''+@FROMDATE+''' AND '''+@TODATE+'''
			AND APP = ''GD TAI CHINH''
	')

-------UPDATE BANK_XID CHO BANG OCB TRANSACTION 
EXEC ('
	update a 
	set a.BANK_XID = b.BANK_XID 
	from Data.dbo.ebanking_ocb_Transaction  a 
		left join Data.dbo.EBANKING_i2B_TRANSACTION b 
			on a.trans_code = b.trans_code 
	where a.bank_xid is null 
	') 
END 
GO
