USE [DBS_DAILY]
GO
/****** Object:  StoredProcedure [dbo].[PR_DAILY_ETL_20_I2B_USERS]    Script Date: 8/6/2019 10:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PR_DAILY_ETL_20_I2B_USERS]
AS 

BEGIN 

/*
SELECT MAX(OPEN_DATE) FROM DRAFT.[DBO].[TBL_I2B_USERS_F0] 
SELECT MAX(CREATE_DATE) FROM DATA.DBO.OCB_NEW
SELECT MAX(OPEN_DATE) FROM DATA.DBO.TBL_B2B_USERS
*/

DECLARE @TODATE VARCHAR(8) , @LASTMONTH VARCHAR(8) , @FROMDATE VARCHAR(8)
SET @TODATE    = (SELECT RPTDATE FROM DBS_REF.DBO.RPTDATE )
DECLARE @FROM_DATE VARCHAR(8) = LEFT(@TODATE,6) + '01'
SET @LASTMONTH = ( SELECT CONVERT(VARCHAR(8),DATEADD(MS,-3,DATEADD(MM,0,DATEADD(MM,DATEDIFF(MM,0,''+@TODATE+''),0))),112) )


---set @TODATE = '20170925' 

----========================================================================
----	I> I2B & OCB 
----========================================================================


PRINT 'XOA BANG'	
EXEC('
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME = ''TBL_I2B_USERS_F0_'+@TODATE+''')
	DROP TABLE [TBL_I2B_USERS_F0_'+@TODATE+']
	')

EXEC('
		CREATE TABLE [TBL_I2B_USERS_F0_'+@TODATE+'](
			[ROWID] [bigint] NULL,
			[SYS_ID] [bigint] NOT NULL,
			[T24_CIF] [varchar](50) NOT NULL,
			[USER_NAME] [varchar](50) NOT NULL,
			[USER_LEGAL_ID] [nvarchar](50) NULL,
			[USER_MOBILE] [nvarchar](20) NULL,
			[USER_EMAIL] [nvarchar](150) NULL,
			[LOGIN_COUNT] [bigint] NULL,
			[LAST_LOGIN_TIME] [datetime] NULL,
			[CIF_INTRODUCER] [nvarchar](50) NULL,
			[OPEN_DATE] [datetime] NULL,
			[OPEN_USER] [nvarchar](50) NULL,
			[OPEN_DAO] [nvarchar](50) NULL,
			[OPEN_BRANCH] [nvarchar](50) NULL,
			[AMND_USER] [nvarchar](50) NULL,
			[AMND_DATE] [datetime] NULL,
			[AMND_DAO] [nvarchar](50) NULL,
			[AMND_BRANCH] [nvarchar](50) NULL,
			[AMND_STATE] [nvarchar](1) NULL,
			[DELETE_USER] [varchar](50) NULL,
			[DELETE_DAO] [varchar](50) NULL,
			[DELETE_DATE] [datetime] NULL,
			[AUTHORISE_USER] [varchar](50) NULL,
			[AUTHORISE_DATE] [datetime] NULL,
			[REFUSE_DESCRIPTION] [text] NULL,
			[SOURCE] [varchar](100) NULL,
			[BI_CHANNEL] [varchar](30) NULL,
			[SEGMENT] [varchar](30) NULL,			
			[CUS_NAME] [varchar](500) NULL,
			[OCB_PASSWORD_STT] INT , 
			SERVICE_PACK VARCHAR(10) NULL , 
			SERVICE_PACK_NAME VARCHAR(20) NULL , 
			INPUTTER VARCHAR(50) NULL, 
		 CONSTRAINT [PK_I2B_'+@TODATE+'] PRIMARY KEY CLUSTERED 	([T24_CIF] ASC)	)

') 
------------------------------------------------------------------------------------------------------	
-----------FILTER LASTEST RECORD 
drop table IF EXISTS ##OCB_USER

EXEC('
	SELECt * 
	INTO ##OCB_USER
	FROM 
		(select * , ROW_NUMBER() OVER (PARTITION BY CIF ORDER BY CREATE_DATE DESC, TERMS_ACCEPTED DESC , ACCOUNT_STATUS ASC ) AS ROWID
		from DATA.DBO.OCB_NEW
		) A 
	WHERE ROWID = 1 
') 
-- INSERT OCB TRẠNG THÁI A
EXEC
('
	PRINT N''INSERT OCB TRẠNG THÁI A''
	INSERT INTO [TBL_I2B_USERS_F0_'+@TODATE+'] 
		( SYS_ID, USER_NAME, T24_CIF, AMND_STATE,OPEN_BRANCH,OPEN_DATE,[OPEN_DAO], CIF_INTRODUCER,
			USER_MOBILE,USER_EMAIL,SOURCE,[AMND_DATE],USER_LEGAL_ID , SERVICE_PACK ,SERVICE_PACK_NAME , OCB_PASSWORD_STT, INPUTTER )
	SELECT 
		DIRECTORY_ID SYS_ID,USER_NAME, CIF ,''A'' AMND_STATE,BRANCH_NAME,CREATE_DATE,DAO, CIF_GIOITHIEU,
		DATA_PHONE,EMAIL_ADDRESS,''NEW'' SOURCE , terms_accepted_date , ID_PASSPORT , SERVICE_PACK ,
		SERVICE_PACK_NAME ,PASSWORD_STATUS, INPUTTER
	FROM ##OCB_USER 
	WHERE (BI_CHANNEL <> ''OTHER'' OR SEGMENT  in  (''HH'' ,''TIMO'', ''FE''))
	----WHERE (BI_CHANNEL <> ''OTHER'' OR SEGMENT  in  (''HH'' ,''TIMO''))
		AND TERMS_ACCEPTED = 1
		AND ACCOUNT_STATUS = 1
		AND BI_CHANNEL IS NOT NULL
		AND CONVERT(DATE,CREATE_DATE) <= CONVERT(DATE,'''+@TODATE+''')		

')

-- LẤY I2B TRẠNG THÁI A

EXEC
('
	PRINT N''LẤY I2B TRẠNG THÁI A''
	INSERT INTO [TBL_I2B_USERS_F0_'+@TODATE+'] 
		([SYS_ID],[T24_CIF],[USER_NAME],[USER_LEGAL_ID],[USER_MOBILE],[USER_EMAIL],[LOGIN_COUNT]
      ,[LAST_LOGIN_TIME],[CIF_INTRODUCER],[OPEN_DATE],[OPEN_USER],[OPEN_DAO],[OPEN_BRANCH],[AMND_USER],[AMND_DATE],[AMND_DAO]
      ,[AMND_BRANCH],[AMND_STATE],[DELETE_USER],[DELETE_DAO],[DELETE_DATE],[AUTHORISE_USER],[AUTHORISE_DATE],[REFUSE_DESCRIPTION] ,SERVICE_PACK_NAME)	
	SELECT 
		[SYS_ID],[T24_CIF],[USER_NAME],[USER_LEGAL_ID],[USER_MOBILE],[USER_EMAIL],[LOGIN_COUNT]
		  ,[LAST_LOGIN_TIME],[CIF_INTRODUCER],[OPEN_DATE],[OPEN_USER],[OPEN_DAO],[OPEN_BRANCH],[AMND_USER],[AMND_DATE],[AMND_DAO]
		  ,[AMND_BRANCH],[AMND_STATE],[DELETE_USER],[DELETE_DAO],[DELETE_DATE],[AUTHORISE_USER],[AUTHORISE_DATE],[REFUSE_DESCRIPTION] , [USER_ROLE]
	FROM 
		(SELECT ROW_NUMBER() OVER (PARTITION BY T24_CIF ORDER BY OPEN_DATE DESC,AMND_DATE DESC,LAST_LOGIN_TIME DESC) AS ROWID,*
			FROM DATA.dbo.DAILY_I2B_USERS_F0
				WHERE CONVERT(VARCHAR(8),OPEN_DATE,112) <= '''+@TODATE+'''	
				AND AMND_STATE = ''A''
				AND AMND_USER <> ''OCB''
				AND LAST_LOGIN_TIME IS NOT NULL					
		) A
	WHERE ROWID = 1
		AND CONVERT(VARCHAR(8),OPEN_DATE,112) <= '''+@TODATE+'''
		AND EXISTS (SELECT RECID 
					FROM CUSTOMER_'+@TODATE+'  B 
					WHERE (BI_CHANNEL <> ''OTHER'' 
							OR COMPANY_BOOK  = ''VN0010344'' 
							or segment = ''HH''
							OR (COMPANY_BOOK  = ''VN0010348'' AND B.CUST_TYPE IN (''59'',''60'')) 
							OR COMPANY_BOOK = ''VN0010260''
							) 
						AND A.T24_CIF = B.RECID)
		AND NOT EXISTS (SELECT T24_CIF FROM [TBL_I2B_USERS_F0_'+@TODATE+'] C 
							WHERE A.T24_CIF = C.T24_CIF)
')


-- INSERT OCB TRẠNG THÁI B
EXEC
('
PRINT N''INSERT OCB TRẠNG THÁI B''
	INSERT INTO [TBL_I2B_USERS_F0_'+@TODATE+'] 
	(SYS_ID,USER_NAME,T24_CIF,AMND_STATE,OPEN_BRANCH,OPEN_DATE,OPEN_DAO, CIF_INTRODUCER,
		USER_MOBILE,USER_EMAIL,SOURCE,[AMND_DATE],USER_LEGAL_ID , SERVICE_PACK ,SERVICE_PACK_NAME  , OCB_PASSWORD_STT, INPUTTER )
	SELECT 
		DIRECTORY_ID  SYS_ID ,USER_NAME,CIF,''B'' AMND_STATE,BRANCH_NAME,CREATE_DATE,DAO , CIF_GIOITHIEU,
		DATA_PHONE,EMAIL_ADDRESS,''NEW'' SOURCE , terms_accepted_date , ID_PASSPORT , SERVICE_PACK ,
		SERVICE_PACK_NAME  ,PASSWORD_STATUS, INPUTTER
	FROM ##OCB_USER a 
	WHERE (BI_CHANNEL <> ''OTHER'' OR SEGMENT  in  (''HH'' ,''TIMO'',''FE''))
	-----WHERE (BI_CHANNEL <> ''OTHER'' OR SEGMENT  in  (''HH'' ,''TIMO''))
		AND TERMS_ACCEPTED = 0
		AND ACCOUNT_STATUS = 1
		AND BI_CHANNEL IS NOT NULL
		AND CONVERT(DATE,CREATE_DATE) <= CONVERT(DATE,'''+@TODATE+''')
		AND NOT EXISTS (SELECT T24_CIF FROM [TBL_I2B_USERS_F0_'+@TODATE+'] C 
							WHERE A.CIF = C.T24_CIF)

')

-- INSERT I2B TRẠNG THÁI B
EXEC
('
PRINT N''INSERT I2B TRẠNG THÁI B''
	INSERT INTO [TBL_I2B_USERS_F0_'+@TODATE+'] 
		(ROWID,SYS_ID,T24_CIF,USER_NAME,USER_LEGAL_ID,USER_MOBILE,USER_EMAIL,LOGIN_COUNT,
		LAST_LOGIN_TIME,CIF_INTRODUCER,OPEN_DATE,OPEN_USER,OPEN_DAO,OPEN_BRANCH,AMND_USER,AMND_DATE,AMND_DAO,
		AMND_BRANCH,AMND_STATE,DELETE_USER,DELETE_DAO,DELETE_DATE,AUTHORISE_USER,AUTHORISE_DATE,REFUSE_DESCRIPTION,SERVICE_PACK_NAME )
	SELECT ROWID,SYS_ID,T24_CIF,USER_NAME,USER_LEGAL_ID,USER_MOBILE,USER_EMAIL,LOGIN_COUNT,
		LAST_LOGIN_TIME,CIF_INTRODUCER,OPEN_DATE,OPEN_USER,OPEN_DAO,OPEN_BRANCH,AMND_USER,AMND_DATE,AMND_DAO,
		AMND_BRANCH,AMND_STATE,DELETE_USER,DELETE_DAO,DELETE_DATE,AUTHORISE_USER,AUTHORISE_DATE,REFUSE_DESCRIPTION, USER_ROLE
	FROM 
		(SELECT ROW_NUMBER() OVER (PARTITION BY T24_CIF ORDER BY OPEN_DATE DESC,AMND_DATE DESC,LAST_LOGIN_TIME DESC) AS ROWID,*
			FROM DATA.dbo.DAILY_I2B_USERS_F0
				WHERE CONVERT(VARCHAR(8),OPEN_DATE,112) <= '''+@TODATE+'''	
				AND AMND_STATE IN (''B'')
				AND AMND_USER <> ''OCB''			
		) A
	WHERE ROWID = 1
		AND EXISTS (SELECT RECID 
					FROM CUSTOMER_'+@TODATE+'  B 
					WHERE (BI_CHANNEL <> ''OTHER'' 
							OR COMPANY_BOOK  = ''VN0010344'' 
							or segment = ''HH''
							OR (COMPANY_BOOK  = ''VN0010348'' AND B.CUST_TYPE IN (''59'',''60'')) 
							OR COMPANY_BOOK = ''VN0010260''
							) 
						AND A.T24_CIF = B.RECID)
		AND NOT EXISTS (SELECT T24_CIF FROM [TBL_I2B_USERS_F0_'+@TODATE+'] C 
							WHERE A.T24_CIF = C.T24_CIF)
')

-- INSERT CUS_NAME, BI_CHANNEL AND SEGMENT

----EXEC
----	('
----ALTER TABLE TBL_I2B_USERS_F0_'+@TODATE+'
----	ADD BI_CHANNEL VARCHAR (30), SEGMENT VARCHAR(30),CUS_NAME VARCHAR(500)
----	')

EXEC
	('
	PRINT ''INSERT CUS_NAME, BI_CHANNEL AND SEGMENT''
	UPDATE TBL_I2B_USERS_F0_'+@TODATE+' 
		SET BI_CHANNEL = B.BI_CHANNEL,
			SEGMENT = CASE WHEN B.COMPANY_BOOK  = ''VN0010344'' THEN ''HH'' ELSE B.SEGMENT END	,
			CUS_NAME = B.CUS_NAME
	FROM TBL_I2B_USERS_F0_'+@TODATE+' A  
	INNER JOIN 
		(SELECT RECID, BI_CHANNEL, COMPANY_BOOK, SEGMENT , CUS_NAME
		FROM CUSTOMER_'+@TODATE+' ) B ON  A.T24_CIF = B.RECID
	')

-- LOẠI USER TRONG DANH SÁCH FRAUD

EXEC
('
PRINT N''LOẠI USER TRONG DANH SÁCH FRAUD''
	DELETE FROM TBL_I2B_USERS_F0_'+@TODATE+' WHERE T24_CIF IN (SELECT T24_CIF FROM DBS_REF.DBO.TBL_I2B_OPENONLINECASA_FRAUD)
')

------------------------------------------------------------------------------------------------
-- UPDATE AGE, MOBILE, I2B_MOVILE, I2B_EMAIL FOR CUSTOMER

EXEC('
IF EXISTS (SELECT * FROM [DBS_dAILY].INFORMATION_SCHEMA.COLUMNS 
		WHERE TABLE_NAME = ''CUSTOMER_'+@TODATE+''' AND COLUMN_NAME IN (''I2B_MOBILE'', ''I2B_EMAIL''))
BEGIN 
	ALTER TABLE [CUSTOMER_'+@TODATE+']
	DROP COLUMN I2B_MOBILE, I2B_EMAIL
END 	
	') 
EXEC('
	ALTER TABLE [CUSTOMER_'+@TODATE+']
	ADD I2B_MOBILE VARCHAR(50), I2B_EMAIL VARCHAR(100)
')

EXEC
('
	UPDATE [CUSTOMER_'+@TODATE+']
	SET I2B_MOBILE = B.USER_MOBILE,
		I2B_EMAIL = B.USER_EMAIL
	FROM [CUSTOMER_'+@TODATE+'] A, TBL_I2B_USERS_F0_'+@TODATE+' B
		WHERE A.RECID = B.T24_CIF --(21340 row(s) affected)
')

--------ANHNT67 them vao code de xu ly van de KH login tren Mobile App nhung ko ghi nhan T&C - 20171113

EXEC('
	update a
	set ROWID  = 2, 
		AMND_STATE = ''A''
	FROM TBL_I2B_USERS_F0_'+@TODATE+'  a 
	WHERE exists (select  * from DBS_MONTHLY.DBO.TBL_I2B_USERS_F0_'+@LASTMONTH+' B 
					where ROWID  = 2 AND AMND_STATE = ''A'' AND A.T24_CIF = B.T24_CIF ) 
		AND AMND_STATE = ''B''
		AND SOURCE = ''NEW'' 
')

EXEC('
	update a
	set ROWID  = 2, 
		AMND_STATE = ''A''
	FROM TBL_I2B_USERS_F0_'+@TODATE+'  a 
	WHERE exists (select  * from TBL_I2B_AUTH_INFO b
				where DEVICE_CODE = ''OCB''
				and CHANNEL_RQ = ''MOBILE'' 
				and a.t24_cif = b.CUS_CIF ) 
		AND AMND_STATE = ''B''
		AND SOURCE = ''NEW'' 
')

--------ANHNT67 them vao code de xu ly van de KH co gd online nhung ko ghi nhan T&C - 20171207

EXEC('
	select user_id , log_Date , tran_type 
	into #temp 
	from DATA.dbo.DAILY_EB_AUDIT_LOG
	WHERE TRAN_TYPE IN 
	(1201,1203,1204,1503,1504,1505,1901,1902,1903,1904,1905,1906,1909,1910,1913,	1914,2001,2002,2003,2600,2701,2702,	3201,3203,3204,3207,
	3220,3229,3603,3611,3710,4415,4416,4419,4453,4454,4600,4601,4603,4605,4607,4650,4700,4702,5200,5201,5202,5203,5210,5252,
	5253,5273,5274,5275,6301,15000,15001,16000)	
	AND LOG_DATE > '''+@LASTMONTH+'''

	--insert into #temp 
	--select user_id , log_Date , tran_type 
	--from data.dbo.tbl_eb_audit_log_his  
	--WHERE 
	--	TRAN_TYPE IN (1201,1203,1204,1503,1504,1505,1901,1902,1903,1904,1905,1906,1909,1910,1913,
	--				1914,2001,2002,2003,2600,2701,2702,3201,3203,3204,3207,3220,3229,3603,3611,
	--				3710,4415,4416,4419,4453,4454,4600,4601,4603,4605,4607,4650,4700,4702,5200,
	--				5201,5202,5203,5210,5252,5253,5273,5274,5275,6301,15000,15001,16000)

	select DISTINCT CUST_ID
	INTO #TEMP_2  
	from #temp a 
	left join data.dbo.DAILY_EB_CUSTOMER_DIRECTORY b 
	on CONVERT(VARCHAR,A.[USER_ID]) = CONVERT(VARCHAR,B.DIRECTORY_ID)

	UPDATE A 
	SET AMND_STATE = ''A'' , 
		ROWID = 3 
	from tbl_i2b_users_f0_'+@TODATE+' a 
	WHERE exists (select  * from DBS_MONTHLY.DBO.TBL_I2B_USERS_F0_'+@LASTMONTH+' B 
				where ROWID  in (3,4) AND AMND_STATE = ''A'' AND A.T24_CIF = B.T24_CIF ) 
		AND	amnd_state  =''B'' 
		and source = ''NEW'' 

	UPDATE A 
	SET AMND_STATE = ''A'' , ROWID = 3 
	from tbl_i2b_users_f0_'+@TODATE+' a 
	WHERE EXISTS  (SELECT * FROM #TEMP_2 b WHERE a.t24_cif = b.CUST_ID )
		AND	amnd_state  =''B'' 
		and source = ''NEW'' 

')

-------===========================================
------	II > ACTIVATED DATE 
-------===========================================

EXEC('
	ALTER TABLE TBL_I2B_USERS_F0_'+@TODATE+'  ----drop column ACTIVATED_STT
	ADD USER_TYPE INT , ACTIVATED_DATE DATETIME 
	')

EXEC('
	UPDATE A 
	SET A.USER_TYPE = B.USER_TYPE ,
		A.ACTIVATED_DATE = coalesce(b.ACTIVATED_DATE, a.open_DatE) 
	FROM TBL_I2B_USERS_F0_'+@TODATE+'  A  
	LEFT JOIN DBS_dAILY.DBO.EBANKING_USERS_ACTIVATED_DATE_'+@TODATE+' B ON A.T24_CIF = B.T24_CIF 
	WHERE B.ACTIVATED_DATE < DATEADD(D,1, '''+@TODATE+''')
	')

EXEC('
	CREATE NONCLUSTERED INDEX [IDX_I2B_NAME_'+@TODATE+'] 
		ON tbl_i2b_users_f0_'+@TODATE+' ([USER_NAME] ASC)

	CREATE NONCLUSTERED INDEX [IDX_I2B_OPD_'+@TODATE+'] 
		ON tbl_i2b_users_f0_'+@TODATE+' ([OPEN_DATE] ASC)

') 
-------------------LAY DU LIEU CASA ONLINE DAILY ---- ANHNT67 THEM VAO 20171002

PRINT 'XOA BANG'	
EXEC('
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME = ''CASA_ONLINE_LIST_'+@TODATE+''')
	DROP TABLE [CASA_ONLINE_LIST_'+@TODATE+']
	')

EXEC ('
	CREATE TABLE DBS_dAILY..CASA_ONLINE_LIST_'+@TODATE+' (
	T24_CIF varchar(10) NOT NULL ,
	INPUTDATE DATETIME , 
	SOURCE VARCHAR(20),
	CHANNEL VARCHAR(20), 
	PRIMARY KEY (T24_CIF)
	) 
') 

EXEC('
	drop table if exists ##temp 
	
	SELECT * INTO ##TEMP 
	FROM 
	(
		SELECT CREATECIF AS T24_CIF, CREATEI2B, INPUTDATE , ''I2B'' AS SOURCE, CHANNEL  
		FROM M108.BICDATA_HIS.DBO.DAILY_I2B_OPENONLINECASA
					WHERE  RECORDSTATUS = ''FIN''
						AND  ISNULL(CHANNEL,0) <> ''OCB''
						AND CONVERT(VARCHAR(8),INPUTDATE,112) <= '''+@TODATE+'''

		UNION ALL
		SELECT CREATECIF, CREATEI2B, INPUTDATE ,''OCB'' AS SOURCE, CHANNEL
		FROM M108.BICDATA_HIS.DBO.[DAILY_EB_CUSTOM_ONLINECASA]
					WHERE RECORDSTATUS = ''DONE''
						AND CONVERT(VARCHAR(8),INPUTDATE,112) <= '''+@TODATE+'''
	) A

	UPDATE A 
	SET A.T24_CIF = B.CIF
	FROM ##TEMP   A 
		INNER JOIN DATA.DBO.OCB_NEW B ON A.CREATEI2B  = B.USER_NAME 
	WHERE A.T24_CIF IS NULL 

	UPDATE A 
	SET A.T24_CIF = B.T24_CIF
	FROM ##TEMP A 
		INNER JOIN DATA.dbo.DAILY_I2B_USERS_F0 B ON A.CREATEI2B  = B.USER_NAME 
	WHERE A.T24_CIF IS NULL 

	INSERT INTO DBS_dAILY..CASA_ONLINE_LIST_'+@TODATE+'
	SELECT T24_CIF , INPUTDATE , SOURCE, CHANNEL
	FROM
		(SELECT ROW_NUMBER() OVER( PARTITION BY T24_CIF ORDER BY INPUTDATE DESC) AS ROWID, * 
		FROM ##TEMP 
		where ISNULL(CHANNEL,0) <> ''EBANKUTIL''
		) A
	WHERE ROWID = 1	AND T24_CIF IS NOT NULL 			

') 

EXEC('
	ALTER TABLE TBL_I2B_USERS_F0_'+@TODATE+'  
	ADD Registration_Channel VARCHAR(20) 
	')

EXEC('
UPDATE A 
	SET A.Registration_Channel = CASE WHEN B.CHANNEL = ''EBANKUTIL'' THEN ''EBANKUTIL'' 
									WHEN B.CHANNEL = ''CASA.ONBOARDING'' THEN ''CASA.ONBOARDING''
									WHEN B.T24_CIF IS NOT NULL THEN ''CASA ONLINE'' 
								ELSE ''BRANCH'' END 
	FROM TBL_I2B_USERS_F0_'+@TODATE+'  A 
		LEFT JOIN ##TEMP B ON A.T24_CIF = B.T24_CIF
	')

----========================================================================
----	III> VPBANK PLUS 
----========================================================================

EXEC('
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME = ''VPBPLUS_USERS_'+@TODATE+''')
	DROP TABLE [VPBPLUS_USERS_'+@TODATE+']
	')

EXEC('
	CREATE TABLE VPBPLUS_USERS_'+@TODATE+' (
	[T24_CIF] VARCHAR(10) NOT NULL, 
	ACCTNO VARCHAR(20) , 
	ISSUE_DATE DATE , 
	OPENNING_DATE DATE, 
	WITHDRAW_DATE DATE, 
	CUS_OPEN_DATE DATE , 
	SEGMENT VARCHAR(20), 
	BI_CHANNEL VARCHAR(20), 
	BI_SEGMENT  VARCHAR(20) , 
	DAO VARCHAR(10) , 
	ACTIVATED_STT INT , 
	CONSTRAINT [PK_VPB_'+@TODATE+'] PRIMARY KEY CLUSTERED 	([T24_CIF] ASC)	)
')

EXEC('
	INSERT VPBPLUS_USERS_'+@TODATE+'
	SELECT 
		CIF, ACCTNO , CONVERT(DATE,ISSUE_DATE) AS ISSUE_DATE , CONVERT(DATE,OPENNING_DATE) OPENNING_DATE, 
		WITHDRAW_DATE, CONVERT(DATE,CUS_OPEN_DATE) CUS_OPEN_DATE , SEGMENT , BI_CHANNEL , BI_SEGMENT   , DAO , 0		
	FROM DATA.DBO.DPTB_MASTER
	WHERE CONVERT(DATE,ISSUE_DATE) <= '''+@TODATE+'''
		AND F IS NULL
		AND CATEGORY = ''1028''

') 


--------UPDATE ACTIVATED TU THANG TRUOC

EXEC('
       UPDATE A
	   SET ACTIVATED_STT = 1 
	   FROM VPBPLUS_USERS_'+@TODATE+' A 
		WHERE  EXISTS  (SELECT T24_CIF FROM DBS_MONTHLY.DBO.VPBPLUS_USERS_'+@LASTMONTH+'  B 
						WHERE ACTIVATED_STT = 1 AND A.T24_CIF = B.T24_CIF )

') 
--------UPDATE ACTIVATED TU AUTH INFO 

EXEC('
       UPDATE A
	   SET ACTIVATED_STT = 1 
	   FROM VPBPLUS_USERS_'+@TODATE+' A 
		WHERE  EXISTS  (SELECT CUS_CIF FROM TBL_I2B_AUTH_INFO  B 
						WHERE CHANNEL_RQ LIKE ''%VPBANKPLUS%'' AND A.T24_CIF = B.CUS_CIF )
		AND ACTIVATED_STT = 0 

') 

EXEC('
	CREATE NONCLUSTERED INDEX [IDX_VPBID_'+@TODATE+'] 
		ON VPBPLUS_USERS_'+@TODATE+' (ACCTNO ASC) 

	CREATE NONCLUSTERED INDEX [IDX_VPBDATE_'+@TODATE+'] 
		ON VPBPLUS_USERS_'+@TODATE+' (OPENNING_DATE ASC) 
')
------UPDATE USER ACTIVATED 

------REBUILD INDEX 

EXEC('
	ALTER INDEX [PK_CUSTOMER_RECID_'+@TODATE+'] ON CUSTOMER_'+@TODATE+' REBUILD
	')
EXEC('
	ALTER INDEX PK_I2B_'+@TODATE+' ON TBL_I2B_USERS_F0_'+@TODATE+' REBUILD
	')
EXEC('
	ALTER INDEX IDX_VPBID_'+@TODATE+' ON VPBPLUS_USERS_'+@TODATE+' REBUILD
	') 
EXEC('
	ALTER INDEX IDX_VPBDATE_'+@TODATE+' ON VPBPLUS_USERS_'+@TODATE+' REBUILD
	')
drop table IF EXISTS ##OCB_USER

END 
GO
