USE [DBS_DAILY]
GO
/****** Object:  StoredProcedure [dbo].[PR_DAILY_ETL_21_UPL]    Script Date: 8/6/2019 10:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PR_DAILY_ETL_21_UPL]
AS 

BEGIN 
DECLARE @TODATE VARCHAR(8), @RB_DATE VARCHAR(8) ,  @RB_DATE_OLD VARCHAR(8) 
DECLARE @LASTMONTH VARCHAR(8)
DECLARE @FROMDATE VARCHAR(8)
DECLARE @FROMYEAR VARCHAR(8) 

SET @TODATE    = (SELECT RPTDATE FROM DBS_REF.DBO.RPTDATE )
SET @RB_DATE = (SELECT MAX(RIGHT(TABLE_NAME,8)) FROM BIC_RB.DAILY_RETAIL.INFORMATION_SCHEMA.TABLES 
			WHERE TABLE_NAME LIKE 'LOAN%'  and table_name not like 'LOAN_OLD_%'
			AND RIGHT(TABLE_NAME,8) IN (SELECT DISTINCT CONVERT(VARCHAR,RptDate) FROM DBS_REF.DBO.CALENDAR))
SET @RB_DATE_OLD = (SELECT MAX(RIGHT(TABLE_NAME,8)) FROM BIC_RB.DAILY_RETAIL.INFORMATION_SCHEMA.TABLES 
			WHERE TABLE_NAME LIKE 'LOAN_OLD_%'
			AND RIGHT(TABLE_NAME,8) IN (SELECT DISTINCT CONVERT(VARCHAR,RptDate) FROM DBS_REF.DBO.CALENDAR))
SET @FROMDATE  = LEFT(@TODATE,6)  + '01' 
SET @LASTMONTH = (SELECT CONVERT(VARCHAR(8),DATEADD(ms,-3,DATEADD(mm,0,DATEADD(mm,DATEDIFF(mm,0,@TODATE),0))),112)) 
SET @FROMYEAR  =   '20180101' 

--------------------------------------------------
--EDIT LOG
-- 20180411 - TRANG SUA CODE UPL BO SUNG CAC KHOAN TON TAI TU BANG CHOT THANG TRUOC
-- 20180419 - TRANG SUA CODE OD BO SUNG CAC KHOAN MISSING, SOURCE = 'MANUAL'
-- 20180601 - TRANG SUA CODE OD BO SUNG CAC KHOAN MISSING, SOURCE = 'T24'


PRINT 'BANG UPLTOPUP'

DROP TABLE IF EXISTS ##UPLTOPUP, ##UPLDF, ##UPLDF_FINAL

exec('
	SELECT APP_ID_C,ACCTNO,SUM(BAL_QD) ORIGINAL_AMT
		INTO  ##UPLTOPUP
	FROM DATA.DBO.LNTB_DISBURSEMENT A 
	WHERE VALUE_DATE <= '''+@TODATE+'''
		and VALUE_DATE >= ''2019-01-01''
		AND EXISTS (SELECT 1 FROM DATA.DBO.LNTB_MASTER B
					WHERE A.ACCTNO = B.ACCTNO
						AND B.I2B = ''Y''
						AND B.CHUONG_TRINH_SP LIKE ''%HOP%NHAT%UPL%'')
	group by APP_ID_C,ACCTNO
	') 

EXEC('
	ALTER TABLE  ##UPLTOPUP
    ADD VALUE_DATE DATE,MATDT DATE, WITHDRAW_DATE DATE,CUSTOMER_NAME VARCHAR(500), CIF VARCHAR(50), 
		BRANCH_CODE VARCHAR(200),RATE VARCHAR(50),DAO VARCHAR(100), BI_CHANNEL VARCHAR(100)
')

EXEC('
	UPDATE A
	SET VALUE_DATE = B.VALUE_DATE,
		MATDT = B.MATDT,
		WITHDRAW_DATE = B.WITHDRAW_DATE,
		CUSTOMER_NAME = B.CUSTOMER_NAME,
		CIF = B.CIF,
		BRANCH_CODE = B.BRANCH_CODE,
		RATE = B.RATE,
		DAO = B.DAO, 
		BI_CHANNEL = B.BI_CHANNEL
	FROM  ##UPLTOPUP A,  DATA.DBO.LNTB_MASTER b  
	WHERE A.ACCTNO = B.ACCTNO

')
EXEC('
	INSERT INTO ##UPLTOPUP(
		APP_ID_C ,ACCTNO, ORIGINAL_AMT, VALUE_DATE, MATDT, WITHDRAW_DATE, 
		CUSTOMER_NAME, CIF, BRANCH_CODE, RATE,DAO,BI_CHANNEL)
	SELECT
		APP_ID_C ,ACCTNO, ORIGINAL_AMT, VALUE_DATE, MATDT, WITHDRAW_DATE, 
		CUSTOMER_NAME, CIF, BRANCH_CODE, RATE,DAO,BI_CHANNEL
	FROM DBS_MONTHLY.DBO.UPL24_20181231
') 

PRINT 'BANG UPLDF_'
-- THEM BẢNG UPLDF HOẶC TẠO BẢNG PHỤ RỒI GHÉP CÙNG UPL24 VÀO BẢNG MỚI DBS_dAILY.DBO.UPL_

PRINT ('UPDATE INFO FROM M74') 
EXEC
('
	DROP TABLE IF EXISTS ##UPLDF
	SELECT 
		DISTINCT CIF,ACCTNO,DF,APP_ID_C
	INTO ##UPLDF
	FROM DATA.DBO.DAILY_CHECK_UPL_LEADS_DF A 
		WHERE ACCTNO IS NOT NULL
		AND DF IS NOT NULL
		AND NOT EXISTS (SELECT ACCTNO FROM DBS_MONTHLY.DBO.UPLDF_'+@LASTMONTH+' B WHERE A.ACCTNO = B.ACCTNO)
')

EXEC
('
	INSERT INTO ##UPLDF
	([APP_ID_C],[ACCTNO],[CIF])
	SELECT DISTINCT [APP_ID_C],[ACCTNO],[CIF]
	FROM DBS_MONTHLY.DBO.UPLDF_'+@LASTMONTH+' A 
	WHERE NOT EXISTS (SELECT ACCTNO FROM ##UPLDF  B WHERE A.ACCTNO = B.ACCTNO)
')

EXEC
('
ALTER TABLE  ##UPLDF
	ADD SUM_VALUE FLOAT,VALUE_DATE DATE,MATDT DATE, WITHDRAW_DATE DATE,CUSTOMER_NAME VARCHAR(500),
	BI_CHANNEL VARCHAR(100),BRANCH_CODE VARCHAR(20),RATE VARCHAR(10),DAO VARCHAR(10)
')

EXEC('
	UPDATE  ##UPLDF
		SET SUM_VALUE = B.SUM_VALUE
			FROM  ##UPLDF A, (SELECT ACCTNO,SUM(BAL_QD) SUM_VALUE FROM DATA.DBO.LNTB_DISBURSEMENT GROUP BY ACCTNO) B
				WHERE A.ACCTNO = B.ACCTNO

	UPDATE  ##UPLDF
		SET VALUE_DATE = B.VALUE_DATE,
			MATDT = B.MATDT,
			WITHDRAW_DATE = B.WITHDRAW_DATE,
			CUSTOMER_NAME = B.CUSTOMER_NAME,
			CIF = B.CIF,
			BRANCH_CODE = B.BRANCH_CODE,
			RATE = B.RATE,
			DAO = B.DAO, 
			BI_CHANNEL = B.BI_CHANNEL
	FROM  ##UPLDF A
		inner join DATA.DBO.LNTB_MASTER B on A.ACCTNO = B.ACCTNO
')

EXEC
('
	DROP TABLE IF EXISTS ##UPLDF_FINAL
	SELECT * INTO ##UPLDF_FINAL 
	FROM 
		(SELECT ROW_NUMBER() OVER (PARTITION BY ACCTNO ORDER BY VALUE_DATE) ROWID, *
		FROM ##UPLDF
		) A
	WHERE ROWID = 1
		AND ACCTNO IS NOT NULL

')

PRINT ('UPDATE UPL24') 
EXEC
('
	DROP TABLE IF EXISTS DBS_dAILY.DBO.UPL_'+@TODATE+'
	SELECT * 
		INTO DBS_dAILY.DBO.UPL_'+@TODATE+'
	FROM 
	(SELECT 
		''UPL24'' DBS_CHANNEL,[APP_ID_C],[ACCTNO],[ORIGINAL_AMT], [VALUE_DATE],[MATDT],
		[WITHDRAW_DATE],[CUSTOMER_NAME],[CIF],[BRANCH_CODE],[RATE],[DAO], [BI_CHANNEL]
	FROM ##UPLTOPUP
	UNION ALL
	SELECT 
		''DIGITAL'',[APP_ID_C],[ACCTNO],SUM_VALUE,[VALUE_DATE],[MATDT],
		[WITHDRAW_DATE],[CUSTOMER_NAME],[CIF],[BRANCH_CODE],[RATE],[DAO],[BI_CHANNEL]
	FROM ##UPLDF_FINAL
			WHERE ACCTNO NOT IN (SELECT ACCTNO FROM ##UPLTOPUP)
) A
')
exec('
	ALTER TABLE DBS_dAILY.DBO.UPL_'+@TODATE+'
	ALTER COLUMN DBS_CHANNEL VARCHAR(20);

	ALTER TABLE DBS_dAILY.DBO.UPL_'+@TODATE+'
	ADD BAL_QD FLOAT, NO_OVD_DAYS FLOAT, DEBT_GROUP VARCHAR(10)
	')
exec('
	UPDATE  A
	SET BAL_QD = B.BAL_QD,
			NO_OVD_DAYS = B.NO_OVD_DAYS
	FROM  [UPL_'+@TODATE+'] A, [BALANCE_'+@TODATE+'] B
			WHERE A.ACCTNO = B.ACCTNO;
	
	UPDATE  [UPL_'+@TODATE+']
    SET DEBT_GROUP = CASE WHEN ISNULL(NO_OVD_DAYS,0)<=10 THEN ''B1'' 
                        WHEN ISNULL(NO_OVD_DAYS,0)>10 AND NO_OVD_DAYS<=90 THEN ''B2'' 
                        WHEN ISNULL(NO_OVD_DAYS,0)>90 AND NO_OVD_DAYS<=180 THEN ''B3'' 
                        WHEN ISNULL(NO_OVD_DAYS,0)>180 AND NO_OVD_DAYS<=360 THEN ''B4'' 
                        WHEN ISNULL(NO_OVD_DAYS,0)>360 THEN ''B5''  END
	WHERE BAL_QD IS NOT NULL
')


exec('
	UPDATE A 
	Set  DBS_CHANNEL = ''ONLINE TOPUP'' 
	FROM DBS_dAILY.DBO.UPL_'+@TODATE+' A 
	WHERE EXISTS (SELECT  1 FROM DATA.DBO.LNTB_MASTER B -------------------------------------TRANGTQ2 20180912
					WHERE A.ACCTNO = B.ACCTNO
					AND B.I2B = ''Y''
					AND B.CHUONG_TRINH_SP LIKE ''%HOP%NHAT%UPL%'') 

')

EXEC('
	IF NOT EXISTS (SELECT * FROM DATA.INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = ''DAILY_CHECK_UPL_LEADS_DF'' AND COLUMN_NAME = ''DBS_CHANNEL'')
	alter table DATA.DBO.DAILY_CHECK_UPL_LEADS_DF
		ADD DBS_CHANNEL VARCHAR(50)
       ')

EXEC('
	UPDATE A
	SET DBS_CHANNEL = B.DBS_CHANNEL
	FROM DATA.DBO.DAILY_CHECK_UPL_LEADS_DF A, DBS_dAILY.DBO.UPL_'+@TODATE+' B
	WHERE A.ACCTNO = B.ACCTNO


	UPDATE DATA.DBO.DAILY_CHECK_UPL_LEADS_DF
	SET DF = NULL
	WHERE (CAMPAIGN_GROUP LIKE ''%UPL%24%''
		AND VALUE_DATE < ''2019-01-01'')
		OR (DBS_CHANNEL = ''ONLINE TOPUP'') 
') 


PRINT('UPDATE PA_NONPA, NTB_ETB') 

EXEC
('
ALTER TABLE DBS_DAILY.DBO.UPL_'+@TODATE+'
	ADD CHUONG_TRINH_SP VARCHAR(100), NTB_ETB VARCHAR(10), PA_NONPA VARCHAR(10)
')

EXEC
('
	UPDATE a
	SET CHUONG_TRINH_SP = B.CHUONG_TRINH_SP
	FROM DBS_DAILY.DBO.UPL_'+@TODATE+' A, DATA.DBO.LNTB_MASTER B
	WHERE A.ACCTNO = B.ACCTNO
')

EXEC
('
UPDATE DBS_DAILY.DBO.UPL_'+@TODATE+'
	SET NTB_ETB = (CASE WHEN (CHUONG_TRINH_SP IS NULL
			OR (CHUONG_TRINH_SP NOT LIKE ''%CROSS%SELL%''
				AND CHUONG_TRINH_SP NOT LIKE ''%X%SELL%''
				AND CHUONG_TRINH_SP NOT LIKE ''%XCASA%''
				AND CHUONG_TRINH_SP NOT LIKE ''%XDEPO%''
				AND CHUONG_TRINH_SP NOT LIKE ''%X%CARD%''
				AND CHUONG_TRINH_SP NOT LIKE ''%HOP%NHAT%UPL%''
				AND CHUONG_TRINH_SP NOT LIKE ''%X%PAYROLL%''
				AND CHUONG_TRINH_SP NOT LIKE ''%OPSP%''
				AND CHUONG_TRINH_SP NOT LIKE ''%OPSPOP%''
				AND CHUONG_TRINH_SP NOT LIKE ''%OSPU%''
				AND CHUONG_TRINH_SP NOT LIKE ''%OSPUOP%''
				AND CHUONG_TRINH_SP NOT LIKE ''%PAYROLL%A%''
				AND CHUONG_TRINH_SP NOT LIKE ''%PAYROLL%A%U%''
				AND CHUONG_TRINH_SP NOT LIKE ''%PAYROLL%B%''
				AND CHUONG_TRINH_SP NOT LIKE ''%PAYROLL%B%U%''
				AND CHUONG_TRINH_SP NOT LIKE ''%PAYROLL%C%''
				AND CHUONG_TRINH_SP NOT LIKE ''%PAYROLL%C%U%''
				AND CHUONG_TRINH_SP NOT LIKE ''%PAYROLL%D%''
				AND CHUONG_TRINH_SP NOT LIKE ''%PAYROLL%D%U%''
				AND CHUONG_TRINH_SP NOT LIKE ''%PAYROLL%E%''
				AND CHUONG_TRINH_SP NOT LIKE ''%PAYROLL%E%U%''
				AND CHUONG_TRINH_SP NOT LIKE ''%PAYROLL%F%U%''
				AND CHUONG_TRINH_SP NOT LIKE ''%PAYROLLA%U%''
				AND CHUONG_TRINH_SP NOT LIKE ''%PAYROLLB%U%''
				AND CHUONG_TRINH_SP NOT LIKE ''%PAYROLLC%U%''
				AND CHUONG_TRINH_SP NOT LIKE ''%PAYROLLD%U%''
				AND CHUONG_TRINH_SP NOT LIKE ''%PAYROLLE%U%''
				AND CHUONG_TRINH_SP NOT LIKE ''%PAYROLLF%U%''
				AND CHUONG_TRINH_SP NOT LIKE ''%UPL%PAYROLL%''
				AND CHUONG_TRINH_SP NOT LIKE ''%UPL%PAYROLL%U%''
				AND CHUONG_TRINH_SP NOT LIKE ''%UPL%PAYROLL%UOP%''
				AND CHUONG_TRINH_SP NOT LIKE ''%UPL%PAYROLLOP%''
				AND CHUONG_TRINH_SP NOT LIKE ''%HOPNHAT%UPL%PR%''
				AND CHUONG_TRINH_SP NOT LIKE ''%PAYROLLB%''
				AND CHUONG_TRINH_SP NOT LIKE ''%PAYROLLC%''
				AND CHUONG_TRINH_SP NOT LIKE ''%PAYROLLE%''
				AND CHUONG_TRINH_SP NOT LIKE ''%PREAPP%PAYROLL%''
				AND CHUONG_TRINH_SP NOT LIKE ''%VIP%''
				AND CHUONG_TRINH_SP NOT LIKE ''%VPB%GOLD%CLUB%''
				AND CHUONG_TRINH_SP NOT LIKE ''%STAFF%''
				AND CHUONG_TRINH_SP NOT LIKE ''%STAFF%SUB%''
				AND CHUONG_TRINH_SP NOT LIKE ''%VP%STAFF%''
				AND CHUONG_TRINH_SP NOT LIKE ''%TOPUP%KD%''
				AND CHUONG_TRINH_SP NOT LIKE ''%TOPUP%SC%''
				AND CHUONG_TRINH_SP NOT LIKE ''%HOPNHAT%UPL%SE%''
				AND CHUONG_TRINH_SP NOT LIKE ''%HOMEDEC%1A%''
				AND CHUONG_TRINH_SP NOT LIKE ''%HOMEDEC%1B%''
				AND CHUONG_TRINH_SP NOT LIKE ''%UPL%VAO%''
				AND CHUONG_TRINH_SP NOT LIKE ''%HOUSEOWN%1%''
				AND CHUONG_TRINH_SP NOT LIKE ''%HOUSEOWN%2B%''
				AND CHUONG_TRINH_SP NOT LIKE ''%DRAGONBAY%''
				AND CHUONG_TRINH_SP NOT LIKE ''%GARDENIA%''
				AND CHUONG_TRINH_SP NOT LIKE ''%KHUDONG%VP%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALAND%BP%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALAND56%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDBO%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDCV%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDDT%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDG9%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDGG%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDGM%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDGP%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDKN%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDLC%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDLD%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDLP%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDLR%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDMS%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDNR%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDNT%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDOG%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDPA%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDPR%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDPS%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDPV%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDRG%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDSA%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDSC%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDSR%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDTC%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDTG%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDTP%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDTT%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDTW%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVALANDWT%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NOVARS%''
				AND CHUONG_TRINH_SP NOT LIKE ''%NVL%LXT%''
				AND CHUONG_TRINH_SP NOT LIKE ''%PARK%LLRSIDE%''
				AND CHUONG_TRINH_SP NOT LIKE ''%PARK%RSIDE%''
				AND CHUONG_TRINH_SP NOT LIKE ''%PHA%TPR%''
				AND CHUONG_TRINH_SP NOT LIKE ''%SUNRISE%RS%''
				AND CHUONG_TRINH_SP NOT LIKE ''%VINCOME%HP%''
				AND CHUONG_TRINH_SP NOT LIKE ''%VINGROUPCT%''
				AND CHUONG_TRINH_SP NOT LIKE ''%VINGROUPNT%''
				AND CHUONG_TRINH_SP NOT LIKE ''%VINGROUPPQ%''
				AND CHUONG_TRINH_SP NOT LIKE ''%VINHOME%CP%''
				AND CHUONG_TRINH_SP NOT LIKE ''%VINHOME%CT%''
				AND CHUONG_TRINH_SP NOT LIKE ''%VINHOME%DK%''
				AND CHUONG_TRINH_SP NOT LIKE ''%VINHOME%PH%''
				AND CHUONG_TRINH_SP NOT LIKE ''%VINHOME%RC%''
				AND CHUONG_TRINH_SP NOT LIKE ''%VINHOME%RS%''
				AND CHUONG_TRINH_SP NOT LIKE ''%VINHOME%TB%''
				AND CHUONG_TRINH_SP NOT LIKE ''%VINHOME%TC%''
				AND CHUONG_TRINH_SP NOT LIKE ''%TOPUP%'')) THEN ''NTB''
			ELSE ''ETB'' END)
')

EXEC
('
	UPDATE DBS_DAILY.DBO.UPL_'+@TODATE+'
	SET  PA_NONPA = (CASE WHEN CHUONG_TRINH_SP LIKE ''%LD%1002%HOPNHATUPL%'' THEN ''PA'' ELSE ''NON-PA'' END)
')

EXEC ('
ALTER TABLE DBS_DAILY.DBO.UPL_'+@TODATE+'
       ADD RRT_ID VARCHAR(50), PROMOTION_CODE NVARCHAR(200)
       ')

EXEC ('
UPDATE a 
       SET RRT_ID = B.RRT_ID
FROM DBS_DAILY.DBO.UPL_'+@TODATE+' A
       LEFT JOIN DATA.DBO.LNTB_MASTER B ON A.ACCTNO = B.ACCTNO

UPDATE a
SET PROMOTION_CODE = B.PROMOTION_CODE
FROM DBS_DAILY.DBO.UPL_'+@TODATE+' A
LEFT JOIN (SELECT * FROM DATA.DBO.LOS_INFORMATION
              WHERE CRM_CODE = ''OCBUPLPA'') B ON A.APP_ID_C = B.SZDISPLAYAPPLICATIONNO         --A.RRT_ID = B.MANAGER_SALE_PHONE
       ')

exec('
	ALTER TABLE DBS_DAILY.[dbo].[UPL_'+@todate+']
	ALTER COLUMN [ACCTNO] [varchar](20) NOT NULL
	')
exec('
	ALTER TABLE DBS_DAILY.[dbo].[UPL_'+@todate+']
	ADD CONSTRAINT PK_UPL_ACCT_'+@todate+' PRIMARY KEY CLUSTERED(ACCTNO ASC)
	')

DROP TABLE IF EXISTS ##UPLTOPUP, ##UPLDF, ##UPLDF_FINAL
end
GO
