USE [DBS_DAILY]
GO
/****** Object:  StoredProcedure [dbo].[PR_DAILY_ETL_22_ONLINE_LOAN]    Script Date: 8/6/2019 10:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PR_DAILY_ETL_22_ONLINE_LOAN]
AS 
BEGIN
DECLARE @TODATE VARCHAR(8), @FROMYEAR VARCHAR(8) 

SET @TODATE    = (SELECT RPTDATE FROM DBS_REF.DBO.RPTDATE )
SET @FROMYEAR  =   '20180101' 

if (select cast(max(business_date)  as date) from data.dbo.tbl_limit_org)  < @todate 
	or (select cast(max(business_date)  as date) from data.dbo.T24CRD_OD)  < @todate 
begin 
	select 1/0 
end 

DROP TABLE IF EXISTS ##LIMIT, ##PDPD, #TEMP, DATA.DBO.TBL_ONLINE_LOAN, #MISSING_OD

---================================
-- TAO BANG MOI
---================================
exec('	
	DROP TABLE IF EXISTS TBL_ONLINE_LOAN_'+@TODATE+'

	CREATE TABLE TBL_ONLINE_LOAN_'+@TODATE+' (
	BUSINESS_DATE VARCHAR(8), 
	ROWID BIGINT,
	PRODUCT_CODE VARCHAR(50),
	T24_CIF VARCHAR(50),
	OPEN_BRANCH VARCHAR(30),
	FULL_NAME NVARCHAR(200),
	MOBILE VARCHAR(20),
	LEGAL_ID VARCHAR(20),
	ADDRESS VARCHAR(500),
	OVERDRAFT_RATE FLOAT,
	SEC_UNSEC VARCHAR(10),
	TT39 INT, 
	OVERDRAFT_TYPE VARCHAR(150),
	OVERDRAFT_TERM VARCHAR(10),
	OVERDRAFT_CODE INT,
	REQUEST_LIMIT FLOAT,
	APPROVAL_LIMIT FLOAT,
	GLOBAL_LIMIT VARCHAR(30),
	PRODUCT_LIMIT VARCHAR(30) NOT NULL,
	CURRENCY VARCHAR(5),
	DAO VARCHAR(10),
	OVERDRAFT_ACC VARCHAR(30) NOT NULL,
	REGIST_DATE DATETIME,
	ACTIVE_DATE DATETIME,
	EXPIRY_DATE DATETIME,
	RECORD_STATUS VARCHAR(10),
	ERR_MESG NVARCHAR(250),
	RESP_STATUS VARCHAR(30),
	TRANS_TYPE VARCHAR(50),
	COLLATERAL VARCHAR(50),
	COLLATERAL_RIGHT VARCHAR(50),
	SOURCE VARCHAR(20),
	ACC_CATEGORY VARCHAR(10),
	CURRENT_LIMIT FLOAT,
	LIMIT_UPDATE_DATE DATE,
	GRACE_ACC VARCHAR(30) NULL,
	PDPD1 VARCHAR(50),
	VALUE_DATE1 DATE,
	PDPD1_UPDATE_DATE DATE, 
	PDPD2 VARCHAR(50),
	VALUE_DATE2 DATE,
	PDPD2_UPDATE_DATE DATE, 
	ACTIVE FLOAT,
	OUTSTANDING_AMT FLOAT, 
	OVD_AMT FLOAT, 
	BAL_QD FLOAT,
	NO_OVD_DAYS FLOAT,
	BUCKET_NHNN VARCHAR(10),
	NTB_ETB VARCHAR(10), 
	PA_NONPA VARCHAR(10),
	note varchar(255) 
	)
')
---================================
-- I > TAO BANG LIMIT 
---================================
EXEC('
	PRINT ''TAO BANG ##LIMIT''	
	SELECT * 
	INTO ##LIMIT 
	FROM 
		(SELECT ROW_NUMBER() OVER (PARTITION BY ID + ACCOUNT ORDER BY BUSINESS_DATE DESC) ROWID, *
		FROM DATA.DBO.TBL_LIMIT_ORG
		WHERE BUSINESS_DATE <= CONVERT(DATE,'''+@todate+''')
			AND CONVERT(FLOAT,INTERNAL_AMOUNT) <> 0 
		) A
	WHERE ROWID = 1
') 
---================================
-- II > INSERT RAW DATA
---================================

-------1> SOURCE EBANK 
EXEC('
SELECT * 
INTO DATA.DBO.TBL_ONLINE_LOAN 
----FROM M16.VPB_WHR2.DBO.TBL_ONLINE_LOAN
FROM M108.BICDATA_HIS.DBO.DAILY_ONLINE_LOAN
WHERE REGIST_DATE < DATEADD(D,1,'''+@todate+''')

ALTER TABLE DATA.DBO.TBL_ONLINE_LOAN 
	ADD SOURCE VARCHAR(20)
') 

EXEC('
	INSERT INTO DATA.DBO.TBL_ONLINE_LOAN (
		T24_CIF,OPEN_BRANCH,FULL_NAME,MOBILE,LEGAL_ID,ADDRESS, OVERDRAFT_RATE,OVERDRAFT_TERM,OVERDRAFT_TYPE,APPROVAL_LIMIT,GLOBAL_LIMIT, PRODUCT_LIMIT,
		CURRENCY,DAO,OVERDRAFT_ACC,PURPOSE,	REGIST_DATE,ACTIVE_DATE,EXPIRY_DATE, FEE_CODE,RESP_STATUS,TRANS_CODE,LIMIT_MAX,
		RECORD_STATUS,EMAIL,FILE_CODE, TRANS_TYPE,DOC_STATUS,COLLATERAL_RIGHT,COLLATERAL,BLOCK_INTEREST_AMT, SOURCE)
	SELECT 
		T24_CIF,OPEN_BRANCH,FULL_NAME,MOBILE,LEGAL_ID,ADDRESS, OVERDRAFT_RATE,OVERDRAFT_TERM,OVERDRAFT_TYPE,APPROVAL_LIMIT,GLOBAL_LIMIT,PRODUCT_LIMIT,
		CURRENCY,DAO,OVERDRAFT_ACC,PURPOSE,	REGIST_DATE,ACTIVE_DATE,EXPIRY_DATE, FEE_CODE,''00'' RESP_STATUS, TRANS_CODE, LIMIT_MAX,''APR'' RECORD_STATUS, EMAIL, FILE_CODE,
		(CASE WHEN OVERDRAFT_TYPE = ''THAU CHI CAM CO STK'' THEN ''ONLINELOANPAWNOPEN'' ELSE NULL END) TRANS_TYPE,
		DOC_STATUS, COLLATERAL_RIGHT,COLLATERAL,BLOCK_INTEREST_AMT,''OCB'' AS SOURCE
	FROM 
		(SELECT 		
			ROW_NUMBER() OVER (PARTITION BY PRODUCT_LIMIT ORDER BY REGIST_DATE) ROWID, * 
		----FROM M16.VPB_WHR2.DBO.TBL_EB_ONLINE_LOAN
		FROM M108.BICDATA_HIS.DBO.DAILY_EB_ONLINE_LOAN
		WHERE TRANS_TYPE = ''OPEN'' 
			AND RESP_STATUS = ''3''
			AND ISNULL(OVERDRAFT_TYPE, 0) <> ''THAU CHI SAVONLINE''
			AND REGIST_DATE < DATEADD(D,1,'''+@todate+''')

		) X 
	WHERE ROWID = 1 
')
-------1> SOURCE MANUAL (MISSING DATA) 
EXEC('
	SELECT 
		DISTINCT PRODUCT_LIMIT,OVERDRAFT_TYPE,ACCTNO OVERDRAFT_ACC,CIF T24_CIF,APPROVAL_LIMIT,REGIST_DATE,
				A.EXPIRY_DATE,B.BUSINESS_DATE LIMIT_UPDATE_DATE,''MANUAL'' SOURCE 
	INTO #MISSING_OD
	FROM DATA.DBO.IMPORT_MISSING_ONLINE_OD_2018 A 
	LEFT JOIN ##LIMIT B	
		ON A.PRODUCT_LIMIT = B.ID
	WHERE B.BUSINESS_DATE IS NOT NULL
		AND NOT EXISTS (SELECT 1 FROM DATA.DBO.TBL_ONLINE_LOAN C 
						WHERE PRODUCT_LIMIT <> '''' 
						AND RESP_STATUS = ''00'' 
						AND A.PRODUCT_LIMIT = C.PRODUCT_LIMIT)

	INSERT INTO DATA.DBO.TBL_ONLINE_LOAN 
		(T24_CIF,FULL_NAME,MOBILE,LEGAL_ID,ADDRESS,OVERDRAFT_TERM,OVERDRAFT_TYPE,APPROVAL_LIMIT,
		PRODUCT_LIMIT,CURRENCY,OVERDRAFT_ACC,REGIST_DATE,ACTIVE_DATE,EXPIRY_DATE,RESP_STATUS,RECORD_STATUS,EMAIL,
		TRANS_TYPE,COLLATERAL_RIGHT,COLLATERAL,BLOCK_INTEREST_AMT,SOURCE)

	SELECT 
		T24_CIF,B.CUS_NAME, MOBILE, LEGAL_ID,ADDRESS,
		(CASE 
			WHEN DATEDIFF(DAY,REGIST_DATE, EXPIRY_DATE) <= 10 THEN 0.25
			WHEN DATEDIFF(DAY,REGIST_DATE, EXPIRY_DATE) BETWEEN 11 AND 17 THEN 0.5
			WHEN DATEDIFF(DAY,REGIST_DATE, EXPIRY_DATE) BETWEEN 18 AND 27 THEN 0.75
		ELSE ROUND(DATEDIFF(DAY,REGIST_DATE, EXPIRY_DATE)/30.5,0)
		END) OVERDRAFT_TERM , 	
		OVERDRAFT_TYPE,APPROVAL_LIMIT,	PRODUCT_LIMIT,''VND'',
		OVERDRAFT_ACC,REGIST_DATE,REGIST_DATE,EXPIRY_DATE,''00'',''APR'',EMAIL_ADDR,
		(CASE WHEN OVERDRAFT_TYPE = ''THAU CHI CAM CO STK'' THEN ''ONLINELOANPAWNOPEN'' ELSE NULL END),
		NULL,NULL,NULL,SOURCE
	FROM #MISSING_OD A 
		LEFT JOIN DBS_DAILY.DBO.CUSTOMER_'+@todate+' B ON A.T24_CIF = B.RECID; 
') 
------3. SOURCE T24 
EXEC('
	SELECT  *
	into #LIMIT_ORG
	FROM 
		(SELECT *,  ROW_NUMBER() OVER (PARTITION BY A.ID ORDER BY A.BUSINESS_DATE DESC) ROWID
		FROM DATA.DBO.TBL_LIMIT_ORG A  
		WHERE ACCOUNT IS NOT NULL 
			AND BUSINESS_DATE <= CONVERT(DATE,'''+@todate+''')
		) A 
	WHERE ROWID = 1 

	SELECT *
	into #LIMIT_ODTYPE
	FROM 
		(SELECT * ,  ROW_NUMBER() OVER (PARTITION BY ACCTNO, LIMIT_REFERENCE ORDER BY BUSINESS_DATE DESC , SOURCE DESC) ROWID
		FROM DATA.DBO.LIMIT_ODTYPE
		WHERE BUSINESS_DATE <= CONVERT(DATE,'''+@todate+''')
		) A  
	WHERE ROWID = 1 

	SELECT 
		LIABILITY_NUMBER T24_CIF,  ACCOUNT OVERDRAFT_ACC,B.OVERDRAFT_TYPE,A.ID PRODUCT_LIMIT,
		APPROVAL_DATE REGIST_DATE,  EXPIRY_DATE, CONVERT(FLOAT,INTERNAL_AMOUNT) APPROVAL_LIMIT,OVERDRAFT_INT OVERDRAFT_RATE
	INTO #temp  
	FROM #LIMIT_ORG A 
	LEFT JOIN #LIMIT_ODTYPE B
		ON A.ACCOUNT = B.ACCTNO	AND A.ID = B.LIMIT_REFERENCE
	WHERE (B.OVERDRAFT_TYPE LIKE ''%THAU CHI SAV%'' 
			AND A.APPROVAL_DATE >= ''2018-05-16'')
		OR (B.OVERDRAFT_TYPE IS NOT NULL
			AND (A.INPUTTER LIKE ''%EBANK.1%'' 
				OR A.INPUTTER LIKE ''%EBANK.2%'' 
				OR A.INPUTTER LIKE ''%EBANK.4%'')
			AND OVERDRAFT_TYPE IN (SELECT DISTINCT OVERDRAFT_TYPE FROM DATA.DBO.TBL_ONLINE_LOAN WHERE OVERDRAFT_TYPE IS NOT NULL)
			AND APPROVAL_DATE >= ''20180101'')

	INSERT INTO DATA.DBO.TBL_ONLINE_LOAN 
			(T24_CIF,OVERDRAFT_ACC,OVERDRAFT_TYPE,PRODUCT_LIMIT,REGIST_DATE,ACTIVE_DATE,EXPIRY_DATE,APPROVAL_LIMIT,OVERDRAFT_RATE,
			CURRENCY,SOURCE,RESP_STATUS,RECORD_STATUS, OVERDRAFT_TERM,FULL_NAME,MOBILE,LEGAL_ID,ADDRESS,EMAIL, TRANS_TYPE)
	SELECT 
		T24_CIF,OVERDRAFT_ACC,OVERDRAFT_TYPE,PRODUCT_LIMIT,REGIST_DATE,REGIST_DATE ACTIVE_DATE,
		EXPIRY_DATE,APPROVAL_LIMIT,OVERDRAFT_RATE,''VND'' CURRENCY,''T24'' SOURCE,
		''00'' RESP_STATUS,''APR'' RECORD_STATUS,
		(CASE WHEN DATEDIFF(DAY,REGIST_DATE, EXPIRY_DATE) <= 10 THEN 0.25
			WHEN DATEDIFF(DAY,REGIST_DATE, EXPIRY_DATE) BETWEEN 11 AND 17 THEN 0.5
			WHEN DATEDIFF(DAY,REGIST_DATE, EXPIRY_DATE) BETWEEN 18 AND 27 THEN 0.75
				ELSE ROUND(DATEDIFF(DAY,REGIST_DATE, EXPIRY_DATE)/30.5,0) END) OVERDRAFT_TERM,
		B.CUS_NAME FULL_NAME,I2B_MOBILE MOBILE,LEGAL_ID,ADDRESS,I2B_EMAIL EMAIL,
		CASE WHEN OVERDRAFT_TYPE = ''THAU CHI CAM CO STK'' THEN ''ONLINELOANPAWNOPEN'' END
	FROM #temp A 
	LEFT JOIN DBS_DAILY.DBO.CUSTOMER_'+@todate+' B ON A.T24_CIF = B.RECID
	WHERE NOT EXISTS (SELECT 1 FROM DATA.DBO.TBL_ONLINE_LOAN B 
						WHERE PRODUCT_LIMIT IS NOT NULL 
							AND PRODUCT_LIMIT <> '''' 
							AND RESP_STATUS = ''00''
							AND A.PRODUCT_LIMIT = B.PRODUCT_LIMIT )	  

	UPDATE DATA.DBO.TBL_ONLINE_LOAN  
	SET T24_CIF = REPLACE(T24_CIF,''_'','''')
') 

------4. INSERT INTO FINAL TABLE 

EXEC('
	INSERT INTO TBL_ONLINE_LOAN_'+@TODATE+'(
		BUSINESS_dATE, ROWID, PRODUCT_CODE,T24_CIF,OPEN_BRANCH,FULL_NAME,MOBILE,LEGAL_ID,ADDRESS,OVERDRAFT_RATE,OVERDRAFT_TYPE, 
		OVERDRAFT_TERM,OVERDRAFT_CODE,REQUEST_LIMIT,APPROVAL_LIMIT,GLOBAL_LIMIT,PRODUCT_LIMIT,CURRENCY,DAO,
		OVERDRAFT_ACC,REGIST_DATE,ACTIVE_DATE,EXPIRY_DATE,RECORD_STATUS,ERR_MESG,
		RESP_STATUS,TRANS_TYPE,COLLATERAL,COLLATERAL_RIGHT,SOURCE, SEC_UNSEC, ACC_CATEGORY
	)
	SELECT 
		'''+@TODATE+''', ROW_NUMBER() OVER (PARTITION BY OVERDRAFT_ACC ORDER BY PRODUCT_LIMIT DESC, REGIST_DATE DESC) ROWID,
		PRODUCT_CODE,T24_CIF,OPEN_BRANCH,FULL_NAME,MOBILE,LEGAL_ID,ADDRESS,OVERDRAFT_RATE,OVERDRAFT_TYPE,
		OVERDRAFT_TERM,OVERDRAFT_CODE,REQUEST_LIMIT,APPROVAL_LIMIT,GLOBAL_LIMIT,PRODUCT_LIMIT,CURRENCY,DAO,
		OVERDRAFT_ACC,REGIST_DATE,ACTIVE_DATE,EXPIRY_DATE,RECORD_STATUS,ERR_MESG,
		RESP_STATUS,TRANS_TYPE,COLLATERAL,COLLATERAL_RIGHT, COALESCE(SOURCE, ''I2B''), 
		case when OVERDRAFT_TYPE in (''Thau chi cam co STK'', ''Thau chi SavOnline'') then ''SEC'' ELSE ''UNSEC'' END,
		A.CATEGORY
	FROM DATA.DBO.TBL_ONLINE_LOAN A 
	inner join 
		(SELECT RECID FROM DBS_DAILY.DBO.CUSTOMER_'+@todate+'
		WHERE (BI_CHANNEL <> ''OTHER'' OR SEGMENT = ''SMEs'' OR COMPANY_BOOK = ''VN0010348'' )
			AND CUS_OPEN_DATE <= '''+@todate+'''
		) B ON A.T24_CIF  = B.RECID 
	WHERE (PRODUCT_LIMIT IS NOT NULL AND PRODUCT_LIMIT <> '''')
		AND (
				(OVERDRAFT_TYPE <> ''THAU CHI CAM CO STK'' AND RESP_STATUS = ''00'')
			OR (OVERDRAFT_TYPE  = ''THAU CHI CAM CO STK'' 
				AND RESP_STATUS = ''00'' 
				AND TRANS_TYPE = ''ONLINELOANPAWNOPEN'' 
				AND ((LEN(ERR_MESG)=0) OR ((ERR_MESG IS NULL) AND (PRODUCT_CODE IS NULL)))
				)
			)
			AND REGIST_DATE < DATEADD(D,1,'''+@todate+''')
')
-------4.1. UPDATE TAY CHO 1 TH MAP SAI MA LIMIT 
EXEC('
	update a 
	set product_limit = ''107857.0058600.03'',
		global_limit = ''107857.0050000.03'',
		note = ''Update tay cho TH map sai ma limit'' 
	from TBL_ONLINE_LOAN_'+@TODATE+' a 
	where product_limit = ''107857.0058600.02''	
		and overdraft_acc = ''534347'' 
		AND CAST(REGIST_DATE AS DATE) = ''20160607'' 
	') 
---================================
-- III > UPDATE DU LIEU 
---================================

-----1. UPDATE CURRENT LIMIT, LIMIT UPDATE DATE 
EXEC('
	UPDATE A
	SET CURRENT_LIMIT = B.INTERNAL_AMOUNT,
		LIMIT_UPDATE_DATE = B.BUSINESS_DATE
	FROM TBL_ONLINE_LOAN_'+@TODATE+' A
		LEFT JOIN ##LIMIT B ON A.OVERDRAFT_ACC = B.ACCOUNT	AND A.PRODUCT_LIMIT = B.ID

	UPDATE TBL_ONLINE_LOAN_'+@TODATE+'
	SET CURRENT_LIMIT = APPROVAL_LIMIT
	WHERE CURRENT_LIMIT IS NULL
') 
-----2. UPDATE CAC THONG TIN CHUNG 
-----2.1. CUSNAME, LEGALID, BRANCH...
EXEC('	
	UPDATE A 
	SET FULL_NAME = B.CUS_NAME,
		LEGAL_ID = B.LEGAL_ID
	FROM TBL_ONLINE_LOAN_'+@TODATE+' A 
		INNER JOIN CUSTOMER_'+@todate+' B ON A.T24_CIF = B.RECID

	UPDATE A 
	SET OPEN_BRANCH = CASE WHEN A.OPEN_BRANCH IS NULL THEN B.BRANCH_CODE ELSE A.OPEN_BRANCH END,
		ACC_CATEGORY = CASE WHEN B.CATEGORY IS NULL THEN A.ACC_CATEGORY ELSE B.CATEGORY END
	FROM TBL_ONLINE_LOAN_'+@TODATE+' A 
		INNER JOIN DATA.DBO.DPTB_MASTER B ON A.OVERDRAFT_ACC = B.ACCTNO

	UPDATE A 
	SET MOBILE = ''0'' + MOBILE
	FROM TBL_ONLINE_LOAN_'+@TODATE+' A 
	WHERE MOBILE NOT LIKE ''0%'' 
') 
-----2.2. DANH DAU THAU CHI THONG TU 39 
EXEC('
	UPDATE A
	SET TT39 = CASE WHEN (A.OVERDRAFT_TYPE = ''Thau chi VPB+'' AND A.ACTIVE_DATE >= ''2018-02-01'')
					OR (A.OVERDRAFT_TYPE = ''Thau chi CBNV'' AND A.ACTIVE_DATE >= ''2018-01-27'') 
					OR A.OVERDRAFT_TYPE = ''Thau chi SavOnline'' THEN 1 
				ELSE 0 END 
	FROM TBL_ONLINE_LOAN_'+@TODATE+'   A 
	')
-------3. THONG TIN VE PDPD

EXEC('	
	---DROP TABLE ##PDPD
	select 
		CUSTOMER_ID, DRAW_PART_REPAY_ACCT, CONTRACT_NO, VALUE_DATE, BUSINESS_DATE,  LIMIT_ID, LDPD_AMT, NO_OVD_DAYS, 
		PR_AMT, IN_AMT, PE_AMT, PS_AMT, 
		ROW_NUMBER() over(partition by LIMIT_ID ORDER BY VALUE_DATE ASC )  AS RN 			
	INTO ##PDPD
	from data.dbo.t24crd_od 
	where business_date = '''+@todate+'''
') 

------3.1> PDPD CUA THAU CHI CU 
EXEC('
	UPDATE A 
	SET A.PDPD1 = B.CONTRACT_NO, 
		A.VALUE_DATE1 = B.VALUE_DATE, 
		a.PDPD1_UPDATE_DATE = B.BUSINESS_DATE
	FROM TBL_ONLINE_LOAN_'+@TODATE+' A 
		INNER JOIN ##PDPD B 
			ON A.PRODUCT_LIMIT = B.LIMIT_ID and a.overdraft_acc = b.DRAW_PART_REPAY_ACCT
	WHERE TT39 = 0 
		AND B.RN = 1
		----AND DATEDIFF(D,A.LIMIT_UPDATE_DATE,B.VALUE_DATE) BETWEEN 0 AND 45


	UPDATE A 
	SET A.PDPD2 = B.CONTRACT_NO, 
		A.VALUE_DATE2 = B.VALUE_DATE, 
		a.PDPD2_UPDATE_DATE = B.BUSINESS_DATE	 
	FROM TBL_ONLINE_LOAN_'+@TODATE+' A 
		INNER JOIN ##PDPD B 
			ON A.PRODUCT_LIMIT = B.LIMIT_ID and a.overdraft_acc = b.DRAW_PART_REPAY_ACCT
	WHERE TT39 = 0
		AND B.RN = 2
		----AND DATEDIFF(D,A.LIMIT_UPDATE_DATE,B.VALUE_DATE) BETWEEN 0 AND 45
')
------3.2> PDPD CUA THAU CHI MOI
EXEC('
	UPDATE A 
	SET A.PDPD1 = B.CONTRACT_NO, 
		A.VALUE_DATE1 = B.VALUE_DATE, 
		a.PDPD1_UPDATE_DATE = B.BUSINESS_DATE 
	FROM TBL_ONLINE_LOAN_'+@TODATE+' A 
		INNER JOIN ##PDPD B 
			ON A.PRODUCT_LIMIT = B.LIMIT_ID and a.overdraft_acc = b.DRAW_PART_REPAY_ACCT
	WHERE 1 = 1
		---AND DATEDIFF(D,A.LIMIT_UPDATE_DATE,B.VALUE_DATE) BETWEEN 0 AND 45
		and PDPD1 is null
		AND TT39 = 1
')

-------3.2.1. UPDATE TAI KHOAN TRA LAI CUA THAU CHI MOI - cate 1904 
EXEC('	
	update a 
	set a.ACTIVE_DATE = b.approval_Date 
	from TBL_ONLINE_LOAN_'+@TODATE+' a 
		inner join ##LIMIT b on a.PRODUCT_LIMIT = b.id  and a.OVERDRAFT_ACC = b.account ;

	SELECT CIF, ACCTNO, MAX(ISSUE_DATE) ISSUE_DATE 
	into #tbl 
	FROM DATA.DBO.DPTB_MASTER 
	WHERE CATEGORY = ''1904''
	GROUP BY CIF, ACCTNO 

	update a 
	set a.GRACE_ACC = b.acctno 
	FROM TBL_ONLINE_LOAN_'+@TODATE+' A
	cross apply (
		select top 1 * 
		from #tbl b 
		where A.ACTIVE_DATE >= B.ISSUE_DATE
			and a.t24_cif = b.cif 
		order by B.ISSUE_DATE desc 
		)  b 
	WHERE TT39 = 1 	
')
------3.2.2> PDPD goc CUA THAU CHI MOI
--			DA UPDATE O TREN 
------3.3.1. PDPD lai (gan nhat)
EXEC('
	UPDATE A 
	SET A.PDPD2 = B.CONTRACT_NO, 
		A.VALUE_DATE2 = b.VALUE_DATE, 
		a.PDPD2_UPDATE_DATE = B.BUSINESS_DATE 
	FROM TBL_ONLINE_LOAN_'+@TODATE+' A
	inner join ##PDPD b 
		----on a.PRODUCT_LIMIT = b.LIMIT_ID and a.GRACE_ACC  = b.DRAW_PART_REPAY_ACCT 
		on a.PRODUCT_LIMIT = b.LIMIT_ID
	WHERE TT39 = 1 
		and b.In_amt is not null 
')

------4. UPDATE ACTIVE STATUS 
exec('
PRINT ''UPDATE ACTIVE STATUS''
update TBL_ONLINE_LOAN_'+@TODATE+' 
SET ACTIVE = 1
WHERE LIMIT_UPDATE_DATE >= '''+@TODATE+''' 
	OR PDPD1_UPDATE_DATE >= '''+@TODATE+'''
	OR PDPD2_UPDATE_DATE >= '''+@TODATE+'''
 ') 

----5. UPDATE BALANCE , NO_OVD_DAYS 

EXEC('
	update a 
	set a.outstanding_amt = b.BAL_QD
	from TBL_ONLINE_LOAN_'+@TODATE+' a  
	inner join DBS_DAIly.dbo.BALANCE_'+@todate+' b on a.PRODUCT_LIMIT   = b.LIMIT_REFERENCE 
	where b.BAL_QD <> 0 
		and a.active  = 1
		AND B.ACCTNO NOT LIKE ''%PDPD%'' ;

/*
----Note: balance cua PDPD tren bang Balance tuong ung voi PR_amt tren t24_crd ---> code nay ko su dung
	update a 
	set a.outstanding_amt = b.BAL_QD 
	from TBL_ONLINE_LOAN_'+@TODATE+' a  
	inner join DBS_DAIly.dbo.BALANCE_'+@todate+' b on a.PDPD1  = b.ACCTNO
	where PDPD1 is not null 
		and OUTSTANDING_AMT is null ;
*/
	select 
		limit_id , 
		max(no_ovd_days) as no_ovd_days,
		SUM(ISNULL(PR_AMT,0)) + SUM(ISNULL(IN_AMT,0)) + SUM(ISNULL(PE_AMT,0)) + SUM(ISNULL(PS_AMT,0)) BALANCE 
	into #temp 
	from ##pdpd 
	group by 
		limit_id 

	UPDATE A 
	SET A.OVD_AMT  = B.BALANCE,
		a.NO_OVD_DAYS = b.no_ovd_days
	FROM TBL_ONLINE_LOAN_'+@TODATE+' a 
		inner join #temp B ON a.product_limit = b.limit_id
	where (PDPD1_UPDATE_DATE >= '''+@TODATE+''' or PDPD2_UPDATE_DATE >= '''+@TODATE+''' )
			and active = 1 
')
exec('
	UPDATE A 
	set a.bal_qd = ISNULL(A.OUTSTANDING_AMT,0) + ISNULL(A.OVD_AMT,0)
	FROM TBL_ONLINE_LOAN_'+@TODATE+' a 
	')

EXEC('
	UPDATE A 
       SET BUCKET_NHNN = CASE WHEN ISNULL(NO_OVD_DAYS,0)<=10 THEN ''B1'' 
							WHEN ISNULL(NO_OVD_DAYS,0)>10 AND NO_OVD_DAYS<=90 THEN ''B2'' 
							WHEN ISNULL(NO_OVD_DAYS,0)>90 AND NO_OVD_DAYS<=180 THEN ''B3'' 
							WHEN ISNULL(NO_OVD_DAYS,0)>180 AND NO_OVD_DAYS<=360 THEN ''B4'' 
							WHEN ISNULL(NO_OVD_DAYS,0)>360 THEN ''B5''  
						END
	from TBL_ONLINE_LOAN_'+@TODATE+' A
	WHERE ACTIVE = 1 
	')

--------5. UPDATE NTB_ETB, PA_NONPA
EXEC
('
UPDATE TBL_ONLINE_LOAN_'+@TODATE+'
	SET NTB_ETB = (CASE WHEN OVERDRAFT_TYPE LIKE ''%TIMO%'' OR OVERDRAFT_TYPE LIKE ''%VPB+%'' THEN ''NTB'' ELSE ''ETB'' END)
')

EXEC
('
UPDATE TBL_ONLINE_LOAN_'+@TODATE+'
	SET PA_NONPA = (CASE WHEN OVERDRAFT_TYPE IN (''Thau chi VPB+'',''Thau chi KH tieu dung casa'',''Thau chi payroll nha nuoc dac thu'',
							''Thau chi ca nhan tieu dung'',''Thau chi TIMO'',''Thau chi CBNV'',''Thau chi payroll thu nhap cao'') THEN ''PA'' 
						ELSE ''NON-PA'' END) 
')


EXEC('
	ALTER TABLE TBL_ONLINE_LOAN_'+@TODATE+' 
	ADD CONSTRAINT PK_OD_LIMIT_'+@TODATE+'  PRIMARY KEY CLUSTERED (PRODUCT_LIMIT, OVERDRAFT_ACC DESC) 
')

DROP TABLE IF EXISTS ##LIMIT, ##PDPD, #TEMP, DATA.DBO.TBL_ONLINE_LOAN, #MISSING_OD
END
GO
