USE [DBS_DAILY]
GO
/****** Object:  StoredProcedure [dbo].[PR_DAILY_ETL_22_SECURED_LOAN]    Script Date: 8/6/2019 10:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[PR_DAILY_ETL_22_SECURED_LOAN] AS 
BEGIN
DECLARE @TODATE VARCHAR(8) =  (SELECT RPTDATE FROM DBS_REF.DBO.RPTDATE )

EXEC('
drop table if exists [dbo].[SECURED_LOAN_'+@TODATE+']

	CREATE TABLE [dbo].[SECURED_LOAN_'+@TODATE+'](
		[PRODUCT_LINE] [varchar](100) NULL,
		[APP_ID_C] [nvarchar](20) NULL,
		[ACCTNO] [varchar](20) NOT NULL,
		[ORIGINAL_AMT] [float] NULL,
		[VALUE_DATE] [date] NULL,
		[MATDT] [date] NULL,
		[WITHDRAW_DATE] [date] NULL,
		[CUSTOMER_NAME] [varchar](500) NULL,
		[CIF] [varchar](50) NULL,
		[BRANCH_CODE] [varchar](200) NULL,
		[RATE] [varchar](50) NULL,
		[DAO] [varchar](100) NULL,
		[BI_CHANNEL] [varchar](100) NULL,
		[BAL_QD] [float] NULL,
		[NO_OVD_DAYS] [float] NULL,
		[DEBT_GROUP] [varchar](10) NULL,
		[CHUONG_TRINH_SP] [varchar](100) NULL,
		[NTB_ETB] [varchar](10) NULL,
		[PA_NONPA] [varchar](10) NULL,
		[RRT_ID] [varchar](50) NULL,
		[PROMOTION_CODE] [nvarchar](200) NULL,
	 CONSTRAINT [PK_LOAN_ACCT_'+@TODATE+'] PRIMARY KEY CLUSTERED ([ACCTNO] ASC)
	 ) 
 ')

PRINT '8.4. PASSBOOK LOAN'
EXEC
('
	INSERT INTO [SECURED_LOAN_'+@TODATE+'](
		PRODUCT_LINE, APP_ID_C, ACCTNO, ORIGINAL_AMT) 
	SELECT 
		''Passbook Loan'', 
		APP_ID_C, ACCTNO, SUM(BAL_QD) ORIGINAL_AMT
	FROM DATA.DBO.LNTB_DISBURSEMENT A 
	WHERE VALUE_DATE <= '''+@TODATE+'''
		AND EXISTS (SELECT 1 FROM DATA.DBO.LNTB_MASTER B
					WHERE A.ACCTNO = B.ACCTNO
						AND B.I2B = ''Y''
						AND B.product_name = ''7. Passbook Loan'')
	group by APP_ID_C, ACCTNO 
')


EXEC('
	UPDATE A 
	SET VALUE_DATE = B.VALUE_DATE,
		MATDT = B.MATDT,
		WITHDRAW_DATE = B.WITHDRAW_DATE,
		CUSTOMER_NAME = B.CUSTOMER_NAME,
		CIF = B.CIF,
		BRANCH_CODE = B.BRANCH_CODE,
		RATE = B.RATE,
		DAO = B.DAO, 
		BI_CHANNEL = B.BI_CHANNEL
	FROM [SECURED_LOAN_'+@TODATE+'] A, DATA.DBO.LNTB_MASTER b  
	WHERE A.ACCTNO = B.ACCTNO
')


EXEC('
	UPDATE  a
		SET BAL_QD = B.BAL_QD,
		NO_OVD_DAYS = B.NO_OVD_DAYS
	FROM  SECURED_LOAN_'+@TODATE+' A, DBS_DAILY.DBO.BALANCE_'+@TODATE+' B
		WHERE A.ACCTNO = B.ACCTNO
')

EXEC
('
	UPDATE [SECURED_LOAN_'+@TODATE+']
	SET DEBT_GROUP = CASE WHEN ISNULL(NO_OVD_DAYS,0)<=10 THEN ''B1'' 
						  WHEN ISNULL(NO_OVD_DAYS,0)>10 AND NO_OVD_DAYS<=90 THEN ''B2'' 
						  WHEN ISNULL(NO_OVD_DAYS,0)>90 AND NO_OVD_DAYS<=180 THEN ''B3'' 
						  WHEN ISNULL(NO_OVD_DAYS,0)>180 AND NO_OVD_DAYS<=360 THEN ''B4'' 
						  WHEN ISNULL(NO_OVD_DAYS,0)>360 THEN ''B5''  END
		WHERE BAL_QD IS NOT NULL
')

PRINT ('UPDATE CHUONG_TRINH_SP') 
EXEC
('
	UPDATE A
	SET CHUONG_TRINH_SP = B.CHUONG_TRINH_SP
	FROM SECURED_LOAN_'+@TODATE+' A, DATA.DBO.LNTB_MASTER B
		WHERE A.ACCTNO = B.ACCTNO
')

EXEC ('
	UPDATE a 
	SET RRT_ID = B.RRT_ID
	FROM SECURED_LOAN_'+@TODATE+' A
		   LEFT JOIN DATA.DBO.LNTB_MASTER B ON A.ACCTNO = B.ACCTNO

	UPDATE a
	SET PROMOTION_CODE = B.PROMOTION_CODE
	FROM SECURED_LOAN_'+@TODATE+' A
	LEFT JOIN (SELECT * FROM DATA.DBO.LOS_INFORMATION
				  WHERE CRM_CODE = ''OCBUPLPA'') B ON A.APP_ID_C = B.SZDISPLAYAPPLICATIONNO         --A.RRT_ID = B.MANAGER_SALE_PHONE
       ')


END


GO
