USE [DBS_DAILY]
GO
/****** Object:  StoredProcedure [dbo].[PR_DAILY_ETL_25_UNSECURED_ODLIMIT_MASTER]    Script Date: 8/6/2019 10:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[PR_DAILY_ETL_25_UNSECURED_ODLIMIT_MASTER] as 
begin

declare @todate varchar(8) 
set @todate = (select rptdate from DBS_REF.dbo.RPTDATE) 
print('------TAO BANG ')
print('----DROP TABLE IF EXISTS DRAFT.DBO.ANHNT67_UNSECURED_ODLIMIT_MASTER') 

exec('
DROP TABLE IF EXISTS dbs_daily.dbo.UNSECURED_ODLIMIT_MASTER_'+@todate+' , #TBL, #BRANCH, ##PDPD, #TEMP, ##T24CRD_PDPD, ##T24CRD

CREATE TABLE dbs_daily.dbo.UNSECURED_ODLIMIT_MASTER_'+@todate+' (
	[ID] [varchar](35) NOT NULL,
	[OVERDRAFT_ACC] [varchar](20) NULL,
	[CIF] [varchar](30) NULL,
	[CURRENT_LIMIT] [float] NULL,
	[APPROVAL_DATE] [date] NULL,
	[EXPIRY_DATE] [date] NULL,
	[LIMIT_UPDATE_DATE] [date] NULL,
	[GRACE_ACC] [varchar](20) NULL,
	[OVERDRAFT_TYPE] [varchar](1000) NULL,
	[TBL_ONLINE_LOAN] [float] NULL,
	TT39 INT, 
	[PDPD1] [varchar](50) NULL,
	[VALUE_DATE1] [date] NULL,
	[PDPD1_UPDATE_DATE] [date] NULL,
	[LDPD_AMT1] [float] NULL,
	[PR_AMT1] [float] NULL,
	[IN_AMT1] [float] NULL,
	[PE_AMT1] [float] NULL,
	[PS_AMT1] [float] NULL,
	[NO_OVD_DAYS] [float] NULL,
	[PDPD_UPDATE_DATE] [date] NULL,
	[PDPD2] [varchar](50) NULL,
	[VALUE_DATE2] [date] NULL,
	[PDPD2_UPDATE_DATE] [date] NULL,
	[LDPD_AMT2] [float] NULL,
	[PR_AMT2] [float] NULL,
	[IN_AMT2] [float] NULL,
	[PE_AMT2] [float] NULL,
	[PS_AMT2] [float] NULL,
	[ORIGINAL_OVD_AMT] [float] NULL,
	[TOTAL_OUTSTANDING_AMT] [float] NULL,
	[TOTAL_OVD_AMT] [float] NULL,
	[BUCKET_NHNN] [varchar](10) NULL,
	[CUSTOMER_NAME] [varchar](1000) NULL,
	[LEGAL_ID] [varchar](100) NULL,
	[BRANCH_CODE] [varchar](100) NULL,
	[ACTIVE] [float] NULL,
	[TOTAL_BALANCE] [float] NULL,
	NOTE VARCHAR(255) 
) 
')

print('-----LAY LIMIT TIN CHAP TU TBL LIMIT ORG ')
exec('
INSERT INTO dbs_daily.dbo.UNSECURED_ODLIMIT_MASTER_'+@todate+' 
	(ID, OVERDRAFT_ACC, CIF, CURRENT_LIMIT, APPROVAL_DATE, EXPIRY_DATE, LIMIT_UPDATE_DATE)
SELECT ID,ACCOUNT OVERDRAFT_ACC,LIABILITY_NUMBER CIF, CONVERT(FLOAT,INTERNAL_AMOUNT) CURRENT_LIMIT,APPROVAL_DATE, EXPIRY_DATE, BUSINESS_DATE LIMIT_UPDATE_DATE	
FROM
	(SELECT ROW_NUMBER() OVER (PARTITION BY ID + ACCOUNT ORDER BY BUSINESS_DATE DESC) ROWID,*
	FROM DATA.dbo.TBL_LIMIT_ORG
	WHERE (MAXIMUM_SECURED IS NULL OR MAXIMUM_SECURED = CONVERT(VARCHAR,0))
		AND CONVERT(FLOAT,INTERNAL_AMOUNT) <> 0 
		AND BUSINESS_DATE <= '''+@todate+'''
	) A
WHERE ROWID = 1
')
print('-----UPDATE THONG TIN THAU CHI TU TBL_ONLINE_LOAN VA LNTB_MASTER ')

exec('			
UPDATE A  
SET A.TBL_ONLINE_LOAN = 1 ,
	OVERDRAFT_TYPE = B.OVERDRAFT_TYPE
FROM dbs_daily.dbo.UNSECURED_ODLIMIT_MASTER_'+@todate+'  A 
INNER JOIN DBS_DAILY.DBO.TBL_ONLINE_LOAN_'+@todate+' B 
	ON A.ID = B.PRODUCT_LIMIT 

UPDATE A 
SET OVERDRAFT_TYPE = B.OVERDRAFT_TYPE
FROM dbs_daily.dbo.UNSECURED_ODLIMIT_MASTER_'+@todate+'  A
	INNER JOIN DATA.DBO.LNTB_MASTER B ON A.ID = B.LIMIT_REFERENCE
WHERE A.OVERDRAFT_TYPE IS NULL
')

print('---DANH DAU LOAI THAU CHI (TT39 HAY KO) ')

exec('
UPDATE A
SET TT39 = CASE WHEN (A.OVERDRAFT_TYPE = ''Thau chi VPB+'' AND A.APPROVAL_DATE >= ''2018-02-01'')
				OR (A.OVERDRAFT_TYPE = ''Thau chi CBNV'' AND A.APPROVAL_DATE >= ''2018-01-27'') THEN 1 
			ELSE 0 END 
FROM dbs_daily.dbo.UNSECURED_ODLIMIT_MASTER_'+@todate+'   A 
')

print('-----UPDATE TRUONG TK QUAN LY LAI CHO THAU CHI TT39 ')

exec('
	SELECT CIF, ACCTNO, MAX(ISSUE_DATE) ISSUE_DATE 
	INTO #TBL
	FROM DATA.DBO.DPTB_MASTER 
	WHERE CATEGORY = ''1904''
	GROUP BY CIF, ACCTNO 

	update a 
	set a.GRACE_ACC = b.acctno 
	FROM dbs_daily.dbo.UNSECURED_ODLIMIT_MASTER_'+@todate+'  A
	cross apply (
		select top 1 * 
		from #TBL b 
		where A.APPROVAL_DATE >= B.ISSUE_DATE
			and a.CIF = b.cif 
		order by B.ISSUE_DATE desc 
		)  b 
	WHERE TT39 = 1 	
')

print('----UPDATE 1 SO THONG TIN CO BAN CUA KHOAN THAU CHI ')
exec('
	UPDATE A
	SET CUSTOMER_NAME = B.CUS_NAME,
		LEGAL_ID = B.LEGAL_ID
	FROM dbs_daily.dbo.UNSECURED_ODLIMIT_MASTER_'+@todate+'  A
		INNER JOIN DBS_dAILY.DBO.CUSTOMER_'+@todate+' B ON A.CIF = B.RECID

	SELECT ACCTNO, A.BRANCH_CODE, B.BRANCH_NAME 
		INTO #BRANCH
	FROM DATA.DBO.DPTB_MASTER A 
	LEFT JOIN DATA.DBO.BRANCH_CODE_NEW B
		ON A.BRANCH_CODE = B.BRANCH_ID

	UPDATE A 
	SET BRANCH_CODE = B.BRANCH_CODE
	FROM dbs_daily.dbo.UNSECURED_ODLIMIT_MASTER_'+@todate+'  A
		INNER JOIN #BRANCH B ON A.OVERDRAFT_ACC = B.ACCTNO
')

print('--------THONG TIN PDPD ')
print('--------PDPD CUA THAU CHI CU ') 

exec('
	SELECT * 
	INTO ##T24CRD_PDPD  
	FROM (
		SELECt 
			ROW_NUMBER() OVER(PARTITION BY CUSTOMER_ID, DRAW_PART_REPAY_ACCT, CONTRACT_NO ORDER BY BUSINESS_DATE DESC) AS ROWID,
			LAST_VALUE(BUSINESS_dATE) OVER(PARTITION BY CUSTOMER_ID, DRAW_PART_REPAY_ACCT, CONTRACT_NO 
									ORDER BY BUSINESS_DATE DESC ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) AS FIRST_BUSINESS_DATE,
			*
		FROM DATA.DBO.T24CRD_OD
		WHERE BUSINESS_DATE <= CONVERT(DATE,'''+@todate+''')
		)  X 
	WHERE ROWID = 1 ;
')
exec('--------Tiep tuc sort bang tao o tren theo value_Date, trong TH 1 KH co nhieu PDPD ') 
exec('
	select *, 
		CASE WHEN DATEDIFF(D,VALUE_DATE, LEAD_VALUE_dATE) BETWEEN 1 AND 3 THEN ''THAU CHI CU NGAY CHU NHAT - PDPD1'' 
			WHEN DATEDIFF(D, LAG_VALUE_dATE, VALUE_DATE) BETWEEN 1 AND 3 THEN ''THAU CHI CU NGAY CHU NHAT - PDPD2'' 
			END AS NOTE  
	INTO ##PDPD
	from 
		(select 
			CUSTOMER_ID, DRAW_PART_REPAY_ACCT, CONTRACT_NO, VALUE_DATE, FIRST_BUSINESS_DATE, BUSINESS_DATE,  LIMIT_ID, LDPD_AMT, NO_OVD_DAYS, 
			ROW_NUMBER() OVER(PARTITION BY DRAW_PART_REPAY_ACCT, CONTRACT_NO ORDER BY VALUE_dATE ASC) AS ROWID_PDPD, 
			ROW_NUMBER() OVER(PARTITION BY DRAW_PART_REPAY_ACCT, LIMIT_ID ORDER BY VALUE_dATE DESC) AS ROWID_LIMIT, 
			lead(value_Date, 1) OVER(PARTITION BY DRAW_PART_REPAY_ACCT ORDER BY VALUE_dATE ASC) AS LEAD_VALUE_dATE, 
			LAG(value_Date, 1) OVER(PARTITION BY DRAW_PART_REPAY_ACCT ORDER BY VALUE_dATE ASC) AS LAG_VALUE_dATE ,
			PR_AMT, IN_AMT, PE_AMT, PS_AMT
		from ##T24CRD_PDPD  	
		)  a 
')
print('--	+ TH1: THAU CHI NGAY CHU NHAT  ')
exec('
	UPDATE A 
	SET A.PDPD1 = B.CONTRACT_NO, 
		A.VALUE_DATE1 = B.VALUE_DATE,
		a.PDPD1_UPDATE_DATE = B.BUSINESS_DATE ,
		LDPD_AMT1 = B.LDPD_AMT,
		PR_AMT1 = B.PR_AMT,
		IN_AMT1 = B.IN_AMT,
		PE_AMT1 = B.PE_AMT,
		PS_AMT1 = B.PS_AMT,
		a.note = ''Thau chi cu ngay chu nhat'' 
	FROM dbs_daily.dbo.UNSECURED_ODLIMIT_MASTER_'+@todate+'  A 
		INNER JOIN ##PDPD B ON A.OVERDRAFT_ACC = B.DRAW_PART_REPAY_ACCT
	WHERE TT39 = 0 
		AND B.NOTE = ''THAU CHI CU NGAY CHU NHAT - PDPD1'' 
		AND DATEDIFF(D,A.LIMIT_UPDATE_DATE,B.VALUE_DATE) BETWEEN 0 AND 45

	UPDATE A 
	SET A.PDPD2 = B.CONTRACT_NO, 
		A.VALUE_DATE2 = B.VALUE_DATE, 
		a.PDPD2_UPDATE_DATE = B.BUSINESS_DATE ,
		LDPD_AMT2 = B.LDPD_AMT,
		PR_AMT2 = B.PR_AMT,
		IN_AMT2 = B.IN_AMT,
		PE_AMT2 = B.PE_AMT,
		PS_AMT2 = B.PS_AMT,
		a.note = ''Thau chi cu ngay chu nhat''		 
	FROM dbs_daily.dbo.UNSECURED_ODLIMIT_MASTER_'+@todate+'  A 
		INNER JOIN ##PDPD B 
			ON A.OVERDRAFT_ACC = B.DRAW_PART_REPAY_ACCT
	WHERE TT39 = 0
		AND B.NOTE = ''THAU CHI CU NGAY CHU NHAT - PDPD2'' 
		AND DATEDIFF(D,A.LIMIT_UPDATE_DATE,B.VALUE_DATE) BETWEEN 0 AND 45
')

print('--	+ TH2: THAU CHI CU BT ')
exec('
	UPDATE A 
	SET A.PDPD1 = B.CONTRACT_NO, 
		A.VALUE_DATE1 = B.VALUE_DATE,
		a.PDPD1_UPDATE_DATE = B.BUSINESS_DATE,
		LDPD_AMT1 = B.LDPD_AMT,
		PR_AMT1 = B.PR_AMT,
		IN_AMT1 = B.IN_AMT,
		PE_AMT1 = B.PE_AMT,
		PS_AMT1 = B.PS_AMT
	FROM dbs_daily.dbo.UNSECURED_ODLIMIT_MASTER_'+@todate+'  A 
		INNER JOIN ##PDPD B 
			ON A.OVERDRAFT_ACC = B.DRAW_PART_REPAY_ACCT
	WHERE DATEDIFF(D,A.LIMIT_UPDATE_DATE,B.VALUE_DATE) BETWEEN 0 AND 45
		AND B.ROWID_PDPD  = 1 
		and PDPD1 is null AND B.NOTE IS NULL 
		AND TT39 = 0
')
print('---------------- PDPD CUA THAU CHI MOI ')
exec('
	UPDATE A 
	SET A.PDPD1 = B.CONTRACT_NO, 
		A.VALUE_DATE1 = b.FIRST_BUSINESS_DATE ,
		a.PDPD1_UPDATE_DATE = B.BUSINESS_DATE,
		LDPD_AMT1 = B.LDPD_AMT,
		PR_AMT1 = B.PR_AMT,
		IN_AMT1 = B.IN_AMT,
		PE_AMT1 = B.PE_AMT,
		PS_AMT1 = B.PS_AMT
	FROM dbs_daily.dbo.UNSECURED_ODLIMIT_MASTER_'+@todate+'  A 
		INNER JOIN ##PDPD B 
			ON A.OVERDRAFT_ACC = B.DRAW_PART_REPAY_ACCT AND A.ID = B.LIMIT_ID 
	WHERE DATEDIFF(D,A.LIMIT_UPDATE_DATE, b.FIRST_BUSINESS_DATE) BETWEEN 0 AND 45
		AND B.ROWID_PDPD  = 1 
		and PDPD1 is null AND B.NOTE IS NULL 
		AND TT39 = 1 
')
print('-----3.3.1. PDPD lai (gan nhat) ')
exec('
	UPDATE A 
	SET A.PDPD2 = B.CONTRACT_NO, 
		A.VALUE_DATE2 = b.FIRST_BUSINESS_DATE,
		a.PDPD2_UPDATE_DATE = B.BUSINESS_DATE,
		LDPD_AMT2 = B.LDPD_AMT,
		PR_AMT2 = B.PR_AMT,
		IN_AMT2 = B.IN_AMT,
		PE_AMT2 = B.PE_AMT,
		PS_AMT2 = B.PS_AMT
	FROM dbs_daily.dbo.UNSECURED_ODLIMIT_MASTER_'+@todate+'  A
	left join ##PDPD b 
		on a.ID = b.LIMIT_ID and a.GRACE_ACC  = b.DRAW_PART_REPAY_ACCT 
	WHERE TT39 = 1 
		and ROWID_LIMIT = 1 
')
print('------UPDATE ACTIVE STT ')
exec('
	PRINT ''UPDATE ACTIVE STATUS''
	update dbs_daily.dbo.UNSECURED_ODLIMIT_MASTER_'+@todate+' 
	SET ACTIVE = 1
	WHERE LIMIT_UPDATE_DATE >= '''+@todate+''' 
		OR PDPD1_UPDATE_DATE >= '''+@todate+'''
		OR PDPD2_UPDATE_DATE >= '''+@todate+'''

	UPDATE A 
	SET A.PDPD_UPDATE_DATE =  CASE WHEN ISNULL(PDPD1_UPDATE_DATE, ''1900-01-01'') <= ISNULL(PDPD2_UPDATE_DATE, ''1900-01-01'') THEN PDPD2_UPDATE_DATE 
									WHEN ISNULL(PDPD2_UPDATE_DATE, ''1900-01-01'') < ISNULL(PDPD1_UPDATE_DATE, ''1900-01-01'') THEN PDPD1_UPDATE_DATE
							END 
	FROM dbs_daily.dbo.UNSECURED_ODLIMIT_MASTER_'+@todate+'  A 
	WHERE PDPD1_UPDATE_DATE IS NOT NULL 
		OR PDPD2_UPDATE_DATE IS NOT NULL 
')

print('----5. UPDATE BALANCE, NO OVD DAYS, BUCKET NHNN ')
exec('
	update a 
	set a.[TOTAL_OUTSTANDING_AMT] = b.BAL_QD
	from dbs_daily.dbo.UNSECURED_ODLIMIT_MASTER_'+@todate+'  a  
	inner join DBS_DAIly.dbo.BALANCE_'+@todate+' b on a.ID   = b.LIMIT_REFERENCE 
	where b.BAL_QD <> 0 
		and a.active  = 1
		AND B.ACCTNO NOT LIKE ''%PDPD%'' ;

	select 
		limit_id , 
		max(no_ovd_days) as no_ovd_days,
		SUM(ISNULL(PR_AMT,0)) + SUM(ISNULL(IN_AMT,0)) + SUM(ISNULL(PE_AMT,0)) + SUM(ISNULL(PS_AMT,0)) BALANCE 
	into #temp 
	from ##pdpd
	where BUSINESS_DATE  = '''+@todate+'''  
	group by 
		limit_id 

------------UPDATE NO OVD DAYS, BUCKET NHNN 

	UPDATE A 
		SET A.[TOTAL_OVD_AMT]  = B.BALANCE,
			a.NO_OVD_DAYS = b.no_ovd_days
		FROM dbs_daily.dbo.UNSECURED_ODLIMIT_MASTER_'+@todate+'  a 
			inner join #temp B ON a.ID = b.limit_id
		where (PDPD1_UPDATE_DATE >= '''+@todate+''' or PDPD2_UPDATE_DATE >= '''+@todate+''' )
				and active = 1 

	UPDATE A 
		SET BUCKET_NHNN = CASE WHEN ISNULL(NO_OVD_DAYS,0)<=10 THEN ''B1'' 
							WHEN ISNULL(NO_OVD_DAYS,0)>10 AND NO_OVD_DAYS<=90 THEN ''B2'' 
							WHEN ISNULL(NO_OVD_DAYS,0)>90 AND NO_OVD_DAYS<=180 THEN ''B3'' 
							WHEN ISNULL(NO_OVD_DAYS,0)>180 AND NO_OVD_DAYS<=360 THEN ''B4'' 
							WHEN ISNULL(NO_OVD_DAYS,0)>360 THEN ''B5''  
						END
	from dbs_daily.dbo.UNSECURED_ODLIMIT_MASTER_'+@todate+'  A
	WHERE ACTIVE = 1 
	')
print('--------------UPDATE ORIGINAL_OVD_AMT')
exec('
	SELECT 
		BUSINESS_DATE PDPD_START_DATE,CUSTOMER_ID CIF,DRAW_PART_REPAY_ACCT OVERDRAFT_ACC,CONTRACT_NO PDPD_ACC,VALUE_DATE,LDPD_AMT,PR_AMT,IN_AMT,PE_AMT,PS_AMT,NO_OVD_DAYS
	INTO ##T24CRD
	FROM
		(SELECT ROW_NUMBER() OVER (PARTITION BY CONTRACT_NO ORDER BY VALUE_DATE ASC, BUSINESS_DATE ASC) ROWID,*
		FROM DATA.DBO.T24CRD_OD	
		WHERE BUSINESS_DATE <= '''+@todate+'''
		) A
	WHERE ROWID = 1

	UPDATE A
	SET ORIGINAL_OVD_AMT = ISNULL(B.PR_AMT,0) + ISNULL(B.IN_AMT,0) + ISNULL(B.PE_AMT,0) + ISNULL(B.PS_AMT,0)
	FROM dbs_daily.dbo.UNSECURED_ODLIMIT_MASTER_'+@todate+'  A
		INNER JOIN ##T24CRD B ON A.PDPD1 = B.PDPD_ACC

')
print('-----TOTAL BALANCE ') 
exec('
	UPDATE A 
	set a.TOTAL_BALANCE = ISNULL(A.TOTAL_OUTSTANDING_AMT,0) + ISNULL(A.TOTAL_OVD_AMT,0)
	FROM dbs_daily.dbo.UNSECURED_ODLIMIT_MASTER_'+@todate+'  a 

') 
exec('
DROP TABLE IF EXISTS #TBL, #BRANCH, ##PDPD, #TEMP, ##T24CRD_PDPD, ##T24CRD
')

end 
GO
