USE [DBS_DAILY]
GO
/****** Object:  StoredProcedure [dbo].[PR_DAILY_ETL_26_B2B_USERS]    Script Date: 8/6/2019 10:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PR_DAILY_ETL_26_B2B_USERS]
AS 

BEGIN 

/*
SELECT MAX(OPEN_DATE) FROM DRAFT.[DBO].[TBL_I2B_USERS_F0] 
SELECT MAX(CREATE_DATE) FROM DATA.DBO.OCB_NEW
SELECT MAX(OPEN_DATE) FROM DATA.DBO.TBL_B2B_USERS
*/

DECLARE @TODATE VARCHAR(8) , @LASTMONTH VARCHAR(8) , @FROMDATE VARCHAR(8)
SET @TODATE    = (SELECT RPTDATE FROM DBS_REF.DBO.RPTDATE )
DECLARE @FROM_DATE VARCHAR(8) = LEFT(@TODATE,6) + '01'
SET @LASTMONTH = ( SELECT CONVERT(VARCHAR(8),DATEADD(MS,-3,DATEADD(MM,0,DATEADD(MM,DATEDIFF(MM,0,''+@TODATE+''),0))),112) )


----========================================================================
----	II> B2B 
----========================================================================

-- 4. BANG B2B_USERS

-- LẤY B2B TRẠNG THÁI A VÀ B

PRINT 'BANG B2B_USERS'
EXEC('
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME = ''TBL_B2B_USERS_'+@TODATE+''')
	DROP TABLE [TBL_B2B_USERS_'+@TODATE+']
	')
EXEC('
	CREATE TABLE [TBL_B2B_USERS_'+@TODATE+'](
		[CUST_CIF] [varchar](50) NOT NULL,
		[USER_NAME] [varchar](50) NOT NULL,
		[CERTID] [varchar](20) NULL,
		[OTP_PHONE] [varchar](12) NULL,
		[OTP_EMAIL] [varchar](50) NULL,
		[ACTIVATE_DATE] [datetime] NULL,
		[ACTIVATE_CODE] [varchar](30) NULL,
		[TIME_LOGIN] [datetime] NULL,
		[TIME_PROCESS] [datetime] NULL,
		[OPEN_BRANCH] [varchar](20) NULL,
		[OPEN_DATE] [datetime] NULL,
		[OPEN_DAO] [varchar](20) NULL,
		[AMND_STATUS] [varchar](1) NOT NULL,
		[AMND_DATE] [datetime] NOT NULL,
		[AMND_USER] [varchar](50) NOT NULL,
		[SOURCE] [varchar](100) NULL,
		[BI_CHANNEL] [varchar](30) NULL,
		[SEGMENT] [varchar](30) NULL,
		[CUS_NAME] [varchar](500) NULL,
		CONSTRAINT [PK_B2B_'+@TODATE+'] PRIMARY KEY CLUSTERED 	([CUST_CIF] ASC)	)
') 
EXEC
('
-- TBL_B2B_USERS: SMES
INSERT INTO TBL_B2B_USERS_'+@TODATE+' (CUST_CIF,USER_NAME,CERTID,OTP_PHONE,OTP_EMAIL,ACTIVATE_DATE,ACTIVATE_CODE,
											TIME_LOGIN,TIME_PROCESS,OPEN_BRANCH,OPEN_DATE,OPEN_DAO,AMND_STATUS,AMND_DATE,AMND_USER)
SELECT CUST_CIF,USER_NAME,CERTID,OTP_PHONE,OTP_EMAIL,ACTIVATE_DATE,ACTIVATE_CODE,
	TIME_LOGIN,TIME_PROCESS,OPEN_BRANCH,OPEN_DATE,OPEN_DAO,AMND_STATUS,AMND_DATE,AMND_USER	 
		FROM 
		(
		SELECT ROW_NUMBER() OVER (PARTITION BY CUST_CIF ORDER BY OPEN_DATE DESC,AMND_DATE DESC) AS ROWID,*
			FROM M108.BICDATA_HIS.DBO.DAILY_B2B_USERS
			--FROM [M16].[VPB_WHR2].[DBO].[TBL_B2B_USERS]
				WHERE CONVERT(VARCHAR(8),OPEN_DATE,112) <= '''+@TODATE+'''	
					AND AMND_STATUS IN (''A'')						
		) B
			WHERE ROWID = 1
				AND CONVERT(VARCHAR(8),OPEN_DATE,112) <= '''+@TODATE+'''							
				AND exists (SELECT RECID FROM CUSTOMER_'+@TODATE+'  c 
							WHERE SEGMENT IN (''SMES'',''CIB'',''CMB'') AND CONVERT(VARCHAR(8),CUS_OPEN_DATE,112) <= '''+@TODATE+'''
							and b.CUST_CIF = c.recid)


INSERT INTO TBL_B2B_USERS_'+@TODATE+' (CUST_CIF,USER_NAME,CERTID,OTP_PHONE,OTP_EMAIL,ACTIVATE_DATE,ACTIVATE_CODE,
													TIME_LOGIN,TIME_PROCESS,OPEN_BRANCH,OPEN_DATE,OPEN_DAO,AMND_STATUS,AMND_DATE,AMND_USER)
	SELECT CUST_CIF,USER_NAME,CERTID,OTP_PHONE,OTP_EMAIL,ACTIVATE_DATE,ACTIVATE_CODE,
			TIME_LOGIN,TIME_PROCESS,OPEN_BRANCH,OPEN_DATE,OPEN_DAO,AMND_STATUS,AMND_DATE,AMND_USER
	FROM 
		(
		SELECT ROW_NUMBER() OVER (PARTITION BY CUST_CIF ORDER BY OPEN_DATE DESC,AMND_DATE DESC) AS ROWID,CUST_CIF,USER_NAME,CERTID,OTP_PHONE,OTP_EMAIL,ACTIVATE_DATE,ACTIVATE_CODE,TIME_LOGIN,TIME_PROCESS,OPEN_BRANCH,OPEN_DATE,OPEN_DAO,AMND_STATUS,AMND_DATE,AMND_USER
			FROM M108.BICDATA_HIS.DBO.DAILY_B2B_USERS
			--FROM [M16].[VPB_WHR2].[DBO].[TBL_B2B_USERS]
				WHERE CONVERT(VARCHAR(8),OPEN_DATE,112) <= '''+@TODATE+'''	
					AND AMND_STATUS IN (''B'',''W'')						
		) B
			WHERE ROWID = 1
				AND CONVERT(VARCHAR(8),OPEN_DATE,112) <= '''+@TODATE+'''	
				AND NOT exists (SELECT CUST_CIF FROM TBL_B2B_USERS_'+@TODATE+' c where b.CUST_CIF = c.CUST_CIF)							
				AND exists (SELECT RECID FROM CUSTOMER_'+@TODATE+'  D 
							WHERE SEGMENT IN (''SMES'',''CIB'',''CMB'') AND CONVERT(VARCHAR(8),CUS_OPEN_DATE,112) <= '''+@TODATE+'''
							and b.CUST_CIF = D.recid)
	')

--INSERT OCB (THỰC TẾ CHƯA CÓ FUNCTION)

EXEC('
	SELECt * 
	INTO ##OCB_USER
	FROM 
		(select * , ROW_NUMBER() OVER (PARTITION BY CIF ORDER BY CREATE_DATE DESC, TERMS_ACCEPTED DESC , ACCOUNT_STATUS ASC ) AS ROWID
		from DATA.DBO.OCB_NEW
		) A 
	WHERE ROWID = 1 
') 

EXEC
('
PRINT ''NEW IN TBL_B2B_USERS''
INSERT INTO [TBL_B2B_USERS_'+@TODATE+'] (CUST_CIF,USER_NAME,AMND_STATUS,OPEN_BRANCH,OPEN_DATE,SOURCE,AMND_DATE,AMND_USER)
	(
	SELECT CIF,USER_NAME,''A'' AMND_STATE,BRANCH_NAME,CREATE_DATE,''NEW'' SOURCE,''2016-12-14'' AMND_DATE,1 
	FROM ##OCB_USER A 
		WHERE SEGMENT IN (''SMES'',''CIB'',''CMB'')
		AND ACCOUNT_STATUS = 1 
		AND CONVERT(DATE,CREATE_DATE) <= CONVERT(DATE,'''+@TODATE+''')
		---AND CIF NOT IN (SELECT CUST_CIF FROM [TBL_B2B_USERS_'+@TODATE+'] WHERE AMND_STATUS = ''A'')
		AND  NOT EXISTS (SELECT CUST_CIF FROM [TBL_B2B_USERS_'+@TODATE+'] C WHERE A.CIF = C.CUST_CIF )
	)
')

-- INSERT CUS_NAME, BI_CHANNEL AND SEGMENT

EXEC
	('
PRINT ''INSERT CUS_NAME, BI_CHANNEL AND SEGMENT''
UPDATE TBL_B2B_USERS_'+@TODATE+' 
	SET BI_CHANNEL = B.BI_CHANNEL,
		SEGMENT = CASE WHEN B.COMPANY_BOOK  = ''VN0010344'' THEN ''HH'' ELSE B.SEGMENT END, 
		CUS_NAME = B.CUS_NAME
			FROM TBL_B2B_USERS_'+@TODATE+' A, CUSTOMER_'+@TODATE+' B
				WHERE A.CUST_CIF = B.RECID
	')
EXEC('
	CREATE NONCLUSTERED INDEX [IDX_B2B_NAME_'+@TODATE+'] 
		ON TBL_B2B_USERS_'+@TODATE+' ([USER_NAME] ASC)

	CREATE NONCLUSTERED INDEX [IDX_B2B_OPD_'+@TODATE+'] 
		ON TBL_B2B_USERS_'+@TODATE+' ([OPEN_DATE] ASC)
') 

EXEC('
	ALTER INDEX PK_B2B_'+@TODATE+' ON TBL_B2B_USERS_'+@TODATE+' REBUILD
	') 
END 
GO
