USE [DBS_DAILY]
GO
/****** Object:  StoredProcedure [dbo].[PR_DAILY_ETL_27_MOMO_USERS]    Script Date: 8/6/2019 10:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PR_DAILY_ETL_27_MOMO_USERS]
AS 
BEGIN 

DECLARE @TODATE VARCHAR(8), 
	@LAST_3M_DATE VARCHAR(8),
	@LAST_1M_DATE  VARCHAR(8)
SET @TODATE    = (SELECT RPTDATE FROM DBS_REF.DBO.RPTDATE )
SET @LAST_3M_DATE = (SELECT CONVERT(VARCHAR(8),DATEADD(M,-3,CONVERT(DATE,@TODATE)),112))
SET @LAST_1M_DATE = (SELECT CONVERT(VARCHAR(8),DATEADD(M,-1,CONVERT(DATE,@TODATE)),112))


EXEC('
	DROP TABLE IF EXISTS DBS_DAILY.DBO.MOMO_USERS_'+@TODATE+'

	CREATE TABLE [dbo].[MOMO_USERS_'+@TODATE+'](
		[T24_CIF] [varchar](20) NOT NULL,
		[CUS_NAME] [Nvarchar](255) NULL,
		[LEGAL_ID] [varchar](50) NULL,
		[PHONE_NUMBER] [varchar](20) NULL,
		[REGIST_DATE] [date] NULL,
		[REGIST_USER] [varchar](50) NULL,
		[CHANNEL] [varchar](10) NULL,
		[AMND_STATE] [varchar](1) NULL,
		[AMND_DATE] [date] NULL,
		[ACCTNO] [varchar](22) NULL, 
		ACTIVE_STT INT NULL, 
		ACTIVE_STT_1M INT NULL,
		NEW_FROM_MOMO INT
	) ON [PRIMARY]
') 

PRINT('INSERT DATA')
EXEC('
	INSERT INTO DBS_DAILY.DBO.MOMO_USERS_'+@TODATE+' (
		T24_CIF, CUS_NAME, LEGAL_ID, PHONE_NUMBER, REGIST_DATE, REGIST_USER, CHANNEL, AMND_STATE, AMND_DATE, ACCTNO)
	select
		T24CIF AS T24_CIF, 
		CUSNAME AS CUS_NAME,
		LEGALID AS LEGAL_ID, 
		PHONENUMBER AS PHONE_NUMBER, 
		REGISDATE AS REGIST_DATE, 
		REGISUSER AS REGIST_USER, 
		CHANNEL, 
		AMNDSTATE AS AMND_STATE, 
		AMNDDATE AS AMND_DATE,
		ACCID AS ACCTNO
	from 
		(select *,
			ROW_NUMBER() over(partition by t24Cif order by regisdate desc )  as Rn 
		from m108.[BICDATA_HIS].[DBO].[DAILY_I2B_MOMOREGISTER] a 
		where A.AMNDSTATE = ''A'' 
			AND A.REGISDATE <= '''+@TODATE+''' 
		) a 
	WHERE Rn = 1 
') 
EXEC('
	UPDATE A
	SET NEW_FROM_MOMO = 1 
	FROM MOMO_USERS_'+@TODATE+' A 
	WHERE	EXISTS (SELECT 1 FROM DBS_DAILY.DBO.TBL_I2B_USERS_F0_'+@TODATE+' B 
						WHERE A.T24_CIF = B.T24_CIF 
							AND DATEDIFF(D, B.OPEN_DATE, A.REGIST_DATE) BETWEEN 0 AND 6)
	')
PRINT('UPDATE ACTIVE STT')
EXEC('
	UPDATE A 
	SET ACTIVE_STT = CASE WHEN DATEDIFF(DAY,REGIST_DATE,'''+@TODATE+''') < DATEDIFF(DAY,'''+@LAST_3M_DATE+''','''+@TODATE+''') THEN 1 ELSE 0 END, 
		ACTIVE_STT_1M = CASE WHEN DATEDIFF(DAY,REGIST_DATE,'''+@TODATE+''') < DATEDIFF(DAY,'''+@LAST_1M_DATE+''','''+@TODATE+''') THEN 1 ELSE 0 END
	FROM MOMO_USERS_'+@TODATE+' A 
	WHERE NEW_FROM_MOMO = 1 
')
PRINT('UPDATE FLAG - CAC TH DUOC TINH VAO KPI DBS')

PRINT('ADD PRIMARY KEY') 
EXEC('
	ALTER TABLE [MOMO_USERS_'+@TODATE+']
	ADD CONSTRAINT PK_MOMO_'+@TODATE+' PRIMARY KEY CLUSTERED ([T24_CIF] ASC)
	')
END 
GO
