USE [DBS_DAILY]
GO
/****** Object:  StoredProcedure [dbo].[PR_DAILY_ETL_28_EBTRANS_SMEs]    Script Date: 8/6/2019 10:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PR_DAILY_ETL_28_EBTRANS_SMEs]
AS 
BEGIN 

DECLARE @TODATE VARCHAR(8)
DECLARE	@FROMDATE		VARCHAR(8)

---SET @TODATE = '20170921'
SET @TODATE    = (SELECT RPTDATE FROM DBS_REF.DBO.RPTDATE )
SET @FROMDATE  = (SELECT CONVERT(VARCHAR(8),DATEADD(mm,DATEDIFF(mm,0,@TODATE),0),112)) 

-------------------------------------------------------------------------------------------------

---B2B TRANSFER 

EXEC('
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME = ''TBL_B2B_TRANSFER_'+@TODATE+''')
	DROP TABLE [TBL_B2B_TRANSFER_'+@TODATE+']
	')

EXEC('
SELECT * INTO TBL_B2B_TRANSFER_'+@TODATE+'
	FROM M108.BICDATA_HIS.DBO.DAILY_B2B_TRANSFER
		WHERE AMND_STATUS = ''SUC''
			AND CONVERT(VARCHAR,VALUEDATE,112) >= '''+@FROMDATE+'''	 
			AND CONVERT(VARCHAR,VALUEDATE,112) <= '''+@TODATE+'''						 
			AND FK_TRANFTYPE_ID IN (''91028632-039E-46B2-9EC4-2AE95FBB6F56'', -- THANH TOÁN LƯƠNG CÙNG HỆ THỐNG VPBANK
									''DC0C3B99-FFE8-4E00-9E33-708CA02197AE'', -- CHUYỂN KHOẢN CÙNG HỆ THỐNG VPBANK
									''FCA3767B-03CF-4659-8984-825D349304FE'', -- THANH TOÁN DƯ NỢ HỢP ĐỒNG/THẺ TÍN DỤNG
									''8F91154E-2684-4010-880F-B22E66314FFF'', -- CHUYỂN TIỀN TRONG NỘI BỘ QLTT 
									''86F117FB-AA49-4E78-8F3C-CC7AAC684620'', -- THANH TOÁN THUẾ 
									''0DCC81DC-4EEE-4C10-A6F1-CCB5A0CF0D85'', -- THANH TOÁN LƯƠNG TỔNG
									''36815B2C-FB2E-4A29-B5BA-DA469AB3E12B'', -- CHUYỂN KHOẢN LIÊN NGÂN HÀNG
									''3E59B5B6-DB0D-48ED-A20C-DADC4630F55E'', -- THANH TOÁN LƯƠNG LIÊN NGÂN HÀNG
									''72EB14C2-DDD4-42BA-B399-F5C877C70BC7'') -- CHUYỂN KHOẢN QUỐC TẾ
	')

-- 2. UPDATE TRANS_TYPE

EXEC('
ALTER TABLE [TBL_B2B_TRANSFER_'+@TODATE+'] 
	ADD
		SOURCE [VARCHAR](100) NULL,
		TRANS_TYPE [VARCHAR](100) NULL,
		TRANS_TYPE_GROUP [VARCHAR](25) NULL,
		FINAL_STATUS [VARCHAR](20) NULL,
		RANK_TIME [VARCHAR](20) NULL,		
		INPUT_DATE [DATETIME] NULL,
		BI_CHANNEL VARCHAR(50) NULL,
		SEGMENT VARCHAR(50) NULL,
		COMPANY_BOOK VARCHAR(50) NULL
	')


EXEC('
UPDATE [TBL_B2B_TRANSFER_'+@TODATE+'] 
	SET 
		SOURCE = NULL,		
		TRANS_TYPE = NULL,		
		TRANS_TYPE_GROUP = NULL,
		FINAL_STATUS = NULL,
		RANK_TIME = NULL,	
		INPUT_DATE = NULL,
		BI_CHANNEL = NULL,
		SEGMENT = NULL,
		COMPANY_BOOK = NULL
	')



EXEC('
UPDATE [TBL_B2B_TRANSFER_'+@TODATE+'] 
	SET SOURCE = ''TBL_B2B_TRANSFER''
	')


PRINT N'THANH TOÁN LƯƠNG CÙNG HỆ THỐNG VPBANK'
EXEC('
UPDATE [TBL_B2B_TRANSFER_'+@TODATE+'] 
	SET 
		TRANS_TYPE = ''PAYROLL TRANSFER'',		
		TRANS_TYPE_GROUP = ''INTERNAL TRANSFER''
			WHERE FK_TRANFTYPE_ID IN (''91028632-039E-46B2-9EC4-2AE95FBB6F56'')
	')

PRINT N'CHUYỂN KHOẢN CÙNG HỆ THỐNG VPBANK'
EXEC('
UPDATE [TBL_B2B_TRANSFER_'+@TODATE+'] 
	SET 
		TRANS_TYPE = ''INTERNAL TRANSFER'',		
		TRANS_TYPE_GROUP = ''INTERNAL TRANSFER''
			WHERE FK_TRANFTYPE_ID IN (''DC0C3B99-FFE8-4E00-9E33-708CA02197AE'')
	')

PRINT N'THANH TOÁN DƯ NỢ HỢP ĐỒNG/THẺ TÍN DỤNG'
EXEC('
UPDATE [TBL_B2B_TRANSFER_'+@TODATE+'] 
	SET 
		TRANS_TYPE = ''CREDIT PAYMENT'',		
		TRANS_TYPE_GROUP = ''INTERNAL TRANSFER''
			WHERE FK_TRANFTYPE_ID IN (''FCA3767B-03CF-4659-8984-825D349304FE'')
	')

PRINT N'CHUYỂN TIỀN TRONG NỘI BỘ QLTT : CHI DANH CHO CIB'
EXEC('
UPDATE [TBL_B2B_TRANSFER_'+@TODATE+'] 
	SET 
		TRANS_TYPE = ''CASH FLOW'',		
		TRANS_TYPE_GROUP = ''INTERNAL TRANSFER''
			WHERE FK_TRANFTYPE_ID IN (''8F91154E-2684-4010-880F-B22E66314FFF'')
	')

PRINT N'THANH TOÁN THUẾ'
EXEC('
UPDATE [TBL_B2B_TRANSFER_'+@TODATE+'] 
	SET 
		TRANS_TYPE = ''TAX PAYMENT'',		
		TRANS_TYPE_GROUP = ''OTHER FINANCIAL''
			WHERE FK_TRANFTYPE_ID IN (''86F117FB-AA49-4E78-8F3C-CC7AAC684620'')
	')

PRINT N'THANH TOÁN LƯƠNG TỔNG'
EXEC('
UPDATE [TBL_B2B_TRANSFER_'+@TODATE+'] 
	SET 
		TRANS_TYPE = ''TOTAL PAYROLL TRANSFER'',		
		TRANS_TYPE_GROUP = ''INTERNAL TRANSFER''
			WHERE FK_TRANFTYPE_ID IN (''0DCC81DC-4EEE-4C10-A6F1-CCB5A0CF0D85'')
	')

PRINT N'CHUYỂN KHOẢN LIÊN NGÂN HÀNG'
EXEC('
UPDATE [TBL_B2B_TRANSFER_'+@TODATE+'] 
	SET 
		TRANS_TYPE = ''INTERBANK TRANSFER'',		
		TRANS_TYPE_GROUP = ''INTERBANK TRANSFER''
			WHERE FK_TRANFTYPE_ID IN (''36815B2C-FB2E-4A29-B5BA-DA469AB3E12B'')
	')

PRINT N'THANH TOÁN LƯƠNG LIÊN NGÂN HÀNG'
EXEC('
UPDATE [TBL_B2B_TRANSFER_'+@TODATE+'] 
	SET 
		TRANS_TYPE = ''PAYROLL TRANSFER'',		
		TRANS_TYPE_GROUP = ''INTERBANK TRANSFER''
			WHERE FK_TRANFTYPE_ID IN (''3E59B5B6-DB0D-48ED-A20C-DADC4630F55E'')
	')

PRINT N'CHUYỂN KHOẢN QUỐC TẾ'
EXEC('
UPDATE [TBL_B2B_TRANSFER_'+@TODATE+'] 
	SET 
		TRANS_TYPE = ''INTERNATIONAL TRANSFER'',		
		TRANS_TYPE_GROUP = ''INTERBANK TRANSFER''
			WHERE FK_TRANFTYPE_ID IN (''72EB14C2-DDD4-42BA-B399-F5C877C70BC7'')
	')

-- 3. UPDATE FINAL_STATUS
EXEC('
PRINT ''UPDATE FINAL_STATUS''
UPDATE [TBL_B2B_TRANSFER_'+@TODATE+'] 
	SET FINAL_STATUS =  ''SUCCESSFUL''				


UPDATE A
set RANK_TIME = case when b.hour_ref is not null then b.Hour_Rank else ''999'' end 
FROM [TBL_B2B_TRANSFER_'+@TODATE+']   A 
LEFT JOIN DBS_REF..Ranktime B ON CONVERT(FLOAT,DATEPART(HH,INPUT_DATE)) = B.HOUR_REF 
')

-- 4. UPDATE CUSTOMER
PRINT 'UPDATE CUSTOMERS'
EXEC('
UPDATE [TBL_B2B_TRANSFER_'+@TODATE+'] 
	SET BI_CHANNEL = B.BI_CHANNEL,
		SEGMENT = CASE WHEN B.COMPANY_BOOK  = ''VN0010344'' THEN ''HH'' ELSE B.SEGMENT END,
		COMPANY_BOOK = B.COMPANY_BOOK
			FROM [TBL_B2B_TRANSFER_'+@TODATE+']  A, [CUSTOMER_'+@TODATE+']  B
				WHERE A.CUST_CIF = B.RECID
	')


END 
GO
