USE [DBS_DAILY]
GO
/****** Object:  StoredProcedure [dbo].[PR_DAILY_ETL_29_ONLINE_LOAN_ERR]    Script Date: 8/6/2019 10:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PR_DAILY_ETL_29_ONLINE_LOAN_ERR]
AS 

BEGIN 

DECLARE @TODATE VARCHAR(8)

---SET @TODATE = '20170921'
SET @TODATE    = (SELECT RPTDATE FROM DBS_REF.DBO.RPTDATE )

--------------------------------------------------------
EXEC('DROP TABLE IF EXISTS [DATA].[dbo].[TBL_ONLINE_LOAN_ERROR] ') 

PRINT 'LAY RECORD ERROR FROM TBL_ONLINE_LOAN'
EXEC('
	SELECT *
	  INTO DATA.DBO.TBL_ONLINE_LOAN_ERROR 	
		--FROM M16.VPB_WHR2.DBO.TBL_ONLINE_LOAN
		FROM m108.BICDATA_HIS.DBO.DAILY_ONLINE_LOAN
			WHERE CONVERT(VARCHAR(8),REGIST_DATE,112) <= '''+@TODATE+'''
			AND (RESP_STATUS <> ''00'' OR RESP_STATUS IS NULL)
			AND TRANS_TYPE <> ''onlineloanpawnclose''

	ALTER TABLE DATA.DBO.TBL_ONLINE_LOAN_ERROR
		ADD SOURCE VARCHAR(20)
')


EXEC
('

DELETE FROM DATA.DBO.TBL_ONLINE_LOAN_ERROR WHERE SOURCE = ''OCB''

INSERT INTO DATA.DBO.TBL_ONLINE_LOAN_ERROR
	(ERR_CODE, ERR_MESG , ONLINE_LOAN_QUEUE_ID , PRODUCT_CODE , T24_CIF , OPEN_BRANCH, MOBILE, LEGAL_ID, ADDRESS, CUST_STATUS, OVERDRAFT_RATE, OVERDRAFT_TERM, OVERDRAFT_TYPE
      , APPROVAL_LIMIT, GLOBAL_LIMIT, PRODUCT_LIMIT, CURRENCY, DAO, OVERDRAFT_ACC, PURPOSE, REGIST_DATE, ACTIVE_DATE, EXPIRY_DATE, FEE_CODE, RESP_STATUS, TRANS_CODE, LIMIT_MAX 
      , RECORD_STATUS, EMAIL, FILE_CODE, TRANS_TYPE, DOC_STATUS, COLLATERAL_RIGHT, COLLATERAL, BLOCK_INTEREST_AMT,SOURCE )

select 
	ERR_CODE,ERR_MESG,ONLINE_LOAN_QUEUE_ID,PRODUCT_CODE, T24_CIF,OPEN_BRANCH,MOBILE,LEGAL_ID,ADDRESS,NULL, OVERDRAFT_RATE,OVERDRAFT_TERM,OVERDRAFT_TYPE,APPROVAL_LIMIT,
	GLOBAL_LIMIT, PRODUCT_LIMIT,CURRENCY,DAO,OVERDRAFT_ACC,PURPOSE,REGIST_DATE,ACTIVE_DATE,EXPIRY_DATE,FEE_CODE,RESP_STATUS,TRANS_CODE,LIMIT_MAX,NULL,EMAIL,FILE_CODE,
	(CASE WHEN OVERDRAFT_TYPE = ''Thau chi cam co STK'' THEN ''onlineloanpawnopen'' ELSE NULL END),DOC_STATUS,COLLATERAL_RIGHT,COLLATERAL,BLOCK_INTEREST_AMT,''OCB''
		from (SELECT ROW_NUMBER() OVER (PARTITION BY OVERDRAFT_ACC ORDER BY REGIST_DATE DESC) ROWID,* 
			--FROM M16.VPB_WHR2.DBO.TBL_EB_ONLINE_LOAN 
			FROM m108.BICDATA_HIS.DBO.DAILY_EB_ONLINE_LOAN
				where trans_type = ''open'' 
				and ((resp_status <> ''3'')
					OR (RESP_STATUS = ''3'' AND PRODUCT_LIMIT IS NULL)) ----------Lay them nhung TH ko map duoc limit tren t24 
				AND YEAR(REGIST_DATE) = YEAR('''+@TODATE+''')
				AND CONVERT(VARCHAR(8),REGIST_DATE,112) <= '''+@TODATE+'''
				AND ISNULL(OVERDRAFT_RATE ,0) <> ''NULL''
				) A
				
					where rowid = 1
')  


EXEC('
UPDATE DATA.DBO.TBL_ONLINE_LOAN_ERROR
SET T24_CIF = REPLACE(T24_CIF,''_'','''')
') 

PRINT 'TBL_ONLINE_LOAN_ERROR'
EXEC('
	DROP TABLE IF EXISTS [DBS_dAILY].[DBO].[TBL_ONLINE_LOAN_ERROR_'+@TODATE+']
	')

EXEC
('
	SELECT ERR_CODE,ERR_MESG,T24_CIF,OPEN_BRANCH,FULL_NAME,MOBILE,LEGAL_ID,ADDRESS,OVERDRAFT_RATE,OVERDRAFT_TYPE,OVERDRAFT_TERM,OVERDRAFT_CODE,REQUEST_LIMIT,
		   APPROVAL_LIMIT,GLOBAL_LIMIT,PRODUCT_LIMIT,CURRENCY,DAO,OVERDRAFT_ACC,CATEGORY,REGIST_DATE,ACTIVE_DATE,EXPIRY_DATE,RECORD_STATUS,
		   RESP_STATUS,TRANS_TYPE,COLLATERAL,COLLATERAL_RIGHT,SOURCE
		INTO TBL_ONLINE_LOAN_ERROR_'+@TODATE+'
	FROM DATA.DBO.TBL_ONLINE_LOAN_ERROR  a 
		WHERE CONVERT(VARCHAR(8),REGIST_DATE,112) <= '''+@TODATE+'''
		AND ((SOURCE IS NULL AND RECORD_STATUS <> ''WAI'')
			OR (SOURCE = ''OCB'' AND RESP_STATUS <> ''2''))
		AND EXISTS (SELECT RECID FROM CUSTOMER_'+@TODATE+' B 
					WHERE (BI_CHANNEL <> ''OTHER'' OR SEGMENT = ''SMEs'')
						AND CONVERT(VARCHAR(8),CUS_OPEN_DATE,112) <= '''+@TODATE+'''
						AND A.T24_CIF = B.RECID )
')

EXEC
('
	UPDATE TBL_ONLINE_LOAN_ERROR_'+@TODATE+'
	SET FULL_NAME = B.CUS_NAME,
		LEGAL_ID = B.LEGAL_ID
	FROM TBL_ONLINE_LOAN_ERROR_'+@TODATE+' A, CUSTOMER_'+@TODATE+' B
		WHERE REPLACE(A.T24_CIF,''_'','''') = B.RECID

	UPDATE TBL_ONLINE_LOAN_ERROR_'+@TODATE+'
		SET SOURCE = ''I2B''
			WHERE SOURCE IS NULL
')

EXEC
('
ALTER TABLE TBL_ONLINE_LOAN_ERROR_'+@TODATE+'
	ADD BI_ERR_MESG NVARCHAR(4000)
')

EXEC
('
UPDATE TBL_ONLINE_LOAN_ERROR_'+@TODATE+'
	SET BI_ERR_MESG = 
		CASE WHEN RESP_STATUS = ''01'' THEN N''Thông tin khách hàng không hợp lệ''
			 WHEN RESP_STATUS = ''02'' THEN N''Mở thông tin GlobalLimit thất bại''
			 WHEN RESP_STATUS = ''06'' THEN N''Cập nhật Limit cho tài khoản thất bại''
			 WHEN RESP_STATUS = ''3''  THEN N''Không match được mã Limit trên T24''
			 WHEN RESP_STATUS = ''4''  THEN N''Cập nhật Limit cho tài khoản thất bại''
		ELSE NULL
		END
')

EXEC
('
ALTER TABLE TBL_ONLINE_LOAN_ERROR_'+@TODATE+'
	ADD SUCC_REGIST_DATE DATE
	')

EXEC
('
UPDATE TBL_ONLINE_LOAN_ERROR_'+@TODATE+'
	SET SUCC_REGIST_DATE = CONVERT(DATE,B.REGIST_DATE)
		FROM TBL_ONLINE_LOAN_ERROR_'+@TODATE+' A, 
			(SELECT OVERDRAFT_ACC,MAX(CONVERT(DATE,REGIST_DATE)) REGIST_DATE 
				FROM TBL_ONLINE_LOAN_'+@TODATE+'
					GROUP BY OVERDRAFT_ACC) B
			WHERE A.OVERDRAFT_ACC = B.OVERDRAFT_ACC
			AND CONVERT(DATE,A.REGIST_DATE) <= CONVERT(DATE,B.REGIST_DATE)
')


/*

SELECT SOURCE,BI_ERR_MESG,T24_CIF,OPEN_BRANCH,FULL_NAME,LEGAL_ID,OVERDRAFT_TYPE,APPROVAL_LIMIT,PRODUCT_LIMIT,DAO,OVERDRAFT_ACC,REGIST_DATE,RECORD_STATUS,RESP_STATUS,ERR_CODE,ERR_MESG
	FROM TBL_ONLINE_LOAN_ERROR_20170331 
		ORDER BY REGIST_DATE DESC

SELECT SOURCE,T24_CIF,OPEN_BRANCH,FULL_NAME,LEGAL_ID,OVERDRAFT_TYPE,APPROVAL_LIMIT,PRODUCT_LIMIT,DAO,OVERDRAFT_ACC,REGIST_DATE,RECORD_STATUS,RESP_STATUS,ERR_CODE,ERR_MESG
	FROM DATA.DBO.TBL_ONLINE_LOAN_ERROR
		ORDER BY REGIST_DATE DESC

*/


END 
GO
