USE [DBS_DAILY]
GO
/****** Object:  StoredProcedure [dbo].[PR_DAILY_ETL_30_EBANK_COMBINE]    Script Date: 8/6/2019 10:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PR_DAILY_ETL_30_EBANK_COMBINE]
AS 
BEGIN 

DECLARE @TODATE VARCHAR(8)
DECLARE	@FROMDATE		VARCHAR(8)

----SET @TODATE = '20170923'
SET @TODATE    = (SELECT RPTDATE FROM DBS_REF.DBO.RPTDATE )
SET @FROMDATE  = (SELECT CONVERT(VARCHAR(8),DATEADD(MM,DATEDIFF(MM,0,@TODATE),0),112)) 

-----------------------------------------------------------------------------------------------------------
---------------- INSERT INTO EBANKING_TRANSACTION----------------------------------------------------------
EXEC('
IF EXISTS (SELECT * FROM DBS_dAILY.DBO.SYSOBJECTS WHERE NAME = ''EBANKING_TRANSACTION_'+@TODATE+''')
	DROP TABLE [EBANKING_TRANSACTION_'+@TODATE+']
	')

EXEC('
CREATE TABLE [EBANKING_TRANSACTION_'+@TODATE+'] 
	(
	ID INT IDENTITY, 
	[SOURCE] [VARCHAR](100) NOT NULL,
	[TRANS_TYPE] [VARCHAR](100) NOT NULL,
	[CHANNEL] [NVARCHAR](20) NULL,
	[MERCHANT_USED] [NVARCHAR](50) NULL,
	[TXN_STATUS] [NVARCHAR](50) NULL,
	[BANK_STATUS] [NVARCHAR](50) NULL,
	[CUSTOMERID] [NVARCHAR](50) NULL,
	[CIF] [NVARCHAR](50) NULL,
	[FROM_AC] [NVARCHAR](50) NULL,
	[TO_AC] [NVARCHAR](50) NULL,
	[TO_AC_BANKNAME] NVARCHAR(200) NULL, 
	[SYS_ID] [VARCHAR](100) NULL,
	[TRANS_CODE] [VARCHAR](100) NULL,
	[TXN_AMT] [FLOAT] NULL,
	[TXN_FEE] [FLOAT] NULL,
	[RES_CODE] [NVARCHAR](50) NULL,
	[PROCESS_CODE] [NVARCHAR](6) NULL,
	[BANK_XID] [NVARCHAR](150) NULL,
	[VALUE_DATE] [DATE] NULL,
	[FINAL_STATUS] [VARCHAR](20) NULL,
	[RANK_TIME] [VARCHAR](20) NULL,
	[TRANS_TYPE_GROUP] [VARCHAR](25) NULL,
	[INPUT_DATE] [DATETIME] NULL,
	[BI_CHANNEL] [VARCHAR](50) NULL,
	[SEGMENT] [VARCHAR](50) NULL,
	[COMPANY_BOOK] [VARCHAR](50) NULL,
	[TXN_MEMO] [NVARCHAR](MAX) NULL,
	[S_FLAG] [INT] NULL,
	[CHANNEL_GROUP] [VARCHAR](100) NULL,
	[ICASHCHECK] [VARCHAR](2) NULL ,
	[EVOUCHER_CODE] VARCHAR(50) NULL , 
	[EVOUCHER_AMT] FLOAT NULL ,
	MERCHANT_SERCODE VARCHAR(20), 
	SERVICE_CODE VARCHAR(20), 
	PROVIDER_CODE VARCHAR(20),
	PROVIDER_NAME NVARCHAR(255), 
	SUB_TRANS_TYPE VARCHAR(100),
	CONSTRAINT PK_TXN_ID_'+@TODATE+' PRIMARY KEY  (ID)
	)  
	')

-- 3. INSERT I2B

PRINT 'INSERT EBANKING_I2B_TRANSACTION'
EXEC('
	INSERT INTO EBANKING_TRANSACTION_'+@TODATE+'
			  (SOURCE,TRANS_TYPE,CHANNEL,MERCHANT_USED,TXN_STATUS,BANK_STATUS,CUSTOMERID,CIF,FROM_AC,TO_AC,SYS_ID,TRANS_CODE,TXN_AMT,TXN_FEE,
			  RES_CODE,PROCESS_CODE,BANK_XID,VALUE_DATE,FINAL_STATUS,RANK_TIME,TRANS_TYPE_GROUP,INPUT_DATE,COMPANY_BOOK, TXN_MEMO, SERVICE_CODE, PROVIDER_CODE)
	SELECT 
		SOURCE,TRANS_TYPE,CHANNEL,MERCHANT_USED,TXN_STATUS,BANK_STATUS,
		CUSTOMERID,CIF,FROM_AC,TO_AC,SYS_ID,TRANS_CODE,TXN_AMT,TXN_FEE,
		RES_CODE,PROCESS_CODE,BANK_XID,VALUE_DATE,FINAL_STATUS,RANK_TIME,
		TRANS_TYPE_GROUP,INPUT_DATE,COMPANY_BOOK,TXN_MEMO, SERVICE_CODE, PROVIDER_CODE
	FROM data.dbo.EBANKING_I2B_TRANSACTION
	WHERE 
		VALUE_dATE >=  '''+@FROMDATE+''' AND VALUE_dATE < DATEADD(D,1,'''+@TODATE+''') 
	')

-- 4. INSERT OCB

PRINT 'INSERT EBANKING_OCB_TRANSACTION'
EXEC('
	INSERT INTO EBANKING_TRANSACTION_'+@TODATE+'
		  (SOURCE,TRANS_TYPE,CHANNEL,MERCHANT_USED,TXN_STATUS,BANK_STATUS,CUSTOMERID,CIF,FROM_AC,TO_AC,SYS_ID,TRANS_CODE,TXN_AMT,TXN_FEE,RES_CODE,	  
		  PROCESS_CODE,BANK_XID,VALUE_DATE,FINAL_STATUS,RANK_TIME,TRANS_TYPE_GROUP,INPUT_DATE,TXN_MEMO ,ICASHCHECK,
		  EVOUCHER_CODE, EVOUCHER_AMT, PROVIDER_CODE, SERVICE_CODE, TO_AC_BANKNAME )
	SELECT 
		SOURCE,TRANS_TYPE,CHANNEL,MERCHANT_USED,TXN_STATUS,BANK_STATUS,CUSTOMERID,CIF,FROM_AC,TO_AC,SYS_ID,TRANS_CODE,TXN_AMT,TXN_FEE,
		RES_CODE,PROCESS_CODE,BANK_XID,VALUE_DATE,FINAL_STATUS,RANK_TIME,TRANS_TYPE_GROUP,INPUT_DATE,TXN_MEMO , 
		CASE WHEN ICASHCHECK = ''Y'' THEN 1 ELSE 0 END  ,EVOUCHER_CODE, EVOUCHER_AMT, PROVIDER_CODE, SERVICE_CODE, TO_AC_BANKNAME
	FROM data.dbo.EBANKING_OCB_TRANSACTION
	WHERE 
		VALUE_dATE >=  '''+@FROMDATE+''' AND VALUE_dATE < DATEADD(D,1,'''+@TODATE+''') 
	')

---------------------------------------------------------------------------------------------------
-- 5. INSERT SMES

PRINT 'INSERT TBL_B2B_TRANSFER'
EXEC('
	-- (16486 ROW(S) AFFECTED)
	INSERT INTO EBANKING_TRANSACTION_'+@TODATE+'
		(SOURCE,TRANS_TYPE,CHANNEL,MERCHANT_USED,TXN_STATUS,BANK_STATUS,CIF,FROM_AC,TO_AC,SYS_ID,TRANS_CODE,TXN_AMT,TXN_FEE,
		RES_CODE,PROCESS_CODE,BANK_XID,VALUE_DATE,FINAL_STATUS,RANK_TIME,TRANS_TYPE_GROUP,INPUT_DATE,BI_CHANNEL,SEGMENT,COMPANY_BOOK,TXN_MEMO)
	SELECT SOURCE,TRANS_TYPE,''B2B'' CHANNEL,NULL MERCHANT_USED,AMND_STATUS,
		NULL BANK_STATUS,CUST_CIF,DEBIT_ACC,BEN_ACC,PK_TRANF_ID,TRANS_CODE,
		(CASE 
			WHEN DEBIT_CCY=AMOUNT_CCY THEN AMOUNT*DEBIT_EXCRATE 
			WHEN BEN_CCY=AMOUNT_CCY THEN AMOUNT*BEN_EXCRATE ELSE AMOUNT 
		END) AMOUNT,
		FEEAMOUNT,BANK_RESPCODE,NULL PROCESS_CODE,BANK_ID,VALUEDATE,FINAL_STATUS,
		RANK_TIME,TRANS_TYPE_GROUP,INPUT_DATE,BI_CHANNEL,SEGMENT,COMPANY_BOOK, MEMO
		FROM TBL_B2B_TRANSFER_'+@TODATE+'
			WHERE SEGMENT =''SMES''
	')

-------------------------------------------------------------------------------------------------
-- LOC DU LIEU RAC

--SELECT * INTO EBANKING_TRANSACTION_20170308_BACKUP FROM EBANKING_TRANSACTION_20170308

EXEC
('
	PRINT ''LOC DU LIEU RAC''

	DELETE FROM EBANKING_TRANSACTION_'+@TODATE+'
	WHERE CHANNEL = ''OCB''
	OR TRANS_CODE IS NULL
	OR (MERCHANT_USED IS NULL AND SOURCE = ''TBL_EB_BPW_PMTINSTRUCTION'')
	OR (SOURCE = ''TBL_I2B_BILLING'' AND CHANNEL IN (''AUTO'', ''EBANK.AUTO'') )

')

-- 6. MAP CIF VIA FROM_AC
EXEC('
IF EXISTS (SELECT 1 FROM EBANKING_TRANSACTION_'+@TODATE+' WHERE CIF IS NULL OR CIF = '''')
BEGIN 
	UPDATE A 
	SET CIF = B.CIF
	FROM EBANKING_TRANSACTION_'+@TODATE+' A
	INNER JOIN DATA.DBO.DPTB_MASTER B ON A.FROM_AC = B.ACCTNO
	WHERE A.CIF IS NULL OR A.CIF = ''''
END
')


PRINT 'UPDATE BI_CHANNEL, SEGMENT, COMPANY_BOOK'
EXEC('
	UPDATE A 
		SET BI_CHANNEL = B.BI_CHANNEL,
			SEGMENT = CASE WHEN B.COMPANY_BOOK  = ''VN0010344'' THEN ''HH'' ELSE B.SEGMENT END,
			COMPANY_BOOK = B.COMPANY_BOOK
	FROM [EBANKING_TRANSACTION_'+@TODATE+']  A 
		INNER JOIN [CUSTOMER_'+@TODATE+']  B ON A.CIF = B.RECID
	WHERE 
		----A.TRANS_TYPE NOT LIKE ''%SAVING ONLINE%''
		----AND A.SOURCE NOT LIKE ''%TBL_W4_DOC_F1%''
		A.CIF IS NOT NULL 
		AND A.BI_CHANNEL IS NULL 
	')

/*

EXEC('
	UPDATE [EBANKING_TRANSACTION_'+@TODATE+'] 
		SET	COMPANY_BOOK = B.COMPANY_BOOK
	FROM [EBANKING_TRANSACTION_'+@TODATE+']  A 
		INNER JOIN [CUSTOMER_'+@TODATE+']  B ON A.CIF = B.RECID
	WHERE (TRANS_TYPE LIKE ''%SAVING ONLINE%'' 
			OR SOURCE LIKE ''%TBL_W4_DOC_F1%'')
		
	')
*/
PRINT 'UPDATE BI_CHANNEL'
EXEC('
UPDATE [EBANKING_TRANSACTION_'+@TODATE+'] 
	SET BI_CHANNEL = ''S&D'',
		SEGMENT = ''KHCN''		
			WHERE TRANS_TYPE = ''ECOM - ONEPAY'' AND ISNULL(SEGMENT,0) <> ''HH'' 			
	')

/*
PRINT 'UPDATE TBL_W4_DOC_F1'
EXEC('
UPDATE [EBANKING_TRANSACTION_'+@TODATE+'] 
	SET SEGMENT = ''KHCN''	
		WHERE SEGMENT = ''RB''
			AND SOURCE = ''TBL_W4_DOC_F1'' 
			AND TRANS_TYPE = ''BILLING''
	')

EXEC('
UPDATE [EBANKING_TRANSACTION_'+@TODATE+'] 
	SET SEGMENT = ''SMES''		
		WHERE SEGMENT = ''SME''
			AND ((SOURCE = ''TBL_W4_DOC_F1'' AND TRANS_TYPE = ''BILLING'')
				OR TRANS_TYPE LIKE ''%SAVING ONLINE%''	)

')
*/
----UPDATE FLAG = 1 CHO NHUNG GD SUCCESSFUL 
PRINT 'UPDATE FLAG = 1 CHO NHUNG GD SUCCESSFUL '
EXEC('
IF EXISTS(SELECT * FROM DBS_dAILY.INFORMATION_SCHEMA.COLUMNS 
		WHERE TABLE_NAME = ''EBANKING_TRANSACTION_'+@TODATE+''' AND COLUMN_NAME = ''S_FLAG'')
BEGIN 
	ALTER TABLE EBANKING_TRANSACTION_'+@TODATE+'
	DROP COLUMN S_FLAG
END
	') 

EXEC('
	ALTER TABLE EBANKING_TRANSACTION_'+@TODATE+'
	ADD S_FLAG  INT 
	') 


EXEC('
	UPDATE A
	SET S_FLAG = CASE WHEN  FINAL_STATUS = ''SUCCESSFUL'' 
							AND (BI_CHANNEL <> ''OTHER'' OR SEGMENT IN (''SMES'',''HH'') 
								OR COMPANY_BOOK = ''VN0010348'')  THEN 1 
				ELSE  0 END 
	FROM EBANKING_TRANSACTION_'+@TODATE+' A 
	')

EXEC('
	UPDATE A
	SET S_FLAG = 1
	FROM EBANKING_TRANSACTION_'+@TODATE+' A 
	WHERE  S_FLAG = 0 AND FINAL_STATUS = ''SUCCESSFUL''
	 AND EXISTS (SELECT RECID FROM CUSTOMER_'+@TODATE+'  B 
				WHERE (BI_CHANNEL <> ''OTHER'' OR COMPANY_BOOK IN (''VN0010344'' ,''VN0010260'')) 
					AND A.CIF = B.RECID)
	')

------UPDATE CHANNEL CHO TRANSACTION CUA OCB - DUA THEO FILE AUDIT LOG 
/*
EXEC('
	SELECT SRVR_TID , CHANNEL , USER_ID , TRAN_ID , TRAN_TYPE,LOG_DATE , DESCRIPTION , STATE ,
		ROW_NUMBER() OVER(PARTITION BY SRVR_TID  ORDER BY LOG_DATE ASC)  AS ROW_STT 
	INTO ##AUDIT_LOG
	FROM DATA.DBO.DAILY_EB_AUDIT_LOG
	WHERE CAST(LOG_DATE AS DATE) >= ''20180101''
	AND SRVR_TID IS NOT NULL 
') 

EXEC('
	UPDATE A
	SET A.CHANNEL = CASE WHEN B.CHANNEL = ''WEB'' THEN ''I2B'' ELSE B.CHANNEL END
	FROM DBS_dAILY..EBANKING_TRANSACTION_'+@TODATE+' A 
	INNER JOIN 
		(SELECT * 
		FROM ##AUDIT_LOG
		WHERE ROW_STT = 1 ) B ON A.SYS_ID = B.SRVR_TID 
	WHERE SOURCE LIKE ''%EB%'' 
')
*/
------------UPDATE CHANNEL_GROUP 
PRINT 'UPDATE CHANNEL_GROUP'
EXEC('
	IF EXISTS(SELECT * FROM DBS_dAILY.INFORMATION_SCHEMA.COLUMNS 
			WHERE TABLE_NAME = ''EBANKING_TRANSACTION_'+@TODATE+''' AND COLUMN_NAME = ''CHANNEL_GROUP'')
	BEGIN 
		ALTER TABLE EBANKING_TRANSACTION_'+@TODATE+'
		DROP COLUMN CHANNEL_GROUP
	END
	') 

EXEC('
	ALTER TABLE EBANKING_TRANSACTION_'+@TODATE+'
	ADD CHANNEL_GROUP VARCHAR(100) 
')
EXEC('
	UPDATE A
	SET A.CHANNEL_GROUP = CASE WHEN COMPANY_BOOK = ''VN0010348'' THEN ''TIMO'' 
							WHEN BI_CHANNEL LIKE ''OTHER'' AND SEGMENT = ''SMES'' THEN ''B2B''
							WHEN CHANNEL LIKE ''%MOBILE%'' AND SEGMENT = ''HH''  THEN ''MOBILE_HH''
							WHEN CHANNEL LIKE ''%MOBILE%'' THEN ''MOBILE_RB''
							WHEN TRANS_TYPE=''MOCA CARD'' OR CHANNEL = ''MOCA''  THEN ''MOCA'' 
							WHEN CHANNEL IN (''I2B'', ''MOMO'', ''ECOM'',''SMS'',''EBANK.AUTO'',''BANKPLUS'') AND SEGMENT  = ''HH'' THEN ''VPO_HH''
							WHEN CHANNEL IN (''I2B'', ''MOMO'', ''ECOM'',''SMS'',''EBANK.AUTO'',''BANKPLUS'') THEN ''VPO_RB''
						END
	FROM EBANKING_TRANSACTION_'+@TODATE+' A 
')

------------UPDATE SERVICE_NAME 
PRINT 'UPDATE SERVICE_NAME - SUB TRANS TYPE'
EXEC('
	DROP TABLE IF EXISTS DBS_REF.DBO.BILLING_CODE_OCB 

	SELECT A.PAYEEID, SERVICE_CODE, MERCHANT_SEVCODE, MODULE, 
		B.EXTDPAYEEID AS PROVIDER_CODE, 
		B.PAYEENAME AS PROVIDERNAME, 
		B.PAYEELEVELTYPE AS SERNAME_ENG
	INTO DBS_REF.DBO.BILLING_CODE_OCB 
	FROM M16.VPB_WHR2.DBO.TBL_EB_CUSTOM_PAYEEDETAILS A 
	INNER JOIN M16.VPB_WHR2.DBO.TBL_EB_BPW_PAYEE B ON A.PAYEEID = B.PAYEEID 

	UPDATE A 
	SET SERNAME_ENG = CASE WHEN SERNAME_ENG = ''HOMEPHONE'' THEN ''HOME PHONE'' 
						WHEN SERNAME_ENG in (''INTERNET ADSL'',''INTERNET_ADSL'') THEN ''INTERNET - ADSL'' 
						WHEN SERNAME_ENG = ''RAILWAY_TICKER'' THEN ''RAILWAY TICKET'' 
						WHEN SERNAME_ENG = ''LEASEDLINE'' THEN ''LEASED LINE'' 
					ELSE REPLACE(SERNAME_ENG, ''_'', '' '')  END 
	FROM DBS_REF.DBO.BILLING_CODE_OCB A 
	')

------------UPDATE SERVICE_NAME CHO OCB 
EXEC('
	SELECT SRVRTID, 
		CASE WHEN LEFT(LOGID,3) = ''TOP'' THEN ''TOPUP'' 
			WHEN LEFT(LOGID,3) = ''BIL'' THEN ''BILLING'' 
			WHEN LEFT(LOGID,3) = ''CAD'' THEN ''PREPAID CARD'' 
		END AS TRANS_TYPE, 
		B.* 
	INTO #SERVICE_NAME
	FROM  M108.BICDATA_HIS.DBO.DAILY_EB_BPW_PMTINSTRUCTION A 
	INNER JOIN DBS_REF.DBO.BILLING_CODE_OCB B ON A.PAYEEID = B.PAYEEID 
	WHERE DATECREATE >= CAST('''+@FROMDATE+'''  AS DATE) 
		AND DATECREATE < DATEADD(D, 1, CAST('''+@TODATE+'''  AS DATE) ) 

	UPDATE A 
	SET A.MERCHANT_SERCODE = B.MERCHANT_SEVCODE, 
		A.SERVICE_CODE = B.SERVICE_CODE, 
		A.PROVIDER_CODE = B.PROVIDER_CODE, 
		A.PROVIDER_NAME = B.PROVIDERNAME, 
		A.SUB_TRANS_TYPE = B.SERNAME_ENG
	FROM DBS_dAILY.DBO.EBANKING_TRANSACTION_'+@TODATE+' A 
	INNER JOIN #SERVICE_NAME B ON A.SYS_ID = B.SRVRTID 
	WHERE SOURCE = ''TBL_EB_BPW_PMTINSTRUCTION''
	') 

------------UPDATE SERVICE_NAME CHO I2B 
EXEC('
	UPDATE A 
	SET 
		A.PROVIDER_NAME = B.PROVIDERNAME, 
		A.SUB_TRANS_TYPE = B.SERNAMEENG
	FROM DBS_dAILY.DBO.EBANKING_TRANSACTION_'+@TODATE+' A  
	INNER JOIN DBS_REF.DBO.BILLING_CODE_I2B B ON A.SERVICE_CODE = B.SERCODE AND A.PROVIDER_CODE = B.PROVIDERCODE 
	WHERE SOURCE IN (''TBL_I2B_BILLING'', ''tbl_EBA_AUTO_BILLING_TXN'')
	')

--------OTHER BILLING TYPE 
EXEC('
	UPDATE A 
	SET SUB_TRANS_TYPE = ''Moca POS'' 
	FROM DBS_dAILY.DBO.EBANKING_TRANSACTION_'+@TODATE+' A  
	WHERE TRANS_TYPE_GROUP = ''BILLING''
		AND SUB_TRANS_TYPE IS NULL 
		AND SOURCE = ''TBL_W4_DOC_F1'' 

	update a 
	set SUB_TRANS_TYPE = case when a.SERVICE_CODE = ''DIEN'' THEN ''Electricity'' 
							when a.SERVICE_CODE = ''NUOC'' THEN ''Water'' 
						END 
	FROM DBS_dAILY.DBO.EBANKING_TRANSACTION_'+@TODATE+' A  
	where SUB_TRANS_TYPE is null 
	and a.SERVICE_CODE in (''DIEN'', ''NUOC'') 
	AND PROVIDER_CODE IS NULL 
	') 
------NOP THUE ONLINE 

EXEC('
	select * 
	INTO #ETAX 
	from M108.BICDATA_HIS.DBO.tbl_eb_BPW_PMTExtrainfo 
	where NAME =''TAXTYPEDETAIL'' 
		and VALUE in (''THUECHOTHUENHAKHAC'', ''LPTRUOCBAOTOXEMAY'', ''THUECHUYENNHUONGBDS'')
		and TRANS_DATE >= '''+@FROMDATE+'''
		AND TRANS_DATE < DATEADD(D, 1, '''+@TODATE+''')  ; 

	UPDATE A 
	SET SUB_TRANS_TYPE = ''Etax''
	FROM DBS_dAILY.DBO.EBANKING_TRANSACTION_'+@TODATE+'  A 
	WHERE EXISTS (SELECT  1 FROM #ETAX B WHERE A.SYS_ID = B.SRVRTID ) 
	AND SOURCE = ''tbl_eb_BPW_PMTINSTRUCTION'' 
') 

------QR PAY 
EXEC('
	update a 
	set SUB_TRANS_TYPE = ''QR Pay''
	from DBS_dAILY.dbo.EBANKING_TRANSACTION_'+@TODATE+' a 
	where source = ''tbl_eb_bpw_transfer'' 
		and  TO_AC = ''VND1308300090005''

')

------CREDIT PAYMENT 

EXEC('
	SELECT SRVRTID 
	INTO #TEMP 
	FROM M108.BICDATA_HIS.DBO.TBL_EB_BPW_XFEREXTRAINFO 
	WHERE NAME = ''TO_ACC_TYPE'' 
		AND VALUE = ''CC''					
		AND TRANS_DATE >= '''+@FROMDATE+'''
		AND TRANS_DATE < DATEADD(D, 1, '''+@TODATE+''')


	UPDATE A 
	SET SUB_TRANS_TYPE  = ''CREDIT PAYMENT''
	FROM DBS_dAILY.DBO.EBANKING_TRANSACTION_'+@TODATE+'   A 
		WHERE SOURCE = ''TBL_EB_BPW_XFERINSTRUCTION''
		AND TRANS_TYPE_GROUP = ''INTERNAL TRANSFER''
		AND EXISTS (SELECT 1 FROM #TEMP B WHERE A.SYS_ID = B.SRVRTID )
	') 

------------------UPDATE CAC GIAO DICH CO 4 CHU SO DAU CUA TO_AC LA THE TD  TRONG TBL_I2B_TRANSFER_TXN

EXEC ('
SELECT T24_CIF, CARD_NUMBER 
INTO #CC
	FROM DATA.DBO.CARD_LIVE A
WHERE EXISTS (SELECT * FROM DBS_REF.DBO.MABIN B 
			WHERE CARD_GROUP LIKE ''%CREDIT%'' 
				AND LEFT(A.CARD_NUMBER,6)  = LEFT(B.BIN,6) )  

UPDATE A 
	SET SUB_TRANS_TYPE  = ''CREDIT PAYMENT''
	FROM DBS_dAILY.DBO.EBANKING_TRANSACTION_'+@TODATE+' A 
		WHERE SOURCE = ''TBL_I2B_TRANSFER_TXN''
		AND TRANS_TYPE_GROUP = ''INTERNAL TRANSFER''
		AND TO_AC LIKE ''%XXX%'' 
		AND EXISTS (SELECT * FROM DBS_REF.DBO.MABIN B 
					WHERE CARD_GROUP LIKE ''%CREDIT%'' 
						AND LEFT(TO_AC,4)  = LEFT(B.BIN,4) )
		AND EXISTS (SELECT * FROM #CC C
					WHERE A.CIF = C.T24_CIF
						AND RIGHT(A.TO_AC,4) = RIGHT(C.CARD_NUMBER,4)
						AND LEFT(A.TO_AC,4) = LEFT(C.CARD_NUMBER,4) )
	') 

EXEC('
	UPDATE A 
	SET SUB_TRANS_TYPE  = ''CREDIT PAYMENT''
	FROM DBS_dAILY.DBO.EBANKING_TRANSACTION_'+@TODATE+' A 
	WHERE EXISTS (SELECT * FROM DBS_REF.DBO.MABIN B 
				WHERE CARD_TYPE LIKE ''%CREDIT%'' 
					AND LEFT(TO_AC,6)  = LEFT(B.BIN,6) ) 
		AND SOURCE = ''TBL_I2B_TRANSFER_TXN''
		AND TRANS_TYPE_GROUP = ''INTERNAL TRANSFER''
		AND TO_AC LIKE ''%XXX%'' 
	') 

EXEC('
	UPDATE  A 
	SET SUB_TRANS_TYPE  = ''CREDIT PAYMENT''
	FROM DBS_dAILY.DBO.EBANKING_TRANSACTION_'+@TODATE+'  A 
	WHERE SOURCE = ''TBL_B2B_TRANSFER'' 
		AND TRANS_TYPE = ''CREDIT PAYMENT''
') 


-----------FINAL STEP 

EXEC('
	CREATE NONCLUSTERED INDEX [IDX_EBK_ID_'+@TODATE+'] 
		ON EBANKING_TRANSACTION_'+@TODATE+' ([CIF] ASC)
') 

EXEC('
	ALTER INDEX PK_TXN_ID_'+@TODATE+' ON EBANKING_TRANSACTION_'+@TODATE+' REBUILD
	')

END
GO
