USE [DBS_DAILY]
GO
/****** Object:  StoredProcedure [dbo].[PR_DAILY_ETL_31_LENDING_TRANSACTION]    Script Date: 8/6/2019 10:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PR_DAILY_ETL_31_LENDING_TRANSACTION]
AS 
BEGIN 

DECLARE @TODATE VARCHAR(8) ,
	@FROMDATE VARCHAR(8), 
	@MONTH VARCHAR(8) 

SET @TODATE = (SELECt RPTDATE FROM DBS_REF.DBO.RPTDATE)
SET @FROMDATE = left(@todate,6) + '01' 

exec('

DROP TABLE IF EXISTS ##TEMP 

	SELECT * 
	INTO ##TEMP 
	FROM 
		(
		SELECT 
			''CARD'' as SOURCE, ''CREDIT CARD ONLINE'' AS TRANS_TYPE_GROUP, BI_CARD_TYPE TRANS_TYPE, CARD_TYPE SUB_TRANS_TYPE, T24_CIF CIF, 
			cast(ACNT_CONTRACT_ID as varchar) TRANS_CODE, cast(ACNT_CONTRACT_ID as varchar) BANK_XID, 
			CARD_NUMBER SYS_ID, CARD_DATE_OPEN VALUE_DATE, 
			''SUCCESSFUL'' FINAL_STATUS, 1 S_FLAG, NULL TXN_AMT
			----CASE WHEN CARD_STATUS = ''CARD OK'' AND CONTRACT_STATUS = ''ACCOUNT OK'' then ''SUCCESSFUL'' else ''UNSUCCESSFUL'' end, 
			---CASE WHEN CARD_STATUS = ''CARD OK'' AND CONTRACT_STATUS = ''ACCOUNT OK'' then 1 else 0 end
		FROM CARD_'+@TODATE+'
		WHERE  BI_CARD_TYPE IN (''TIMO CARD'',''ONLINE CARD'',''DIGITAL CARD'')	
			AND BI_PRODUCT_GROUP = ''01.CREDIT CARD''
			AND (BI_CHANNEL <> ''OTHER'' 
				OR CARD_TYPE LIKE ''%SME%'' 
				OR CARD_TYPE LIKE ''%CORPORATE%'' 
				OR COMPANY = ''VN0010348'')
			AND CARD_DATE_OPEN >= '''+@FROMDATE+''' 
			AND CARD_DATE_OPEN < DATEADD(D, 1, '''+@TODATE+''')

	-----UPL 
		UNION ALL
		SELECT 
			''UPL'', ''UPL ONLINE'', DBS_CHANNEL, NULL, CIF, ACCTNO, ACCTNO, 
			APP_ID_C, VALUE_DATE, ''SUCCESSFUL'', 1, ORIGINAL_AMT
		FROM UPL_'+@TODATE+' 
		WHERE VALUE_DATE >= '''+@FROMDATE+'''
			AND VALUE_DATE < DATEADD(D, 1, '''+@TODATE+''')
		
		UNION ALL
		SELECT 
			''PASSBOOK'', PRODUCT_LINE, PRODUCT_LINE, NULL, CIF, ACCTNO, ACCTNO, 
			APP_ID_C, VALUE_DATE, ''SUCCESSFUL'', 1, ORIGINAL_AMT
		FROM SECURED_LOAN_'+@TODATE+' 
		WHERE VALUE_DATE >= '''+@FROMDATE+'''
			AND VALUE_DATE < DATEADD(D, 1, '''+@TODATE+''')

	----OVERDRAFT ONLINE 
		UNION ALL
		SELECT
			''OD'', ''OVERDRAFT ONLINE'', OVERDRAFT_TYPE, NULL, T24_CIF, PRODUCT_LIMIT, OVERDRAFT_ACC, 
			PRODUCT_LIMIT, REGIST_DATE, ''SUCCESSFUL'', 1, APPROVAL_LIMIT 
		FROM TBL_ONLINE_LOAN_'+@TODATE+' 
		WHERE REGIST_DATE >= '''+@FROMDATE+'''
			AND REGIST_DATE < DATEADD(D, 1, '''+@TODATE+''')
	) X

	ALTER TABLE ##TEMP 
	ADD BI_CHANNEL VARCHAR(20), SEGMENT VARCHAR(20), COMPANY_BOOK VARCHAR(20), CHANNEL_GROUP VARCHAR(20) 

	')

-------------UPDATE BI_CHANNEL, SEGMENT, COMPANYBOOK, CHANNEL_GROUP 
EXEC('
	UPDATE A 
		SET BI_CHANNEL = B.BI_CHANNEL,
			SEGMENT = CASE WHEN B.COMPANY_BOOK  = ''VN0010344'' THEN ''HH'' ELSE B.SEGMENT END,
			COMPANY_BOOK = B.COMPANY_BOOK
	FROM ##TEMP  A 
		INNER JOIN [CUSTOMER_'+@TODATE+']  B ON A.CIF = B.RECID

	update ##TEMP
	set CHANNEL_GROUP = CASE WHEN COMPANY_BOOK = ''VN0010348'' THEN ''TIMO''  
							when SEGMENT = ''HH'' THEN ''VPO_HH'' 	
						ELSE ''VPO_RB'' END 
')

----------INSERT VAO BANG EBANKING_TRANSACTION 
EXEC('

/*
	DELETE FROM DBS_dAILY.DBO.EBANKING_TRANSACTION_'+@TODATE+' 
	WHERE SOURCE IN (''OD'',''UPL'',''CARD'')
*/

	drop table if exists DBS_dAILY.DBO.LENDING_TRANSACTION_'+@TODATE+' 

	SELECT TOP 0 * 
	INTO DBS_dAILY.DBO.LENDING_TRANSACTION_'+@TODATE+'
	FROM DBS_MONTHLY.DBO.LENDING_TRANSACTION_20190131

	insert into DBS_dAILY.DBO.LENDING_TRANSACTION_'+@TODATE+' 
		(SOURCE, TRANS_TYPE_GROUP, TRANS_TYPE, SUB_TRANS_TYPE, CIF, TRANS_CODE, BANK_XID, SYS_ID, VALUE_dATE, 
		FINAL_STATUS, S_FLAG, TXN_AMT, COMPANY_BOOK, BI_CHANNEL, SEGMENT, CHANNEL_GROUP)
	selecT * 
	from ##TEMP 

') 

END 
GO
