USE [DBS_DAILY]
GO
/****** Object:  StoredProcedure [dbo].[PR_DAILY_ETL_32_CUSTOMER_FIRST_LOGIN]    Script Date: 8/6/2019 10:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PR_DAILY_ETL_32_CUSTOMER_FIRST_LOGIN]

AS 
BEGIN

DECLARE @TODATE VARCHAR(20) 
SET @TODATE    = (SELECT RPTDATE FROM DBS_REF.DBO.RPTDATE )
DECLARE @L_MONTH VARCHAR(20) = (SELECT CONVERT(VARCHAR(8),DATEADD(D,-1,FirstDayOfMonth),112) 
								FROM DBS_REF.DBO.CALENDAR WHERE RPTDATE = @TODATE)

--ALTER TABLE EBANK_CUSTOMER_FIRST_LOGIN  
--ADD FIRST_LOGIN_WEB DATETIME , LAST_LOGIN_WEB DATETIME 

-------=========================================================
--------CREATE TABLE 
-------=========================================================

PRINT (' CREATE TABLE')

EXEC('
	DROP TABLE IF EXISTS EBANK_CUSTOMER_FIRST_LOGIN_'+@TODATE+'
')
EXEC('
	CREATE TABLE EBANK_CUSTOMER_FIRST_LOGIN_'+@TODATE+' (
	T24_CIF VARCHAR(20) , 
	FIRST_LOGIN_I2B DATETIME,
	FIRST_LOGIN_OCB DATETIME,
	FIRST_LOGIN_MOBILE DATETIME,
	FIRST_LOGIN_WEB DATETIME, 
	FIRST_LOGIN_DATE DATETIME , 
	LAST_LOGIN_I2B DATETIME,
	LAST_LOGIN_OCB DATETIME,
	LAST_LOGIN_MOBILE DATETIME,
	LAST_LOGIN_WEB DATETIME, 
	LAST_LOGIN_DATE DATETIME , 
	FIRST_TRANS_DATE DATETIME,
	FIRST_TRANS_TYPE VARCHAR(200),
	LAST_TRANS_DATE DATETIME,
	LAST_TRANS_TYPE VARCHAR(200)
	CONSTRAINT [PK_FST_LGN_USERID_'+@TODATE+'] PRIMARY KEY CLUSTERED ([T24_CIF] ASC)
	)
')

-------=========================================================
--------I> INSERT NEW LOGIN CUSTOMER 
-------=========================================================

PRINT (' I> INSERT NEW LOGIN CUSTOMER ')
EXEC('
	INSERT INTO EBANK_CUSTOMER_FIRST_LOGIN_'+@TODATE+' (
		T24_CIF,FIRST_LOGIN_I2B,FIRST_LOGIN_OCB,FIRST_LOGIN_MOBILE,FIRST_LOGIN_WEB,LAST_LOGIN_I2B,LAST_LOGIN_OCB,
		LAST_LOGIN_MOBILE,LAST_LOGIN_WEB,FIRST_TRANS_DATE,FIRST_TRANS_TYPE,LAST_TRANS_DATE,LAST_TRANS_TYPE)
	SELECT [T24_CIF]
      ,[FIRST_LOGIN_I2B]
      ,[FIRST_LOGIN_OCB]
      ,[FIRST_LOGIN_MOBILE]
      ,[FIRST_LOGIN_WEB]
      ,[LAST_LOGIN_I2B]
      ,[LAST_LOGIN_OCB]
      ,[LAST_LOGIN_MOBILE]
      ,[LAST_LOGIN_WEB]
      ,[FIRST_TRANS_DATE]
      ,[FIRST_TRANS_TYPE]
      ,[LAST_TRANS_DATE]
      ,[LAST_TRANS_TYPE]
	FROM DBS_MONTHLY.DBO.EBANK_CUSTOMER_FIRST_LOGIN_'+@L_MONTH+'

	INSERT INTO EBANK_CUSTOMER_FIRST_LOGIN_'+@TODATE+'(T24_CIF)
	SELECT DISTINCT CUS_CIF 
	FROM EBANK_CUSTOMER_FIRST_LOGIN_'+@TODATE+' A 
	FULL JOIN 
		(select * 
		from TBL_I2B_AUTH_INFO 
		where TIME_RQ <DATEADD(D,1, '''+@TODATE+''')
		) B ON A.T24_CIF = B.CUS_CIF
	WHERE A.T24_CIF IS NULL 
')
--SELECT * 
--FROM EBANK_CUSTOMER_FIRST_LOGIN_'+@TODATE+' A 
--WHERE COALESCE(LAST_LOGIN_I2B, LAST_LOGIN_OCB, LAST_LOGIN_MOBILE ) IS NULL 

--SELECT * 
--FROM EBANK_CUSTOMER_FIRST_LOGIN_'+@TODATE+' A 
--WHERE COALESCE(FIRST_LOGIN_I2B, FIRST_LOGIN_OCB, FIRST_LOGIN_MOBILE ) IS NULL 

-------===============================================================================================================
----II> GET FIRST LOGIN DATE DATA  (VOI FIRST LOGIN DATE CAN UPDATE TU CAC BANG CU TRUOC, SAU DO MOI UPDATE CAC BANG MOI)
-------===============================================================================================================
PRINT (' II> GET FIRST LOGIN DATE DATA ')
EXEC('
DROP TABLE IF EXISTS  ##LOGIN_I2B , ##LOGIN_OCB , ##LOGIN_MOBILE 

	SELECT * 
	INTO ##LOGIN_I2B 
	FROM 
		(SELECT CUS_CIF  , TIME_RQ, 
			ROW_NUMBER() OVER(PARTITION BY CUS_CIF  ORDER BY TIME_RQ ASC) AS STT 
		FROM DBS_dAILY.DBO.TBL_I2B_AUTH_INFO
		WHERE DEVICE_CODE IS NULL AND CHANNEL_RQ = ''I2B''
		AND TIME_RQ >= ''2016-01-01'' AND TIME_RQ <DATEADD(D,1, '''+@TODATE+''')
		) A 
	WHERE STT = 1 

	SELECT * 
	INTO ##LOGIN_OCB
	FROM 
		(SELECT CUS_CIF  , TIME_RQ, 
			ROW_NUMBER() OVER(PARTITION BY CUS_CIF  ORDER BY TIME_RQ ASC) AS STT 
		FROM DBS_dAILY.DBO.TBL_I2B_AUTH_INFO
		WHERE DEVICE_CODE = ''OCB'' AND CHANNEL_RQ = ''I2B''
		AND TIME_RQ >= ''2016-01-01'' AND TIME_RQ <DATEADD(D,1, '''+@TODATE+''')
		) A 
	WHERE STT = 1 

	SELECT * 
	INTO ##LOGIN_MOBILE
	FROM 
		(SELECT CUS_CIF  , TIME_RQ, 
			ROW_NUMBER() OVER(PARTITION BY CUS_CIF  ORDER BY TIME_RQ ASC) AS STT 
		FROM DBS_dAILY.DBO.TBL_I2B_AUTH_INFO
		WHERE CHANNEL_RQ = ''MOBILE''
		AND TIME_RQ >= ''2016-01-01'' AND TIME_RQ <DATEADD(D,1, '''+@TODATE+''')
		) A 
	WHERE STT = 1 
')
-------===============================================================================================================
----III> GET FIRST TRANS DATA
-------===============================================================================================================
PRINT (' III> GET FIRST TRANS DATA ')
EXEC('
drop table IF EXISTS ##FIRST_TRANS

	SELECT CIF , VALUE_DATE , TRANS_TYPE 
	INTO ##FIRST_TRANS
	FROM 
	(SELECT * , ROW_NUMBER() OVER(PARTITION BY CIF ORDER BY VALUE_DATE asc) AS STT 
	FROM EBANKING_TRANSACTION_'+@TODATE+' A 
	WHERE S_FLAG = 1 
	) A 
	WHERE STT = 1 
')
-------==============================================================================================================
---IV> UPDATE LAST LOGIN DATE  (VOI LAST LOGIN DATE CAN UPDATE TU CAC BANG MOI TRUOC, SAU DO MOI UPDATE TU CAC BANG CU)
-------==============================================================================================================

-------GET TEMP DATA 
PRINT (' IV> UPDATE LAST LOGIN DATE ')
EXEC('
drop table IF EXISTS  ##LAST_LOGIN_I2B , ##LAST_LOGIN_OCB , ##LAST_LOGIN_MOBILE 

	SELECT* 
	INTO ##LAST_LOGIN_I2B 
	FROM 
		(SELECT CUS_CIF  , TIME_RQ, 
			ROW_NUMBER() OVER(PARTITION BY CUS_CIF  ORDER BY TIME_RQ DESC) AS STT 
		----FROM DBS_MONTHLY.DBO.TBL_I2B_AUTH_INFO_20171031 
		FROM TBL_I2B_AUTH_INFO
		WHERE DEVICE_CODE IS NULL 
			AND CHANNEL_RQ = ''I2B''
			AND TIME_RQ >= ''2016-01-01'' 
			AND TIME_RQ <DATEADD(D,1, '''+@TODATE+''')
		) A 
	WHERE STT = 1 

	SELECT* 
	INTO ##LAST_LOGIN_OCB
	FROM 
		(SELECT CUS_CIF  , TIME_RQ, 
			ROW_NUMBER() OVER(PARTITION BY CUS_CIF  ORDER BY TIME_RQ DESC) AS STT 
		----FROM DBS_MONTHLY.DBO.TBL_I2B_AUTH_INFO_20171031 
		FROM TBL_I2B_AUTH_INFO
		WHERE DEVICE_CODE = ''OCB'' 
			AND CHANNEL_RQ = ''I2B''
			AND TIME_RQ >= ''2016-01-01'' 
			AND TIME_RQ <DATEADD(D,1, '''+@TODATE+''')
		) A 
	WHERE STT = 1 


	SELECT* 
	INTO ##LAST_LOGIN_MOBILE
	FROM 
		(SELECT CUS_CIF  , TIME_RQ, 
			ROW_NUMBER() OVER(PARTITION BY CUS_CIF  ORDER BY TIME_RQ DESC) AS STT 
		----FROM DBS_MONTHLY.DBO.TBL_I2B_AUTH_INFO_20171031 
		FROM TBL_I2B_AUTH_INFO
		WHERE CHANNEL_RQ = ''MOBILE''
			AND TIME_RQ >= ''2016-01-01'' 
			AND TIME_RQ <DATEADD(D,1, '''+@TODATE+''')
		) A 
	WHERE STT = 1 
')
-------==============================================================================================================
---V> LAST TRANS DATE 
-------==============================================================================================================
PRINT (' V> LAST TRANS DATE ')
EXEC('
drop table IF EXISTS ##LAST_TRANS_2017, ##LAST_TRANS

	SELECT CIF , VALUE_DATE , TRANS_TYPE 
	INTO ##LAST_TRANS
	FROM 
	(SELECT * , ROW_NUMBER() OVER(PARTITION BY CIF ORDER BY VALUE_DATE DESC) AS STT 
	FROM EBANKING_TRANSACTION_'+@TODATE+' A 
	WHERE S_FLAG = 1 
	) A 
	WHERE STT = 1 
	')
----=============================================================================
----  VI> UPDATE 
----=============================================================================
PRINT (' VI> UPDATE  ')
PRINT (' UPDATE FIRST LOGIN')
EXEC('
------UPDATE FIRST LOGIN_I2B 

	UPDATE A
	SET FIRST_LOGIN_I2B = B.TIME_RQ
	FROM EBANK_CUSTOMER_FIRST_LOGIN_'+@TODATE+' A 
	LEFT JOIN ##LOGIN_I2B B  ON A.T24_CIF = B.CUS_CIF  
	WHERE FIRST_LOGIN_I2B IS NULL 
		OR FIRST_LOGIN_I2B > TIME_RQ

------UPDATE FIRST LOGIN_OCB

	UPDATE A
	SET FIRST_LOGIN_OCB = B.TIME_RQ
	FROM EBANK_CUSTOMER_FIRST_LOGIN_'+@TODATE+' A
	LEFT JOIN ##LOGIN_OCB B  ON A.T24_CIF = B.CUS_CIF  
	WHERE FIRST_LOGIN_OCB IS NULL 
		OR FIRST_LOGIN_OCB > TIME_RQ

------UPDATE FIRST LOGIN_MOBILE

	UPDATE A
	SET FIRST_LOGIN_MOBILE = B.TIME_RQ
	FROM EBANK_CUSTOMER_FIRST_LOGIN_'+@TODATE+' A 
	LEFT JOIN ##LOGIN_MOBILE B  ON A.T24_CIF = B.CUS_CIF  
	WHERE FIRST_LOGIN_MOBILE IS NULL 
		OR FIRST_LOGIN_MOBILE > TIME_RQ
')
------LAST LOGIN 
------UPDATE LAST LOGIN_I2B 
PRINT (' UPDATE LAST LOGIN')
EXEC('
	UPDATE A
	SET LAST_LOGIN_I2B = B.TIME_RQ
	FROM EBANK_CUSTOMER_FIRST_LOGIN_'+@TODATE+' A 
	LEFT JOIN ##LAST_LOGIN_I2B B  ON A.T24_CIF = B.CUS_CIF  
	WHERE LAST_LOGIN_I2B IS NULL 
		OR LAST_LOGIN_I2B < TIME_RQ

------UPDATE LAST LOGIN_OCB

	UPDATE A
	SET LAST_LOGIN_OCB = B.TIME_RQ
	FROM EBANK_CUSTOMER_FIRST_LOGIN_'+@TODATE+' A
	LEFT JOIN ##LAST_LOGIN_OCB B  ON A.T24_CIF = B.CUS_CIF  
	WHERE LAST_LOGIN_OCB IS NULL 
		OR LAST_LOGIN_OCB < TIME_RQ

------UPDATE LAST LOGIN_MOBILE

	UPDATE A
	SET LAST_LOGIN_MOBILE = B.TIME_RQ
	FROM EBANK_CUSTOMER_FIRST_LOGIN_'+@TODATE+' A 
	LEFT JOIN ##LAST_LOGIN_MOBILE B  ON A.T24_CIF = B.CUS_CIF  
	WHERE LAST_LOGIN_MOBILE IS NULL 
		OR LAST_LOGIN_MOBILE < TIME_RQ
')
-----TRANSACTION DATE 

-----FIRST TRANS : UPDATE NHUNG CIF MOI XUAT HIEN (MOI GIAO DICH) 
PRINT (' UPDATE FIRST TRANS')
EXEC('
	UPDATE A
	SET A.FIRST_TRANS_DATE = B.VALUE_DATE ,
		A.FIRST_TRANS_TYPE = B.TRANS_TYPE 
	FROM EBANK_CUSTOMER_FIRST_LOGIN_'+@TODATE+' A 
	LEFT JOIN ##FIRST_TRANS B ON A.T24_CIF = B.CIF
	WHERE FIRST_TRANS_DATE IS NULL 
		or FIRST_TRANS_DATE > value_date 

-----FIRST TRANS : UPDATE NHUNG CIF MOI XUAT HIEN (MOI LOGIN) HOAC GIAO DICH GAN NHAT   

	UPDATE A
	SET	A.LAST_TRANS_DATE = C.VALUE_DATE ,
		A.LAST_TRANS_TYPE = C.TRANS_TYPE 
	FROM EBANK_CUSTOMER_FIRST_LOGIN_'+@TODATE+' A 
	LEFT JOIN ##LAST_TRANS C ON A.T24_CIF = C.CIF
	WHERE LAST_TRANS_DATE IS NULL 
		OR LAST_TRANS_DATE < VALUE_DATE 
')
---------UPDATE LAST, FIRST LOGIN WEB 
PRINT (' UPDATE LAST, FIRST LOGIN WEB ')
EXEC('
	UPDATE A
	SET FIRST_LOGIN_WEB = CASE 
							WHEN FIRST_LOGIN_I2B IS NULL OR   FIRST_LOGIN_OCB IS NULL THEN coalesce(FIRST_LOGIN_I2B,FIRST_LOGIN_OCB)
							WHEN FIRST_LOGIN_I2B < FIRST_LOGIN_OCB THEN FIRST_LOGIN_I2B ELSE FIRST_LOGIN_OCB 
						END 
	FROM EBANK_CUSTOMER_FIRST_LOGIN_'+@TODATE+' A 

	UPDATE A
	SET LAST_LOGIN_WEB = CASE WHEN LAST_LOGIN_I2B IS NULL OR   LAST_LOGIN_OCB IS NULL THEN coalesce(LAST_LOGIN_I2B,LAST_LOGIN_OCB)
								WHEN LAST_LOGIN_I2B < LAST_LOGIN_OCB THEN LAST_LOGIN_OCB ELSE LAST_LOGIN_I2B 
							END
	FROM EBANK_CUSTOMER_FIRST_LOGIN_'+@TODATE+' A 

	UPDATE A
	SET FIRST_LOGIN_DATE = CASE 
							WHEN FIRST_LOGIN_WEB IS NULL OR   FIRST_LOGIN_MOBILE IS NULL THEN coalesce(FIRST_LOGIN_WEB,FIRST_LOGIN_MOBILE)
							WHEN FIRST_LOGIN_WEB < FIRST_LOGIN_MOBILE THEN FIRST_LOGIN_WEB ELSE FIRST_LOGIN_MOBILE 
						END 
	FROM DBS_dAILY.DBO.EBANK_CUSTOMER_FIRST_LOGIN_'+@TODATE+' A 

	UPDATE A
	SET LAST_LOGIN_DATE = CASE WHEN LAST_LOGIN_MOBILE IS NULL OR   LAST_LOGIN_WEB IS NULL THEN coalesce(LAST_LOGIN_MOBILE,LAST_LOGIN_WEB)
								WHEN LAST_LOGIN_MOBILE < LAST_LOGIN_WEB THEN LAST_LOGIN_WEB ELSE LAST_LOGIN_MOBILE 
							END
	FROM DBS_dAILY.DBO.EBANK_CUSTOMER_FIRST_LOGIN_'+@TODATE+' A 
')

/****
	select * 
	FROM EBANK_CUSTOMER_FIRST_LOGIN A 
	where last_login_web > last_login_i2b
	and last_login_web > last_login_ocb
	and last_login_web > last_login_mobile 


	select * 
	FROM EBANK_CUSTOMER_FIRST_LOGIN A 
	where first_login_web > first_login_i2b
	and first_login_web > first_login_ocb
	and first_login_web > first_login_mobile 

	SELECT MIN(FIRST_LOGIN_I2B), MIN(FIRST_LOGIN_OCB), MIN(FIRST_LOGIN_MOBILE) , 
		 MAX(LAST_LOGIN_I2B), MAX(LAST_LOGIN_OCB), MAX(LAST_LOGIN_MOBILE), 
		 MIN(FIRST_TRANS_DATE) , MAX(LAST_TRANS_DATE) 
	FROM EBANK_CUSTOMER_FIRST_LOGIN A 

****/

exec('
	CREATE NONCLUSTERED INDEX [IDX_FST_LGN_DATE_'+@TODATE+'] 
	ON EBANK_CUSTOMER_FIRST_LOGIN_'+@TODATE+' (LAST_LOGIN_WEB,LAST_LOGIN_MOBILE)

	CREATE NONCLUSTERED INDEX [IDX_FST_TXN_DATE_'+@TODATE+'] 
	ON EBANK_CUSTOMER_FIRST_LOGIN_'+@TODATE+' (LAST_TRANS_DATE)
	') 

EXEC('
	ALTER INDEX PK_FST_LGN_USERID_'+@TODATE+' ON EBANK_CUSTOMER_FIRST_LOGIN_'+@TODATE+' REBUILD
	') 


END
GO
