USE [DBS_DAILY]
GO
/****** Object:  StoredProcedure [dbo].[PR_DAILY_ETL_33_USER_FIRST_LOGIN]    Script Date: 8/6/2019 10:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PR_DAILY_ETL_33_USER_FIRST_LOGIN]
AS 
BEGIN 

DECLARE @TODATE VARCHAR(8)
DECLARE @LMONTH VARCHAR(8)

SET @TODATE = (SELECT RPTDATE FROM DBS_REF.DBO.RPTDATE)
DECLARE @L_MONTH VARCHAR(20) = (SELECT CONVERT(VARCHAR(8),DATEADD(D,-1,FirstDayOfMonth),112) 
								FROM DBS_REF.DBO.CALENDAR WHERE RPTDATE = @TODATE)


EXEC('
	DROP TABLE IF EXISTS [EBANKING_USER_FIRST_LOGIN_'+@TODATE+']
	DROP TABLE IF EXISTS ##TRANSACTION , ##LOGIN , ##LOGIN_B2B

	CREATE TABLE [EBANKING_USER_FIRST_LOGIN_'+@TODATE+'](
		[CHANNEL] [varchar](50) NULL,
		[T24_CIF] [nvarchar](50) NOT NULL,
		[LAST_TRANS_DATE] [date] NULL,
		[LAST_TRANS_TYPE] [varchar](200) NULL,
		[FIRST_TRANS_DATE] [date] NULL,
		[FIRST_TRANS_TYPE] [varchar](200) NULL,
		[FIRST_LOGIN_DATE] [date] NULL,
		[LAST_LOGIN_DATE] [date] NULL
	) 
') 

PRINT ('INSERT L_MONTH DATA ') 
EXEC('
	INSERT INTO [EBANKING_USER_FIRST_LOGIN_'+@TODATE+']
	SELECT *
	FROM DBS_MONTHLY.DBO.[EBANKING_USER_FIRST_LOGIN_'+@L_MONTH+'] A 
	WHERE CHANNEL <> ''MOCA'' OR CHANNEL IS NULL 
') 

PRINT ('LOAD TRANSACTION DATA ') 
EXEC('
	SELECT CHANNEL_GROUP , CIF , TRANS_TYPE , VALUE_DATE ,
		ROW_NUMBER() OVER(PARTITION BY CHANNEL_GROUP , CIF ORDER BY VALUE_DATE DESC) AS ROW_DESC ,
		ROW_NUMBER() OVER(PARTITION BY CHANNEL_GROUP , CIF ORDER BY VALUE_DATE ASC) AS ROW_ASC 
	INTO ##TRANSACTION 
	from ebanking_transaction_'+@TODATE+' 
	WHERE FINAL_STATUS = ''SUCCESSFUL'' 
	AND ISNULL(CHANNEL_GROUP ,0) <> ''MOCA''
	AND VALUE_DATE <= '''+@TODATE+'''
	') 

PRINT ('LOGIN TEMP TABLE  ') 

EXEC('
	Select 
		CUS_CIF ,
			CASE 
				WHEN CHANNEL_RQ = ''I2B'' AND (B.COMPANY_BOOK = ''VN0010344'' OR B.SEGMENT = ''HH'') THEN ''VPO_HH'' 
				WHEN CHANNEL_RQ = ''I2B'' THEN ''VPO_RB'' 
				WHEN CHANNEL_RQ = ''MOBILE'' AND (B.COMPANY_BOOK = ''VN0010344'' OR B.SEGMENT = ''HH'') THEN ''MOBILE_HH'' 
				WHEN CHANNEL_RQ = ''MOBILE'' THEN ''MOBILE_RB'' 
			ELSE CHANNEL_RQ END  as CHANNEL_RQ , MAX(TIME_RQ) AS LAST_LOGIN_TIME, MIN(TIME_RQ)  AS FIRST_LOGIN_TIME
	INTO ##LOGIN 
	FROM tbl_i2b_auth_info a 
	left join CUSTOMER_'+@TODATE+' B ON A.CUS_CIF = B.RECID 
	WHERE TIME_RQ < DATEADD(D,1,'''+@TODATE+'''  ) 
	group by 
		CUS_CIF ,
			CASE 
				WHEN CHANNEL_RQ = ''I2B'' AND (B.COMPANY_BOOK = ''VN0010344'' OR B.SEGMENT = ''HH'') THEN ''VPO_HH'' 
				WHEN CHANNEL_RQ = ''I2B'' THEN ''VPO_RB'' 
				WHEN CHANNEL_RQ = ''MOBILE'' AND (B.COMPANY_BOOK = ''VN0010344'' OR B.SEGMENT = ''HH'') THEN ''MOBILE_HH'' 
				WHEN CHANNEL_RQ = ''MOBILE'' THEN ''MOBILE_RB'' 
			ELSE CHANNEL_RQ END
') 
EXEC('	
	SELECT CUST_CIF , 
		MAX(LOGIN_TIME) LAST_LOGIN_TIME , MIN(LOGIN_TIME) AS FIRST_LOGIN_TIME
	INTO ##LOGIN_B2B
	from TBL_B2B_SESSION_INFO A 
	WHERE LOGIN_TIME < DATEADD(D,1,'''+@TODATE+'''  ) 
	GROUP BY CUST_CIF
	')

PRINT('INSERT CIF, CHANNEL NEW') 

EXEC('
	INSERT INTO [EBANKING_USER_FIRST_LOGIN_'+@TODATE+'] (CHANNEL , T24_CIF)
	SELECT DISTINCT CHANNEL_GROUP , CIF 
	FROM ##TRANSACTION  A 
	WHERE NOT EXISTS (SELECT * FROM [EBANKING_USER_FIRST_LOGIN_'+@TODATE+'] B 
						WHERE  A.CHANNEL_GROUP = B.CHANNEL AND A.CIF = B.T24_CIF) 
		AND CIF IS NOT NULL 

	INSERT INTO [EBANKING_USER_FIRST_LOGIN_'+@TODATE+'] (CHANNEL , T24_CIF)
	SELECT DISTINCT CHANNEL_RQ , CUS_CIF 
	FROM ##LOGIN  A 
	WHERE NOT EXISTS (SELECT* FROM [EBANKING_USER_FIRST_LOGIN_'+@TODATE+'] B 
						WHERE  A.CHANNEL_RQ = B.CHANNEL AND A.CUS_CIF = B.T24_CIF) 
		AND CUS_CIF IS NOT NULL 

	INSERT INTO [EBANKING_USER_FIRST_LOGIN_'+@TODATE+'] (CHANNEL , T24_CIF)
	SELECT DISTINCT CHANNEL_RQ , CUST_CIF 
	from TBL_B2B_SESSION_INFO A 
	WHERE NOT EXISTS (SELECT* FROM [EBANKING_USER_FIRST_LOGIN_'+@TODATE+'] B 
						WHERE  A.CHANNEL_RQ = B.CHANNEL AND A.CUST_CIF = B.T24_CIF) 
							AND CHANNEL_RQ = ''B2B''
							AND CUST_CIF IS NOT NULL 
							AND LOGIN_TIME < DATEADD(D,1,'''+@TODATE+'''  ) 

		')

PRINT('UPDATE FIRST_TRANs_DATE, LAST_TRANS_dATE') 

--ALTER TABLE [EBANKING_USER_FIRST_LOGIN_'+@TODATE+']
--ADD FIRST_TRANS_DATE DATE , FIRST_TRANS_TYPE VARCHAR(100) 
EXEC('
	UPDATE A
	SET A.FIRST_TRANS_DATE = B.VALUE_DATE ,
		A.FIRST_TRANS_TYPE = B.TRANS_TYPE 
	FROM [EBANKING_USER_FIRST_LOGIN_'+@TODATE+']  A 
	INNER JOIN 
		(SELECT * FROM ##TRANSACTION 
		WHERE ROW_ASC =  1 
		) B ON A.T24_CIF = B.CIF  AND A.CHANNEL = B.CHANNEL_GROUP
	WHERE FIRST_TRANS_DATE IS NULL OR A.FIRST_TRANS_DATE > B.VALUE_DATE


	UPDATE A
	SET A.LAST_TRANS_DATE = B.VALUE_DATE ,
		A.LAST_TRANS_TYPE = B.TRANS_TYPE 
	FROM [EBANKING_USER_FIRST_LOGIN_'+@TODATE+']  A 
	LEFT JOIN 
		(SELECT * FROM ##TRANSACTION 
		WHERE ROW_DESC =  1 
		) B ON A.T24_CIF = B.CIF  AND A.CHANNEL = B.CHANNEL_GROUP 
	WHERE LAST_TRANS_DATE IS NULL OR A.LAST_TRANS_DATE < B.VALUE_DATE
')

PRINT('UPDATE FIRST_LOGIN_DATE, LAST_LOGIN_DATE') 

--ALTER TABLE [EBANKING_USER_FIRST_LOGIN_'+@TODATE+']
--ADD FIRST_LOGIN_DATE DATE , LAST_LOGIN_DATE DATE

---------I2B 

EXEC('
	UPDATE A 
	set a.FIRST_LOGIN_DATE  = b.First_login_time 
	FROM [EBANKING_USER_FIRST_LOGIN_'+@TODATE+'] A 
	inner join ##LOGIN b 
		on a.T24_CIF = b.CUS_CIF and a.CHANNEL = b.CHANNEL_RQ
	WHERE FIRST_LOGIN_DATE IS NULL OR A.FIRST_LOGIN_DATE > B.FIRST_LOGIN_TIME 

	UPDATE A 
	set a.LAST_LOGIN_DATE  = b.LAST_LOGIN_TIME 
	FROM [EBANKING_USER_FIRST_LOGIN_'+@TODATE+'] A 
	inner join ##LOGIN b 
		on a.T24_CIF = b.CUS_CIF and a.CHANNEL = b.CHANNEL_RQ
	WHERE LAST_LOGIN_DATE IS NULL OR A.LAST_LOGIN_DATE < B.LAST_LOGIN_TIME 

') 


---------B2B 

EXEC('
	UPDATE A 
	set a.FIRST_LOGIN_DATE  = b.First_login_time 
	FROM [EBANKING_USER_FIRST_LOGIN_'+@TODATE+'] A 
	INNER JOIN ##LOGIN_B2B B ON a.T24_CIF = b.CUST_CIF 
	WHERE (FIRST_LOGIN_DATE IS NULL OR A.FIRST_LOGIN_DATE > B.FIRST_LOGIN_TIME )
	AND  CHANNEL = ''B2B''

	UPDATE A 
	set a.LAST_LOGIN_DATE  = b.LAST_LOGIN_TIME 
	FROM [EBANKING_USER_FIRST_LOGIN_'+@TODATE+'] A 
	INNER JOIN ##LOGIN_B2B B ON a.T24_CIF = b.CUST_CIF 
	WHERE (LAST_LOGIN_DATE IS NULL OR A.LAST_LOGIN_DATE < B.LAST_LOGIN_TIME )
	AND  CHANNEL = ''B2B''

') 

EXEC('
	insert into [EBANKING_USER_FIRST_LOGIN_'+@TODATE+']
	select ''MOCA'', T24_CIF , MAX(AMND_DATE) , ''BILLING'',  MIN(AMND_DATE)  , ''BILLING''  , NULL , NULL 
	FROM DBS_dAILY.DBO.MOCA_TRANSACTION_'+@TODATE+'
	WHERE CARD_STATUS = ''Card OK''
		AND CONTRACT_STATUS = ''Account OK''
		and 	AMND_DATE < DATEADD(D,1,'''+@TODATE+'''  ) 
		AND T24_CIF IS NOT NULL 
	GROUP BY T24_CIF

	')
-----Check 
/*
select min(first_trans_date), max(first_trans_date) ,
	min(last_trans_date), max(last_trans_date) ,
	min(last_login_date), max(last_login_date) ,
	min(first_login_date), max(first_login_date) 
FROM [EBANKING_USER_FIRST_LOGIN_'+@TODATE+'] A 


selecT * 
FROM [EBANKING_USER_FIRST_LOGIN_'+@TODATE+'] A 
inner join EBANK_CUSTOMER_FIRST_LOGIN_'+@TODATE+' b on a.t24_cif = b.t24_cif 
where a.CHANNEL = ''VPO_RB'' 
and a.first_login_date <> b.FIRST_LOGIN_WEB 

selecT * 
FROM [EBANKING_USER_FIRST_LOGIN_'+@TODATE+'] A 
inner join EBANK_CUSTOMER_FIRST_LOGIN_'+@TODATE+' b on a.t24_cif = b.t24_cif 
where a.CHANNEL = ''VPO_RB'' 
and a.last_login_date <> b.LAST_LOGIN_WEB 

selecT * 
FROM [EBANKING_USER_FIRST_LOGIN_'+@TODATE+'] A 
inner join EBANK_CUSTOMER_FIRST_LOGIN_'+@TODATE+' b on a.t24_cif = b.t24_cif 
where a.CHANNEL = ''MOBILE_RB'' 
and a.first_login_date <> b.FIRST_LOGIN_MOBILE

selecT * 
FROM [EBANKING_USER_FIRST_LOGIN_'+@TODATE+'] A 
inner join EBANK_CUSTOMER_FIRST_LOGIN_'+@TODATE+' b on a.t24_cif = b.t24_cif 
where a.CHANNEL = ''MOBILE_RB'' 
and a.last_login_date <> b.LAST_LOGIN_MOBILE 

*/ 
	DROP TABLE IF EXISTS ##TRANSACTION , ##LOGIN , ##LOGIN_B2B

END
GO
