USE [DBS_DAILY]
GO
/****** Object:  StoredProcedure [dbo].[PR_DAILY_ETL_34_EBANKING_USER]    Script Date: 8/6/2019 10:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PR_DAILY_ETL_34_EBANKING_USER] 

AS 
BEGIN

DECLARE @TO_DATE VARCHAR(8) 
SET @TO_DATE    = (SELECT RPTDATE FROM DBS_REF.DBO.RPTDATE )

DECLARE @LAST_3M_DATE VARCHAR(8) = (SELECT CONVERT(VARCHAR(8),DATEADD(M,-3,CONVERT(DATE,@TO_DATE)),112))
DECLARE @LAST_2M_DATE VARCHAR(8) = (SELECT CONVERT(VARCHAR(8),DATEADD(M,-2,CONVERT(DATE,@TO_DATE)),112))
DECLARE @LAST_1M_DATE VARCHAR(8) = (SELECT CONVERT(VARCHAR(8),DATEADD(M,-1,CONVERT(DATE,@TO_DATE)),112))
DECLARE @FROM_DATE VARCHAR(8) = LEFT(@TO_DATE,6) + '01'
DECLARE @LASTMONTH  VARCHAR(8)   = ( SELECT CONVERT(VARCHAR(8),DATEADD(MS,-3,DATEADD(MM,0,DATEADD(MM,DATEDIFF(MM,0,''+@TO_DATE+''),0))),112) )
DECLARE @LAST3MONTH  VARCHAR(8)  = (SELECT CONVERT(VARCHAR(8),DATEADD(MS,-3,DATEADD(MM,-2,DATEADD(MM,DATEDIFF(MM,0,''+@TO_DATE+''),0))),112) )

-----==================================
----	I > INSERT DATA 
-----==================================

EXEC('
IF EXISTS (SELECT * FROM DBS_dAILY.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''EBANKING_USER_'+@TO_DATE+''')
BEGIN 
	DROP TABLE [EBANKING_USER_'+@TO_DATE+']
END 
') 
PRINT ('DROP OLD USER TABLE ') 

EXEC('
	CREATE TABLE EBANKING_USER_'+@TO_DATE+'(
	 [CHANNEL] VARCHAR(20), 
	  T24_CIF VARCHAR(20), 
	  [USER_NAME] VARCHAR (100), 
	  OPEN_DATE  DATETIME, 
	  ACTIVATED_DATE DATETIME, 
      ACTIVE_STT INT,
	  ACTIVE_STT_1M INT,
	  FIRST_LOGIN_DATE DATETIME,
	  LAST_LOGIN_DATE DATETIME,
	  LAST_TRANS_DATE DATETIME,
	  LAST_TRANS_TYPE VARCHAR(50),
	  FIRST_TRANS_DATE DATETIME,
	  FIRST_TRANS_TYPE VARCHAR(50),
	  SYSTEM_SOURCE VARCHAR(5),
	  AMND_STATE VARCHAR(5),
	  MONTH_ON_BOOK INT  ,
	  ACTIVE_TYPE_FIN VARCHAR(50) ,
	  NEARLY_INACTIVE_STT INT,
	  CONSTRAINT PK_EBK_USER_'+@TO_DATE+' PRIMARY KEY CLUSTERED (T24_CIF, CHANNEL ASC)  
	    ) 
') 
PRINT('DONE CREATING USER TABLE ') 

EXEC('

	INSERT INTO EBANKING_USER_'+@TO_DATE+'
		(CHANNEL, T24_CIF, USER_NAME, OPEN_DATE , ACTIVATED_DATE, AMND_STATE, SYSTEM_SOURCE)
	SELECT  
			CASE WHEN SEGMENT = ''HH'' THEN ''VPO_HH'' ELSE ''VPO_RB''  END [CHANNEL], 
			T24_CIF, [USER_NAME], 
			OPEN_DATE  , 
			CASE WHEN AMND_STATE = ''A'' THEN COALESCE(ACTIVATED_DATE, OPEN_DATE) ELSE NULL END ,  
			 AMND_STATE , CASE WHEN SOURCE = ''NEW'' THEN ''OCB'' ELSE ''I2B'' END 
	FROM TBL_I2B_USERS_F0_'+@TO_DATE+'	 A 
	WHERE AMND_STATE IN ( ''A'',''B'')
		AND OPEN_DATE < DATEADD(D,1,'''+@TO_DATE+''')
		---AND CONVERT(VARCHAR,OPEN_DATE,112) > '''+@LAST_3M_DATE+'''
		
UNION ALL		
	SELECT 
		''B2B'' [ITEM_DETAIL],CUST_CIF, 
		[USER_NAME],OPEN_DATE, 
		CASE WHEN AMND_STATUS = ''A'' THEN COALESCE(ACTIVATE_DATE,OPEN_DATE) ELSE NULL END
		,AMND_STATUS , ''I2B''
	FROM TBL_B2B_USERS_'+@TO_DATE+' 
	WHERE AMND_STATUS IN ( ''A'',''B'') 
		AND SEGMENT = ''SMES'' 
		AND OPEN_DATE < DATEADD(D,1,'''+@TO_DATE+''')		 
	--AND CONVERT(VARCHAR,OPEN_DATE,112) > '''+@LAST_3M_DATE+'''
			
UNION ALL
	SELECT 
		CASE WHEN SEGMENT = ''HH'' THEN ''MOBILE_HH'' ELSE  ''MOBILE_RB'' END ,  
		A.T24_CIF, B.USER_NAME,REGISTER_DATE, 		
		CASE WHEN AMND_STATE = ''A'' THEN ACTIVE_DATE ELSE NULL END, 
		AMND_STATE , SOURCE  
	FROM TBL_I2B_MBANKING_ACC_'+@TO_DATE+' A 
	LEFT JOIN 
	(SELECT T24_CIF , USER_NAME FROM TBL_I2B_USERS_F0_'+@TO_DATE+'  )B  
		ON A.T24_CIF = B.T24_CIF 
	WHERE 1 = 1
	--AND (BI_CHANNEL <> ''OTHER'' 
	--	OR SEGMENT IN (''SMES'',''HH'',''TIMO''))
		AND REGISTER_DATE < DATEADD(D,1,'''+@TO_DATE+''')

UNION ALL
	SELECT  ''TIMO'' [ITEM_DETAIL], RECID, 
			CUS_NAME, CUS_OPEN_DATE, CUS_OPEN_DATE,	''A'' AMND_STATUS , NULL
	FROM CUSTOMER_'+@TO_DATE+' 
		WHERE COMPANY_BOOK= ''VN0010348''	
			AND CUST_TYPE IN (''59'',''60'')
			AND CUS_OPEN_DATE < DATEADD(D,1,'''+@TO_DATE+''')
UNION ALL
	SELECT  DISTINCT  ''MOCA'' [ITEM_DETAIL],T24_CIF,TARGET_NUMBER,
			FIRST_TRANS_DATE, FIRST_TRANS_DATE,
			''A'' AMND_STATUS , NULL 
	FROM [MOCA_USERS_'+@TO_DATE+']
		WHERE CARD_STATUS = ''CARD OK''
			AND CONTRACT_STATUS = ''ACCOUNT OK''
			AND BI_SEGMENT IN (''KHCN'',''SMES'',''HH'')
			AND CONVERT(VARCHAR,FIRST_TRANS_DATE,112) <= '''+@TO_DATE+'''
			---AND CONVERT(VARCHAR,FIRST_TRANS_DATE,112) > '''+@LAST_3M_DATE+'''
UNION ALL 
	SELECT 
		''VPBANKPLUS'', T24_CIF , NULL , 
		ISSUE_DATE , ISSUE_DATE , 
		''A'' AMND_STATUS , NULL  
	FROM VPBPLUS_USERS_'+@TO_DATE+'

')
--------UPDATE ACTIVATED DATE TIMO (THEO NGAY MO THE DEBIT TIMO ) 
EXEC('
	UPDATE A 
	SET A.ACTIVATED_DATE = COALESCE(B.UNLOCK_DATE, A.OPEN_DATE)
	FROM DBS_dAILY.DBO.EBANKING_USER_'+@TO_DATE+'  A 
	LEFT JOIN 	
		(SELECT T24_CIF, UNLOCK_DATE
		FROM DATA.[DBO].[CARD_LIVE] A
		WHERE CARD_TYPE LIKE ''%TIMO DEBIT%''
			AND CARD_STATUS LIKE ''CARD OK''
			AND PRODUCTION_STATUS LIKE ''%READY%''
			AND UNLOCK_DATE <= '''+@TO_DATE+''' 
		) B ON A.T24_CIF = B.T24_CIF 
	WHERE CHANNEL = ''TIMO'' 
	AND AMND_STATE = ''A'' 
	')
-----==================================
----	II > UPDATE DATA 
-----==================================
------------ UPDATE LOGIN, TRANS_DATE

EXEC('
	UPDATE A
	SET A.FIRST_TRANS_DATE = B.FIRST_TRANS_DATE ,
		A.FIRST_TRANS_TYPE = B.FIRST_TRANS_TYPE ,
		A.LAST_TRANS_DATE = B.LAST_TRANS_DATE ,
		A.LAST_TRANS_TYPE = B.LAST_TRANS_TYPE ,
		A.FIRST_LOGIN_DATE = B.FIRST_LOGIN_DATE ,
		A.LAST_LOGIN_DATE = B.LAST_LOGIN_DATE 
	FROM EBANKING_USER_'+@TO_DATE+' A 
	LEFT JOIN EBANKING_USER_FIRST_LOGIN_'+@TO_DATE+' B 
		ON A.T24_CIF = B.T24_CIF AND A.CHANNEL = B.CHANNEL
	
')

-------------UPDATE ACTIVE STATUS, ACTIVE STATUS 1M
EXEC('
	UPDATE EBANKING_USER_'+@TO_DATE+'
	SET ACTIVE_STT_1M = NULL, ACTIVE_STT = NULL 
	')

-----------ACTIVE STATUS
------------VPO & MOBILE & TIMO 
EXEC('	
	UPDATE  EBANKING_USER_'+@TO_DATE+'
	SET ACTIVE_STT = 1
	WHERE (CHANNEL LIKE ''VPO%'' OR CHANNEL LIKE ''MOBILE%'' OR CHANNEL LIKE ''TIMO%'' ) 
		AND AMND_STATE = ''A'' 
		AND (
			DATEDIFF(DAY,LAST_TRANS_DATE,'''+@TO_DATE+''') <= DATEDIFF(DAY,'''+@LAST_3M_DATE+''','''+@TO_DATE+''')
			or DATEDIFF(DAY,LAST_LOGIN_DATE,'''+@TO_DATE+''') <= DATEDIFF(DAY,'''+@LAST_3M_DATE+''','''+@TO_DATE+''')
			or (COALESCE(ACTIVATED_DATE, OPEN_DATE) > '''+@LAST_3M_DATE+''' AND COALESCE(ACTIVATED_DATE, OPEN_DATE)  < DATEADD(D,1,'''+@TO_DATE+'''))
			)
		AND ACTIVE_STT IS NULL
	')
------------VPO & MOBILE & TIMO - KO LAY NGAY ACTIVATED 
EXEC('	
	UPDATE  EBANKING_USER_'+@TO_DATE+'
	SET ACTIVE_STT = 1
	WHERE AMND_STATE = ''A'' 
		AND (
			DATEDIFF(DAY,LAST_TRANS_DATE,'''+@TO_DATE+''') <= DATEDIFF(DAY,'''+@LAST_3M_DATE+''','''+@TO_DATE+''')
			or DATEDIFF(DAY,LAST_LOGIN_DATE,'''+@TO_DATE+''') <= DATEDIFF(DAY,'''+@LAST_3M_DATE+''','''+@TO_DATE+''')
			)
		AND ACTIVE_STT IS NULL
	')
-----------ACTIVE STATUS 1M 
------------VPO & MOBILE & TIMO 
EXEC('	
	UPDATE  EBANKING_USER_'+@TO_DATE+'
	SET ACTIVE_STT_1M = 1
	WHERE (CHANNEL LIKE ''VPO%'' OR CHANNEL LIKE ''MOBILE%'' OR CHANNEL LIKE ''TIMO%'' ) 
		AND AMND_STATE = ''A'' 
		AND (
			DATEDIFF(DAY,LAST_TRANS_DATE,'''+@TO_DATE+''') <= DATEDIFF(DAY,'''+@LAST_1M_DATE+''','''+@TO_DATE+''')
			or DATEDIFF(DAY,LAST_LOGIN_DATE,'''+@TO_DATE+''') <= DATEDIFF(DAY,'''+@LAST_1M_DATE+''','''+@TO_DATE+''')
			or (COALESCE(ACTIVATED_DATE, OPEN_DATE) > '''+@LAST_1M_DATE+''' AND COALESCE(ACTIVATED_DATE, OPEN_DATE)  < DATEADD(D,1,'''+@TO_DATE+'''))
			)
		AND ACTIVE_STT_1M IS NULL
	')
------------VPO & MOBILE & TIMO - KO LAY NGAY ACTIVATED 
EXEC('	
	UPDATE EBANKING_USER_'+@TO_DATE+'
	SET ACTIVE_STT_1M = 1
	WHERE AMND_STATE = ''A'' 
		AND (
			DATEDIFF(DAY,LAST_TRANS_DATE,'''+@TO_DATE+''') <= DATEDIFF(DAY,'''+@LAST_1M_DATE+''','''+@TO_DATE+''')
			or DATEDIFF(DAY,LAST_LOGIN_DATE,'''+@TO_DATE+''') <= DATEDIFF(DAY,'''+@LAST_1M_DATE+''','''+@TO_DATE+''')
			)
		AND ACTIVE_STT_1M IS NULL
	')
EXEC('
	UPDATE EBANKING_USER_'+@TO_DATE+'
	SET ACTIVE_STT_1M = 0
	WHERE ACTIVE_STT_1M IS NULL

	UPDATE EBANKING_USER_'+@TO_DATE+'
	SET ACTIVE_STT = 0
	WHERE ACTIVE_STT IS NULL
	')

---------NEARLY INACTIVE

---------ACTIVE CUS HAVING NO TXN IN LAST 2 MONTH 
EXEC('
	UPDATE A
	SET A.NEARLY_INACTIVE_STT = 1 
	FROM  DBS_dAILY.dbo.ebanking_user_'+@TO_DATE+' A 
	WHERE ACTIVE_STT = 1 
	and AMND_STATE = ''A'' 
	AND (
		(ISNULL(LAST_TRANS_DATE,0) < ISNULL(LAST_LOGIN_DATE,0) 
			AND DATEDIFF(D, LAST_LOGIN_DATE,'''+@TO_DATE+''') >= DATEDIFF(D,'''+@LAST_2M_DATE+''' , '''+@TO_DATE+'''))
		OR (ISNULL(LAST_TRANS_DATE,0) >= ISNULL(LAST_LOGIN_DATE,0) 
			AND DATEDIFF(D, LAST_TRANS_DATE,'''+@TO_DATE+''') >= DATEDIFF(D,'''+@LAST_2M_DATE+''' , '''+@TO_DATE+''') )
		OR (COALESCE(LAST_LOGIN_DATE, LAST_TRANS_DATE) IS NULL 
			AND DATEDIFF(D, ACTIVATED_DATE,'''+@TO_DATE+''') >= DATEDIFF(D,'''+@LAST_2M_DATE+''' , '''+@TO_DATE+'''))
		)

	UPDATE A
	SET A.NEARLY_INACTIVE_STT = 0
	FROM  DBS_dAILY.dbo.ebanking_user_'+@TO_DATE+' A 
	WHERE ACTIVE_STT = 1 
	and AMND_STATE = ''A'' 
	AND NEARLY_INACTIVE_STT IS NULL 
	')
---------TIMO 
EXEC('
	UPDATE A 
	SET MONTH_ON_BOOK = DATEDIFF(MM, ACTIVATED_DATE,'''+@TO_DATE+''' )
	FROM EBANKING_USER_'+@TO_DATE+' A 

') 

---UPDATE EBANKING_USER_'+@TO_DATE+' SET ACTIVE_TYPE_FIN = NULL 

-----===========================================
----	III > UPDATE ACTIVE TYPE FOR FINANCE 
-----===========================================

----STEP 1 : SET ACTIVE NEW CHO CUSTOMER MO VPO TRONG VONG 3 THANG GAN NHAT 
EXEC('
	UPDATE A
	SET ACTIVE_TYPE_FIN = ''ACTIVE NEW''
	FROM EBANKING_USER_'+@TO_DATE+' A 
	WHERE  (ACTIVATED_DATE > '''+@LAST_3M_DATE+''' AND ACTIVATED_DATE  < DATEADD(D,1,'''+@TO_DATE+''') )
		AND ACTIVE_STT = 1 
		AND AMND_STATE = ''A''
	')

----STEP 2 : SET ACTIVE MAINTAIN CHO CUSTOMER VAN DUY TRI TRANG THAI ACTIVE SO VOI THANG TRUOC 
EXEC('
	UPDATE A
	SET ACTIVE_TYPE_FIN = ''ACTIVE MAINTAIN''
	FROM EBANKING_USER_'+@TO_DATE+' A 	
	WHERE ACTIVATED_DATE < DATEADD(D,1,'''+@LAST_3M_DATE+''')
		AND ACTIVE_STT = 1 
		AND AMND_STATE = ''A''
		AND ACTIVE_TYPE_FIN IS NULL 
		AND EXISTS (SELECT * FROM DBS_MONTHLY.DBO.EBANKING_USER_'+@LASTMONTH+'  B 
					WHERE A.T24_CIF = B.T24_CIF 
						AND A.CHANNEL = B.CHANNEL 
						AND ACTIVE_STT = 1 
						AND AMND_STATE = ''A'')
	')


----STEP 3: SET ACTIVE WAKEUP CHO NHUNG CUSTOMER CHUYEN TU INACTIVE/CHUA KICH HOAT THANG TRUOC SANG ACTIVE THANG NAY 
EXEC('
	UPDATE A
	SET ACTIVE_TYPE_FIN = ''ACTIVE WAKE UP''
	FROM EBANKING_USER_'+@TO_DATE+' A 
	WHERE ACTIVATED_DATE < DATEADD(D,1,'''+@LAST_3M_DATE+''')
		AND ACTIVE_STT  = 1 
		AND AMND_STATE = ''A''
		AND EXISTS (SELECT * FROM DBS_MONTHLY.DBO.EBANKING_USER_'+@LASTMONTH+'  B 
					WHERE A.T24_CIF = B.T24_CIF 
						AND A.CHANNEL = B.CHANNEL 
						AND ISNULL(ACTIVE_STT,0) = 0 
						AND AMND_STATE = ''A'')
		AND ACTIVE_TYPE_FIN IS NULL 
') 

-----STEP 4: SET ATTRITION CHO NHUNG KH CHUYEN TU TRANG THAI ACTIVE THANG TRUOC --> INACTIVE THANG NAY 
EXEC('
	UPDATE  A 
	SET ACTIVE_TYPE_FIN = ''ATTRITION''
	FROM EBANKING_USER_'+@TO_DATE+' A 
	WHERE ACTIVE_STT = 0  
		AND AMND_STATE = ''A''
		AND EXISTS (SELECT * FROM DBS_MONTHLY.DBO.EBANKING_USER_'+@LASTMONTH+'  B 
					WHERE A.T24_CIF = B.T24_CIF AND A.CHANNEL = B.CHANNEL 
						AND ACTIVE_STT = 1  
						AND AMND_STATE = ''A'')
		AND ACTIVE_TYPE_FIN IS NULL 
	') 
-----STEP 5: SET INACTIVE CHO TAP KH STAY INACTIVE 

EXEC('	
	UPDATE A
	SET ACTIVE_TYPE_FIN = ''INACTIVE'' 
	FROM EBANKING_USER_'+@TO_DATE+' A 
	WHERE ACTIVE_STT = 0 		
		AND EXISTS (SELECT * FROM DBS_MONTHLY.DBO.EBANKING_USER_'+@LASTMONTH+'  B 
						WHERE A.T24_CIF = B.T24_CIF AND A.CHANNEL = B.CHANNEL 
						AND ISNULL(ACTIVE_STT,0) = 0 
						AND AMND_STATE = ''A'')
		AND ACTIVE_TYPE_FIN IS NULL 
		AND AMND_STATE = ''A''
')	
-----STEP 6: SET ACTIVE_TYPE_FIN CHO CAC TAP KH KO XUAT HIEN TRONG THANG TRUOC 
exec('
	UPDATE A 
	SET A.ACTIVE_TYPE_FIN = CASE WHEN ACTIVE_STT = 1 THEN ''ACTIVE WAKE UP''
								WHEN  ACTIVE_STT = 0 THEN ''ATTRITION''
							END 
	FROM EBANKING_USER_'+@TO_DATE+' A  
	WHERE A.AMND_STATE = ''A''
		AND (A.CHANNEL LIKE ''%VPO%''  OR A.CHANNEL LIKE ''%MOBILE%'' ) 
		AND A.ACTIVE_TYPE_FIN IS NULL 
		AND NOT EXISTS (SELECT 1 FROM DBS_MONTHLY.DBO.EBANKING_USER_'+@LASTMONTH+' D 
						WHERE A.T24_CIF = D.T24_CIF AND A.CHANNEL = D.CHANNEL )
') 

EXEC('
	CREATE NONCLUSTERED INDEX [EBK_USER_LOGINDT'+@TO_DATE+'] 
		ON EBANKING_USER_'+@TO_DATE+' (LAST_LOGIN_DATE)
	CREATE NONCLUSTERED INDEX [EBK_USER_TXNDT'+@TO_DATE+'] 
		ON EBANKING_USER_'+@TO_DATE+' (LAST_TRANS_DATE)

	ALTER INDEX PK_EBK_USER_'+@TO_DATE+' ON EBANKING_USER_'+@TO_DATE+' REBUILD
') 

END
GO
