USE [DBS_DAILY]
GO
/****** Object:  StoredProcedure [dbo].[PR_DAILY_ETL_36_PAYMENT_HISTORY]    Script Date: 8/6/2019 10:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PR_DAILY_ETL_36_PAYMENT_HISTORY] AS 
BEGIN 

DECLARE @FROMDATE VARCHAR(8)
DECLARE @TODATE VARCHAR(8)

SET @TODATE   = (SELECT RPTDATE FROM DBS_rEF.DBO.RPTDATE)
SET @FROMDATE   = LEFT(@TODATE, 6) + '01' 

EXEC('
	DROP TABLE IF EXISTS [DBS_DAILY].[dbo].[PAYMENT_HISTORY_'+@TODATE+']

	CREATE TABLE [DBS_DAILY].[dbo].[PAYMENT_HISTORY_'+@TODATE+'](
		[CIF] [nvarchar](50) NOT NULL,
		[SUB_TRANS_TYPE] [varchar](100) NOT NULL,
		[FIRST_TRANS_DATE] [date] NULL,
		[LAST_TRANS_DATE] [date] NULL
	)
')

EXEC('
	DELETE FROM DRAFT.DBO.ANHNT67_BILLING_HIS	 
	WHERE VALUE_dATE BETWEEN '''+@FROMDATE+''' AND '''+@TODATE+''' 

	INSERT INTO DRAFT.DBO.ANHNT67_BILLING_HIS	
	SELECT CIF, 
		CASE WHEN SUB_TRANS_TYPE IS NULL AND CHANNEL = ''BANKPLUS'' THEN ''BANKPLUS'' ELSE SUB_TRANS_TYPE END SUB_TRANS_TYPE, 
		VALUE_dATE,
		TXN_AMT  
	FROM DBS_DAILY.DBO.EBANKING_TRANSACTION_'+@TODATE+'
	WHERE (SUB_TRANS_TYPE IS NOT NULL OR CHANNEL = ''BANKPLUS'' )
		AND S_FLAG = 1 
		AND TRANS_TYPE_GROUP = ''BILLING'' 
		AND VALUE_dATE BETWEEN '''+@FROMDATE+''' AND '''+@TODATE+''' 

	')
EXEC('
	INSERT INTO  DBS_DAILY.DBO.PAYMENT_HISTORY_'+@TODATE+'
	SELECT
		DISTINCT CIF, SUB_TRANS_TYPE, FIRST_TRANS_DATE, LAST_TRANS_DATE 
	FROM 
		(SELECt *, 
				FIRST_VALUE(VALUE_dATE) OVER (PARTITION BY CIF, SUB_TRANS_TYPE ORDER BY VALUE_dATE ASC 
											ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) AS FIRST_TRANS_DATE, 
				FIRST_VALUE(VALUE_dATE) OVER (PARTITION BY CIF, SUB_TRANS_TYPE ORDER BY VALUE_dATE DESC 
											ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) AS LAST_TRANS_DATE 
		FROM DRAFT.DBO.ANHNT67_BILLING_HIS
		WHERE CIF IS NOT NULL 
		) A 
	')

PRINT ('DONE EBANKING_TRANSACTION' )
 

END 
GO
