USE [DBS_DAILY]
GO
/****** Object:  StoredProcedure [dbo].[PR_DAILY_ETL_40_SUMMARY_NEW]    Script Date: 8/6/2019 10:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PR_DAILY_ETL_40_SUMMARY_NEW]
AS 

BEGIN 
DECLARE		@TOMONTH VARCHAR (6) , 
	@TODATE VARCHAR(8) , 
	@FROMDATE VARCHAR(20) , 
	@LASTDATE VARCHAR(20), 
	@LAST2DATE VARCHAR(20),
	@TODATE_LASTYEAR VARCHAR(8),
	@STYEAR VARCHAR(8) 

SET @TODATE    = (SELECT RPTDATE FROM DBS_REF.DBO.RPTDATE )
SET @FROMDATE = LEFT(@TODATE,6) + '01'
SET @TOMONTH = LEFT(@TODATE,6) 
SET @STYEAR = LEFT(@TODATE, 4) + '0101'

SET @LASTDATE     = (SELECT MAX(RPTDATE) FROM DBS_REF.DBO.CALENDAR WHERE RPTMONTH < @TOMONTH)
SET @LAST2DATE     = (SELECT MAX(RPTDATE) FROM DBS_REF.DBO.CALENDAR WHERE RPTMONTH < LEFT(@LASTDATE,6))
SET @TODATE_LASTYEAR = (SELECT CONVERT(VARCHAR(8), LASTDAYOFMONTH, 112) FROM DBS_REF.DBO.CALENDAR
							WHERE DATE = DATEADD(YYYY, -1, @TODATE) )

---SET			@TOMONTH = (SELECT LEFT(RPTDATE,6) FROM DBS_REF.DBO.RPTDATE) 

EXEC('
DROP TABLE IF EXISTS DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+'
DROP TABLE IF EXISTS ##MONTHLY_LCY , ##DPTB_ALL
')

EXEC('

CREATE TABLE DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+'(
	[PRODUCT_GROUP] [VARCHAR](50) NULL,
	[PRODUCT_LINE] [VARCHAR](50) NULL,
	[SUB_PRODUCT] [VARCHAR](50) NULL,
	[ITEM] [VARCHAR](200) NULL,
	[SYSTEM_SOURCE] [VARCHAR](50) NULL,
	[TIMELINE] [VARCHAR](5) NULL,
	[VALUE_DATE] [VARCHAR](10) NULL,
	[BAL] [FLOAT] NULL,
	[NO] [FLOAT] NULL,
	[PA_NONPA] VARCHAR(20) NULL,
	[NTB_ETB] VARCHAR(20) NULL,
)
')

EXEC('TRUNCATE TABLE  DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+' ')

--=================================
--	I> USER 
--=================================

PRINT('TOTAL USER ') 
EXEC('
	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+' (
		PRODUCT_GROUP, PRODUCT_LINE, SUB_PRODUCT, ITEM, SYSTEM_SOURCE, TIMELINE, NO)
	SELECT 
		''USER'' , A.CHANNEL , 			
		CASE WHEN (A.CHANNEL LIKE ''%VPO%'' OR A.CHANNEL = ''B2B'') AND B.T24_CIF IS NOT NULL THEN ''CASA ONLINE'' 
			WHEN (A.CHANNEL LIKE ''%VPO%'' OR A.CHANNEL = ''B2B'') AND B.T24_CIF IS NULL THEN ''COUNTER'' 
		END AS CHANNEL  , 
		''TOTAL USER'', SYSTEM_SOURCE , 
		''MTD'' AS TIMELINE ,  
		COUNT(1) 	AS NO 
	FROM EBANKING_USER_'+@TODATE+'  A 
	LEFT JOIN DBS_DAILY.DBO.CASA_ONLINE_LIST_'+@TODATE+' B 
		ON A.T24_CIF = B.T24_CIF 		
	WHERE AMND_STATE = ''A''
	GROUP BY A.CHANNEL , SYSTEM_SOURCE , 
		CASE WHEN (A.CHANNEL LIKE ''%VPO%'' OR A.CHANNEL = ''B2B'') AND B.T24_CIF IS NOT NULL THEN ''CASA ONLINE'' 
			WHEN (A.CHANNEL LIKE ''%VPO%'' OR A.CHANNEL = ''B2B'') AND B.T24_CIF IS NULL THEN ''COUNTER'' 
		END 

UNION ALL

----TOTAL REGISTERED USER 

	SELECT 
		''USER'' , A.CHANNEL , 			
		CASE WHEN (A.CHANNEL LIKE ''%VPO%'' OR A.CHANNEL = ''B2B'') AND B.T24_CIF IS NOT NULL THEN ''CASA ONLINE'' 
			WHEN (A.CHANNEL LIKE ''%VPO%'' OR A.CHANNEL = ''B2B'') AND B.T24_CIF IS NULL THEN ''COUNTER'' 
		END AS CHANNEL  , 
		''TOTAL REGISTERED USER'', SYSTEM_SOURCE , 
		''MTD'' AS TIMELINE ,  
		COUNT(1) AS NO
	FROM EBANKING_USER_'+@TODATE+'  A
	LEFT JOIN DBS_DAILY.DBO.CASA_ONLINE_LIST_'+@TODATE+' B 
		ON A.T24_CIF = B.T24_CIF 		
	WHERE AMND_STATE IN  (''A'',''B'')
	GROUP BY A.CHANNEL , SYSTEM_SOURCE , 
		CASE WHEN (A.CHANNEL LIKE ''%VPO%'' OR A.CHANNEL = ''B2B'') AND B.T24_CIF IS NOT NULL THEN ''CASA ONLINE'' 
			WHEN (A.CHANNEL LIKE ''%VPO%'' OR A.CHANNEL = ''B2B'') AND B.T24_CIF IS NULL THEN ''COUNTER'' 
		END 

	') 
PRINT('NEW USER ') 
EXEC('
	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+' (
		PRODUCT_GROUP, PRODUCT_LINE, SUB_PRODUCT, ITEM, SYSTEM_SOURCE, TIMELINE, VALUE_DATE, NO)
	SELECT 
		''USER'' , A.CHANNEL ,  		
		CASE WHEN (A.CHANNEL LIKE ''%VPO%'' OR A.CHANNEL = ''B2B'') AND B.T24_CIF IS NOT NULL THEN ''CASA ONLINE'' 
			WHEN (A.CHANNEL LIKE ''%VPO%'' OR A.CHANNEL = ''B2B'') AND B.T24_CIF IS NULL THEN ''COUNTER'' 
		END  , 
		''NEW REGISTERED USER'', SYSTEM_SOURCE ,  
		''MTD'' AS TIMELINE ,  
		CONVERT(VARCHAR(8),OPEN_DATE , 112 ) AS OPEN_DATE, 
		COUNT(1) AS NO
	FROM EBANKING_USER_'+@TODATE+' A 
	LEFT JOIN DBS_DAILY.DBO.CASA_ONLINE_LIST_'+@TODATE+' B 
			ON A.T24_CIF = B.T24_CIF 
	WHERE 
		CONVERT(VARCHAR(8),OPEN_DATE,112)  BETWEEN '''+@FROMDATE+''' AND '''+@TODATE+'''
		AND  AMND_STATE IN (''A'',''B'')
	GROUP BY 
		A.CHANNEL, CONVERT(VARCHAR(8),OPEN_DATE , 112 ) ,
		CASE WHEN (A.CHANNEL LIKE ''%VPO%'' OR A.CHANNEL = ''B2B'') AND B.T24_CIF IS NOT NULL THEN ''CASA ONLINE'' 
			WHEN (A.CHANNEL LIKE ''%VPO%'' OR A.CHANNEL = ''B2B'') AND B.T24_CIF IS NULL THEN ''COUNTER'' 
		END  ,
		SYSTEM_SOURCE

UNION ALL 

----NEW USER 

	SELECT 
		''USER'' , A.CHANNEL ,  		
		CASE WHEN (A.CHANNEL LIKE ''%VPO%'' OR A.CHANNEL = ''B2B'') AND B.T24_CIF IS NOT NULL THEN ''CASA ONLINE'' 
			WHEN (A.CHANNEL LIKE ''%VPO%'' OR A.CHANNEL = ''B2B'') AND B.T24_CIF IS NULL THEN ''COUNTER'' 
		END  , 
		''NEW USER'', SYSTEM_SOURCE ,  
		''MTD'' AS TIMELINE ,  
		CONVERT(VARCHAR(8),ACTIVATED_DATE , 112 ) AS OPEN_DATE, 
		COUNT(1) 	AS NO 
	FROM EBANKING_USER_'+@TODATE+' A 
	LEFT JOIN DBS_DAILY.DBO.CASA_ONLINE_LIST_'+@TODATE+' B 
			ON A.T24_CIF = B.T24_CIF 
	WHERE 
		CONVERT(VARCHAR(8),ACTIVATED_DATE,112)  BETWEEN '''+@FROMDATE+''' AND '''+@TODATE+'''
		AND  AMND_STATE = ''A''
	GROUP BY 
		A.CHANNEL, CONVERT(VARCHAR(8),ACTIVATED_DATE , 112 ) ,
		CASE WHEN (A.CHANNEL LIKE ''%VPO%'' OR A.CHANNEL = ''B2B'') AND B.T24_CIF IS NOT NULL THEN ''CASA ONLINE'' 
			WHEN (A.CHANNEL LIKE ''%VPO%'' OR A.CHANNEL = ''B2B'') AND B.T24_CIF IS NULL THEN ''COUNTER'' 
		END  ,
		SYSTEM_SOURCE
')

PRINT('ACTIVE USER ') 
EXEC('
	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+' (
		PRODUCT_GROUP, PRODUCT_LINE, SUB_PRODUCT, ITEM, SYSTEM_SOURCE, TIMELINE, NO)

	SELECT 
		''USER'' , A.CHANNEL ,  
		CASE WHEN (A.CHANNEL LIKE ''%VPO%'' OR A.CHANNEL = ''B2B'') AND B.T24_CIF IS NOT NULL THEN ''CASA ONLINE'' 
			WHEN (A.CHANNEL LIKE ''%VPO%'' OR A.CHANNEL = ''B2B'') AND B.T24_CIF IS NULL THEN ''COUNTER'' 
		END   
		, ''ACTIVE USER'', SYSTEM_SOURCE , 
		''MTD'' AS TIMELINE ,
		COUNT(1) AS NO 	
	FROM EBANKING_USER_'+@TODATE+'  A 
	LEFT JOIN DBS_DAILY.DBO.CASA_ONLINE_LIST_'+@TODATE+' B 
			ON A.T24_CIF = B.T24_CIF 
	WHERE ACTIVE_STT = 1
	AND AMND_STATE = ''A''  
	GROUP BY A.CHANNEL ,
		CASE WHEN (A.CHANNEL LIKE ''%VPO%'' OR A.CHANNEL = ''B2B'') AND B.T24_CIF IS NOT NULL THEN ''CASA ONLINE'' 
			WHEN (A.CHANNEL LIKE ''%VPO%'' OR A.CHANNEL = ''B2B'') AND B.T24_CIF IS NULL THEN ''COUNTER'' 
		END   , 
		SYSTEM_SOURCE

	 UNION ALL  
----ACTIVE USER 1M
	SELECT 
		''USER'' , A.CHANNEL ,  
		CASE WHEN (A.CHANNEL LIKE ''%VPO%'' OR A.CHANNEL = ''B2B'') AND B.T24_CIF IS NOT NULL THEN ''CASA ONLINE'' 
			WHEN (A.CHANNEL LIKE ''%VPO%'' OR A.CHANNEL = ''B2B'') AND B.T24_CIF IS NULL THEN ''COUNTER'' 
		END   
		, ''ACTIVE USER 1M'', SYSTEM_SOURCE , 
		''MTD'' AS TIMELINE ,
		COUNT(1) AS NO 	
	FROM EBANKING_USER_'+@TODATE+'  A 
	LEFT JOIN DBS_DAILY.DBO.CASA_ONLINE_LIST_'+@TODATE+' B 
			ON A.T24_CIF = B.T24_CIF 
	WHERE ACTIVE_STT_1M = 1
	AND AMND_STATE = ''A''  
	GROUP BY A.CHANNEL ,
		CASE WHEN (A.CHANNEL LIKE ''%VPO%'' OR A.CHANNEL = ''B2B'') AND B.T24_CIF IS NOT NULL THEN ''CASA ONLINE'' 
			WHEN (A.CHANNEL LIKE ''%VPO%'' OR A.CHANNEL = ''B2B'') AND B.T24_CIF IS NULL THEN ''COUNTER'' 
		END   , 
		SYSTEM_SOURCE
')

PRINT('DONE USER')

EXEC('
	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+' (
		PRODUCT_GROUP, PRODUCT_LINE, ITEM, TIMELINE, VALUE_DATE, NO)
	SELECT 
		''USER'', ''MOMO'', ''NEW USER'', ''MTD'', 
		convert(varchar(8), REGIST_DATE, 112) AS OPEN_DATE, 
		COUNT(DISTINCT T24_CIF) 
	FROM DBS_DAILY.DBO.MOMO_USERS_'+@TODATE+' A 
	WHERE NOT EXISTS (SELECT 1 FROM DBS_DAILY.DBO.MOCA_USERS_'+@TODATE+' B WHERE A.T24_CIF = B.T24_CIF) 
		AND REGIST_DATE >= '''+@FROMDATE+''' 
		AND NEW_FROM_MOMO = 1 
	GROUP BY 
		REGIST_DATE
	') 
--=================================
--	II> CUSTOMER 
--=================================

EXEC('
	DELETE FROM DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+' 
	WHERE PRODUCT_GROUP = ''CUSTOMER'' 
') 

PRINT('NEW CUSTOMER')
EXEC('
	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+' 
		(PRODUCT_GROUP, ITEM, TIMELINE, VALUE_DATE, NO)
	SELECT 
		''CUSTOMER'', 
		''NEW CUSTOMER'', 
		''MTD'', 
		CONVERT(VARCHAR(8),FIRST_ACTIVATED_DATE, 112),
		COUNT(1) 
	FROM DBS_DAILY.DBO.EBANKING_CUSTOMER_'+@TODATE+' 
	WHERE FIRST_ACTIVATED_DATE >= '''+@FROMDATE+''' 
		AND FIRST_ACTIVATED_DATE < DATEADD(D,1, '''+@TODATE+''')
	GROUP BY 
		CONVERT(VARCHAR(8),FIRST_ACTIVATED_DATE, 112)
	UNION ALL 
	SELECT 
		''CUSTOMER'', 
		''TOTAL CUSTOMER'', 
		''MTD'', 
		CONVERT(VARCHAR(8),FIRST_ACTIVATED_DATE, 112),
		COUNT(1) 
	FROM DBS_DAILY.DBO.EBANKING_CUSTOMER_'+@TODATE+' 
	WHERE 
		FIRST_ACTIVATED_DATE < DATEADD(D,1, '''+@TODATE+''')
	GROUP BY 
		CONVERT(VARCHAR(8),FIRST_ACTIVATED_DATE, 112)

	UNION ALL 
	SELECT 
		''CUSTOMER'', 
		''ACTIVE CUSTOMER'', 
		''MTD'', 
		NULL,
		COUNT(1) 
	FROM DBS_DAILY.DBO.EBANKING_CUSTOMER_'+@TODATE+' 
	WHERE ACTIVE_STT = 1 
		AND FIRST_ACTIVATED_DATE < DATEADD(D,1, '''+@TODATE+''')

	UNION ALL 
	SELECT 
		''CUSTOMER'', 
		''ACTIVE CUSTOMER 1M'', 
		''MTD'', 
		NULL,
		COUNT(1) 
	FROM DBS_DAILY.DBO.EBANKING_CUSTOMER_'+@TODATE+' 
	WHERE ACTIVE_STT_1M = 1 
		AND FIRST_ACTIVATED_DATE < DATEADD(D,1, '''+@TODATE+''')
') 
PRINT('NEW T24 CUSTOMER')
EXEC('
	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+' 
		(PRODUCT_GROUP, ITEM, TIMELINE, VALUE_DATE, NO)
	SELECT 
		''CUSTOMER'', 
		''NEW CUSTOMER OPEN VPO'', 
		''MTD'', 
		CONVERT(VARCHAR(8), CUS_OPEN_DATE, 112), 
		COUNT(1) 
	FROM DBS_DAILY.DBO.CUSTOMER_'+@TODATE+' A
	WHERE CUS_OPEN_DATE <= '''+@TODATE+''' 
		AND CUS_OPEN_DATE >= '''+@FROMDATE+''' 
		AND EXISTS (SELECT * FROM DBS_DAILY.DBO.TBL_I2B_USERS_F0_'+@TODATE+' B 
					WHERE A.RECID = B.T24_CIF 
						AND AMND_STATE IN (''A'', ''B'') 
						AND CAST(CUS_OPEN_DATE AS DATE) = B.OPEN_DATE) 
		AND BI_CHANNEL <> ''OTHER'' 	
		AND (isnull(CUST_TYPE,0) <> ''69'' and cus_name <> ''noname'')	
	GROUP BY
		CONVERT(VARCHAR(8), CUS_OPEN_DATE, 112)	

	') 

EXEC('
	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+' 
		(PRODUCT_GROUP, ITEM, TIMELINE, VALUE_DATE, NO)
	SELECT 
		''CUSTOMER'', 
		''NEW T24 CUSTOMER'', 
		''MTD'', 
		CONVERT(VARCHAR(8), CUS_OPEN_DATE, 112), 
		COUNT(1) 
	FROM DBS_DAILY.DBO.CUSTOMER_'+@TODATE+' A
	WHERE CUS_OPEN_DATE <= '''+@TODATE+''' 
		AND CUS_OPEN_DATE >= '''+@FROMDATE+''' 
		AND BI_CHANNEL <> ''OTHER'' 	
		AND (isnull(CUST_TYPE,0) <> ''69'' and cus_name <> ''noname'')	
	GROUP BY
		CONVERT(VARCHAR(8), CUS_OPEN_DATE, 112)	

	') 
PRINT('DONE CUSTOMER')

--=================================
--	III> TIME DEPOSIT 
--=================================
PRINT('NEW DEPO') 
EXEC('
	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+' (
		PRODUCT_GROUP, PRODUCT_LINE, SUB_PRODUCT, ITEM, TIMELINE, VALUE_DATE, BAL, NO)
	SELECT 
		CASE WHEN DBS_CHANNEL LIKE ''OFFLINE%'' THEN  ''SAVING OFFLINE''  ELSE ''SAVING ONLINE'' END, 
		DBS_CHANNEL,  
		DBS_CHANNEL, ''NEW TD'' [ITEM_DETAIL], ''MTD'',
		CONVERT(VARCHAR(8),ISSUE_DATE,112) , 
		SUM(BAL_QD)/1E9 AS BAL, COUNT(1) AS NO 
	FROM DPTB_MASTER
	WHERE   ISSUE_DATE >= '''+@FROMDATE+''' 
		AND ISSUE_dATE < DATEADD(D, 1, '''+@TODATE+''')
		AND DBS_CHANNEL IS NOT NULL 
	GROUP BY 
		CASE WHEN DBS_CHANNEL LIKE ''OFFLINE%'' THEN  ''SAVING OFFLINE''  ELSE ''SAVING ONLINE'' END,
		CONVERT(VARCHAR(8),ISSUE_DATE,112) , DBS_CHANNEL
	')
PRINT('TOTAL DEPO') 
EXEC('
	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+' (
		PRODUCT_GROUP, PRODUCT_LINE, SUB_PRODUCT, SYSTEM_SOURCE, ITEM, TIMELINE, BAL, NO)
	SELECT 
		CASE WHEN A.DBS_CHANNEL LIKE ''OFFLINE%'' THEN  ''SAVING OFFLINE''  ELSE ''SAVING ONLINE'' END, 
		A.DBS_CHANNEL,  
		A.DBS_CHANNEL, 
		CASE WHEN A.WITHDRAW_DATE IS NULL THEN ''OUTSTANDING'' ELSE ''WITHDRAW IN MONTH'' END, 
		''END OF PERIOD TD'' [ITEM_DETAIL], ''MTD'',
		SUM(B.BAL_QD)/1E9 , COUNT(1)
	FROM DPTB_MASTER a 
		LEFT JOIN DBS_dAILY.DBO.BALANCE_'+@TODATE+' B ON A.ACCTNO = B.ACCTNO  
	WHERE A.ISSUE_DATE < DATEADD(D, 1, '''+@TODATE+''')
		AND (A.WITHDRAW_DATE IS NULL OR A.WITHDRAW_DATE >= '''+@FROMDATE+''')
		AND A.PRODUCT_NAME LIKE ''2%''
		AND A.F IS NULL
		AND A.CCY <> ''XAU''
		AND A.DBS_CHANNEL IS NOT NULL 
	GROUP BY 
		CASE WHEN A.DBS_CHANNEL LIKE ''OFFLINE%'' THEN  ''SAVING OFFLINE''  ELSE ''SAVING ONLINE'' END, 
		A.DBS_CHANNEL,
		CASE WHEN A.WITHDRAW_DATE IS NULL THEN ''OUTSTANDING'' ELSE ''WITHDRAW IN MONTH'' END
') 

PRINT('WITHDRAWAL DEPO') 
EXEC('
	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+' (
		PRODUCT_GROUP, PRODUCT_LINE, SUB_PRODUCT, ITEM, TIMELINE, VALUE_DATE, BAL, NO)
	SELECT 
		CASE WHEN DBS_CHANNEL LIKE ''OFFLINE%'' THEN  ''SAVING OFFLINE''  ELSE ''SAVING ONLINE'' END, 
		DBS_CHANNEL,  
		DBS_CHANNEL	, ''WITHDRAW TD'' [ITEM_DETAIL], ''MTD'',
		CONVERT(VARCHAR(8),WITHDRAW_DATE,112) , 
		SUM(BAL_QD)/1E9 AS BAL, COUNT(1) AS NO 
	FROM DPTB_MASTER
	WHERE   CONVERT(VARCHAR,WITHDRAW_DATE,112) >= '''+@FROMDATE+''' 
		AND CONVERT(VARCHAR,WITHDRAW_DATE,112) <= '''+@TODATE+'''		
		----AND DBS_CHANNEL <> ''DF''
		AND DBS_CHANNEL IS NOT NULL 
	GROUP BY 
		CASE WHEN DBS_CHANNEL LIKE ''OFFLINE%'' THEN  ''SAVING ONLINE''  ELSE ''SAVING OFFLINE'' END,
		CONVERT(VARCHAR(8),WITHDRAW_DATE,112) , DBS_CHANNEL
')

PRINT('PRE WITHDRAWAL DEPO') 
EXEC('
	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+' (
		PRODUCT_GROUP, PRODUCT_LINE, SUB_PRODUCT, ITEM, TIMELINE, VALUE_DATE, BAL, NO)
	SELECT 
		CASE WHEN DBS_CHANNEL LIKE ''OFFLINE%'' THEN  ''SAVING OFFLINE''  ELSE ''SAVING ONLINE'' END, 
		DBS_CHANNEL,  
		DBS_CHANNEL	, ''PRE WITHDRAW TD'' [ITEM_DETAIL], ''MTD'',
		CONVERT(VARCHAR(8),WITHDRAW_DATE,112) , 
		SUM(BAL_QD)/1E9 AS BAL, COUNT(1) AS NO 
	FROM DPTB_MASTER
	WHERE   CONVERT(VARCHAR,WITHDRAW_DATE,112) >= '''+@FROMDATE+''' 
		AND CONVERT(VARCHAR,WITHDRAW_DATE,112) <= '''+@TODATE+'''		
		AND WITHDRAW_DATE < MATDT
		AND DBS_CHANNEL IS NOT NULL 
	GROUP BY 
		CASE WHEN DBS_CHANNEL LIKE ''OFFLINE%'' THEN  ''SAVING ONLINE''  ELSE ''SAVING OFFLINE'' END,
		CONVERT(VARCHAR(8),WITHDRAW_DATE,112) , DBS_CHANNEL
')

PRINT('ONLINE TD RATIO') 
EXEC('
	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+'(
		PRODUCT_GROUP, ITEM, TIMELINE, NO)
	SELECT 
		''SAVING ONLINE'', 
		''ONLINE TD CIF IN YEAR'' ,  ''YTD'', 
		COUNT(DISTINCT CASE WHEN DBS_CHANNEL IN (''ONLINE SME'',''ONLINE RB'',''DF'',''VPBANKPLUS'') THEN CIF ELSE NULL END)
	FROM DBS_DAILY.DBO.DPTB_MASTER
	WHERE (WITHDRAW_DATE BETWEEN '''+@STYEAR+''' AND '''+@TODATE+''' --CHẠY LŨY KẾ TỪ 20190101 ĐẾN NGÀY BÁO CÁO
		OR WITHDRAW_DATE IS NULL)
		----AND OPENNING_DATE <= '''+@TODATE+'''

	UNION ALL
	SELECT 
		''SAVING ONLINE'', 
		''TOTAL TD CIF IN YEAR'' ,  ''YTD'', 
		COUNT(DISTINCT CASE WHEN DBS_CHANNEL IN (''ONLINE SME'',''ONLINE RB'',''DF'',''OFFLINE RB'',''OFFLINE SME'',''VPBANKPLUS'') THEN CIF ELSE NULL END)
	FROM DBS_DAILY.DBO.DPTB_MASTER
	WHERE (WITHDRAW_DATE BETWEEN '''+@STYEAR+''' AND '''+@TODATE+''' --CHẠY LŨY KẾ TỪ 20190101 ĐẾN NGÀY BÁO CÁO
		OR WITHDRAW_DATE IS NULL)
		-----AND OPENNING_DATE <= '''+@TODATE+'''
		') 

EXEC('
	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+'(
		PRODUCT_GROUP, ITEM, TIMELINE, NO)
	SELECT 
		''SAVING ONLINE'',
		''ONLINE TD RATIO'' , 
		''YTD'',
		COUNT(DISTINCT CASE WHEN DBS_CHANNEL IN (''ONLINE SME'',''ONLINE RB'',''DF'',''VPBANKPLUS'') THEN CIF ELSE NULL END)  * 1.00/		
		COUNT(DISTINCT CASE WHEN DBS_CHANNEL IN (''ONLINE SME'',''ONLINE RB'',''DF'',''OFFLINE RB'',''OFFLINE SME'',''VPBANKPLUS'') THEN CIF ELSE NULL END)
	FROM DBS_DAILY.DBO.DPTB_MASTER
	WHERE (WITHDRAW_DATE BETWEEN '''+@STYEAR+''' AND '''+@TODATE+''' --CHẠY LŨY KẾ TỪ 20190101 ĐẾN NGÀY BÁO CÁO
		OR WITHDRAW_DATE IS NULL)
		----AND OPENNING_DATE <= '''+@TODATE+'''
		') 

PRINT('NEW CUS SAVING')
EXEC('
	DROP TABLE IF EXISTS DBS_REF.DBO.CIF_TDONLINE

	SELECT 
		CIF, MIN(ISSUE_DATE) AS FIRST_ISSUE_DATE 
	INTO  DBS_REF.DBO.CIF_TDONLINE
	FROM DBS_DAILY.DBO.DPTB_MASTER A 
	WHERE DBS_CHANNEL IN (''ONLINE SME'',''ONLINE RB'',''DF'',''VPB+'')
		AND ISSUE_DATE < DATEADD(D, 1, '''+@TODATE+''') 
		AND ISSUE_DATE >= '''+@STYEAR+''' 
	GROUP BY CIF
	')

EXEC('
	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+' (
		PRODUCT_GROUP, ITEM, TIMELINE, VALUE_DATE, NO)
	SELECT 
		''SAVING ONLINE'',
		''NEW CUS SAVING'' ,  
		''MTD'', 
		CONVERT(VARCHAR(8), FIRST_ISSUE_DATE, 112), 
		COUNT(1) 
	FROM DBS_REF.DBO.CIF_TDONLINE A 
	WHERE FIRST_ISSUE_DATE >= '''+@FROMDATE+''' 
	GROUP BY 
		CONVERT(VARCHAR(8), FIRST_ISSUE_DATE, 112)		
	') 

PRINT('DONE AVGBAL TD')
EXEC('
	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+' (
		PRODUCT_GROUP, PRODUCT_LINE, ITEM, TIMELINE, BAL, NO)
	SELECT 
		''SAVING ONLINE'',
		DBS_CHANNEL, 
		''AVGBAL TD'' ,  ''MTD'',
		SUM(AVERAGE_BAL)/1E9 BALANCE ,
		COUNT(1) 
	FROM DBS_DAILY.DBO.DPTB_MASTER
	WHERE DBS_CHANNEL IN (''ONLINE RB'',''ONLINE SME'',''TIMO'', ''DF'', ''VPB+'')
	GROUP BY 
			DBS_CHANNEL
') 
PRINT('DONE SAVING')

--=================================
--	IV> LENDING & CARD 
--=================================
------1> OD ONLINE 

PRINT('TOTAL OD') 
EXEC('
	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+'(
		PRODUCT_GROUP, PRODUCT_LINE, SUB_PRODUCT, ITEM, SYSTEM_SOURCE, TIMELINE, BAL, NO, PA_NONPA, NTB_ETB)
	SELECT 
		''LENDING'', ''OD ONLINE'' ,
		B.OVERDRAFT_TYPE_ENG [ITEM_DETAIL] , 
		''TOTAL OD'' [ITEM], 
		CASE WHEN SOURCE  IS NULL THEN ''I2B'' ELSE ''OCB'' END , 
		''MTD'',
		SUM(BAL_QD)/1e9 ,COUNT(1) ID,
		PA_NONPA, NTB_ETB
	FROM TBL_ONLINE_LOAN_'+@TODATE+' A 
		LEFT JOIN DBS_REF.DBO.OVERDRAFT_TYPE B ON A.OVERDRAFT_TYPE = B.OVERDRAFT_TYPE 
	WHERE CONVERT(VARCHAR(4),REGIST_DATE,112) = CONVERT(VARCHAR(4),'''+@TODATE+''',112)
	GROUP BY 
		B.OVERDRAFT_TYPE_ENG, 
		CASE WHEN SOURCE  IS NULL THEN ''I2B'' ELSE ''OCB'' END,
		PA_NONPA, NTB_ETB
	')
PRINT('NEW OD') 
EXEC('
	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+'(
		PRODUCT_GROUP, PRODUCT_LINE, SUB_PRODUCT, ITEM, SYSTEM_SOURCE, VALUE_DATE, TIMELINE, BAL, NO, PA_NONPA, NTB_ETB)
	SELECT 
		''LENDING'', ''OD ONLINE'' ,
		B.OVERDRAFT_TYPE_ENG [ITEM_DETAIL] , 
		''NEW OD'' [ITEM], 		
		CASE WHEN SOURCE  IS NULL THEN ''I2B'' ELSE ''OCB'' END , 
		CONVERT(VARCHAR,REGIST_DATE,112) , ''MTD'',  
		SUM(BAL_QD)/1e9 ,COUNT(1) ID 
		, PA_NONPA, NTB_ETB
	FROM TBL_ONLINE_LOAN_'+@TODATE+' A 
		LEFT JOIN DBS_REF.DBO.OVERDRAFT_TYPE B ON A.OVERDRAFT_TYPE = B.OVERDRAFT_TYPE 
	WHERE CONVERT(VARCHAR,REGIST_DATE,112)   >= '''+@FROMDATE+'''	
					AND CONVERT(VARCHAR,REGIST_DATE,112) <= '''+@TODATE+'''	
	GROUP BY 
		B.OVERDRAFT_TYPE_ENG,
		CONVERT(VARCHAR,REGIST_DATE,112),
		CASE WHEN SOURCE  IS NULL THEN ''I2B'' ELSE ''OCB'' END
		, PA_NONPA, NTB_ETB
')
EXEC('
	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+' (
		PRODUCT_GROUP, PRODUCT_LINE, ITEM, TIMELINE, VALUE_DATE, NO, PA_NONPA)
	SELECT 
		''LENDING'', ''OD RETAIL'', ''NEW OD'', ''MTD'',
		CONVERT(VARCHAR(8), ISSUE_DATE, 112), 
		COUNT(DISTINCT LIMIT_REFERENCE),  
		''NON-PA''	
	FROM 
		(SELECT 
			ACCTNO,LIMIT_REFERENCE,ISSUE_DATE 
		FROM BIC_RB.DAILY_RETAIL.DBO.LOAN_'+@TODATE+'
		WHERE ISSUE_DATE >= '''+@FROMDATE+'''
			AND ISSUE_dATE < DATEADD(D, 1, '''+@TODATE+''')
			AND PRODUCT_NAME LIKE ''%OVERDRAFT%''
			AND ACCTNO NOT LIKE ''%PDPD%''
		UNION ALL
		SELECT 
			ACCTNO,LIMIT_REFERENCE,ISSUE_DATE 
		FROM BIC_RB.DAILY_RETAIL.DBO.LOAN_OLD_'+@TODATE+'
		WHERE ISSUE_DATE >= '''+@FROMDATE+'''
			AND ISSUE_dATE < DATEADD(D, 1, '''+@TODATE+''')
			AND PRODUCT_NAME LIKE ''%OVERDRAFT%''
			AND ACCTNO NOT LIKE ''%PDPD%''
		) A
	WHERE NOT EXISTS (SELECT * FROM DBS_DAILY.DBO.TBL_ONLINE_LOAN_'+@TODATE+' B 
						WHERE A.LIMIT_REFERENCE = B.PRODUCT_LIMIT
						AND REGIST_DATE < DATEADD(D, 1, '''+@TODATE+'''))
	GROUP BY 
		CONVERT(VARCHAR(8), ISSUE_DATE, 112)
	') 

PRINT('DONE OD')

------ONLINE CARD 
PRINT('TOTAL CARD')
EXEC('
	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+'(
		PRODUCT_GROUP, PRODUCT_LINE, SUB_PRODUCT, ITEM, TIMELINE, NO, PA_NONPA, NTB_ETB)
	SELECT 
		''LENDING'', 
		CASE WHEN BI_CARD_TYPE IN (''TIMO CARD'',''ONLINE CARD'',''DIGITAL CARD'') THEN ''DBS CARD'' ELSE ''RETAIL CARD'' END, 
		BI_CARD_TYPE , 
		''TOTAL CARD'' [ITEM], ''MTD'' ,
		COUNT(1) ID, 
		PA_NONPA, NTB_ETB
	FROM CARD_'+@TODATE+' A 
	WHERE   CONVERT(VARCHAR,CARD_DATE_OPEN,112) <= '''+@TODATE+'''	
		AND CONVERT(VARCHAR(4),CARD_DATE_OPEN,112) = YEAR('''+@TODATE+''')			
		AND BI_CARD_TYPE IN (''ONLINE CARD'',''RETAIL CARD'',''DIGITAL CARD'',''TIMO CARD'')
		AND EXISTS (SELECT * FROM DATA.DBO.CARD_OK_DEACTIVE B WHERE A.ACNT_CONTRACT_ID = B.ACNT_CONTRACT_ID and YEARMONTH <= '''+@TOMONTH+''' )	
	GROUP BY 
		CASE WHEN BI_CARD_TYPE IN (''TIMO CARD'',''ONLINE CARD'',''DIGITAL CARD'') THEN ''DBS CARD'' ELSE ''RETAIL CARD'' END,
		BI_CARD_TYPE, PA_NONPA, NTB_ETB

	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+'(
		PRODUCT_GROUP, PRODUCT_LINE, SUB_PRODUCT, ITEM, TIMELINE, VALUE_DATE, NO, PA_NONPA, NTB_ETB)
	SELECT 
		''LENDING'', 
		CASE WHEN BI_CARD_TYPE IN (''TIMO CARD'',''ONLINE CARD'',''DIGITAL CARD'') THEN ''DBS CARD'' ELSE ''RETAIL CARD'' END, 
		BI_CARD_TYPE , 
		''NEW CARD'' [ITEM], ''MTD'', CONVERT(VARCHAR,CARD_DATE_OPEN,112) , 
		COUNT(1) ID
		, PA_NONPA, NTB_ETB
	FROM CARD_'+@TODATE+' A 
	WHERE   CONVERT(VARCHAR,CARD_DATE_OPEN,112) <= '''+@TODATE+'''	
		AND CONVERT(VARCHAR,CARD_DATE_OPEN,112) >= '''+@FROMDATE+'''
		AND BI_CARD_TYPE IN (''ONLINE CARD'',''RETAIL CARD'',''DIGITAL CARD'',''TIMO CARD'')		
	GROUP BY 
		CASE WHEN BI_CARD_TYPE IN (''TIMO CARD'',''ONLINE CARD'',''DIGITAL CARD'') THEN ''DBS CARD'' ELSE ''RETAIL CARD'' END, 
		BI_CARD_TYPE,  CONVERT(VARCHAR,CARD_DATE_OPEN,112), 
		PA_NONPA, NTB_ETB

	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+'(
		PRODUCT_GROUP, PRODUCT_LINE, SUB_PRODUCT, ITEM, TIMELINE, NO, PA_NONPA, NTB_ETB)
	SELECT 
		''OTHER'', ''CARD - DF APP'' , BI_CARD_TYPE , 
		''TOTAL CARD'' [ITEM], 
		''MTD'' ,
		COUNT(1) ID
		, PA_NONPA, NTB_ETB
	FROM CARD_'+@TODATE+' A 
	WHERE   CARD_DATE_OPEN <= '''+@TODATE+'''	
		AND CONVERT(VARCHAR(4),CARD_DATE_OPEN,112) = YEAR('''+@TODATE+''')	
		AND A.COMPANY NOT LIKE ''%VN0010005%''
		AND A.LOS_CHANNEL = ''DIGITAL''
		AND A.BI_CARD_TYPE = ''DIGITAL CARD''
		AND EXISTS (SELECT * FROM DATA.DBO.CARD_OK_DEACTIVE B WHERE A.ACNT_CONTRACT_ID = B.ACNT_CONTRACT_ID)	
	GROUP BY 
		BI_CARD_TYPE, PA_NONPA, NTB_ETB

	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+'(
		PRODUCT_GROUP, PRODUCT_LINE, SUB_PRODUCT, ITEM, TIMELINE, VALUE_DATE, NO, PA_NONPA, NTB_ETB)
	SELECT 
		''OTHER'', ''CARD - DF APP'' , BI_CARD_TYPE , 
		''NEW CARD'' [ITEM], 
		''MTD'', 
		CONVERT(VARCHAR,CARD_DATE_OPEN,112), 
		COUNT(1) ID, PA_NONPA, NTB_ETB
	FROM CARD_'+@TODATE+' A 
	WHERE   CONVERT(VARCHAR,CARD_DATE_OPEN,112) <= '''+@TODATE+'''	
		AND CONVERT(VARCHAR,CARD_DATE_OPEN,112) >= '''+@FROMDATE+'''
		AND A.COMPANY NOT LIKE ''%VN0010005%''
		AND A.LOS_CHANNEL = ''DIGITAL''
		AND A.BI_CARD_TYPE = ''DIGITAL CARD''
	GROUP BY 
		BI_CARD_TYPE,  CONVERT(VARCHAR,CARD_DATE_OPEN,112), 
		PA_NONPA, NTB_ETB
')

PRINT('DONE CARD')

------UPL 
EXEC('	
	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+'(
		PRODUCT_GROUP, PRODUCT_LINE, SUB_PRODUCT, ITEM, TIMELINE, BAL, NO, PA_NONPA, NTB_ETB)
	SELECT 
		''LENDING'', ''UPL'', DBS_CHANNEL , 
		''TOTAL UPL'' , ''MTD''  , 
		SUM(BAL_QD)/1e9 , COUNT(1) , PA_NONPA, NTB_ETB
	FROM UPL_'+@TODATE+' A 
		WHERE   CONVERT(VARCHAR,VALUE_DATE,112) <= '''+@TODATE+'''	
		AND CONVERT(VARCHAR(4),VALUE_DATE,112) = YEAR('''+@TODATE+''')		
	GROUP BY 
		DBS_CHANNEL, PA_NONPA, NTB_ETB

	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+'(
		PRODUCT_GROUP, PRODUCT_LINE, SUB_PRODUCT, ITEM, TIMELINE, VALUE_dATE, BAL, NO, PA_NONPA, NTB_ETB)
	SELECT 
		''LENDING'', ''UPL'' , DBS_CHANNEL , 
		''NEW UPL'' , ''MTD'' , 
		CONVERT(VARCHAR,VALUE_DATE,112) ,
		SUM(ORIGINAL_AMT)/1e9 , COUNT(1), 
		PA_NONPA, NTB_ETB
	FROM UPL_'+@TODATE+' A 
		WHERE   CONVERT(VARCHAR,VALUE_DATE,112) <= '''+@TODATE+'''	
		AND CONVERT(VARCHAR,VALUE_DATE,112) >= '''+@FROMDATE+'''	
	GROUP BY 
		CONVERT(VARCHAR,VALUE_DATE,112), DBS_CHANNEL, 
		PA_NONPA, NTB_ETB
')

------PASSBOOK LOAN 
EXEC('	
	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+'(
		PRODUCT_GROUP, PRODUCT_LINE, ITEM, TIMELINE, BAL, NO)
	SELECT 
		''LENDING'', ''PASSBOOK LOAN'', 
		''TOTAL PASSBOOK LOAN'' , ''MTD''  , 
		SUM(BAL_QD)/1e9 , COUNT(1)
	FROM SECURED_LOAN_'+@TODATE+' A 
		WHERE   CONVERT(VARCHAR,VALUE_DATE,112) <= '''+@TODATE+'''	
		AND CONVERT(VARCHAR(4),VALUE_DATE,112) = YEAR('''+@TODATE+''')		

	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+'(
		PRODUCT_GROUP, PRODUCT_LINE, ITEM, TIMELINE, VALUE_dATE, BAL, NO)
	SELECT 
		''LENDING'', ''PASSBOOK LOAN'' , 
		''NEW PASSBOOK LOAN'' , ''MTD'' , 
		CONVERT(VARCHAR,VALUE_DATE,112) ,
		SUM(ORIGINAL_AMT)/1e9 , COUNT(1)
	FROM SECURED_LOAN_'+@TODATE+' A 
		WHERE   CONVERT(VARCHAR,VALUE_DATE,112) <= '''+@TODATE+'''	
		AND CONVERT(VARCHAR,VALUE_DATE,112) >= '''+@FROMDATE+'''	
	GROUP BY 
		CONVERT(VARCHAR,VALUE_DATE,112)
')

EXEC('
	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+' (
		PRODUCT_GROUP, PRODUCT_LINE, ITEM, TIMELINE, VALUE_DATE, BAL, NO, PA_NONPA)
	SELECT 
		''LENDING'', ''UPL RETAIL'',
		''NEW UPL'', ''MTD'',	
		CONVERT(VARCHAR(8), ISSUE_DATE, 112), 
		SUM(A.ORIGINAL_AMT)/1E9, 
		COUNT(DISTINCT A.ACCTNO) CONTRACT_NO, 
		(CASE WHEN A.CHUONG_TRINH_SP LIKE ''%LD%1002%HOPNHATUPL%'' THEN ''PA'' ELSE ''NON-PA'' END) PA_CHECK
	FROM
		(SELECT ACCTNO,APP_ID_C,ISSUE_DATE,CHUONG_TRINH_SP,ORIGINAL_AMT 
		FROM BIC_RB.DAILY_RETAIL.DBO.LOAN_'+@TODATE+'
		WHERE ISSUE_DATE >= '''+@FROMDATE+'''
			AND ISSUE_dATE < DATEADD(D, 1, '''+@TODATE+''')
			AND LD_SECURED_YN = ''NO''
		UNION ALL
		SELECT ACCTNO,APP_ID_C,ISSUE_DATE,CHUONG_TRINH_SP,ORIGINAL_AMT 
		FROM BIC_RB.DAILY_RETAIL.DBO.LOAN_OLD_'+@TODATE+'
		WHERE ISSUE_DATE >= '''+@FROMDATE+'''
			AND ISSUE_dATE < DATEADD(D, 1, '''+@TODATE+''')
			AND PRODUCT_NAME LIKE ''%UPL%''
		) A 
	WHERE NOT EXISTS (SELECT 1 FROM DBS_DAILY.DBO.UPL_'+@TODATE+' B 
					WHERE A.ACCTNO = B.ACCTNO AND DBS_CHANNEL IS NOT NULL)
	GROUP BY 
		(CASE WHEN A.CHUONG_TRINH_SP LIKE ''%LD%1002%HOPNHATUPL%'' THEN ''PA'' ELSE ''NON-PA'' END), 
		CONVERT(VARCHAR(8), ISSUE_DATE, 112)
') 

PRINT('DONE UPL')
------TRANSACTION 

EXEC('
	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+'(
		PRODUCT_GROUP, PRODUCT_LINE, SUB_PRODUCT, ITEM, SYSTEM_SOURCE, TIMELINE, VALUE_dATE, BAL, NO)
	SELECT 
		''TRANSACTION'' , TRANS_TYPE_GROUP, 
		CASE WHEN TRANS_TYPE_GROUP = ''INTERNAL TRANSFER'' THEN COALESCE(SUB_TRANS_TYPE, TRANS_TYPE) 		
			WHEN TRANS_TYPE_GROUP = ''BILLING'' THEN SUB_TRANS_TYPE ELSE TRANS_TYPE END, 		
		''NEW TRANSACTION'',
		CASE WHEN SOURCE LIKE ''%EB%''  THEN ''OCB'' ELSE ''I2B'' END ,
		''MTD'', 
		CONVERT(VARCHAR,VALUE_DATE,112), 
		SUM(TXN_AMT)/1e9, COUNT(1) 
	FROM EBANKING_TRANSACTION_'+@TODATE+'
		WHERE S_FLAG = 1 
			AND CONVERT(VARCHAR,VALUE_DATE,112) >= '''+@FROMDATE+''' 
			AND CONVERT(VARCHAR,VALUE_DATE,112) <= '''+@TODATE+''' 
	GROUP BY 
		TRANS_TYPE_GROUP, 
		CASE WHEN TRANS_TYPE_GROUP = ''INTERNAL TRANSFER'' THEN COALESCE(SUB_TRANS_TYPE, TRANS_TYPE) 		
			WHEN TRANS_TYPE_GROUP = ''BILLING'' THEN SUB_TRANS_TYPE ELSE TRANS_TYPE END,  
		CASE WHEN SOURCE LIKE ''%EB%''  THEN ''OCB'' ELSE ''I2B'' END ,
		CONVERT(VARCHAR,VALUE_DATE,112)
')

EXEC('
	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+'(
		PRODUCT_GROUP, PRODUCT_LINE, SUB_PRODUCT, ITEM, TIMELINE, VALUE_DATE, BAL, NO)
	SELECT 
		''TRANSACTION'' , TRANS_TYPE_GROUP, 
		TRANS_TYPE,
		''NEW TRANSACTION - LENDING'',
		''MTD'', 
		CONVERT(VARCHAR,VALUE_DATE,112), 
		SUM(TXN_AMT)/1e9, COUNT(1) 
	FROM LENDING_TRANSACTION_'+@TODATE+'
		WHERE S_FLAG = 1 
			AND CONVERT(VARCHAR,VALUE_DATE,112) >= '''+@FROMDATE+''' 
			AND CONVERT(VARCHAR,VALUE_DATE,112) <= '''+@TODATE+''' 
	GROUP BY 
		TRANS_TYPE_GROUP, TRANS_TYPE, 
		CONVERT(VARCHAR,VALUE_DATE,112)
')
EXEC('
	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+'(
		PRODUCT_GROUP, PRODUCT_LINE, ITEM, TIMELINE, NO)
	SELECT 
		''TRANSACTION'' ,
		CASE WHEN TRANS_TYPE_GROUP like ''%saving%'' then ''SAVING ONLINE'' ELSE TRANS_tYPE_GROUP END , 		
		''CUSTOMER TRANSACTION'',
		''MTD'', 
		COUNT(DISTINCT CIF) 
	FROM EBANKING_TRANSACTION_'+@TODATE+'
		WHERE S_FLAG = 1 
			AND CONVERT(VARCHAR,VALUE_DATE,112) >= '''+@FROMDATE+''' 
			AND CONVERT(VARCHAR,VALUE_DATE,112) <= '''+@TODATE+''' 
	GROUP BY 
		CASE WHEN TRANS_TYPE_GROUP like ''%saving%'' then ''SAVING ONLINE'' ELSE TRANS_tYPE_GROUP END 

UNION ALL 
	SELECT 
		''TRANSACTION'' ,
		CASE WHEN TRANS_TYPE_GROUP like ''%saving%'' then ''SAVING ONLINE'' ELSE TRANS_tYPE_GROUP END , 		
		''CUSTOMER TRANSACTION - LENDING'',
		''MTD'', 
		COUNT(DISTINCT CIF) 
	FROM LENDING_TRANSACTION_'+@TODATE+'
		WHERE S_FLAG = 1 
			AND CONVERT(VARCHAR,VALUE_DATE,112) >= '''+@FROMDATE+''' 
			AND CONVERT(VARCHAR,VALUE_DATE,112) <= '''+@TODATE+''' 
	GROUP BY 
		CASE WHEN TRANS_TYPE_GROUP like ''%saving%'' then ''SAVING ONLINE'' ELSE TRANS_tYPE_GROUP END 
')

-------CUSTOMER OVER 3 TRANSACTION TYPE PERMONTH 
EXEC('
	SELECT *	
	INTO #TEMP 
	FROM
		(SELECT CIF, CASE WHEN TRANS_TYPE_GROUP LIKE ''%SAVING%'' THEN ''SAVING ONLINE'' ELSE TRANS_TYPE_GROUP END TRANS_TYPE_GROUP,
			COUNT(1) AS NO_TXN
		FROM DBS_DAILY.DBO.EBANKING_TRANSACTION_'+@TODATE+'
		WHERE S_FLAG = 1	
		GROUP BY CIF, TRANS_TYPE_GROUP

		UNION ALL
		SELECT CIF, TRANS_TYPE_GROUP, COUNT(1) AS NO_TXN 
		FROM DBS_DAILY.DBO.LENDING_TRANSACTION_'+@TODATE+'
		WHERE S_FLAG = 1 
		GROUP BY CIF, TRANS_TYPE_GROUP
		) A 

	SELECT 
		CIF, 
		CASE 
			WHEN NO_TRANS_TYPE >= 3 THEN ''AT LEAST 3 TRANS-TYPE CUSTOMERS'' 
			WHEN NO_TRANS_TYPE = 1 THEN ''1 TRANS-TYPE CUSTOMERS'' 
			WHEN NO_TRANS_TYPE = 2 THEN ''2 TRANS-TYPE CUSTOMERS'' 
		END NO_TRANS_TYPE
	INTO #CIF_BY_TRANSTYPE
	FROM 
		(SELECT CIF, COUNT(DISTINCT TRANS_TYPE_GROUP) NO_TRANS_TYPE
		FROM #TEMP A
		GROUP BY CIF
		) A 	
	GROUP BY 
		CIF,
		CASE 
			WHEN NO_TRANS_TYPE >= 3 THEN ''AT LEAST 3 TRANS-TYPE CUSTOMERS'' 
			WHEN NO_TRANS_TYPE = 1 THEN ''1 TRANS-TYPE CUSTOMERS'' 
			WHEN NO_TRANS_TYPE = 2 THEN ''2 TRANS-TYPE CUSTOMERS'' 
		END

	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+'(
		PRODUCT_GROUP, ITEM, TIMELINE, NO)
	SELECT 
		''TRANSACTION'',
		NO_TRANS_TYPE,  
		''MTD'',
		COUNT(1) 
	FROM #CIF_BY_TRANSTYPE
	GROUP BY 
		NO_TRANS_TYPE

	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+'(
			PRODUCT_GROUP, ITEM, TIMELINE, NO)
	SELECT 
		''TRANSACTION'',
		''CUSTOMER AT LEAST 3 TRAN-STYPE - NO TXN'' ,
		''MTD'',
		SUM(NO_TXN)
	FROM #TEMP A
	WHERE EXISTS (SELECT 1 FROM	#CIF_BY_TRANSTYPE B WHERE A.CIF = B.CIF and NO_TRANS_TYPE = ''AT LEAST 3 TRANS-TYPE CUSTOMERS'')

-----------COMBO CHART 

drop table if exists DRAFT.DBO.TRANGTQ2_COMBO_CHART_DAILY

	SELECT DISTINCT CIF,TRANS_TYPE_GROUP,1 YES
	INTO #TEST
	FROM #TEMP 

	EXEC MASTER.DBO.sql_pivot @data = ''#TEST'', 
		  @row = ''CIF'',
		  @group= ''TRANS_TYPE_GROUP'', 
		  @value = ''YES'', 
		  @function = ''COUNT'',
		  @stored_data = ''DRAFT.DBO.TRANGTQ2_COMBO_CHART_DAILY''
')

EXEC
('
ALTER TABLE DRAFT.DBO.TRANGTQ2_COMBO_CHART_DAILY 
	ADD AVERAGE_BAL FLOAT
')

EXEC
('
	UPDATE DRAFT.DBO.TRANGTQ2_COMBO_CHART_DAILY
		SET AVERAGE_BAL = null

	UPDATE a
		SET AVERAGE_BAL = B.AVERAGE_BAL/1E6
	FROM DRAFT.DBO.TRANGTQ2_COMBO_CHART_DAILY A 
	INNER JOIN  
		(SELECT CIF,SUM(AVERAGE_BAL) AVERAGE_BAL
		FROM DATA.DBO.MONTHLY_LCY B
		WHERE B.PRODUCT_NAME LIKE ''1%''
		GROUP BY CIF) B ON A.CIF = B.CIF

	UPDATE DRAFT.DBO.TRANGTQ2_COMBO_CHART_DAILY
		SET AVERAGE_BAL = 0 
			WHERE AVERAGE_BAL IS NULL
')


--------------SUMMARY REPORT 

EXEC('
	DELETE FROM  DBS_SUMMARY.DBO.DAILY_REPORT
	WHERE RPTDATE = '''+@TODATE+''' 

	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT (
		Rptdate, PRODUCT_GROUP,PRODUCT_LINE, SUB_PRODUCT, ITEM, SYSTEM_SOURCE, TIMELINE, VALUE_DATE, BAL, NO, PA_NONPA, NTB_ETB)
	SELECT 
		'+@TODATE+', A.*		
	FROM DBS_SUMMARY.DBO.DAILY_REPORT_'+@TODATE+' A 
	')

EXEC('
	UPDATE A 
	SET A.ENDMONTH = 1 
	FROM DBS_SUMMARY.DBO.DAILY_REPORT A 
		INNER JOIN (SELECT DISTINCT CONVERT(VARCHAR(8), LASTDAYOFMONTH, 112) RPTDATE
			FROM DBS_REF.DBO.CALENDAR
			WHERE RPTDATE <= '''+@TODATE+''' ) B ON A.RPTDATE = B.RPTDATE 
	WHERE A.RPTDATE = '''+@TODATE+'''

	')

EXEC(' 
	DROP TABLE IF EXISTS DBS_SUMMARY.DBO.DAILY_REPORT_TEMP 
	' ) 

EXEC('
	SELECT 
		PRODUCT_GROUP	
		,PRODUCT_LINE	
		,SUB_PRODUCT	
		,ITEM	
		,CASE WHEN RPTDATE = '''+@TODATE+''' THEN ''CURR_MONTH'' 
			 WHEN RPTDATE = '''+@LASTDATE+''' THEN ''LAST_MONTH'' 
			 WHEN RPTDATE = '''+@LAST2DATE+''' THEN ''LAST_2MONTH'' 
			 WHEN RPTDATE = '''+@TODATE_LASTYEAR+''' THEN ''CURR_LASTYEAR'' 
		END AS TIMELINE
		,VALUE_DATE	
		,SYSTEM_SOURCE	
		,BAL	
		,NO
		,PA_NONPA, NTB_ETB
	INTO DBS_SUMMARY.DBO.DAILY_REPORT_TEMP
	FROM  DBS_SUMMARY.DBO.DAILY_REPORT  A 
	WHERE RPTDATE IN ('''+@TODATE+''', '''+@LASTDATE+''', '''+@LAST2DATE+''', '''+@TODATE_LASTYEAR+''')

	INSERT INTO DBS_SUMMARY.DBO.DAILY_REPORT_TEMP
		(PRODUCT_GROUP, PRODUCT_LINE, SUB_PRODUCT, ITEM, SYSTEM_SOURCE, TIMELINE, BAL, NO)
	SELECT  PRODUCT_GROUP, PRODUCT_LINE, SUB_PRODUCT, ITEM + '' YTD'', 
		SYSTEM_SOURCE, ''CURR_MONTH'', SUM([BAL]) AS BAL, SUM([NO]) AS NO
	FROM DBS_SUMMARY.DBO.DAILY_REPORT 
	WHERE PRODUCT_GROUP IN (''LENDING'', ''SAVING ONLINE'')
		AND ITEM IN (''NEW OD'', ''NEW CARD'', ''NEW UPL'', ''NEW TD'') 
		AND (RPTDATE = '''+@TODATE+''' 
			OR (ENDMONTH = 1 AND LEFT(RPTDATE, 4) = LEFT( '''+@TODATE+''' , 4))
			)
	GROUP BY 
		PRODUCT_GROUP, PRODUCT_LINE, SUB_PRODUCT, ITEM, SYSTEM_SOURCE
		

')

DROP TABLE IF EXISTS ##MONTHLY_LCY , ##DPTB_ALL

END


GO
