USE [DBS_DAILY]
GO
/****** Object:  StoredProcedure [dbo].[PR_DAILY_ETL_41_SUMMARY_OCB]    Script Date: 8/6/2019 10:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PR_DAILY_ETL_41_SUMMARY_OCB]
AS 
BEGIN 

DECLARE @TODATE VARCHAR(8)
DECLARE	@FROMDATE_1		VARCHAR(8)
DECLARE	@TODATE_1		VARCHAR(8)	
DECLARE	@FROMDATE		VARCHAR(8)
-------------------------------------------------
---set @TODATE = '20171231' 
SET @TODATE    = (SELECT RPTDATE FROM DBS_REF.DBO.RPTDATE )
SET @FROMDATE  = (SELECT CONVERT(VARCHAR(8),DATEADD(mm,DATEDIFF(mm,0,@TODATE),0),112))
-------------------------------------------------
SET @TODATE_1   = (SELECT CONVERT(VARCHAR(8),DATEADD(ms,-3,DATEADD(mm,0,DATEADD(mm,DATEDIFF(mm,0,@TODATE),0))),112)) 
SET @FROMDATE_1 = (SELECT CONVERT(VARCHAR(8),DATEADD(mm,-1,DATEADD(mm,DATEDIFF(mm,0,@TODATE),0)),112)) 


exec('
		select  
			A.T24_CIF , OPEN_DATE, AMND_STATE ,  
			CASE WHEN A.SOURCE = ''NEW'' THEN ''OCB'' ELSE ''I2B'' END as SOURCE  ,
			CASE WHEN B.T24_CIF IS NOT NULL THEN ''CASA'' ELSE ''COUNTER'' END AS CHANNEL 
		INTO #TEMP 
		FROM DBS_dAILY.DBO.TBL_I2B_USERS_F0_'+@TODATE+' a 
		LEFT JOIN DBS_dAILY.DBO.CASA_ONLINE_LIST_'+@TODATE+' B ON A.T24_CIF = B.T24_CIF 
				WHERE AMND_STATE IN (''A'',''B'') 	
		
		INSERT INTO #TEMP 
		SELECT CUST_CIF , OPEN_DATE , AMND_STATUS, 
			CASE WHEN A.SOURCE = ''NEW'' THEN ''OCB'' ELSE ''I2B'' END ,
			CASE WHEN B.T24_CIF IS NOT NULL THEN ''CASA'' ELSE ''COUNTER'' END
		FROM DBS_dAILY.DBO.TBL_B2B_USERS_'+@TODATE+' A 
		LEFT JOIN DBS_dAILY.DBO.CASA_ONLINE_LIST_'+@TODATE+' B ON A.CUST_CIF = B.T24_CIF 
				WHERE AMND_STATUS IN (''A'',''B'') 		
				AND SEGMENT = ''SMEs'' 					

SELECT * INTO ##REPORT_OCB FROM (

		SELECt ITEM, TERM , SYS , ITEM_DETAIL , ID 
		FROM 
		(select ''REGISTERED_I2B'' AS ITEM, source AS SYS, channel AS ITEM_DETAIL, 
			count(case when CONVERT(VARCHAR(8),OPEN_DATE,112) = '''+@TODATE+''' then T24_CIF END ) AS FTD , 
			count(case when CONVERT(VARCHAR(8),OPEN_DATE,112) BETWEEN '''+@FROMDATE+''' AND '''+@TODATE+''' then T24_CIF END ) AS MTD ,
			COUNT(1) AS TOTAL  
		from #temp 
		GROUP BY source , channel
		) A UNPIVOT ([ID] FOR TERM IN ([FTD],[MTD],[TOTAL])) X 

	UNION ALL

		SELECt ITEM, TERM , SYS , ITEM_DETAIL , ID 
		FROM 
		(select ''Activated_i2b'' AS ITEM, source AS SYS, channel AS ITEM_DETAIL, 
			count(case when CONVERT(VARCHAR(8),OPEN_DATE,112) = '''+@TODATE+''' then T24_CIF END ) AS FTD , 
			count(case when CONVERT(VARCHAR(8),OPEN_DATE,112) BETWEEN '''+@FROMDATE+''' AND '''+@TODATE+''' then T24_CIF END ) AS MTD ,
			COUNT(1) AS TOTAL  
		from #temp 
		WHERE AMND_STATE = ''A'' 
		GROUP BY source , channel
		) A UNPIVOT ([ID] FOR TERM IN ([FTD],[MTD],[TOTAL])) X 

-------------------------------------------------------------------------------------------------------------------------------
-----OVERDRAFT------------------------------------------

	UNION ALL
	SELECT  ''OD_ONLINE'' ITEM,''FTD'' TERM,
		(CASE WHEN SOURCE = ''OCB'' THEN ''OCB'' WHEN SOURCE IS NULL THEN ''I2B'' ELSE NULL END) SYS,
		(CASE WHEN OVERDRAFT_TYPE = ''THAU CHI CBNV'' THEN ''THAU CHI CBNV'' 
		WHEN OVERDRAFT_TYPE = ''THAU CHI CAM CO STK'' THEN ''THAU CHI CAM CO STK'' 
		WHEN OVERDRAFT_TYPE = ''THAU CHI KH TIEU DUNG CASA'' THEN ''THAU CHI KH TIEU DUNG CASA''
		ELSE ''THAU CHI CA NHAN TIEU DUNG'' END) [ITEM_DETAIL],
		COUNT(1) ID 
			FROM DBS_dAILY.DBO.TBL_ONLINE_LOAN_'+@TODATE+'
			WHERE CONVERT(VARCHAR,REGIST_DATE,112) = '''+@TODATE+'''
				GROUP BY (CASE WHEN SOURCE = ''OCB'' THEN ''OCB'' WHEN SOURCE IS NULL THEN ''I2B'' ELSE NULL END),
						 (CASE WHEN OVERDRAFT_TYPE = ''THAU CHI CBNV'' THEN ''THAU CHI CBNV'' 
							WHEN OVERDRAFT_TYPE = ''THAU CHI CAM CO STK'' THEN ''THAU CHI CAM CO STK'' 
							WHEN OVERDRAFT_TYPE = ''THAU CHI KH TIEU DUNG CASA'' THEN ''THAU CHI KH TIEU DUNG CASA''
							ELSE ''THAU CHI CA NHAN TIEU DUNG'' END)


	UNION ALL
	SELECT  ''OD_ONLINE'' ITEM,''MTD'' TERM,
		(CASE WHEN SOURCE = ''OCB'' THEN ''OCB'' WHEN SOURCE IS NULL THEN ''I2B'' ELSE NULL END) SYS,
		(CASE WHEN OVERDRAFT_TYPE = ''THAU CHI CBNV'' THEN ''THAU CHI CBNV'' 
		WHEN OVERDRAFT_TYPE = ''THAU CHI CAM CO STK'' THEN ''THAU CHI CAM CO STK'' 
		WHEN OVERDRAFT_TYPE = ''THAU CHI KH TIEU DUNG CASA'' THEN ''THAU CHI KH TIEU DUNG CASA''
		ELSE ''THAU CHI CA NHAN TIEU DUNG'' END) [ITEM_DETAIL],
		COUNT(1) ID 
			FROM DBS_dAILY.DBO.TBL_ONLINE_LOAN_'+@TODATE+'
			WHERE CONVERT(VARCHAR,REGIST_DATE,112) >= '''+@FROMDATE+'''
			AND CONVERT(VARCHAR,REGIST_DATE,112) <= '''+@TODATE+'''
				GROUP BY (CASE WHEN SOURCE = ''OCB'' THEN ''OCB'' WHEN SOURCE IS NULL THEN ''I2B'' ELSE NULL END),
						 (CASE WHEN OVERDRAFT_TYPE = ''THAU CHI CBNV'' THEN ''THAU CHI CBNV'' 
							WHEN OVERDRAFT_TYPE = ''THAU CHI CAM CO STK'' THEN ''THAU CHI CAM CO STK'' 
							WHEN OVERDRAFT_TYPE = ''THAU CHI KH TIEU DUNG CASA'' THEN ''THAU CHI KH TIEU DUNG CASA''
							ELSE ''THAU CHI CA NHAN TIEU DUNG'' END)

	UNION ALL
	SELECT  ''OD_ONLINE'' ITEM,''TOTAL'' TERM,
		(CASE WHEN SOURCE = ''OCB'' THEN ''OCB'' WHEN SOURCE IS NULL THEN ''I2B'' ELSE NULL END) SYS,
		(CASE WHEN OVERDRAFT_TYPE = ''THAU CHI CBNV'' THEN ''THAU CHI CBNV'' 
		WHEN OVERDRAFT_TYPE = ''THAU CHI CAM CO STK'' THEN ''THAU CHI CAM CO STK'' 
		WHEN OVERDRAFT_TYPE = ''THAU CHI KH TIEU DUNG CASA'' THEN ''THAU CHI KH TIEU DUNG CASA''
		ELSE ''THAU CHI CA NHAN TIEU DUNG'' END) [ITEM_DETAIL],
		COUNT(1) ID 
			FROM DBS_dAILY.DBO.TBL_ONLINE_LOAN_'+@TODATE+'
			WHERE CONVERT(VARCHAR(4),REGIST_DATE,112) = YEAR('''+@TODATE+''')
			AND CONVERT(VARCHAR,REGIST_DATE,112) <= '''+@TODATE+'''
				GROUP BY (CASE WHEN SOURCE = ''OCB'' THEN ''OCB'' WHEN SOURCE IS NULL THEN ''I2B'' ELSE NULL END),
						 (CASE WHEN OVERDRAFT_TYPE = ''THAU CHI CBNV'' THEN ''THAU CHI CBNV'' 
							WHEN OVERDRAFT_TYPE = ''THAU CHI CAM CO STK'' THEN ''THAU CHI CAM CO STK'' 
							WHEN OVERDRAFT_TYPE = ''THAU CHI KH TIEU DUNG CASA'' THEN ''THAU CHI KH TIEU DUNG CASA''
							ELSE ''THAU CHI CA NHAN TIEU DUNG'' END)


-------------------------------------------------------------------------------------------------------------------------------
-----LOGIN------------------------------------------

	UNION ALL
	SELECT  ''I2B_LOGIN'' ITEM,''FTD'' TERM, 
		(CASE WHEN DEVICE_CODE IS NULL THEN ''I2B'' WHEN DEVICE_CODE = ''OCB'' THEN ''OCB'' ELSE DEVICE_CODE END) SYS,
		''I2B_LOGIN'' ITEM_DETAIL,COUNT(1) ID
		FROM DBS_dAILY.DBO.TBL_I2B_AUTH_INFO
			WHERE CONVERT(VARCHAR,TIME_RQ,112) = '''+@TODATE+'''
				GROUP BY (CASE WHEN DEVICE_CODE IS NULL THEN ''I2B'' WHEN DEVICE_CODE = ''OCB'' THEN ''OCB'' ELSE DEVICE_CODE END)
	UNION ALL
	SELECT  ''I2B_LOGIN'' ITEM,''MTD'' TERM, 
		(CASE WHEN DEVICE_CODE IS NULL THEN ''I2B'' WHEN DEVICE_CODE = ''OCB'' THEN ''OCB'' ELSE DEVICE_CODE END) SYS,
		''I2B_LOGIN'' ITEM_DETAIL,COUNT(1) ID
		FROM DBS_dAILY.DBO.TBL_I2B_AUTH_INFO
			WHERE CONVERT(VARCHAR,TIME_RQ,112) >= '''+@FROMDATE+'''
			AND CONVERT(VARCHAR,TIME_RQ,112) <= '''+@TODATE+'''
				GROUP BY (CASE WHEN DEVICE_CODE IS NULL THEN ''I2B'' WHEN DEVICE_CODE = ''OCB'' THEN ''OCB'' ELSE DEVICE_CODE END)


-------------------------------------------------------------------------------------------------------------------------------
-----SAVING ONLINE------------------------------------------

	UNION ALL
	SELECT  ''TD_ONLINE'' ITEM,''FTD'' TERM,
		(CASE WHEN SOURCE LIKE ''%AUDIT%'' THEN ''OCB'' WHEN SOURCE LIKE ''%TXN%'' THEN ''I2B'' ELSE NULL END) SYS,
		''NEW_CONTRACT'' ITEM_DETAIL,COUNT(DISTINCT TO_AC) ID
		FROM DBS_dAILY.DBO.SAVING_ONLINE_'+@TODATE+'
			WHERE FINAL_STATUS = ''SUCCESSFUL''
			AND TO_AC IS NOT NULL
			AND TRANS_TYPE = ''SAVING ONLINE''
			AND CONVERT(VARCHAR(8),VALUE_DATE,112) = '''+@TODATE+'''
				GROUP BY (CASE WHEN SOURCE LIKE ''%AUDIT%'' THEN ''OCB'' WHEN SOURCE LIKE ''%TXN%'' THEN ''I2B'' ELSE NULL END)

	UNION ALL
	SELECT  ''TD_ONLINE'' ITEM,''MTD'' TERM,
		(CASE WHEN SOURCE LIKE ''%AUDIT%'' THEN ''OCB'' WHEN SOURCE LIKE ''%TXN%'' THEN ''I2B'' ELSE NULL END) SYS,
		''NEW_CONTRACT'' ITEM_DETAIL,COUNT(DISTINCT TO_AC) ID
		FROM DBS_dAILY.DBO.SAVING_ONLINE_'+@TODATE+'
			WHERE FINAL_STATUS = ''SUCCESSFUL''
			AND TO_AC IS NOT NULL
			AND TRANS_TYPE = ''SAVING ONLINE''
			AND CONVERT(VARCHAR(8),VALUE_DATE,112) >= '''+@FROMDATE+'''
			AND CONVERT(VARCHAR(8),VALUE_DATE,112) <= '''+@TODATE+'''
				GROUP BY (CASE WHEN SOURCE LIKE ''%AUDIT%'' THEN ''OCB'' WHEN SOURCE LIKE ''%TXN%'' THEN ''I2B'' ELSE NULL END)


-------------------------------------------------------------------------------------------------------------------------------
-----TRANSACTION------------------------------------------

	UNION ALL
	SELECT  ''NO_TRANS'' ITEM,''FTD'' TERM,''OCB'' SYS,FINAL_STATUS ITEM_DETAIL,COUNT(1) ID 
		FROM
			(SELECT FINAL_STATUS , trans_code
				FROM DBS_dAILY.DBO.EBANKING_TRANSACTION_'+@TODATE+'
					WHERE (BI_CHANNEL <> ''OTHER'' OR SEGMENT IN (''SMES'',''HH''))
					AND CONVERT(VARCHAR,VALUE_DATE,112) = '''+@TODATE+'''
					AND (SOURCE IN (''TBL_EB_BPW_PMTINSTRUCTION'',''TBL_EB_BPW_XFERINSTRUCTION'',''TBL_EB_BPW_TRANSFER'')
						OR SOURCE LIKE ''TEMP_%'')
			UNION ALL
			SELECT FINAL_STATUS , trans_code
				FROM DBS_dAILY.DBO.SAVING_ONLINE_'+@TODATE+'
					WHERE CONVERT(VARCHAR(8),VALUE_DATE,112) = '''+@TODATE+'''				
					AND SOURCE LIKE ''%AUDIT%''
			) B
			GROUP BY FINAL_STATUS

	UNION ALL
	SELECT  ''NO_TRANS'' ITEM,''MTD'' TERM,''OCB'' SYS,FINAL_STATUS ITEM_DETAIL,COUNT(1) ID 
		FROM
			(SELECT FINAL_STATUS , trans_code
				FROM DBS_dAILY.DBO.EBANKING_TRANSACTION_'+@TODATE+'
					WHERE (BI_CHANNEL <> ''OTHER'' OR SEGMENT IN (''SMES'',''HH''))
					AND CONVERT(VARCHAR,VALUE_DATE,112) >= '''+@FROMDATE+'''
					AND CONVERT(VARCHAR,VALUE_DATE,112) <= '''+@TODATE+'''
					AND (SOURCE IN (''TBL_EB_BPW_PMTINSTRUCTION'',''TBL_EB_BPW_XFERINSTRUCTION'',''TBL_EB_BPW_TRANSFER'')
						OR SOURCE LIKE ''TEMP_%'')
			UNION ALL
			SELECT FINAL_STATUS , trans_code
				FROM DBS_dAILY.DBO.SAVING_ONLINE_'+@TODATE+'
					WHERE CONVERT(VARCHAR(8),VALUE_DATE,112) >= '''+@FROMDATE+'''	
					AND CONVERT(VARCHAR(8),VALUE_DATE,112) <= '''+@TODATE+'''				
					AND SOURCE LIKE ''%AUDIT%''
			) C
			GROUP BY FINAL_STATUS

	UNION ALL
	SELECT  ''NO_TRANS'' ITEM,''FTD'' TERM,''I2B'' SYS,FINAL_STATUS ITEM_DETAIL,COUNT(1) ID 
		FROM
			(SELECT FINAL_STATUS , trans_code
				FROM DBS_dAILY.DBO.EBANKING_TRANSACTION_'+@TODATE+'
					WHERE (BI_CHANNEL <> ''OTHER'' OR SEGMENT = ''HH'')
					AND CONVERT(VARCHAR,VALUE_DATE,112) = '''+@TODATE+'''
					AND CHANNEL IN (''I2B'',''Mobile'')
					AND TRANS_TYPE NOT LIKE ''%SAVING%''
					AND (SOURCE IN (''TBL_EB_BPW_PMTINSTRUCTION'',''TBL_EB_BPW_XFERINSTRUCTION'',''TBL_EB_BPW_TRANSFER'')
						OR SOURCE LIKE ''TEMP_%'')
			UNION ALL
			SELECT FINAL_STATUS , trans_code
				FROM DBS_dAILY.DBO.SAVING_ONLINE_'+@TODATE+'
					WHERE CONVERT(VARCHAR(8),VALUE_DATE,112) = '''+@TODATE+'''				
					AND SOURCE LIKE ''%TXN%''
			) D
			GROUP BY FINAL_STATUS

	UNION ALL
	SELECT  ''NO_TRANS'' ITEM,''MTD'' TERM,''I2B'' SYS,FINAL_STATUS ITEM_DETAIL,COUNT(1) ID 
		FROM
			(SELECT FINAL_STATUS , trans_code
				FROM DBS_dAILY.DBO.EBANKING_TRANSACTION_'+@TODATE+'
					WHERE (BI_CHANNEL <> ''OTHER'' OR SEGMENT =''HH'')
					AND CONVERT(VARCHAR,VALUE_DATE,112) >= '''+@FROMDATE+'''
					AND CONVERT(VARCHAR,VALUE_DATE,112) <= '''+@TODATE+'''
					AND CHANNEL IN (''I2B'',''Mobile'')
					AND TRANS_TYPE NOT LIKE ''%SAVING%''
					AND (SOURCE IN (''TBL_EB_BPW_PMTINSTRUCTION'',''TBL_EB_BPW_XFERINSTRUCTION'',''TBL_EB_BPW_TRANSFER'')
						OR SOURCE LIKE ''TEMP_%'')
			UNION ALL
			SELECT FINAL_STATUS , trans_code
				FROM DBS_dAILY.DBO.SAVING_ONLINE_'+@TODATE+'
					WHERE CONVERT(VARCHAR(8),VALUE_DATE,112) >= '''+@FROMDATE+'''	
					AND CONVERT(VARCHAR(8),VALUE_DATE,112) <= '''+@TODATE+'''				
					AND SOURCE LIKE ''%TXN%''
			) E
			GROUP BY FINAL_STATUS

) A
')

-------------------------------------------------------------------------------------------------------------------------------
-----UPDATE------------------------------------------
exec('
UPDATE DBS_dAILY.DBO.DAILY_DBS_REPORT_OCB
	SET FTD_OCB = 0,
		FTD_EB = 0,
		MTD_OCB = 0,
		MTD_EB = 0,
		TOTAL_OCB = 0,
		TOTAL_EB = 0

UPDATE DBS_dAILY.DBO.DAILY_DBS_REPORT_OCB
	SET FTD_OCB = B.ID
		FROM DBS_dAILY.DBO.DAILY_DBS_REPORT_OCB A, ##REPORT_OCB B
			WHERE A.ITEM = B.ITEM
			AND A.ITEM_DETAIL = B.ITEM_DETAIL
			AND B.TERM = ''FTD''
			AND B.SYS = ''OCB''

UPDATE DBS_dAILY.DBO.DAILY_DBS_REPORT_OCB
	SET FTD_EB = B.ID
		FROM DBS_dAILY.DBO.DAILY_DBS_REPORT_OCB A, ##REPORT_OCB B
			WHERE A.ITEM = B.ITEM
			AND A.ITEM_DETAIL = B.ITEM_DETAIL
			AND B.TERM = ''FTD''
			AND B.SYS = ''I2B''

UPDATE DBS_dAILY.DBO.DAILY_DBS_REPORT_OCB
	SET MTD_OCB = B.ID
		FROM DBS_dAILY.DBO.DAILY_DBS_REPORT_OCB A, ##REPORT_OCB B
			WHERE A.ITEM = B.ITEM
			AND A.ITEM_DETAIL = B.ITEM_DETAIL
			AND B.TERM = ''MTD''
			AND B.SYS = ''OCB''

UPDATE DBS_dAILY.DBO.DAILY_DBS_REPORT_OCB
	SET MTD_EB = B.ID
		FROM DBS_dAILY.DBO.DAILY_DBS_REPORT_OCB A, ##REPORT_OCB B
			WHERE A.ITEM = B.ITEM
			AND A.ITEM_DETAIL = B.ITEM_DETAIL
			AND B.TERM = ''MTD''
			AND B.SYS = ''I2B''

UPDATE DBS_dAILY.DBO.DAILY_DBS_REPORT_OCB
	SET TOTAL_OCB = B.ID
		FROM DBS_dAILY.DBO.DAILY_DBS_REPORT_OCB A, ##REPORT_OCB B
			WHERE A.ITEM = B.ITEM
			AND A.ITEM_DETAIL = B.ITEM_DETAIL
			AND B.TERM = ''TOTAL''
			AND B.SYS = ''OCB''

UPDATE DBS_dAILY.DBO.DAILY_DBS_REPORT_OCB
	SET TOTAL_EB = B.ID
		FROM DBS_dAILY.DBO.DAILY_DBS_REPORT_OCB A, ##REPORT_OCB B
			WHERE A.ITEM = B.ITEM
			AND A.ITEM_DETAIL = B.ITEM_DETAIL
			AND B.TERM = ''TOTAL''
			AND B.SYS = ''I2B''

-------------------------------------------------------------------------------------------------------------------------------
-----TAO BANG MOI------------------------------------------

IF EXISTS (SELECT * FROM DBS_dAILY.DBO.SYSOBJECTS WHERE NAME = ''DAILY_DBS_REPORT_OCB_'+@TODATE+''')
	DROP TABLE [DBS_dAILY].[DBO].[DAILY_DBS_REPORT_OCB_'+@TODATE+']

SELECT * INTO DBS_dAILY.DBO.DAILY_DBS_REPORT_OCB_'+@TODATE+' FROM DBS_dAILY.DBO.DAILY_DBS_REPORT_OCB

')


DROP TABLE ##REPORT_OCB

END
GO
