USE [DBS_DAILY]
GO
/****** Object:  StoredProcedure [dbo].[PR_DAILY_ETL_50_DATA_FOR_FINANCE]    Script Date: 8/6/2019 10:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PR_DAILY_ETL_50_DATA_FOR_FINANCE]
AS 

BEGIN 

DECLARE @TODATE VARCHAR(8) , @FROMDATE VARCHAR(8)
SET @TODATE    = (SELECT RPTDATE FROM DBS_REF.DBO.RPTDATE )

SET @FROMDATE  = (SELECT CONVERT(VARCHAR(8),DATEADD(mm,DATEDIFF(mm,0,@TODATE),0),112)) 

--01. CASA DETAIL
if exists(select * from FINANCE.information_schema.tables where table_name = 'DAILY_CASA_I2BMB_'+@TODATE+'')
begin 
	exec(' DROP TABLE FINANCE.DBO.DAILY_CASA_I2BMB_'+@TODATE+'  ')
end 

EXEC
('
SELECT ''RETAIL'' SEGMENT,ACCTNO,CIF,BRANCH_CODE,CONVERT(DATE,ISSUE_DATE) ISSUE_DATE,CONVERT(DATE,WITHDRAW_DATE) WITHDRAW_DATE
	INTO FINANCE.DBO.DAILY_CASA_I2BMB_'+@TODATE+'
	FROM DATA.DBO.DPTB_MASTER
		WHERE APP = ''DEPOSIT''
		AND PRODUCT_NAME LIKE ''1%''
		AND CONVERT(VARCHAR(8),ISSUE_DATE,112) <= '''+@TODATE+'''
		AND F IS NULL
		AND CCY <> ''XAU''
		AND (BI_CHANNEL <> ''OTHER'' OR SEGMENT = ''AF'')
		AND (CIF IN (SELECT T24_CIF FROM DBS_dAILY.DBO.TBL_I2B_USERS_F0_'+@TODATE+' WHERE AMND_STATE = ''A'')
				OR CIF IN (SELECT T24_CIF FROM DBS_dAILY.dbo.TBL_I2B_MBANKING_ACC_'+@TODATE+' WHERE AMND_STATE = ''A''))
UNION ALL
SELECT ''SME'',ACCTNO,CIF,BRANCH_CODE, CONVERT(DATE,ISSUE_DATE) ISSUE_DATE,CONVERT(DATE,WITHDRAW_DATE) WITHDRAW_DATE
	FROM DATA.DBO.DPTB_MASTER
		WHERE APP = ''DEPOSIT''
		AND PRODUCT_NAME LIKE ''1%''
		AND CONVERT(VARCHAR(8),ISSUE_DATE,112) <= '''+@TODATE+'''
		AND F IS NULL
		AND CCY <> ''XAU''
		AND SEGMENT = ''SMEs''
		AND CIF IN (SELECT CUST_CIF FROM DBS_dAILY.DBO.TBL_B2B_USERS_'+@TODATE+' WHERE AMND_STATUS = ''A'') 
')

EXEC
('	
ALTER TABLE FINANCE.DBO.DAILY_CASA_I2BMB_'+@TODATE+'
	ADD REGIST_DATE_I2B DATE, REGIST_DATE_MB DATE
')

EXEC
('
UPDATE FINANCE.DBO.DAILY_CASA_I2BMB_'+@TODATE+'
	SET REGIST_DATE_I2B = B.OPEN_DATE
		FROM FINANCE.DBO.DAILY_CASA_I2BMB_'+@TODATE+' A, DBS_dAILY.DBO.TBL_I2B_USERS_F0_'+@TODATE+' B
			WHERE A.CIF = B.T24_CIF 

UPDATE FINANCE.DBO.DAILY_CASA_I2BMB_'+@TODATE+'
	SET REGIST_DATE_MB = B.REGISTER_DATE
		FROM FINANCE.DBO.DAILY_CASA_I2BMB_'+@TODATE+' A, DBS_dAILY.dbo.TBL_I2B_MBANKING_ACC_'+@TODATE+' B
			WHERE A.CIF = B.T24_CIF 

UPDATE FINANCE.DBO.DAILY_CASA_I2BMB_'+@TODATE+'
	SET REGIST_DATE_I2B = B.OPEN_DATE
		FROM FINANCE.DBO.DAILY_CASA_I2BMB_'+@TODATE+' A, DBS_dAILY.DBO.TBL_B2B_USERS_'+@TODATE+' B
			WHERE A.CIF = B.CUST_CIF 

UPDATE FINANCE.DBO.DAILY_CASA_I2BMB_'+@TODATE+'
	SET WITHDRAW_DATE = NULL
		WHERE ACCTNO IN (SELECT ACCTNO
							FROM DBS_dAILY.DBO.BALANCE_'+@TODATE+'
								WHERE APP = ''LOAN''
								AND PRODUCT_NAME = ''6. Overdraft''
								AND BAL_QD IS NOT NULL)
')

-- 02. CC DETAIL
if exists(select * from FINANCE.information_schema.tables where table_name = 'DAILY_CC_ONLINE_'+@TODATE+'')
begin 
	exec(' DROP TABLE FINANCE.DBO.DAILY_CC_ONLINE_'+@TODATE+'  ')
end 

EXEC
('
SELECT 
	''RETAIL'' SEGMENT,ACNT_CONTRACT_ID, 
	(CASE WHEN BI_CARD_TYPE = ''DIGITAL CARD'' AND COMPANY <> ''VN0010005'' THEN ''DIGITAL OFFLINE''ELSE BI_CARD_TYPE END) BI_CARD_TYPE,
	CONTRACT_NUMBER,T24_CIF,COMPANY, ACCOUNT_LIMIT,
	Card_DATE_OPEN,ORG_DATE_EXPIRE,ACTUAL_DATE_EXPIRE,CARD_TYPE, CARD_STATUS
	INTO FINANCE.DBO.DAILY_CC_ONLINE_'+@TODATE+'
	FROM DBS_dAILY.dbo.CARD_'+@TODATE+'
		WHERE BI_CARD_TYPE IN (''ONLINE CARD'',''TIMO CARD'',''DIGITAL CARD'')
			ORDER BY BI_CARD_TYPE 
')
--03. OD DETAIL
if exists(select * from FINANCE.information_schema.tables where table_name = 'DAILY_OD_ONLINE_'+@TODATE+'')
begin 
	exec('DROP TABLE FINANCE.DBO.DAILY_OD_ONLINE_'+@TODATE+'  ')
end 
EXEC
('
SELECT ''RETAIL'' SEGMENT,OVERDRAFT_ACC, REPLACE(T24_CIF,''_'','''') T24_CIF, OPEN_BRANCH, 
		APPROVAL_LIMIT,CONVERT(DATE,REGIST_DATE) REGIST_DATE,CONVERT(DATE,EXPIRY_DATE) EXPIRY_DATE, LIMIT_UPDATE_DATE,
		(CASE WHEN OVERDRAFT_TYPE LIKE ''%PAYROLL%'' OR OVERDRAFT_TYPE = ''Thau chi ca nhan tieu dung'' THEN ''Thau chi payroll'' ELSE OVERDRAFT_TYPE END) OVERDRAFT_TYPE
	INTO FINANCE.DBO.DAILY_OD_ONLINE_'+@TODATE+'
	FROM DBS_dAILY.DBO.TBL_ONLINE_LOAN_'+@TODATE+' 
')

--05. SAVING DETAL
if exists(select * from FINANCE.information_schema.tables where table_name = 'DAILY_TD_ONLINE_'+@TODATE+'')
begin 
	exec('DROP TABLE FINANCE.DBO.DAILY_TD_ONLINE_'+@TODATE+' ')
end 
EXEC
('
SELECT (CASE WHEN BI_CHANNEL <> ''OTHER'' OR SEGMENT = ''AF'' THEN ''RETAIL'' 
			WHEN BI_SEGMENT = ''SME'' THEN ''SME'' ELSE NULL END) SEGMENT,PRODUCT_DETAIL,
	   ACCTNO,CIF,BRANCH_CODE , BAL_QD,CONVERT(DATE,ISSUE_DATE) ISSUE_DATE,
	   CONVERT(DATE,OPENNING_DATE) OPENNING_DATE,CONVERT(DATE,MATDT) MATDT,CONVERT(DATE,WITHDRAW_DATE) WITHDRAW_DATE
	INTO FINANCE.DBO.DAILY_TD_ONLINE_'+@TODATE+'
	FROM DBS_dAILY.DBO.DPTB_MASTER
	WHERE 
		(dbs_channel IN (''ONLINE RB'',''ONLINE SME'',''TIMO'')
		OR (PRODUCT_DETAIL  = ''13. Easy Savings''
			AND I2B = ''D'' 
			AND CATEGORY IN (''21017'',''21018'')
			)
		)
	AND CONVERT(VARCHAR(8),ISSUE_DATE,112) <= '''+@TODATE+'''
')

--04. UPL DETAIL

EXEC
('
DROP TABLE IF EXISTS FINANCE.DBO.DAILY_UPL_'+@TODATE+'

SELECT ''RETAIL'' SEGMENT,ACCTNO,CIF, BRANCH_CODE , BAL_QD,VALUE_DATE ISSUE_DATE,MATDT,WITHDRAW_DATE
	INTO FINANCE.DBO.DAILY_UPL_'+@TODATE+'
	 FROM DBS_dAILY.DBO.UPL_'+@TODATE+'
')

END
GO
