USE [DBS_DAILY]
GO
/****** Object:  StoredProcedure [dbo].[PR_DAILY_ETL_51_DATA_FOR_LINHLT8]    Script Date: 8/6/2019 10:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PR_DAILY_ETL_51_DATA_FOR_LINHLT8] AS 
BEGIN

DECLARE @TO_DATE VARCHAR(8) , 
	@LAST_MONTH VARCHAR(8) , 
	@LAST_DATE VARCHAR(8), 
	@TO_YEAR VARCHAR(8)

SET @TO_DATE = (SELECT RPTDATE FROM DBS_REF.DBO.RPTDATE) 
SET @LAST_DATE = (SELECT MAX(RptDate) FROM DBS_REF.DBO.CALENDAR WHERE RptMonth < LEFT(@TO_DATE,6))
SET @LAST_MONTH = LEFT(@LAST_DATE,6) 
SET @TO_YEAR = LEFT(@TO_DATE, 4) 

DROP TABLE IF EXISTS DATA.DBO.CUS_TRANSACTION_RECORD, #TEMP , #CC_TRANS

CREATE TABLE DATA.DBO.CUS_TRANSACTION_RECORD (
BUSINESS_DATE DATE,  
T24_CIF VARCHAR(20) CONSTRAINT PK_CUS_TXN PRIMARY KEY CLUSTERED,
CC_TXN_NO INT , 
CASA_DEBIT_NO INT , 
CASA_CREDIT_NO INT) 

EXEC('
	INSERT INTO DATA.DBO.CUS_TRANSACTION_RECORD (BUSINESS_DATE, T24_CIF) 
	SELECT 
		'''+@TO_dATE+''', 
		RECID 
	FROM DBS_dAILY.DBO.CUSTOMER_'+@TO_dATE+' 

---------CASA TRANSACTION 
	SELECT CIF , 
		SUM(CASE WHEN TXN_DEBIT_CREDIT = ''DB'' THEN TIMES ELSE NULL END) AS CASA_DEBIT_NO, 
		SUM(CASE WHEN TXN_DEBIT_CREDIT = ''CR'' THEN TIMES ELSE NULL END) as CASA_CREDIT_NO
	into #temp 
	FROM BIC_RB.[MONTHLY_NEWDATA].[DBO].[TRANSACTION_CASA_2018] B
	WHERE YEARMONTH = '''+@LAST_MONTH+''' 
	GROUP BY 
		CIF

	UPDATE A 
	SET CASA_DEBIT_NO = B.CASA_DEBIT_NO,
		CASA_CREDIT_NO = B.CASA_CREDIT_NO 
	FROM DATA.DBO.CUS_TRANSACTION_RECORD A  
		INNER JOIN #temp B ON A.T24_CIF = B.CIF 

---------CREDIT CARD TRANSACTION 
	SELECT 
		A.T24_CIF, COUNT(1) AS COUNT 
	INTO #CC_TRANS
	FROM DBS_MONTHLY.DBO.CARD_SUCCESSFUL_TRANS_'+@LAST_DATE+' A 
		LEFT JOIN DATA.DBO.CARD_LIVE B ON A.TARGET_ID = B.ACNT_CONTRACT_ID 
	WHERE B.BI_PRODUCT_GROUP = ''01.Credit Card''
	GROUP BY 
		A.T24_CIF

	UPDATE A 
	SET A.CC_TXN_NO = B.COUNT
	FROM DATA.DBO.CUS_TRANSACTION_RECORD A  
		INNER JOIN #CC_TRANS B ON A.T24_CIF = B.T24_CIF 
	')

END
GO
