USE [DBS_DAILY]
GO
/****** Object:  StoredProcedure [dbo].[PR_DAILY_ETL_52_ONLINE_LOAN_FOR_RISK]    Script Date: 8/6/2019 10:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PR_DAILY_ETL_52_ONLINE_LOAN_FOR_RISK] AS 
BEGIN


DECLARE @TO_DATE VARCHAR(8)
SET @TO_DATE = (SELECT RPTDATE FROM DBS_REF.DBO.RPTDATE) 

----1. BANG UPL

--SELECT TOP 10 * FROM M74.RISK.DBO.DBS_UPL

EXEC ('
	DELETE FROM M74.RISK.DBO.DBS_UPL
	')

EXEC ('
	INSERT INTO M74.RISK.DBO.DBS_UPL
	SELECT ACCTNO, A.BRANCH_CODE,CIF,CUSTOMER_NAME,ORIGINAL_AMT,BAL_QD,VALUE_DATE,CONVERT(DATE,MATDT) MATDT,
			 CONVERT(DATE,WITHDRAW_DATE) WITHDRAW_DATE,RATE,DAO,NO_OVD_DAYS, DBS_CHANNEL
	FROM DBS_dAILY.dbo.UPL_'+@TO_DATE+' A
		LEFT JOIN DATA.DBO.BRANCH_CODE B		--M74.BICDATA.DBO.BRANCH_CODE B
		   ON A.BRANCH_CODE = B.BRANCH_ID
	ORDER BY VALUE_DATE DESC
')

----2. BANG OD DETAIL

--SELECT TOP 10 * FROM M74.RISK.DBO.DBS_OD_DETAIL

EXEC ('
DELETE FROM M74.RISK.DBO.DBS_OD_DETAIL
	')

EXEC ('
	INSERT INTO M74.RISK.DBO.DBS_OD_DETAIL
	SELECT [T24_CIF]
		  ,[OPEN_BRANCH]
		  ,[OVERDRAFT_RATE]
		  ,[OVERDRAFT_TYPE]
		  ,[OVERDRAFT_TERM]
		  ,[OVERDRAFT_CODE]
		  ,[REQUEST_LIMIT]
		  ,[APPROVAL_LIMIT]
		  ,[GLOBAL_LIMIT]
		  ,[PRODUCT_LIMIT]
		  ,[CURRENCY]
		  ,[DAO]
		  ,[OVERDRAFT_ACC]
		  ,[CATEGORY]
		  ,[REGIST_DATE]
		  ,[ACTIVE_DATE]
		  ,[EXPIRY_DATE]
		  ,[RECORD_STATUS]
		  ,[ERR_MESG]
		  ,[RESP_STATUS]
		  ,[COLLATERAL]
		  ,[COLLATERAL_RIGHT]
		  ,[SOURCE]
		  ,[ACC_CATEGORY]
		  ,[CURRENT_LIMIT]
		  ,[LIMIT_UPDATE_DATE]
		  ,[BAL_QD]
		  ,[NO_OVD_DAYS]
		  ,[OVD_FROMDATE]
		  ,[OVD_ORIGINAL_AMT]
		  ,[OVD_OUTSTANDING_RATIO]
		  ,[LATEST_REPAY_DATE]
		  ,[LATEST_REPAY_AMT]
		  ,[DEBT_GROUP]
	  FROM DBS_dAILY.dbo.TBL_ONLINE_LOAN_'+@TO_DATE+'

')


----3. BANG OD ERROR

--SELECT TOP 10 * FROM M74.RISK.DBO.DBS_OD_ERROR

EXEC ('
DELETE FROM M74.RISK.DBO.DBS_OD_ERROR
	')

EXEC ('
	INSERT INTO M74.RISK.DBO.DBS_OD_ERROR
	SELECT 
		SOURCE,
		BI_ERR_MESG [BI ERROR MESG],
		T24_CIF [CIF] ,
		OPEN_BRANCH [OPEN BRANCH],
		FULL_NAME [FULL NAME],
		OVERDRAFT_TYPE,
		APPROVAL_LIMIT [APPROVAL LIMIT],
		PRODUCT_LIMIT [PRODUCT LIMIT],
		DAO,
		OVERDRAFT_ACC [OVERDRAFT ACC],
		REGIST_DATE [REGIST DATE],
		SUCC_REGIST_DATE [SUCC REGIST DATE],
		RECORD_STATUS [RECORD STATUS],
		RESP_STATUS [RESP STATUS],
		ERR_CODE [ERROR CODE],
		ERR_MESG [ERROR MESG],
		CASE 
			WHEN OVERDRAFT_TYPE IN (''Thau chi ca nhan tieu dung'',''Thau chi payroll nha nuoc dac thu'',''Thau chi payroll thu nhap cao'') THEN N''Thấu chi payroll''
			WHEN OVERDRAFT_TYPE = ''Thau chi cam co STK'' THEN N''Thấu chi cầm cố STK''
			WHEN OVERDRAFT_TYPE = ''Thau chi CBNV'' THEN N''Thấu chi CBNV''
			WHEN OVERDRAFT_TYPE = ''Thau chi KH tieu dung casa'' THEN N''Thấu chi casa''
			WHEN OVERDRAFT_TYPE = ''Thau chi TIMO'' THEN N''Thấu chi Timo''
			WHEN OVERDRAFT_TYPE = ''Thau chi VPB+'' THEN N''Thấu chi VBankPlus''
			WHEN OVERDRAFT_TYPE = ''Thau chi SavOnline'' THEN N''Thấu chi bảo chứng''
		ELSE OVERDRAFT_TYPE END [OVERDRAFT TYPE]
	FROM DBS_dAILY.dbo.TBL_ONLINE_LOAN_ERROR_'+@TO_DATE+'
	ORDER BY CONVERT(DATE,REGIST_DATE) DESC
')

END
GO
